[2019-06-11 19:40] PlayMa256 opened #2224 "Stop when reaching 307 (maxRedirects)"
**Describe the issue**
On docs it states that setting `maxRedirects:0` it would not follow any redirect. When i set it, sending a post request to my endpoint that returns 307, it follows the redirect, which is not supposed to happen.

**Expected behavior, if applicable**
setting `maxRedirects: 0` when receiving 307, it would not follow the redirect.

**Environment:**
 - Axios Version 0.18.1
 - OS:

[2019-06-11 19:45] jasonsaayman commented on #2213
@wangjiancn I don't think this is an axios issue. This is normally how URI's are parsed by the browser, any time you reference `/something` the browser clears the URI back to the root and then appends the URI.

[2019-06-11 19:45] #2213 closed

[2019-06-11 19:51] jasonsaayman commented on #2215
@mhxy13867806343 I do not really understand your issue?

[2019-06-11 20:01] jasonsaayman commented on #1976
I doubt we should be removing the need to validate SSL or have a bypass for this. When developing locally and using a self-signed certificate you would only need to add this certificate to the browser once and it will be remembered for all future requests.

Should you be using a self-signed certificate on your web host I would suggest you look into a good free SSL provider, else your users will al

[2019-06-11 20:01] #1976 closed

[2019-06-11 20:06] jasonsaayman commented on #2223
@rkdmen please can you provide some more information on this issue? Please use one of the appropriate issue templates if possible.

[2019-06-11 20:07] jasonsaayman commented on #2220
@PunkOnWheels please can you provide some more information on this issue? Please use one of the appropriate issue templates if possible.

[2019-06-11 20:11] rkdmen commented on #2223
@jasonsaayman
if request header looked like `{"some-key": null}` in previous version, it would send as `{"some-key": "null"}`.

After Upgrading to 0.19.0, it transform request header from `{"some-key": null}` to `{"some-key": [object Object]}`

Work around is, fix my code to `{"some-key": String(null)}`

[2019-06-11 20:13] jasonsaayman commented on #2223
@rkdmen cool I will attempt to replicate, this seems rather odd.

[2019-06-11 20:15] rkdmen commented on #2223
**Environment:**
 - Axios Version [0.19.0]
 - OS: [OSX 10.14.5]
 - Browser [Chrome]
 - Browser Version [Latest]
 - Additional Library Versions [React 16.8.6]

[2019-06-11 20:15] PunkOnWheels commented on #2220
WEBDAV method types are excluded from the index.d.ts file. Examples MKCOL, PROPFIND, MOVE, COPY, etc.
`export type Method =
  | 'get' | 'GET'
  | 'delete' | 'DELETE'
  | 'head' | 'HEAD'
  | 'options' | 'OPTIONS'
  | 'post' | 'POST'
  | 'put' | 'PUT'
  | 'patch' | 'PATCH'`

[2019-06-11 20:17] rkdmen commented on #2223
![Screen Shot 2019-06-11 at 4 16 41 PM](https://user-images.githubusercontent.com/16869691/59303507-590aa980-8c64-11e9-9a00-17a8bc991969.png)

[2019-06-11 20:28] woodb commented on #2223
It could be from these lines in the new `mergeConfig` utility:
https://github.com/axios/axios/blob/2ee3b482456cd2a09ccbd3a4b0c20f3d0c5a5644/lib/core/mergeConfig.js#L25-L26

Since `null` is an Object

[2019-06-11 20:56] JefferyHus commented on #2103
Sentry is reporting `timeout of 0ms exceeded` & `Network Error`, this happens almost for every iOS safari user.

[2019-06-11 21:28] JefferyHus commented on #2103
My solution was to check either the `statusCode` or `Response` object

[code]

[2019-06-12 00:20] sveinn commented on #883
For me the thrown error actually `was not` undefined, it just looked like that in Chrome's dev tools. (Not sure why but if anyone figures it out, please let me know)

[2019-06-12 05:37] AlokSuman commented on #634
login = () => {
    axios.post("https://192.168.0.10:8244/authenticateUser/1.0.0/outh", {
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json",
        "Authorization": "Bearer df498c83-1c88-308e-a224-5408dd67bb7f"
      },
      data: {
        "authKey": "YWRtaW46YWRtaW4=",
        "clientId": "dWZkSHJnd05ZUjNDTXVpa3NDakJ4anNvaWZZYTpqcks5ZmFjZjBBbHRLV

[2019-06-12 07:40] ManojBahuguna commented on #1510
@zcei Is this resolved yet? Am not able to get following to work:

[code]

[2019-06-12 07:43] tarikool commented on #2183
dude someone pls tell me how do I update my "Axios! 13 days n I still have noqlue!"

[2019-06-12 09:36] JerryYuanJ commented on #2217
I don't think this is an issue, the codes shows well how the base URL and relative URL works. Just following the rules is fine. BTW, in this case, what if there's the url and value has duplicated sub-paths like
'http://you-never-know/v5/v5/' ?

[2019-06-12 09:43] JerryYuanJ commented on #2224
The `maxRedirects` seems only works in node env since it only appears in http.js(/lib/adapters/http.js), maybe try the `validateStatus` config to see if it can stop the redirect request.

[2019-06-12 09:46] bluelovers commented on #2217
some sever is

http://host/oauth/xxx
http://host/api/v1/xxx

and in html url with `/` at start is mean root path

[2019-06-12 11:30] oussemamzoughi commented on #2190
any news about this one ? when it will be fixed ?

[2019-06-12 11:57] techouse commented on #2190
Just use `v0.18.1` for the time being. ✈️

[2019-06-12 11:58] oussemamzoughi commented on #2190
that's what i'm using, but i need to upgrade to `v0.19.0` once this is fixed due to securtiy issues

[2019-06-12 12:02] techouse commented on #2190
What kind of security issues? `v0.18.0` had security issues, `v0.18.1` is fine.

[2019-06-12 12:39] JerryYuanJ commented on #2217
anyway ... still nonsense I think.

[2019-06-12 13:45] Undistraction commented on #2103
We are seeing this when a stalled connection times out after 30 seconds. I think maybe the errors are valid, but the length of timeout is being misreported as 0.

[2019-06-12 13:53] PlayMa256 commented on #2224
No =/
I set
[code]

But all requests still going through receiving 307

[2019-06-12 13:57] BonLouis commented on #1470
Lifesaver, thanks !

[2019-06-12 14:22] marwan2 commented on #34
I have solved this issue, by just include polyfill file from CDN
<script src="https://polyfill.io/v3/polyfill.min.js?features=Promise.prototype.finally" defer></script>

[2019-06-12 14:46] larlew opened #2225 "BREAKING 0.19 API Errors not populating correctly"
API Error breaks existing code.  The error object is no longer populated.

**To Reproduce**
catch an error from an api.

**Expected behavior**
I didn't expect a minor version change to break existing code.

Is there any further guidance or documentation regarding these changes?
 - Makes Axios error generic to use AxiosResponse (#1738) - Suman Lama
- Adding isAxiosError flag to errors thrown by axi

[2019-06-12 15:14] zymawy commented on #2225
Hi @larlew, Having The Same Here

[2019-06-12 15:28] getty23 commented on #1976
Thanks for your replies. This was exactly what I was expecting and it helps me to clarify things.

[2019-06-12 15:51] zackseuberling commented on #2183
the easiest way to resolve the vulnerability without changing functionality is to upgrade from `0.18.0` to `0.18.1`.

```npm install axios@0.18.1```

or

```yarn add axios@0.18.1```

[2019-06-12 15:59] murphman300 commented on #2144
Im using feature, but for some reason, the request being made is not hashing the auth values into a proper ASCII Basic Authorization value.

The value being passed on in the request is the actual JSON object i pass to the auth key.. with the password in plain text....

[2019-06-12 16:02] murphman300 commented on #2144
let resp = await Axios.post(`${_this._baseURL}/login`, {}, {
                //headers: {Authorization:  basic}
                auth: {
                    username: username,
                    password
                }
            });

`config:
   { url: 'https://url.../login',
     method: 'post',
     data: '{}',
     headers:
      { Accept: 'application/json, text/plain, */*',
        'Con

[2019-06-12 16:17] Cess18 commented on #2219
`request({params:{limit: 10}})`

[2019-06-13 00:18] kylane commented on #2190
NPM is still flagging 0.18.1 as vulnerable during an audit - likely a red herring.

[2019-06-13 03:25] mhxy13867806343 commented on #2215
Means this
There is no header field in axios. The front end writes the following code in the header.
Headers:{
All: true, / / to indicate that cross-domain processing is possible
}, after the current end is written, the background provides an encrypted (contracted) data in the interface [encrypted background can be customized], the front end needs to be decrypted, and the cross-domain problem is s

[2019-06-13 04:35] the-vampiire opened #2226 "axios commonjs correct way to import to gain typings? [vscode intellisense]"
**Describe the issue**
what is the correct way to import `axios` in node using CommonJS in order to use the typings? i am not using typescript unlike [this issue](https://github.com/axios/axios/issues/1975)

**Example Code**
[code]

**Expected behavior, if applicable**
i expected to have typings for vscode intellisense when importing `axios` using CommonJS `require()` syntax described in the docum

[2019-06-13 06:51] filippoitaliano commented on #2190
If you need to use axios `0.19` like me, you can managing the parameters like this and it should work fine for now as a **workaround**.
[code]

[2019-06-13 15:20] alloself opened #2228 "canceling queries"
**Describe the issue**

I am trying to use the method globally for the implementation of the Axios, which, when called, cancels the current ajax requests.like [that](https://github.com/axios/axios#cancellation) with vue and vue-router.ideally, with every change in the route, I want to cancel all pending requests

**Example Code**
in ./pugins/axios.js i do this:
[code]
in state i do this:
[code]
on

[2019-06-13 15:50] rafaelrenanpacheco commented on #2225
On RunKit error is populating just fine:

![image](https://user-images.githubusercontent.com/12160864/59447541-c68c1680-8dd9-11e9-94c1-b4cacc954280.png)

[2019-06-13 17:20] o2genum commented on #1204
This should be possible in Node.js (and Electron main process is Node.js).

[2019-06-13 18:08] GuilhermeAbacherli commented on #1474
I'm getting this error in web using Vue.

`      axios.request({
        method: 'POST',
        url: 'http://apilink/endpoint',
        data: form,
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        responseType: 'stream', // HERE
      })
        .then(response => {
          console.log('LOGIN response', response);
        })
        .catch(error => {
          co

[2019-06-14 05:13] garhbod commented on #532
@daGaiGuanYu Is the issue I was having. Make the instance a seperate constant and you should be able to do the following.
[code]

[2019-06-14 06:23] nghiepit commented on #2190
Waiting for an official fix 😭

[2019-06-14 06:55] DerekCrosson opened #2229 "Null values being posted?"
Good day,

I have a strange issue that I've been trying to fix for about a week without any luck...

When I post to my API the int and datetime values are posted as null, which results in the API returning a 400 response.

Here's an example of the code:
[code]
In the above code I even hard coded the category_id but the response I get is still the same:
[code]

Any idea what's going wrong? It only

[2019-06-14 08:28] Zu3zz opened #2230 "axios.create() can't not handle params"
**Describe the bug**
I created a instance with a param in it, but it doesn't seem to work

I Have already decleared a instance axios in my js file

[code]

I want to send a request like this
**/api/logout.json?secret=123**

[code]

but after I use this instance to send a request
the request is only **/api/logout.json**

*What is this problem, did instance doesn't received params?*

[2019-06-14 09:16] ebuildy commented on #1361
Is it better to check if query is still running before cancel it?

[2019-06-14 09:17] DerekCrosson commented on #2229
category_id is now fixed (was an API issue) but is_available, available_from and available_until still gets posted as null.

[2019-06-14 09:58] gchangme commented on #2216
Third parameters used to be merged into config object.
In v0.19, either adding custom props to config (axios.request) or to "options" third parameter for shortcuts methods do not work anymore.

Could you please restore v0.18 behavior ?

Thanks !

[2019-06-14 10:18] donnisnoni95 commented on #886
@souljacker If you are working with data to post you must do this

[2019-06-14 10:38] donnisnoni95 commented on #886
@souljacker hi ... I don't know whether your problem has been resolved or not, I just want to help you or someone else who has the same problem as you.

If you want to send data via `POST` ... you have to use the `FormData` class, this is supported by the default browser.

**Syntax**
[code]

[2019-06-14 20:29] dkagle commented on #383
As mentioned above a Login POST that returns a 401 error returns just 'Network Error' with code as undefined instead of 401.

[2019-06-15 02:45] RocMark opened #2231 "README.md docs error"
the second then isn't that should be finally ??

Example
Performing a GET request
[code]

[2019-06-15 12:31] GustavoEdny opened #2232 "It is not possible to use the HttpAdapter with electron, vue and webpack"
**Describe the issue**
First of all, sorry for bad English.

I am building a desktop application that uses electron and vuejs. I need to communicate with some third-party APIs. As I'm using webpack to compile my vue code for both production and test environment, XHRAdapter is always selected, this is the default behavior. But how can I select the HttpAdapter in this environment? Although the axios

[2019-06-15 17:09] ComputerCarl commented on #2175
Listen to all the events but only respond to them using modulus `Math.floor(written/total) % 10 === 0`.
Since this may happen many times, also use a flag to check if event was emitted already?

[2019-06-15 20:05] DavyJohnes commented on #2025
Vote for this PR: https://github.com/axios/axios/pull/2233

[2019-06-16 12:51] olehcambel commented on #960
you can make function wrapper which you will call each time when making requests
[code]

[2019-06-16 15:35] danielmcq commented on #2225
Not trying to be pedantic, but you should never expect a module with a major version "0" to have a stable API. Until the author(s) put it at 1, it's not considered stable. https://semver.org/#spec-item-4

[2019-06-16 15:48] bluenote10 commented on #1723
Irrespective of the webpack-dev-server issues, Axios shouldn't silently swallow `JSON.parse` exceptions, right?

I was just testing the robustness of an app by sending malformed JSON from the backend. The Axios request silently fails to decode the JSON. The header `content-type` still says `"application/json"`, but `response.data` is the raw unparsed string, and my app crashes unexpectedly as a fo

[2019-06-16 16:13] marshallaf opened #2234 "baseURL is required for instance request"
**Describe the bug**
When using the `request()` method on an instance, the request throws an error if the instance's config has `url` specified, but not `baseUrl`.

Error indicates a missing `url` arg:
[code]

This contradicts the documentation, which states that

and

**To Reproduce**
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a

[2019-06-16 19:54] tonxxd opened #2235 "Can't find variable: btoa"
**Describe the bug**
Using Basic Auth with axios in an expo app causes this error. It was working before upgrading both axios and expo, not sure what is causing the issue but seems btoa function is not available in expo envirorment.

**To Reproduce**
Make a get request with auth headers from an expo app

[code]

**Environment:**
 - Axios Version  0.18.0
 - expo 32.0.0
 - react 16.5

**Additional c

[2019-06-17 02:47] larlew commented on #2225
Fair enough.  I did not know that. Thank you.
I do appreciate all the efforts of all the axios contributors.  I'm sorry If I came off a bit snarky.
I don't mind adapting my code but I couldn't find any docs on the change.

[2019-06-17 03:45] danielmcq commented on #2225
@larlew No worries. Thank you for submitting detailed bug reports!

The whole major version 0 thing probably gets lots of developers. It’s something I look at closely now whenever my team wants to use a new module in any of our projects. It’s usually not worth the time and effort to use a pre-1.0.0 module in production.

0.19.0 of axios broke a plug-in we use for it. It seems that part of the chan

[2019-06-17 04:48] #1247 closed

[2019-06-17 04:48] #1459 closed

[2019-06-17 05:05] websasindu commented on #960
This is worked for me. Thank you

[2019-06-17 05:06] Rajshrishrimalshah commented on #541
You can include it in your app.js file

[2019-06-17 06:21] nyilmaz commented on #1723
Parfectly valid

[2019-06-17 06:58] kevinkiel commented on #2216
We've got the same problems we are using it for a custom error handler but since the update tot 0.19.x its not working anymore. @axios can you please fix this feature?

[2019-06-17 08:44] AronJorge commented on #787
a good solution is the following:
add to the object the **method: "get"**
 axios.post("/api/v1/post/allFromUser", {"author": "fharding", **method: "get"**}).then(response => {
        this.posts = response.data;
      }).catch(err => {
        alert(err);
        console.log(err);
      })

[2019-06-17 09:03] QuantumInformation commented on #787
How will that help me?

[2019-06-17 10:08] #2011 closed

[2019-06-17 10:58] quasibit-wrangler commented on #853
I had this error on axios when I was on my devices mobile hotspot. Then when I used the WiFi at a coffee shop I did not get a CORB

[2019-06-17 10:59] lozzoc commented on #853
I had this error on axios when I was on my devices mobile hotspot. Then when I used the WiFi at a coffee shop I did not get a CORB

[2019-06-17 11:40] elsayednofal commented on #638
`
axios.get(URL, {
params:{},
headers: { 'Authorization': AuthStr }
})

`

[2019-06-17 12:49] adimshev commented on #569
Replace Content-Type: application/json by  application/x-www-form-urlencoded or multipart/form-data works for me.

[2019-06-17 13:10] neeonline commented on #2216
Same issue here. Before this version (v0.19) was possible to add custom parameters to the config object.

Any updates on this?

[2019-06-17 14:13] evenfrost commented on #2230
It was introduced by `0.18`, `0.17` works well.

[2019-06-17 14:45] tpoppen commented on #1321
If people are still experiencing this issue, and you have
`GLOBAL.XMLHttpRequest = GLOBAL.originalXMLHttpRequest || GLOBAL.XMLHttpRequest;`
snippet to debug network requests, try adding `GLOBAL.FormData = GLOBAL.originalFormData || GLOBAL.FormData`
it worked for me.

[2019-06-17 16:07] roigreenberg opened #2236 "Post request ended with 401 unauthorized after update to 0.19.0"
**Describe the bug**
We are using axios in a docker that running node in VM and make post request to proccess that run in the VM.
After update axios to 0.19.0, the post request start to recieve 401 unauthorized.

Downgrade back to 0.18.0 solve the issue.

**To Reproduce**
I can't reproduce it outside the work VM..

Since it's work code I prefer not upload anything, but I will write specific code i

[2019-06-17 18:41] Vinetos commented on #1247
🤔

[2019-06-17 20:09] gehrj commented on #2234
Going to add on to this that the method config option seems to have broke as well, I can put method: 'post' and it makes no difference all the requests are defaulting to 'get' requests

[2019-06-18 00:51] AronJorge commented on #787
what it does is simulate that it is a get call, that's why it returns the answer within the post

[2019-06-18 01:19] waiaan commented on #2236
[code]

[2019-06-18 01:20] waiaan commented on #2230
[code]

[2019-06-18 01:20] waiaan commented on #2230
[code]

[2019-06-18 05:25] roigreenberg commented on #2236
We have no such function.

We are using "app = express()"

[2019-06-18 05:43] #2236 closed

[2019-06-18 07:00] Darkhorse007 commented on #448
Nice

[2019-06-18 10:19] KarlBao commented on #2216
The same here! Hope custom parameters could be supported as it used to be.

[2019-06-18 10:22] sumitkale-zymr opened #2237 "Cancellation of All as well as Particular API"
1) In my react native app I have one home screen in which  I have 3 to 4  API getting called now when I move to next screen I want to cancel all pending request as well as requests which will execute after pending request in axios. I have tried using executer of axios which cancels only one request and after that remaining two requests get called. I have also tried cancel token it cancels all requ

[2019-06-18 10:25] jasonsaayman commented on #2219
@ketysek I think you may be looking for this `maxContentLength` check out the docs here: [Request Config](https://github.com/axios/axios#request-config)

[2019-06-18 10:25] #2219 closed

[2019-06-18 10:25] AvishekSingha01 commented on #2197
I faced same problem, I just revert axios version 0.0.19 to 0.0.18(Published One Year Ago), its worked perfectly.

[2019-06-18 10:27] jasonsaayman commented on #2217
@bluelovers the behavior you are getting is correct and not a bug.

[2019-06-18 10:27] #2217 closed

[2019-06-18 10:37] ketysek commented on #2219
@jasonsaayman have you tried it? it doesn't work as the request is processed normally - it seems to be ignored or sth

[2019-06-18 11:35] Tony4469 commented on #2197
Hi Avishek, unfortunately v0.18.0 has a major security vulnerability, that's why I have to update to v19

[2019-06-18 13:20] mrkhanakia commented on #2199
Same issue not working for me also after updating to 0.19.0

[2019-06-18 13:25] mrkhanakia commented on #2199
Not working for me also

[2019-06-18 14:53] asingh04 commented on #2168
So can it be taken up? Who can give the greenlight to work on it?

[2019-06-19 03:03] AustinZuniga opened #2238 "unexpected end of stream when fetching large amount of data (JSON)"
I received the following error in fetching large amount of data(JSON) using axios in react native.

Error: unexpected end of stream

Here is my code:

`
axios.post('http://192.168.0.1:5000/download', {
      access: data.tokens
    })
    .then(function (response) {
       alert(response.data);
    })
    .catch(function (error) {
      alert("There was an error in communicating to server");
});
`

[2019-06-19 07:07] JBtje commented on #2049
The merge request has been merged. Which means, using the master's branch, you can use:

[code]

[2019-06-19 10:16] azizhk commented on #1657
I think this issue can be closed. (Sorry for notification, just small cleanup as I see, to avoid this library from getting abandoned.)

[2019-06-19 10:35] SeinopSys commented on #859
Needed to get response data from a server that sent back a web page using `windows-1251` encoding specified in the response body.
[code]
I could not make axios decode it properly, but `node-fetch`'s `textConverted` method did the trick.

[2019-06-19 10:45] summerkiflain commented on #1547
@Zhang-Yida can you share some code example how are you canceling other requests.

[2019-06-19 11:16] zazapeta commented on #2230
Hi,
Why we should not ?

Thx,

zazapeta

[2019-06-19 13:27] JeeSky commented on #2216
In v0.19 , it add a 'mergeConfig' function in /lib/axios.js. It will only allow some standard keywords to the config , maybe for "Consistent coding style"

[2019-06-19 14:23] sergioregueira opened #2239 "Breaking change in validateStatus parameter"
**Problem:**

This is what [README.md](https://github.com/axios/axios/blob/master/README.md) says about `validateStatus` parameter:

This parameter supports (as specified) `undefined` in 0.18.x but it does not work properly in 0.19.0 despite the documentation does not warn about this change.

**Affects version:**
0.19.0 (latest)

**Steps to reproduce it:**
Set `validateStatus` property to `undefin

[2019-06-19 14:25] sergioregueira commented on #2239
As clarification, axios works properly with `null` value:

[code]

[2019-06-19 14:53] sergioregueira commented on #2109
I think [interceptors](https://github.com/axios/axios#interceptors) is what you are looking for.

[2019-06-19 16:23] marceloadsj commented on #2109
Great, I didn't know about that, I will take a look.

I will close for now, and if don't manage to use interceptor by any reason, I can reopen or comment here!

[2019-06-19 16:23] #2109 closed

[2019-06-19 18:17] gpressutto5 commented on #2103
Getting same error here on these browsers:

- Chrome Mobile 74.0.3729
- Samsung Internet 9.2

[2019-06-19 21:01] neuroid2018 commented on #2230
As a workaround create a config object instead of axios instance:
const config = {
   baseURL: '/',
   params: {
    secret: 123
  }
}
Then to send a GET request:
axios.request(config)

and axios should be imported:
import axios from 'axios'

[2019-06-19 22:10] jurpeedurp commented on #1000
A temporary workaround is to use an interceptor:

[code]

[2019-06-20 07:26] Zu3zz commented on #2230
but there's someing else for me to use in axios instance, so if I want to add params, i shouldn't do it in instance but to add it in config?
Is that what u mean bro

[2019-06-20 08:35] waiaan commented on #2230
it seems that some options would not be merged from instance.
from axios/lib/core/mergeConfig.js  /
[code]

the 'config' is an emtpy object.

[2019-06-20 08:38] waiaan commented on #2230
you may use 0.18.x , it would work.

[2019-06-20 09:51] hamadr commented on #2230
Hi,
I noticed that creating an object with
[code]
works in 0.18.x whereas it doesn't work anymore in 0.19.
I didn't see anything related to this in the release notes.
Should it be considered as a regression?

[2019-06-20 10:07] azz0r commented on #1259
Personally fixed this by adding browser: true to the rollup-plugin-node-resolve function

[2019-06-20 10:25] BharahthyKannan commented on #2134
It is not a problem Anymore and i am sure it in not a problem related to Axios. The root cause is the input stream is being read twice in the backend server. it is fixed .

[2019-06-20 10:25] #2134 closed

[2019-06-20 11:47] waiaan commented on #2230
see what i said.

[2019-06-20 12:20] kevilen commented on #2125
I use axios.create({ withCredentials: true })  some where, but when I use axios.create({ withCredentials: false })  does not work...

[2019-06-20 12:22] kevilen opened #2240 "I use axios.create({ withCredentials: true }) some where, but when I use axios.create({ withCredentials: false }) does not work..."
I use axios.create({ withCredentials: true }) some where, but when I use axios.create({ withCredentials: false }) does not work...

[2019-06-20 14:35] neuroid2018 commented on #2230
Yes. Consider it as a workaround until this regression will be fixed.
If you want to use a predefined config but need to modify/add some params you have to either modify that config or create a new one.

[2019-06-20 15:41] Zu3zz commented on #2230
THX a lot, I will stop using params in instance

[2019-06-20 15:41] #2230 closed

[2019-06-20 19:03] cristianocca commented on #1718
Faced this as well, custom config parameters for interceptors is very important. Any work around? Or is downgrade the only option?

[2019-06-21 04:15] Vikas2408 commented on #2199
this.http.defaults.headers.common['Authorization'] = 'Bearer TOKEN' ;

[2019-06-21 05:52] FlyingPigQAQ commented on #1660
How to solve this problem?Someone can help me ?

[2019-06-21 06:42] GFwer commented on #2203
Same issue with me
[code]

[2019-06-21 06:56] chiamakaikeanyi commented on #853
I tried using Wikipedia API and had this same issue.
Adding `origin=*` to the URL fixed it.

```const endpoint = `https://en.wikipedia.org/w/api.php?action=query&origin=*&list=search&srsearch=${searchTerm}&format=json`;```

[2019-06-21 07:06] kentkrantz commented on #583
[code]
Thanks to [rubennorte](https://github.com/axios/axios/issues/715#issuecomment-290993181)

[2019-06-21 08:33] summermick commented on #853
I solved it by not using axios, tried GET from external URLs with $ajax and $get, had no issue with the old jquery stuff

[2019-06-21 09:58] JennerChen commented on #2240
if you use v0.19.0, it a bug in axios, see #2190

[2019-06-21 16:59] 7rulnik commented on #1663
It should be, isn't?
[code]

[2019-06-21 18:11] shadownova65 commented on #836
Works for me as well.
Thanks!

[2019-06-21 18:46] correamarques commented on #2165
@emilyemorehouse I'm having same problem with Fortify, the error was: *Cross-Site Scripting: DOM* [0] at isURLSameOrigin.js#26 [1]

[code]

Can you open this issue again?

[0] https://vulncat.fortify.com/en/detail?id=desc.dataflow.java.cross_site_scripting_dom#JavaScript
[1] https://github.com/axios/axios/blob/master/lib/helpers/isURLSameOrigin.js#L26

[2019-06-21 22:48] vonKingsley commented on #1661
Hopefully this helps someone else out there.  If the cookie has the secure flag set, the browser won't send it out again over http, I was using webpack devServer proxy, and I had to set the https: true option on for devServer in my config.  Once I had an https server, i was able to send back the cookie. It didn't matter that it was a self signed cert.
`devServer: {
    https: true,
    proxy: {

[2019-06-21 23:31] ethanentW commented on #61
This is among the most disappointing responses to a glaring issue I've seen in an open-source project. This has been an issue for almost 4 years... This is the reason I use my own HTTP package.

[2019-06-22 08:22] alirezamirsepassi commented on #686
Please reopen!!

[2019-06-22 09:17] LucienShui commented on #1827
Having the same error :(

[2019-06-22 12:48] ruhulwebdev opened #2241 "error.response undefined (Catch) 422 Error"
## On 422 error, error.response is undefined even though I can see the error object in the network tab

**Here's codesandbox working example**
[https://codesandbox.io/s/blue-dream-umibe](https://codesandbox.io/s/blue-dream-umibe)

I have this code

[code]

**Expected behavior, if applicable**
It should return an error object containing server errors

[2019-06-22 13:10] Stevenje commented on #2072
+1 not working in version .19

[2019-06-22 13:44] ruhulwebdev commented on #2241
sorry I had this code at the top that was causing the issue.

`axios.interceptors.response.use(null, function(error) {
  if (error.response.status === 404) {
    return window.location.replace("#/")
  } else if (error.response.status === 401) {
    return window.location.replace("#/login")
  }
})
`

[2019-06-22 13:45] #2241 closed

[2019-06-22 19:55] ralphtheninja commented on #297
Disabling cache on the client side was enough to fix my problems. @anhvoduy Thanks!

[2019-06-22 21:42] evenfrost commented on #2230
@Zu3zz 	I believe this should not be closed until a PR with the fix is created and merged to avoid duplicate issues. As been already said, this is a regression bug, and you don't have to stop using params in instance, rather don't use `0.19` until that. :)

[2019-06-22 21:44] evenfrost commented on #2230
Actually this is already a duplicate and is addressed in #2190 and #2196, so cancel that.

[2019-06-22 23:19] jrgleason opened #2242 "Axios seems to be breaking koa"
**Describe the issue**
I am trying to use axios to send oauth requests. In a koa-route I do the following...

     // 404
     router.get("/callback",(ctx)=>{
         ...
         return axios(options).then((response)=>{
             console.log("Made it here " + JSON.stringify(jwtDecode(response.data.id_token)));
             ctx.cookies.set("foo", "bar", {httpOnly: false});
             ctx.bod

[2019-06-23 00:31] jrgleason commented on #2242
Looks like I need to use finally to get it to work, which still feels like something is broke....

            return axios(options).then((response)=>{
                console.log("Made it here " + JSON.stringify(jwtDecode(response.data.id_token)));
                ctx.cookies.set("Authorization", JSON.stringify(response.data), {httpOnly: false})
            }).finally(()=>{
                ctx.re

[2019-06-23 08:56] jasonsaayman commented on #2197
@Tony4469 you can use version 0.18.1, this is a patched release that mends the security issue.

[2019-06-23 08:59] jasonsaayman commented on #2199
@mrkhanakia this is an intended change in 0.19.

[2019-06-23 09:04] jasonsaayman commented on #787
@QuantumInformation you would not see anything, only provisional headers are being shown in the browser. This means either there was an error that occurred or the request was not completed by the time you took the screenshot. If you would like to catch the error you would need to do somthing like this:

[code]

[2019-06-23 09:04] #787 closed

[2019-06-23 09:13] jasonsaayman commented on #2231
@RocMark no, finally is usually used for processing or cleanup once the promise has settled. The above section of code is just illustrating that you could perform a call, catch an error and then continue to run code afterward as with any promise.

[2019-06-23 09:13] #2231 closed

[2019-06-23 09:29] jasonsaayman commented on #2224
@PlayMa256 could you give me a runkit example for this? I can then try to replicate it an put in a pull request.

[2019-06-23 09:38] jasonsaayman commented on #2226
@the-vampiire seems like a good idea to look into adding this into the doc's. Can you edit the docs and then put in a pull request?

[2019-06-23 13:43] webtobesocial commented on #1716
I am experiencing the same issue. This is my relevant code...

[code]

**Problem**
I am using NuxtJS with VueJS and when I refresh the page in the browser it does not intercept the request. But when I navigate in the menu with `<nuxt-link>` links it works like a charm. Any idea is appreciated.

[2019-06-23 15:26] i-schuetz commented on #535
I also get the error, using app created with react-create-app

[code]

I also tried adding `process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';` at the beginning of the file (below `const https = require('https');`) with no effect.

[2019-06-23 17:37] vizcay commented on #1955
Same problem here,

[code]
[code]

[code]

@caputchinefrobles I've tried adding that module but the same happens.

[2019-06-23 22:40] vizcay commented on #1955
This looks like a problem with jest maybe and not axios?

[2019-06-23 22:57] vizcay commented on #1955
Found https://github.com/axios/axios/issues/34 it looks like finally is not supported with node v8.x.. switched to v10 and works like a charm.

Because production runs on v8 I ended up going back to:

[code]

Strange that adding the polyfill that @caputchinefrobles suggested didn't solve the problem.

What I cannot understand is why through webpack works right, but not when running specs with jest

[2019-06-24 05:15] priyeshvadhiya commented on #853
it's 2021 now, is there any update? 😃

[2019-06-24 06:25] anupammaurya commented on #1281
no luck found! facing the same issue here..

After flight call 204, nothing returns from the server...

[2019-06-24 07:25] joeyer opened #2244 "onDownloadProgress gets specific data, because I don’t just want to know the length, I also want to know the specific content."
onDownloadProgress gets specific data, because I don’t just want to know the length, I also want to know the specific content.

[2019-06-24 10:16] ericmdantas commented on #1716
@webtobesocial when is this piece of code being called? In your entry file or in the creation of your app?

[2019-06-24 12:01] ibovangeffen commented on #1827
Having the same issue. Postman does work, axios doesn't

[2019-06-24 12:10] PlayMa256 commented on #2224
Of course i can! I'll build one and add in here!

[2019-06-24 14:03] Stas-Buzunko commented on #2072
i did 3 things that got it working.
1) updated node to v11+
2) added --tls-min-v1.0 flag like this node --tls-min-v1.0 index.js
3) updated axios to .19

first 2 didn't help without the last one.

[2019-06-24 14:32] jasonsaayman commented on #1827
This sounds a lot like a mixture of errors. I doubt the error lies within Axios though from what I have read. If someone can give an example where it is shown to be a definitive Axios issue please open a new ticket for that issue.

[2019-06-24 14:32] #1827 closed

[2019-06-24 14:36] jasonsaayman commented on #2244
@joeyer please can you give a better explanation of what your issue is? Could you possibly include a code example so that we can test and try to reproduce the error you are experiencing?

[2019-06-24 14:51] jasonsaayman commented on #2129
Just referencing the pull request quickly #2243

[2019-06-25 00:06] webtobesocial commented on #1716
@ericmdantas thanks for your reply. This piece of code is located in `/middleware/axios.js` and it's called from the middleware in NuxtJS. Does this answer your question? From my research it seems that the middleware does not register page refreshs so I moved it temporarily to `/plugins/axios.js` which seems to work but feels a tiny bit like a hack.

[2019-06-25 01:41] webxmsj commented on #993
你好， 我想知道如何实现这个extend方法

[2019-06-25 04:14] maitrungduc1410 commented on #1567
For those who's struggling in this issue:\
After finding a ton of solutions on internet I was still stuck in this problem, some people say it's about the network problem (android prevent HTTPS,..), some others say we need to add `multipart/form-data` in header along with the request sent to server. I tried all but didn't work

The thing is when I put the file inside `formData` it breaks, if I comm

[2019-06-25 05:52] SwiTool commented on #2072
Thank you for that ! Next time i'll work on proxies i'll take a look.

I have been struggling for an entire day trying to make this work, that was in march, but I finally switched to another library.
Proxies work very well with `node-fetch` combined with `https-proxy-agent`.

[2019-06-25 06:37] matinzd commented on #1723
Any update on this bug for react native!?

[2019-06-25 09:20] iamrajkaran opened #2245 "Axios request fail to authenticate while using headers"
**Describe the issue**
Upgrading from 0.18 to 0.19 version is causing an issue in HTTP requests - GET, POST when sending headers like cookie.

**Example Code**

[code]

**Expected behavior, if applicable**
Api should return expected result as it was giving in ver 0.18.0`

**Environment:**
 - Axios Version [e.g. 0.19.0]
 - OS: [e.g. OSX Mojave]
 - Browser [e.g. Chrome [Electron] ]
 - Electron Versi

[2019-06-25 11:11] MrPeak commented on #1979
Same issue.

[2019-06-25 11:25] bailer commented on #1963
I am also in a similar position. I have an interceptor that adds a header if a specific field is present in the configuration, a field which is not part of the original AxiosRequestConfig but would be nice if I could extend it for the instance. My suggestion would be to add a generic argument to the create function.

[2019-06-25 12:45] sjerdo commented on #2235
I'm experiencing this same bug in axios 0.19.0. Downgrading to 0.18.0 seems to help for now.

[2019-06-25 12:48] sjerdo commented on #2235
Well, seems like the btoa polyfill has been removed, which causes this issue: https://github.com/axios/axios/compare/v0.18.0...v0.19.0

[2019-06-25 13:24] jasonsaayman commented on #2215
@mhxy13867806343 there is a way to set headers in Axios, please see the doc's [here](https://github.com/axios/axios#request-config).

[code]

As for the CORS issue, you are describing it seems that there is some encryption that you need, that being said the encryption would fall outside of the scope of Axios.

[2019-06-25 13:24] #2215 closed

[2019-06-25 14:19] slim-hmidi commented on #2245
Could you verify if you missed something in your code or it is due to your cookie or VerificationToken? Because I test with a simple example and it works normally:
index.js:
[code]
server.js:
[code]
And I run the `server.js` and I execute the `index.js` and it works. I think that you missed something in your code.

[2019-06-25 14:19] balliegojr commented on #2203
I am having the same problem, I have a custom property for my loader screen interceptor.

@someden Nice solution with the cancelable

[2019-06-25 14:28] jeremyrambo commented on #2216
Same issue here. In v0.18 I would pass in "custom" configuration that would then be intercepted in a request interceptor to apply the correct headers.  We are doing this as we migrate major versions of our back end.

Here is an example of the request:
[code]

Then in our request interceptor we have the following code:

[code]

Once we upgraded to v0.19 the config options for `adminVersion` and `ac

[2019-06-25 14:30] rajmonotype commented on #2245
The solution proposed by you works, but it doesn't work if we send a cookie in headers.
Is sending cookie mechanism changed in 0.19.0?

[2019-06-25 14:32] iamrajkaran commented on #2245
@slim-hmidi
The solution proposed by you works, but it doesn't work if we send a cookie in headers.
Is sending cookie mechanism changed in 0.19.0?

[2019-06-25 14:35] rafaelrenanpacheco commented on #2237
Take a look at:
- https://www.npmjs.com/package/axios-cancel
- https://www.npmjs.com/package/axios-cancelable

[2019-06-25 14:40] rafaelrenanpacheco commented on #2216
#2207 will fix this once it is merged.

[2019-06-25 15:39] slim-hmidi commented on #2245
@iamrajkaran  I edited the answer.Could you check again?

[2019-06-25 16:49] iamrajkaran commented on #2245
@slim-hmidi I believe I did the same but doesn't work for me.

[2019-06-25 18:10] ericmdantas commented on #1716
@webtobesocial I'm not familiar with NuxtJS, but what ended up working for my web project was initializing the interceptor in the `main.ts` file instead of `App.vue` file.

[2019-06-25 20:09] slim-hmidi commented on #2245
I execute the code in different OS and it works for me.
First I execute on Ubunut 18.04 and I rexecute on Windows 10
Node: 10.13.0
axios: 0.19.0

[2019-06-25 22:26] peteschmitz commented on #853
I'm experiencing a similar "Access-Control-Allow-Headers"-related issue while attempting to hit a zapier webhook from axios (0.18.0) and chrome (75.0.3770.100).

My request is:

`axios.post("https://hooks.zapier.com/hooks/catch/xxx/xxxx", { email });`

I'll receive an error about the unsupported header:

![image](https://user-images.githubusercontent.com/3190970/60138000-9ccdda80-975d-11e9-8f6d-e4

[2019-06-25 22:50] quasibit-wrangler commented on #853
Well if in the FAQs they mention not needing any content type params you
could just try  the ol
Var xhr = new XMLHTTPRequest() and try it that way without axios.

Is your post to the webhook on the client or the server?

On Tue, Jun 25, 2019, 3:27 PM Pete Schmitz <notifications@github.com> wrote:

[2019-06-26 01:54] akiwarheit commented on #2214
FYI I've done the ff.

[code]

I'm still getting the error.

[2019-06-26 04:12] supriyamalusare commented on #1503
I have used axios.defaults.timeout  = 5000 in React Native project. And it is worked.

[2019-06-26 04:37] iamrajkaran commented on #2245
It is working fine with 0.18.0 and there are no such changes on server and client side. But still, it is generating an error.
Have you tried with a sending headers witrh cookie? I believe there might be an issue in receiving a cookie.

[2019-06-26 07:35] imranimu commented on #853
Any news on this? I'm pretty much in the same boat.

[2019-06-26 08:06] slim-hmidi commented on #2245
Could you provide me a reproductive example to test it on my pc?

[2019-06-26 08:14] slim-hmidi commented on #2245
In your code, you mention:
[code]
Could you give an example how you send the cookie. I tried this code:
[code]
In the server, when you make `console.log(req.cookies)` you will get an empty object.

[2019-06-26 09:28] LucaMozzo commented on #2245
I tried both 0.18.0 and 0.19.0 and I get the same problem. I'm writing tests using a cookie-based authentication and the cookies are not set in the request object I get in the back-end.

[code]
When I debug, I see the cookie in the headers, but not in the request cookies, and I'm sure about the back-end implementation as it is currently working with other clients

[2019-06-26 09:39] slim-hmidi commented on #2245
@LucaMozzo try :
[code]

[2019-06-26 09:48] olance commented on #754
This code has been here for a long time and seems to have pleased many people, so I think it's worth noting that `axiosCall` could be largely cleaned/simplified to:

[code]

Wrapping the `Axios` call into a new Promise only to resolve it with the returned data or reject it with the occurring error without any other operations is redundant.

[2019-06-26 09:52] LucaMozzo commented on #2245
@slim-hmidi apologies, I might have oversimplified the example, I have 2 cookies in that format `name=urlencoded-value` separated by a semicolon

[2019-06-26 10:05] slim-hmidi commented on #2245
I don't know what to say about that, because I think the code that I written does not work in your case. Could you provide please a simple example that you wrote and mention your machine settings (OS, node, axios, etc...)

[2019-06-26 11:21] RRaideRR opened #2247 "Authorization Header not in Request (not CORS related)"
**Describe the issue**
I shipped a React project to https://foo.com. I use axios to perform API requests to https://foo.com/api. In my best understanding: this is therefore not a CORS related issue. If I'm doing a request with the code snippet provided below, everything works fine in Chrome and Firefox. However, on my MacBook with Safari it doesn't work.

If I inspect the request via the developme

[2019-06-26 11:26] iamrajkaran commented on #2245
@LucaMozzo in fact in my case cookie is object and it is working fine in 0.18.0
my cookies is an object
// sample
{
0: 'string',
1: 'string2'
}

[2019-06-26 12:26] webtobesocial commented on #1716
@ericmdantas thanks for your reply. In my Vue project I also had the axios interceptor in the `main.js` but I had to move the whole project to NuxtJS because of server side rendering and there is no concept of a `main.js`. The migration is quite hard to move the project from pure VusJS app to NuxtJS. Is anyone familiar with NuxtJS probably?

[2019-06-26 12:26] doepkec commented on #2095
We encountered the same issue and found out, if you check the console.log it showed undefined instead of "0" and "false" values, but when you check the vue developer tool it shows the right values. So we think that console.log just prints the wrong values

[2019-06-26 12:50] sppilka commented on #1417
It seems that the bug still persists. Tested on MS Edge version 44.17763.1.0 and axios 0.19.0. But also tested with SuperAgent and same error. Edge always swap POST with GET method...

[2019-06-26 12:59] slim-hmidi commented on #2245
@LucaMozzo I think that sending cookies as an object is not supported and you should send them `cookieName=cookieValue; cookieName1=cookieValue1; cookieName2=cookieValue2`.
Did you try to send them like that?

[2019-06-26 13:44] gyh9457 opened #2248 "v0.18.1 remove xDomainRequest is a disruptive update"
**Describe the bug**
The version 0.18.1 remove xDmainRequest support by this commit

https://github.com/axios/axios/commit/5c754e6e07b536826d0a3b4e010d839482f3dd2c

I need to support it. And i want to know why remove it ?

Do I have another way to fix it or I have to lock the 0.18.0 version?

@RikkiGibson @Khaledgarbaya

**To Reproduce**
send a Cross-domain requests with axios in IE9

**Expected b

[2019-06-26 13:57] robsonsobral commented on #370
Version `0.19.0` and this issue remains.

[2019-06-26 14:43] LucaMozzo commented on #2245
@iamrajkaran I agree with @slim-hmidi , if I try to send an object it doesn't get deserialised not even in the headers. I managed to solve playing around with the header values and using v0.18.1

[2019-06-26 15:43] Aitchy13 commented on #853
@imranimu The problem is a combination of the browser you're using and the server you're making the request to. There's nothing axios can do about it, unless the browser exposes an API that let's it ignore the CORS check.

You have a few options:

If you control the server you're requesting, allow it to respond to all `OPTIONS` requests with the following headers:
[code]
With express this might lo

[2019-06-26 16:23] RikkiGibson commented on #2248
This breaking change was meant to go into version 0.19. I’m guessing that 0.18.1 was based off of the wrong commit and that’s how this snuck in.

For now I think you’ll need to lock the version.

[2019-06-26 17:53] the-vampiire commented on #2226
@jasonsaayman where would be a good spot for it? in the first example of the docs?

just out of curiosity why does it behave this way? i looked at the source and couldnt figure it out. hadnt seen other libs require `.default` at the end. would it be possible to fix the problem itself rather than update the docs?

[2019-06-26 20:13] rjoaopereira commented on #2160
I would like to ask the original author (@chancedickson ) for the rationale behind this comparison.

[2019-06-26 21:53] ambroselittle commented on #2042
I ran into this same behavior. Even the interceptor is not called in this case.

[2019-06-27 01:32] satheler opened #2249 "jsdoc is missing in bind.js"
**Section/Content To Improve**
Don't have anything description that to do the bind method

**Suggested Improvement**
Is an obscure method? What does it do?

**Relevant File(s)**: [e.g. README.md]
[./lib/helpers/bind.js](https://github.com/axios/axios/blob/master/lib/helpers/bind.js)

[2019-06-27 12:31] agarwalkartik opened #2250 "How do I disable maxContentLength check"
**Describe the issue**
I need to disable maxContentLength Check in the axios client, as sometimes the response given by my  http api can be too large. How do I achieve the same?

[2019-06-27 12:32] #2250 closed

[2019-06-27 12:38] RRaideRR commented on #2247
Alright - I don't think that it's axios related. I found a solution that worked for me.

I was calling the URL without a slash at the end. My backend (Django) disallowed that and returned a 301 with the new URL. I think Chrome, Firefox and Safari automatically performed a request to that new URL. However, it seems that Safari did not call the new URL with my custom headers and just omitted them.

[2019-06-27 12:38] #2247 closed

[2019-06-27 16:13] vaibhav-systango commented on #726
@Phlen did you find any solution for this, babel-polyfill doesn't seems to work!

[2019-06-27 19:21] parker789 commented on #1443
Also would like to see a better solution for this.

[2019-06-27 20:37] jphilipstevens commented on #1965
@emilyemorehouse

I would also like to.help out. At my work we use Axios quite a bit and I'm more than willing to spend time on this project

[2019-06-28 03:00] cainster commented on #1616
tried changing dependency to 0.18 in package.json but still not working for me ? Am I missing something?

[2019-06-28 04:16] zacharytyhacz commented on #853
Hey y'all here in 2021 still having the same problem ;)

@Aitchy13  the API server i'm connecting to has `Access-Control-Origin: *`, console gives me this error like in this issue,
[code]

Not supported if `Access-Control-Allow-Origin : * ` ... very strange.

Here's some of the API's response headers for some references to help aid future possible solutions ( in 2022! )

( This is off a `OPTIONS`

[2019-06-28 07:15] ivan-kalinin opened #2252 "Response doesn't contain config.meta since 0.19.0"
On version 0.18.0 could be use meta parameter like this
[code]
It was available inside of config on response. But since update on 0.19.0 I've stopped watching meta there. No found any information about this in changelog also. It may be not a bug, but can you explain this missing, please.

**To Reproduce**
[code]

**Expected behavior**
Expect to see `meta` object inside of `res.config`

**Environme

[2019-06-28 07:58] asmakhalfallah2018 commented on #295
Did you find solution to get the value of set-cookie please ? adding withCredentials: true doesn't fix the issue

[2019-06-28 08:02] asmakhalfallah2018 opened #2253 "Unable to get set-cookie value from header with axios reactjs"
I am using react js and i have an axios.get function which is supposed to return me a value of set-cookie . Before axios i tried fetch but when running response.headers.get("set-cookie") it gives null . For axios , response.headers["set-cookie"] gives undefined  . Why headers don't contain set-cookie ?

[code]

[2019-06-28 13:05] jphilipstevens commented on #2242
I am not too sure this would be an Axios issue.

I've been getting into the axios code and it uses native promises. finally is not part of that so i can only assume that somewhere in your server is was added?

I think a sample project would be needed for more info

[2019-06-28 13:06] jphilipstevens commented on #2252
I believe that there was a breaking change. The fix should be in this PR: https://github.com/axios/axios/pull/2207

for now downgrade to 0.18 is what we were reccomended

[2019-06-28 13:40] jphilipstevens commented on #2239
Judging by this line: https://github.com/axios/axios/blob/master/lib/core/mergeConfig.js#L40

undefined is resulting in the default being used: https://github.com/axios/axios/blob/master/lib/defaults.js#L79

Likley the result of the addition of mergeConfig. 0.18 appears to not have this

[2019-06-28 14:52] enBonnet commented on #295
Hey @asmakhalfallah2018 look at this https://stackoverflow.com/questions/53898031/how-to-set-cookies-express-react-js/55804086#55804086

[2019-06-28 18:57] adam-mccormick opened #2254 "getUri doesn't work before request is sent"
**Describe the bug**
The `getUri` method only returns the supplied `url` parameter and not the full request URL. However, using this method in a response interceptor seems to work correctly

This might be a duplicate or related to #2190 but I'm not sure so just throwing this out there anyway.

**To Reproduce**
Runkit [example](https://runkit.com/adam-mccormick/5d1660c39720a3001aeace48)

The exampl

[2019-06-28 19:09] IkarosFeitosa commented on #853
I had the same problem, after several attempts, testing some solutions, none worked. only after setting the proxy in the package.json.
adds:
"proxy": "api address"
that it will bypass the cors.

[2019-06-28 19:10] kimihiro64 commented on #2240
#1852 fixes this but it hasn't been merged yet. There's a bunch of things tagged ready to merge so I guess it's just wait until someone catches up...

[2019-06-28 19:38] the-vampiire commented on #2226
@jasonsaayman PR is up. if you want it in another location let me know.

[2019-06-29 04:05] ifuning commented on #907
i use  'transformResponse: undefined' , but fail

this can be solved
`transformResponse: [(data) => {
                        return data;
                    }],`

version 0.19.0

[2019-06-29 07:24] lucasriondel commented on #1247
Why has it been closed ?

[2019-06-29 17:22] anoopmb opened #2257 "Axios 0.19.0 not Connecting to localhost:8080 without internet"
I am developing API based Vue JS application. Server serves its endpoints on http://localhost:8080/api

my configuration of axios is
[code]
But in offline (without internet) endpoints not working and throwing error as

on postman its working in offline mode
and finally its worked when I downgraded my axios to 0.18.1
Please help me how to configure  axios 0.19.0

[2019-06-29 18:02] sm-a opened #2258 "Consuming eBay API with NodeJS and Axios don't work - what I make false"
**Describe the issue**
When I consuming the eBay API to get a token then I get followed error:
"grant type in request is not supported by the authorization server"

**Example Code**

`
axios.request({
  url: '/identity/v1/oauth2/token',
  method: "post",
  baseURL: "https://api.sandbox.ebay.com/",
  auth: {
    username: "", // eBay client id
    password: "" // eBay client secret
  },
  data: {

[2019-06-30 08:55] krishnaclouds commented on #2258
It feels the issue is not related to Axios. Please note that you have to specify the string value in scope as `https%3A%2F%2Fapi.ebay.com%2Foauth%2Fapi_scope` as indicated in the [documentation](https://developer.ebay.com/api-docs/static/oauth-scopes.html) -

[2019-06-30 09:15] krishnaclouds commented on #2257
Couldn't replicate the issue. It is working fine with 0.19.0

Env
Machine : Linux
Axios Version: 0.19.0
Backend Server on Node and Front End on React.

Can you please provide the details of your response headers, so as to do possible debugging. Thanks

[2019-06-30 14:38] RezaBaiat commented on #1350
i can confirm that axios does not follow the 307 when method is POST , but it does when it is GET

[2019-06-30 14:56] RezaBaiat commented on #1350
tested every thing and im sure of it now , for now im using a working around . this is the method which doesnt work :

axios.request({url:url,headers:headers,body:body,method:'POST'});

[2019-06-30 16:35] crhistianramirez opened #2260 "Remove `axios.all` and `axios.spread` from documentation"
**Section/Content To Improve**
Section in main readme around performing multiple concurrent requests

**Suggested Improvement**
There is a request to remove `axios.all` and `axios.spread` (https://github.com/axios/axios/issues/1042)

Although the functionality has not yet been removed, we can at least stop advertising it if there is intent (with good reason) to remove it.  We can still keep the se

[2019-06-30 17:12] pk936 commented on #229
@reggi @baumannzone  I tried by copy pasting your code. The params are not appearing in URL.

[2019-06-30 17:14] pk936 commented on #1476
default params are not working for me too.

[2019-06-30 17:27] jasonsaayman commented on #2226
@the-vampiire I actually don't know, now that you mention it that is very odd behavior. I will have a look and let you know. Thanks for the Doc's.

[2019-06-30 17:37] jasonsaayman commented on #1204
As mentioned here #1759 I don't think SSL pinning is something that should fall under Axios.

[2019-06-30 17:38] #1204 closed

[2019-06-30 17:40] jasonsaayman commented on #2225
@larlew can you give an example of this? I use Axios in a number of projects and am yet to have this issue?

[2019-06-30 17:44] jasonsaayman commented on #2234
@marshallaf I will see how this could be mended. I don't think the docs should change as I'm certain the behavior you expected should be the correct behavior.

[2019-06-30 23:12] the-vampiire commented on #2226
@jasonsaayman cool man. if you figure out why its behaving that way id be curious to know / how it can be fixed

[2019-07-01 02:32] zacharytyhacz commented on #853
@IkarosFeitosa  Can you post your config proxy configuration?

[2019-07-01 03:50] itwenqiang commented on #1594
It seems to be a question about the usage of Promise
Source code:
`fn.then(() => {}, () => {})`
After modification:
`fn.then(() => {}).catch(() => {})`
After this change, I solved my problem.

[2019-07-01 06:13] GermanMontejo commented on #1350
@RezaBaiat  You might wanna ask @emilyemorehouse to re-open this issue. I've already forgotten my work-around for it so I won't be of much help here.

[2019-07-01 06:48] sulistiyono346 commented on #587
work for me

[2019-07-01 07:34] baumannzone commented on #229
It's ok. It shouldn't appear in the URL.
You may be confusing terms.

For params in the URL, read this: https://github.com/axios/axios#request-config
[code]

[2019-07-01 08:25] cosoc opened #2261 "麻烦添加jsonp请求方法"
jsonp使用方便快捷，为什么作者觉得不友好，作者能不能不要一意孤行，原生添加一个jsonp请求不行么？心累。

[2019-07-01 08:51] Falkyouall commented on #383
So this error seems to be a misconfigured CORS error which reflects just on your network tab. I have the same issue as @ketysek, and it seems that my ngnix is not applying CORS for this. As before mentioned, a generic network error will never make it into axios `error.response`. Here i like to blame the Backend.. oh wait, i did that...

[2019-07-01 11:09] zb-0819 opened #2262 "firefox XML 解析错误:格式不佳"
**Describe the issue**
A clear and concise description of what the issue is.

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
A clear and concise description of what you expected to happen.

**Environment:**
 - Axios Version [e.g. 0.18.0]
 - OS: [e.g. iOS 12.1.0, OSX 10.13.4]
 - Browser [e.g. Chrome, Safari]
 - Browser Version [e.g. 22]
 - Ad

[2019-07-01 11:51] halfzebra commented on #1616
The same issue, it seems like there's a PR with a fix #2196

[2019-07-01 12:06] RezaBaiat commented on #1350
yes thanks alot , work alot for this is pretty simple , just catch the 307
status and manually recall the api

On Mon, Jul 1, 2019 at 10:44 AM German Enriquez Montejo <
notifications@github.com> wrote:

[2019-07-01 16:34] Aitchy13 commented on #853
@zacharytyhacz you can't send browser credentials when the server responds with `Access-Control-Allow-Origin: *`.

Either:
1. change `*` to be a specific website address.
2. set `...withCredentials: false` in the config/options parameter of the axios request function you're using.
3. set the proxy property in the config/options parameter of the axios request function you're using, to a valid proxy

[2019-07-01 19:09] anoopmb commented on #2257
i tried by removing node modules and package-lock.json
its not working

and i am not getting response its instantly throwing this error on request

and  its a electron vue application

[2019-07-02 04:06] videni opened #2263 "interceptor created by this way never get caught, why?"
[code]

I need to inject Authorization header to request if it exits.

[2019-07-02 08:31] atilkan commented on #34
Not one soul writes the current status here.
The syntax **finally** is supported in browsers now.
Also **axios** supports it.

[2019-07-02 08:59] chenjsh36 opened #2264 "why offer canceltoken instead of expose req.abort for developers to cancel a request ?"
Hi, I have read part code of axios, it use canceltoken to cancel request base on cancelable promises proposal，it’s  wonderful. But I do not understand why can not  just expose request.abort api for developer to cancel request directly.

[2019-07-02 09:42] jshjohnson opened #2265 "Lack of a major version"
Considering the popularity of Axios and the amount of people using it in production, would it not be prudent to release a major version? The above (taken from the README) is under the heading of `Semver` but it goes against the basis of semantic versioning and is a super risky. If a developer does not read that line and they install axios as `^0.18.1`, they could deploy a breaking change without e

[2019-07-02 14:04] karanshah10 opened #2266 "Want to hit api in new window something like window.open(URL)"
Hello..
I just want to open api in new window on button click.

[2019-07-02 14:26] libasoles commented on #1476
Not working here neither:

`const api = axios.create({
  baseURL: config.api.baseURL,
  params: {
    appid: 'mysecretkey',
  },
});`

Also tried:
`axios.defaults.params = {
  appid: 'mysecretkey',
};`

And I must say I'm not overriding the params when performing a query. So, they should be there according to the docs.

[2019-07-02 17:26] libasoles commented on #229
Issue, they say, is with v0.19. Downgrading to 0.18.1 should work. See:
https://github.com/axios/axios/issues/2190

There's a working demo of this:
https://runkit.com/philipbjorge/axios-regression

However, I downgraded and still can make it work.

[2019-07-02 17:28] libasoles commented on #1476
Issue, they say, is with v0.19. Downgrading to 0.18.1 should work. See:
#2190

There's a working demo of this:
https://runkit.com/philipbjorge/axios-regression

However, I downgraded and still can make it work.

[2019-07-02 17:28] MetaiR commented on #1501
any solution?

[2019-07-03 07:13] ryouaki commented on #2143
maybe it looks like [#1752](https://github.com/axios/axios/pull/1752)

[2019-07-03 07:22] JonasJonny commented on #1501
@MetaiR I started to use `response.status === 200`.

[2019-07-03 07:23] JonasJonny commented on #1501
@MetaiR I dropped "OK" and started to use response.status === 200.

[2019-07-03 12:24] jphilipstevens commented on #2265
This is a known concern. SEMVER does allow this sort of breaking change in its spec: https://semver.org/#spec-item-4

there seems to be some preliminary effort to make a 1.0 but its not been updated in a while

[2019-07-03 14:18] AaronChengHao opened #2267 "Request happen unexpected end of file"
**Describe the bug**
Requests for certain addresses occur `unexpected end of file`

**I found that would solve my problem**
![image](https://user-images.githubusercontent.com/20119217/60599069-61c44a80-9de0-11e9-8700-5ffab2a28e5a.png)

**Environment:**
 - Axios Version [e.g. 0.19.0]
 - OS: [win10]
 - node: [8.9.3]

[2019-07-03 14:21] louismrose commented on #789
We hit this issue today too. In our case, the server responding to the multipart request was throwing 400 Bad Request exceptions (and, confusingly, was identifying the request as a GET not a POST in the Apache logs).

We compared HTTP requests from a working client (written in PHP and Guzzle) with a broken client (written in Node and Axios). This led us to discover that Axios + FormData was not se

[2019-07-03 15:03] pk936 commented on #1476
@libasoles  thanks.. downgraded to 0.18.1 and it works !

[2019-07-03 15:19] przemek-nowicki commented on #175
This works for me:

[code]

[2019-07-03 15:57] snorkellingcactus commented on #232
Ok. Then im doing an app which only:
- gets a token
- sends pings to an api with the requested token
- may receive some special response, which will pass to another process.

So no need of anything async there and im not on the browser.

Why should i pollute my code with an asynchronous keyword to make some simple and synchronous code ?

I mean, with an async keyword which was meant to solve a pro

[2019-07-03 20:33] Disorrder commented on #2190
Same, upgraded from 0.18. Downgrade it back :D

[2019-07-03 20:54] yyfearth commented on #2242
Because you did not use `.catch()` for the axios call?
Seems you only have `axios().then` for the success case, and it will cause rejection if it failed. And you directly returned the rejection to the koa, is that expected?

I think you just need to replace the `.finally` to `.catch` should work.

[2019-07-03 21:00] yyfearth commented on #2264
Because there is not such thing called `request` that returned, and you cannot expecting provide the abort function to the request parameter.
Axios always return a promise, and you cannot add `abort` method to a promise. Because it is violate the standard, and also the added `abort` method is not pass though the promise chain.
Actually what they should do is instead of use canceltoken, they should

[2019-07-04 05:29] #2240 closed

[2019-07-04 06:06] mohit61 commented on #199
thanks.

[2019-07-04 07:09] adntin commented on #164
Unable to pass config configuration, each 'config. Trycount' is undefined.

[2019-07-05 01:27] keyskey commented on #1221
copying node_modules/axios/index.d.ts to node_modules/@types/axios/index.d.ts works for me as well, thanks @colincmcc !

[2019-07-05 06:33] 724399396 commented on #853
Any progress? I config my web server to set resposne header, but it seem not work.
![image](https://user-images.githubusercontent.com/8842738/60702425-9398f680-9f31-11e9-8f24-b54b18a8f880.png)

![image](https://user-images.githubusercontent.com/8842738/60702438-9e538b80-9f31-11e9-8d0c-221b0066da37.png)
I'm confuse this error tip:
![image](https://user-images.githubusercontent.com/8842738/60702460-

[2019-07-05 14:34] MwSpaceLLC opened #2269 "Google Api My Business | CORS policy - Network Error"
**Describe the issue**
Request with api in google my business return error only when used with axios. if i use XMLHttpRequest Class i do not have any errors.

**Example Code XMLHttpRequest** ✔
[code]
**Example Code Axios** 💥
[code]
**Expected behavior, if applicable**
return list of accounts in google my business

**Errors Returned With Axios/Screenshots**
![image](https://user-images.githubuserco

[2019-07-05 16:56] DeepDiver1975 opened #2270 "Submit request body woth PROPFIND request"
**Describe the issue**
According to the README:
[code]

In case of a PROPFIND request I want to send a body as well - it this possible?

THX

**Example Code**

https://github.com/perry-mitchell/webdav-client/blob/180646b5f4971eec5d4fdea6b5a90136dff68d94/source/interface/directoryContents.js#L10-L25

[2019-07-06 05:35] starkovsky commented on #2269
Hi, you can find all request headers on Network tab in Browser Dev Tools

[2019-07-07 02:20] RikkiGibson commented on #2248
Please consider reopening the issue as there is action needed by the maintainers to ship a new patch release of 0.18 which doesn’t include the breaking changes.

[2019-07-07 12:42] aboutsam commented on #2068
@mandaputtra where i set the server cors?

[2019-07-07 13:08] ganeshjangid commented on #1163
TypeError [ERR_MISSING_ARGS]: The "name" and "value" arguments must be specified

i am getting this error

[2019-07-08 06:44] DeepDiver1975 commented on #2270
Another verb is REPORT which also has a request body

[2019-07-08 07:30] yanlee26 commented on #960
SAME HERE...

[2019-07-08 09:46] #2064 closed

[2019-07-08 12:28] jphilipstevens commented on #2264
I would also add that if you are referring to http request: https://nodejs.org/api/http.html#http_request_abort

Axios needs to work in the browser. Request is not in the browser. Axios has worked to hide those details from the developers and as @yyfearth mentioned you only have access to the Promise object created for your call.

[2019-07-08 15:03] spham opened #2272 "nested call and last id insert"
I try insert into database, and retrieve last id for next call.
I dont find a best way to make it work. and best practice.

1. there have a smart ways to make nested call in axios for this, by pass data directly ?

      var histo = new FormData();
      histo.append('id_booking', this.last_id);
      histo.append('name', this.name);
      histo.append('email', this.email);

      axios.all([

[2019-07-08 19:56] amdp commented on #960
In my experience:

"Modify from console.log(error) to console.log(error.response) in catch."

worked better with console.log(error.response.data) in catch.

[2019-07-08 20:31] rusinowiczjakub opened #2273 "Form data unexpected structure"
While doing post request with set Header Content-type as `application/x-www-form-urlencoded'`
I'm getting unexpected structure of Form Data which is being sent to api

I'm doing request like:
[code]
and what i receive in my API looks like:

[code]

I have tried also adding raw json except FormData Object like:
[code]
and request looked like:

[code]

Same request with identical headers looks good

[2019-07-09 05:38] hiyangguo opened #2276 "Can't set Content-Type when data is FormData"
**Describe the bug**

I can't set `Content-Type` to headers when data is `FormData`.

**To Reproduce**
[code]

**Expected behavior**
`Test-Header` is useful , but `Content-Type` is ignored.

**Environment:**
 - Axios Version [0.19.0]
 - OS: [OSX 10.14.5]
 - Browser [Chrome]
 - Browser Version [74]
 - UA [`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome

[2019-07-09 06:21] goufaning commented on #587
@Ddper  Thanks for your share! The Setting of  `withCredentials` works  after I close mockjs.

[2019-07-09 07:07] vikrampariharcodereadr commented on #667
I have updated my code as

`axios.post(apiUrl, qs.stringify(params), {responseType: 'document'});`

And now i can get xml as document object

[2019-07-10 02:05] logicool commented on #2276
I am just facing the same issue.
And I think this is probably the cause.
https://github.com/axios/axios/blob/2ee3b482456cd2a09ccbd3a4b0c20f3d0c5a5644/lib/adapters/xhr.js#L16
Try to perform request with aliases, like this:
[code]

[2019-07-10 08:25] zhanggaolei001 commented on #1281
It works for me~Thanks！

[2019-07-10 12:23] smilexu commented on #1474
Got same error in React App
Axios version : 0.19.0

[2019-07-10 13:11] osafahmad commented on #1744
You need create or set new instance for custom header.
const instance = axios.create({
  baseURL: 'https://some-domain.com/api/',
  timeout: 1000,
  headers: {'X-Custom-Header': 'foobar'}
});

[2019-07-10 13:20] askaaqib commented on #1567
so I've been working on this issue for a week and came up with this solution:

[code]

[2019-07-10 16:20] sirajulm opened #2277 "Handling onUploadProgress on network failure"
**Describe the issue**
When using `onUploadProgress` to get the progress of the file uploads, it looks fine as long as the network is working. But in case the network goes down while uploading, the property `loaded` still keeps ticking forward.
Please suggest, if there is a way to stop the progress when network is down?

**Example Code**
Code snippet to illustrate your question

[code]
**Steps to

[2019-07-10 17:24] bluetidepro opened #2278 "Does axios support subset imports?"
**Describe the issue**

I've been using `webpack-bundle-analyzer` to try to reduce the size of our js bundles, and was wondering if axios supported subset imports, and if you can shake off some of the import for things you don't need? This is a nice way to make the bundle sizes smaller, if possible. It seems like a common feature for bigger util libraries like this. Wasn't sure if axios support it

[2019-07-10 22:42] sean256 commented on #1966
@chinesedfan I found that Axios will drain read streams faster than it uploads making modules like `progress-stream` or intercepting the read manually not accurate.

[2019-07-11 00:32] 549393092 opened #2279 "Axios.get: Tail zero is missing"
When call axios.get() method, I checked the response data in the chrome dev tool.
see below example data.
{"flowId":"3100000002","stdQty":100.000,"netPrice":10.00}
But when using the syntax
axios.get('/orders/123').then((response) => {
   console.log(response.data)
}).catch((error) => {
   console.log(error)
})
When checking the response data, you will find stdQty = 100 and netPrice = 10.
So the t

[2019-07-11 06:40] developdeez opened #2280 "Axios.post.then causes url to come back 404"
I've tried to use Axios to allert my user if they need to fill out a captcha. It works fine until I tried to add a condition. Suddenly it responded with "404" thoguh nothing changed then my then(window.reload()) changing to then(()=>window.reload())

I've been able to work around it by putting my condition in another function and setting it as I did in the beginning but this seems like something I

[2019-07-11 07:19] mikelibg opened #2281 "Unknown error"
General:

Although the error popped up in a different library, I think there might be a problem with axios giving a proper information regarding the error. After reviewing the code of the error I did not see a reason why createError should fail at that line.

Environment details:

OS: AWS hosted Linux version 4.15.0-1032-aws (buildd@lcy01-amd64-025) (gcc version 7.3.0 (Ubuntu 7.3.0-16ubuntu3)) #34

[2019-07-11 08:28] Eksapsy commented on #1777
Im having the same issue. But it's more weird.
**Setup**
[code]

**This works**
[code]

**This doesn't work**
[code]

What happens, is that on **GET** the 'Access-Control-Allow-Origin' header is present, but on **POST** it is not present.

I think this might be a bug, or my issue. But I presume that this is not a browser's issue, since on GET it works fine.

[2019-07-11 09:48] 93hsc commented on #2252
mark

[2019-07-11 11:49] #2229 closed

[2019-07-11 13:05] MoonSeeing commented on #1660
@damaimrs  have you solve the problem ,can you tell me your solution?

[2019-07-11 13:13] brasrox commented on #1427
same issue here, when i recve 404 or 403 error, the statusText is undefined ( server response with some text explaining the error)
the status code still ok, just the message on statusText are undefined
{
status: 403
statusText: undefined
}

[2019-07-11 13:14] Max-LAB commented on #1361
@NicksonYap This solution is great it helped me allot. I have just one question. How can I use
[code]
like @inostia  used in his example??

if I do this

[code]
`console.log('request canceled', err);`

will never be called. I'm using this for post request. Outside of this, I will just get response = undefined error.

[2019-07-11 14:14] KevinMarioGerard opened #2282 "Concurrent requests made by axios is mixing up the responses"
I make multiple concurrent requests using axios. The responses for the requests is getting mixed up or it is not the response for that specific request.

version: 0.18.0
Description:
A shared instance of axios object is used to make multiple requests. The responses are getting mixed up.

[2019-07-11 14:17] technicallyfeasible opened #2283 "Version 0.19 does not transform a JSON response anymore"
**Describe the bug**
The bug appeared when I upgraded from version 0.18 to 0.19. Response data now comes back as a string even though responseType: 'json' and content-type: 'application/json'

I believe the problem is this changed line in core/Axios.js:

0.18:
 config = utils.merge(defaults, {method: 'get'}, this.defaults, config);

0.19:
 config = mergeConfig(this.defaults, config);

I could not

[2019-07-12 02:32] Lustellz commented on #118
Same here. I'm not using axios, though.

[2019-07-12 02:55] hiyangguo commented on #2276
@logicool So why will delete the `requestHeaders['Content-Type']` ? And if I want to use `axios.request()`, what should I do?

[2019-07-12 03:46] cangyu1993 commented on #1598
我需要在请求头加token，但是也是加不上，pc和安卓都没事，ios无法设置请求头和token

[2019-07-12 05:15] lxfire commented on #2273
hi ~! @rusinowiczjakub  do you resolve this issue?  I have it too, any way can solve it.  thx~

[2019-07-12 07:28] guobinhit opened #2284 "axios post method will be auto changed date type param value"
**Describe the issue**

When I transport a date type param value use axios post method, the value of date type param will be auto changed.

**Example Code**

[code]

**Expected behavior, if applicable**

I transport date type param value is `Sun Jul 12 2019 00:00:00 GMT+0800 (China Standard Time)`

when axios transported, it will be auto change to `2019-07-11T16:00:00.000Z`.

Obviously, the time t

[2019-07-12 10:44] guobinhit commented on #2284
Uh, I solved this problem！

Using `moment` component, when we send date type param to backend, format it first.

Code as below:

[code]

[2019-07-12 13:26] mjhenkes commented on #1333
Just checking in, Are there still plans to release a 1.0.0 of axios?

[2019-07-12 22:42] balumuriraj commented on #1906
I am seeing the same issue with "GET" as-well. After 2 minutes, the request is called again.

[2019-07-12 23:07] balumuriraj commented on #1906
My Bad. Found the issue. "Node.js has a default timeout on all incoming requests, and if you don't change the timeout (as you did in your update), then Node.js will kill the TCP connection if you don't respond to the client in that amount of time." - https://github.com/expressjs/express/issues/2512

Worked fine after fixing my request timeout in node.js

[2019-07-13 22:22] mcapodici commented on #390
@hoanganh25991 answer works for me - if I change the casing:

`const fetchedUrl = response.request.res.responseUrl;`

[2019-07-14 10:34] Andersonfrfilho commented on #973
I have a test application that its backend is done in Adonis (local) and the front react-native and axios, to show a get of an API, but in the emulated it presents the following error:
Possible Unhandled Promise Rejection (id: 0):
Error: Network Error
Error: Network Error ...,
in the insonima it works normally with methods GET, POST, DELETE ...
someone could help.

[code]

https://ibb.co/7J5cJH9
`

[2019-07-14 10:52] geoidesic commented on #535
Why was this closed? Doesn't look like there's a working solution.

[2019-07-14 14:52] msqar commented on #209
Guys, can anyone help me? I think i'm doing this wrong.
Before doing a new http request with my AxiosInstance, i attempt to change the headers accordingly, but sometimes the request is sent before the headers are changed. Do i need to add promises here?

Here's an example:

[code]

Here's my setHeaders function:

[code]

I noticed that it's quite asynchronous... is my implementation good? seems i

[2019-07-14 20:25] abisael commented on #960
axios.interceptors.response.use(null, error => {
    return error.response;
});

getClients: async (state) => {
        const res = await axios.get(`${BASE_API}/clients`);
        console.log('res',res);
        if (res){
            state.commit("setClient", res.data);
        }
}

[2019-07-14 23:11] ArtixZ commented on #1006
Another way here. In this way, you can add proxy agent to and other configs:
[code]

[2019-07-15 00:28] mosleim commented on #858
fetch can do with cors(the backend is not have a problem), but with axios, sometime failed.

[2019-07-15 03:53] ywmail commented on #510
Any updates on this?

[2019-07-15 04:57] enisgur commented on #1186
THANKS A LOT !!

[2019-07-15 12:06] axe312ger commented on #1333
Alright, after working on this 2 years ago and the situation overall not changing:

I drop out of working further on axios.

This lib is mostly needed for enterprises to get requests running through their in-house proxies or support very old browsers. (At least that was my experience when maintaining libs depending on axios)

These companies should take over and/or pay further development of axios

[2019-07-15 12:08] axe312ger commented on #1333
Even unstarred the repo. Hopefully never bloating my projects with it 😁

Wtf there are `1,485,321` projects using this and nobody feels responsible or the real need to fix this 😅

[2019-07-15 12:20] Andersonfrfilho commented on #973
At least for me, which I have api running locally by "Adonis", I put the following address in my android emulator, which is different from the address used by the computer.

/* Endereços para cada emulador/simulador:
** Genymotion:                        http://10.0.3.2:3333/
** Emulador Android Studio: http://10.0.2.2:3333/
** Simulador IOS:                    http://localhost:3333/

https://blog

[2019-07-15 14:09] ghoroubi opened #2286 "Axios auto cancelled request"
**Describe the issue**
I'm using Axios in ReactJS. I'm having the following problem:

When I call an HTTP Request I get the result is cancelled. Although I did not cancel this request.

![93eb5be3-5cfb-455c-9fb7-130cddf234a3](https://user-images.githubusercontent.com/12492150/61222165-687f8580-a72f-11e9-8ce7-7cf979411933.jpeg)
![fc4bd664-fe5d-41cb-acfa-4bbb9e646fb2](https://user-images.githubuserc

[2019-07-15 15:58] DMamak opened #2287 "axios retry on error code response with delay"
I'm receiving data from api using axios, and i want to add error handling to it, i have different messages on different error codes received(401,400,503 etc), but i also want to set timeout of 1 min on 401 errors 2min on error code 500 etc.is that possible using axios without importing axios retry ? I tried coming up with a solution by using interceptors but then spread.js which is imported with a

[2019-07-15 17:11] christiansakai commented on #961
I can confirm that this does not work with Axios.

[code]

[code]

[2019-07-15 23:43] incentum commented on #1827
I ran into an error similar to this. Very baffling. It turned out to be cors related. The options works, and the post works, or at least gets a 200 in dev tools, but you still get a "Network Error..." thrown. It's because the "Access-Control-Allow-Origin" header is missing on the post request. Works fine if you add that.

[2019-07-16 01:03] ywmail commented on #993
Any updates on this?

[2019-07-16 06:01] chenjsh36 commented on #2264
Thanks for your detail answers. @yyfearth @jphilipstevens

[2019-07-16 06:01] #2264 closed

[2019-07-16 09:54] lyt9304 commented on #1153
+1 Same issue in Chrome 75

[2019-07-16 10:02] goodwin64 commented on #738
What's the current status of this issue?

[2019-07-16 11:22] kevin-smartpatients commented on #2133
My case is slightly different:

I send a DELETE request to the server which send back a redirect to /home.
Axios then does a DELETE request to /home. This should be a GET request.

[2019-07-16 12:16] nightmareT commented on #1195
I met this problem today and i have spent nearly a whole day on this. it`s weird because the document of axios told me to use first method which didn`t work. thank u, bro

[2019-07-16 13:22] #2282 closed

[2019-07-16 13:36] VladimirShestakov opened #2288 "TypeError: Cannot assign to read only property 'toJSON' of object Error.."
Simple GET request with server status code 4xx, 5xxx throw error

[code]
axios v19.0, 18.0
last Chrome, Firefox. On Windows, Mac
with react 16.8.6, babel 7.5

![image](https://user-images.githubusercontent.com/614740/61298649-46493e80-a7e7-11e9-942f-c70953d68fda.png)

![image](https://user-images.githubusercontent.com/614740/61298958-df785500-a7e7-11e9-973c-c522851b7e10.png)

[2019-07-16 14:19] VeronicaEms commented on #1640
@emilyemorehouse  thank you so much!!!!!!!!!!!!!!!!!!!!

[2019-07-16 17:46] asingh04 commented on #2279
I guess this is a javascript feature of dropping the trailing zeros of float type data.
So the trailing zeros after the decimal points get dropped and the value becomes of Int type

[2019-07-17 04:35] #2288 closed

[2019-07-17 04:38] VladimirShestakov commented on #2288
External lib defineProperty Error.prototype.toJSON

[2019-07-17 07:26] rusinowiczjakub commented on #2273
@lxfire nope I switched to another http client (https://github.com/request/request).

[2019-07-17 09:24] 549393092 commented on #2279
Thanks!

[2019-07-17 09:24] #2279 closed

[2019-07-17 10:46] jkonze commented on #1906
@balumuriraj can you please close the issue?

[2019-07-17 10:52] Samyang061195 commented on #2235
Hi, I'm new in GitHub, however let me try to help.
Solved the current issue with these steps: (Used in React-Native Project)
1. Install base-64 npm package,  npmjs.com/package/base-64 ,
2. You can set atob and btoa as global variables on React Native. Then, you won't need to import them on each file you need it. Add the following at beginning of your index.js, so that it can be loaded before anoth

[2019-07-17 11:27] ming444 commented on #953
still can't get cookies by `res.headers["set-cookie"]`, but can get by `document.cookie` .

[2019-07-17 13:29] aymeneCasino opened #2289 "post request"
hello everyone,
i'm trying to perform a post request to an external api, to make it work in postman:
- i have to ignore ssl certificate verification
- i have to add basic auth
- i have to add a body even with just empty brackets it work
- content type must be application/json
![requete post postman](https://user-images.githubusercontent.com/53006392/61379144-3e50d380-a8a7-11e9-97a6-1a3e67032320.JP

[2019-07-17 14:04] aymeneCasino commented on #2289
i forget to tell you that the get request work fine with the same configuration
axios.post(url,axiosConfig)
just without the postData

[2019-07-17 15:09] younes0 commented on #2276
So library isn't usable with formData

[2019-07-17 17:33] gualcm commented on #1476
Downgrading to 0.18.1 doesn't fix the issue anymore.

[2019-07-17 22:14] godhar commented on #1626
I am experiencing this on `"axios": "^0.19.0"` and `"node": "10.0.0"` just hangs on `axios get.()` with Bearer auth header, no error, no thing. Any good workarounds for this?

[2019-07-18 06:56] Cuixote opened #2291 "how to do when I use typescript to defined type the return value"
**Describe the issue**
when I use typescript to define the type of the returns, it throws error.
**Example Code**

[code]

**Expected behavior, if applicable**

I expect the return value `data` to be of type `SwaggerData`, but `AxiosResponse<SwaggerData>`. What should I do?

**Environment:**
 - Axios Version [ 0.19.0]
 - OS: [OSX 10.14.5]
 - Browser [Chrome]
 - Browser Version [75.0.3770.100]

**A

[2019-07-18 07:00] Dark-Passenger opened #2292 "Method specific defaults are not set for patch and post."
**Describe the bug**
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

when setting header `Content-Type` to custom type 'application/json+patch-json'
for method patch via.

instance.defaults.headers.patch['Content-Type'] = 'application/json+patch-json';

the instance.patch method does not set the content type as 'app

[2019-07-18 07:39] #2291 closed

[2019-07-18 11:09] ruimcf commented on #1723
I found that this happens when the json response from the server is invalid, use a json validator like https://jsonlint.com/ to make sure that your json is correctly formatted

[2019-07-18 11:58] thekrol01 opened #2294 "AWS rekognition API with Axios 0.19 request failes where Axios 0.17.0 works fine"
**Describe the issue**
I use the AWS API to call the amazon rekogition endpoint. Which worked fine with axios 0.17..0.
With Axios 0.19 the request fails with statuscode 400.

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
Same behaviour as with Axios 17.0

**Environment:**
 - Axios Version [ 0.19.0]
 - Additional Library Versions [e.g. React

[2019-07-18 14:04] YassienW commented on #925
2 years later, still broken!!!

[2019-07-18 14:17] Alex-Sokolov opened #2295 "Passing custom props via axios config"
**Describe the bug**
We use some custom parameters via axios configuration. They are used in the response interceptor. Sometimes there may be a lot of information there, so the option to pass it through the `headers` or `params` is not suitable for us because of the length limit

**To Reproduce**
- Open: https://jsfiddle.net/w2rmhy4c/1/
- Attach axios 0.18 (uncomment line with `axios@0.18.0`)
- Ru

[2019-07-18 15:04] gulian commented on #2077
When the cancellation is due to timeout, the cancellation is caught, but when the cancellation is due to another reason like :
- user pressing ESC
- backend request cancellation
- maybe more
the cancellation is not caught.

Is anyone observing the same behavior ?

(axios 0.18, axios 0.19, chrome 75)

[2019-07-18 15:32] asnaseer-resilient opened #2296 "Could not find a declaration file for module 'axios/lib/adapters/http'"
**Describe the bug**
Importing the axios **HttpAdapter** in a unit test fails.

**To Reproduce**
Create a simple test file containing this at the start:
[code]
This produces the following error:
[code]

**Expected behavior**
I expected the import to work. I found a stackoverflow question related to this here: https://stackoverflow.com/questions/50954167/how-to-add-type-definitions-for-module-in-su

[2019-07-18 16:40] chovy commented on #925
Use request promise.

Anthony
http://profullstack.com

[2019-07-18 16:43] bogdyak commented on #853
If you using **nodejs** with **express**. [That post](http://johnzhang.io/options-request-in-express) might help you.

If you want only some path to be with cors allowed for instance:
`/home/fridge` - not allowed from other origins
`/home/toilet` - should be allowed from other origins

You can try the following implementation (worked for me)

**In routes/home.js**

[code]

If you don't use **nodej

[2019-07-18 20:35] nikolami opened #2297 "Regression: Default proxy detection stopped working for Electron apps in axios 0.19.0"
**Describe the bug**
`axios.post()` stopped detecting the default OS proxy on Windows in version 0.19.0.
Works OK in previous version 0.18.0.

**To Reproduce**
1. Install [Fiddler](https://www.telerik.com/fiddler) (will act as proxy for testing) or set a proxy on Windows
2. Start Fiddler and capture network traffic. Make sure to capture https traffic from Tools | Options | HTTPs. This will create

[2019-07-18 23:14] YassienW commented on #925
Here's what i did for those who stumble upon this and still want to use axios:

[code]
This will let you make https requests over an http proxy, simple and neat.

[2019-07-19 08:31] aymeneCasino commented on #2289
fuck all of you

[2019-07-19 08:55] baixiaoji commented on #1510
having same problem, i install version 0.19beta，also ts cannot parse the correct type

[2019-07-19 12:29] aymeneCasino opened #2298 "cURL to axios"
I have this cURL which work fine,

$ curl -X POST --insecure --header "Content-Type: application/json" --header "Accept: application/json"  --header "Authorization: Basic Y21lc3ZtOnZQfCsrNXBNQmxibTkl" -d "{
 \"filter\": \"\",
 \"kind\": \"cluster\",
 \"sort_order\": \"ASCENDING\",
 \"offset\": 0,
 \"length\": 10,
 \"sort_attribute\": \"\"
}" "my_url"

I would like to perform the same post request,

[2019-07-19 13:03] biubiubiubalabala opened #2299 "why not "finally"?"
**why not "finally"?**
![image](https://user-images.githubusercontent.com/33502578/61536737-e9a88680-aa67-11e9-86b9-bf3ff18ea249.png)
The pic above was cropped from the documentation,I wonder why the last step is "then",shouldn't it be "finally”?

[2019-07-19 18:13] Monasha1992 commented on #1474
For React , try using this in [https://github.com/axios/axios#request-config](here)

[code]

[2019-07-20 04:21] KahunaCode commented on #2190
upvote. just spent the afternoon chasing down this bug and came here to write an issue.

[2019-07-20 09:45] jsdevel commented on #1749
is this going to be fixed?

[2019-07-20 15:05] blinkcat commented on #2299
promise finally is only available on new versions of JavaScript. [mdn finally](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/finally#Specifications).

the then after catch works like  finally.

[2019-07-20 15:19] #2299 closed

[2019-07-21 12:18] webxmsj opened #2300 "when i use axios in uniapp,get a error"
[code]
![image](https://user-images.githubusercontent.com/40289489/61591091-72ecc400-abf4-11e9-898a-11dbef4ff272.png)

**Environment:**
 - Axios Version [0.19.0]

[2019-07-22 12:00] HarryCaveMan commented on #2171
Just checking in, it's been about a month since I posted this.

[2019-07-22 14:43] markelarizaga opened #2301 "Implement timeout support on browsers with support for XHR but not for timeout"
**Is your feature request related to a problem? Please describe.**
Some browsers do support XmlHttpRequest but do not support it's timeout feature. This means it's not possible to use the onTimeout callback which Axios relays on in order to provide the timeout config option to Axios users.
This causes that Axios just ignores the timeout feature entirely in those browsers. An example of these brows

[2019-07-22 19:29] jmccormick28 commented on #2165
@correamarques was your Fortify scan ☝️ against version 0.19.0 that @emilyemorehouse said had a fix for the finding?

[2019-07-22 20:23] efillman commented on #175
For anyone still coming to this page for help with baseURL as the README states:

// `baseURL` will be prepended to `url` unless `url` is absolute.

essentially you must have a FQDN ie http:// or https:// in baseURL in order for it NOT to concatenate with the referrer URL (which to me is the desired behavior most people are looking for on this thread). Took me a few hours to sort that one.

[2019-07-23 04:50] TechCanuck opened #2303 "Axios ignoring set-cookie in cross-origin setup on Chrome & Brave"
**The bug**
Axios 'with-credentials' does not seem to be abiding and setting the proper cookies under Chrome and Brave in NON-incognito mode.   Sending a simple username & password from 'portal.sampledomain.com:5000' -> 'api.sampledomain.com:30000' ends up with an OPTIONS request + a POST that successfully complete & return a good set-cookie; however, upon inspecting the DOM, there's no cookies ac

[2019-07-23 05:27] Saifu786 commented on #1228
ERROR	{ Error: connect ECONNREFUSED 127.0.0.1:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1097:14)
  errno: 'ECONNREFUSED',
  code: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.1',
  port: 443 }

PLEASE HELP ME WITH THIS

[2019-07-23 06:01] ramonitor commented on #2199
Had the same issue after upgrading to 0.19, but after changing the default headers of the axios instance, the problem is solved.

[2019-07-23 06:16] tmoney100 commented on #1744
Check the docs https://github.com/axios/axios#request-config.
`axios#get(url[, config])`
so you can put `axios.get(url, { headers, params });`

[2019-07-23 06:35] stefkwan commented on #1195
did you guys put
app.use(express.json())
at the app.js?

[2019-07-23 09:27] ThiefMaster commented on #1333
@axe312ger you sound a bit salty... reasons to not use fetch directly:

- no nice api to turn an object into a query string
- no interceptors (very convenient to make the user login again and then just continue whatever request failed due to an expired session)
- nicer API (getting json quickly without two awaits)

[2019-07-23 13:56] schmod commented on #2265
Actually, if you use a specifier like `^0.18.0`, NPM and Yarn generally will _not_ automatically bump you from `0.18.0` to `0.19.0`, even though something like `^1.1.0` _would_ bump you from `1.0.0` to `1.1.0`.  You can see it in action on NPM's [semver calculator](https://semver.npmjs.com/).

That being said, I still consider this to be an issue, because the semantics and behaviors of 0.x release

[2019-07-23 13:58] schmod commented on #1084
#2265 is a dupe of this ticket.

We should cut a 1.0 release.  It's long overdue.

[2019-07-23 14:02] schmod commented on #1333
More conversation over in #2265.

If we aren't making any traction with these major changes, let's just bump our current version to 1.0.0, and release these changes as a 2.x branch when they're ready.  The 0.18 branch is one of the most heavily-used and well-tested pieces of software in the JavaScript ecosystem.  A lack of activity isn't necessarily a bad thing -- it means stability!  Let's just f

[2019-07-23 14:50] ishen7 commented on #2295
I have the same problem

[2019-07-23 19:10] tjk commented on #2283
Bump! Was just affected by this -- not sure if it's a problem with how we are using axios but either way, quite a breaking change in 0.19 (from 0.18).

[2019-07-23 19:29] balumuriraj commented on #1906
@jkonze - I don't have the access to close the issue.

[2019-07-23 23:02] koresar commented on #1228
Looks like you are not running the HTTPS protocol server on your computer. Change the port or host to something which is open and working.

Also, these kind of "help me please" questions without much details are rarely leading to any meaningful answers.
And also, a better place to ask these would be the StackOverflow website. Have your tried it?

[2019-07-24 02:39] ovaldi commented on #2103
+1

[2019-07-24 02:55] iyashpal opened #2304 "Some response data object values are undefind but in request response same values have some values.."
The Request Response.
![image](https://user-images.githubusercontent.com/19922707/61761262-d0973100-adeb-11e9-9fdd-600a9cc1a555.png)

Console Log
![image](https://user-images.githubusercontent.com/19922707/61761377-2c61ba00-adec-11e9-8226-873df9359116.png)

**Expected behavior**
Should print the **byMonth** object with it's value but got undefined.

**Environment:**
 - Axios Version:  0.18.0
 - OS

[2019-07-24 06:18] amitjoshi2188 commented on #383
Hello i am also having same issue, even request getting proper response axios always return "Network Error" and goes to .catch(function(error) {}); par. is any one having solution for this problem ?

[2019-07-24 07:51] otomeskhy commented on #2277
I am expecting same issue.

As of expected behaviour, since after network reconnect it starts from 0 again, I guess loaded should get reset to 0.

[2019-07-24 09:00] XXChester commented on #738
You can close it if you'd like, I still think it's odd you need to do something special for nested JSON but regardless we moved away from axios.

[2019-07-24 10:13] luxueyan commented on #1979
Same too! No guys have a resolution？

[2019-07-24 12:12] dipunj commented on #1948
@jkonze, Thanks you just saved my day!

[2019-07-24 13:47] jkonze commented on #2294
Hey @thekrol01, can you show us the code that is responsible for the 400 response? That would really help!

[2019-07-24 13:48] jkonze commented on #2298
Are Hey @aymeneCasino are you working the a browser context or from within node?

[2019-07-24 14:09] skyh24 opened #2306 "Can I use ssr proxy in axios? but I can use in request.js"
I have try many ways to cross the local internet. and I find a way using ssr of request, but I can't see any method of axios. can I ask how to use it?

[code]

but the following doesn't work
[code]

[2019-07-24 14:17] skyh24 commented on #2306
or sock5 proxy

[2019-07-24 17:26] nathanielimeyer commented on #569
Your comment was off topic. It doesn't throw the same error that this thread addresses. You probably get something like "Access... has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https." This thread is meant to address errors related to missing headers.

Again, off topic, but to your point when a method wants a U

[2019-07-25 02:36] yegeg commented on #1598
service.interceptors.request.use(
  config => {
    if (config.method === 'post') {
      config.headers['Content-Type'] = 'application/json;text/plain'
      config.credentials = 'include'
    }
}
)

[2019-07-25 02:42] qld-cf commented on #1510
oh niupi

[2019-07-25 03:07] #1598 closed

[2019-07-25 03:30] Michael-Lee-CN opened #2307 "Can we add a customized param to request's config interface? so that we can use this customized param in interceptors"

[2019-07-25 04:18] Yangfan2016 opened #2308 "[Suggestion]Why the veriosn of Axios is not update to 1.x, let us alway think it's test version :smile"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-25 07:54] #2284 closed

[2019-07-25 08:31] RomkaLTU commented on #229
Can confirm that downgrading to `"axios": "^0.18.1"` helps:

[code]

[2019-07-25 08:46] hiyangguo commented on #2276
Hello, anyone there?

[2019-07-25 08:51] Christilut commented on #2295
I need this too. I had this working in 0.18 but it stopped working in 0.19

I used something like this:
[code]

but it no longer shows up in the interceptor config:
[code]

[2019-07-25 09:39] ggedde commented on #2295
Same Here. Reverting back to 18.1 works.

[2019-07-25 12:28] aymeneCasino commented on #2298
never mind i solved it :)
it was body : {...} instead of data: {...}

[2019-07-25 12:35] JBtje opened #2309 "Using onUploadProgress with electron"
**Describe the issue**
Using onUploadProgress one should get a status regarding the upload progress. However, when using this in my Electron-vue project, it is not being triggered. Do I do something wrong, or is it somehow not supported?

**Example Code**
[code]

**Expected behavior**
I expect to see the progress in the console log. However, I see nothing.

**Environment:**
 - OS: Windows 10, x64

[2019-07-25 14:41] iamakshatjain commented on #1650
Hey can anyone let me know why does that actually happens. Would be really helpful. Thanks in advance.

[2019-07-25 14:46] aymeneCasino commented on #2289
Axios sucks i couldn't did my request with axios so i changed to request
in fact, we can't perform a request with body properties -_-

[2019-07-25 14:46] #2289 closed

[2019-07-25 15:02] venkatdev22 commented on #1707
Any body let me know why i am not receiving data on server ? I am able to hit the API, but data not mapped in the server side API.

            var Ids = [];
            Ids.push('hi');
            Ids.push('hello');
            //Array post-- AllDeleteLocationMockArray(List<string> Ids)
            axios.post('/UserLocationMap/AllDeleteLocationMock/', Ids)
                .then(function (response

[2019-07-25 17:20] ktalebian opened #2310 "HPE_INVALID_STATUS with 100 Continue"
I'm making creating a FormData request as

[code]

Then making a POST request using:

[code]

Using `curl` to the URL, the response is like

[code]

Notice there is a `100 Continue`. When running the axios script I get

[code]

This even fails if I send an empty form data; it seems like axios doesn't like the 100 Continue state?

[2019-07-25 17:36] Disorrder commented on #2276
See #2190 and downgrade to 0.18

[2019-07-25 18:28] rconstantine opened #2311 "Not all response headers available to .then?"
Most of my POST requests work just fine. I post JSON and get JSON back. I'm now trying to POST JSON and get a PDF back.

When I make a POST, it first sends an OPTIONS preflight request, then the regular request, like it always does. Both are returned as successful to the browser with code 200. However in the case of the PDF blob being returned, the ```.then``` only sees a part of the response head

[2019-07-25 20:33] edmondburnett commented on #934
I wanted to do something similar, except not necessarily with authentication, and retrying after a delay when a particular status code is received. Essentially long-polling via an Axios interceptor. This was my solution:

[code]

https://gist.github.com/edmondburnett/38ed3451de659dc43fa3f24befc0073b

[2019-07-25 21:55] parties commented on #932
I know this is an old issue, but I wanted to point out that it _is_ possible to handle redirects _in the browser_ when using `fetch`, you just need to use the `redirect: "manual"` flag.

I'm currently using this in an app to handle redirection when trying to access protected endpoints without an active authenticated session.

This example isn't perfect and may not cover every case, but this is wha

[2019-07-26 03:29] yanlee26 commented on #1785
Well， it's really hard to mock ！！！

[2019-07-26 06:41] eric7578 commented on #2295
Revert to 18.1 as well

[2019-07-26 06:45] chinesedfan commented on #2234
It is under the section `Request Config`, which means you should write codes like,

[code]

---

@jasonsaayman BTW, do you have any chances to contact admin maintainers to accept more collaborator? Thanks.

[2019-07-26 07:11] linj0218 commented on #1598
没人想过在服务器做一些跨域设置吗

[2019-07-26 07:20] chinesedfan commented on #2197
@Tony4469 @AvishekSingha01 Can you provide a full reproducible example?

[2019-07-26 07:20] falost commented on #1598
设置了，这是一个 iOS 的 bug 官方已经修复了

[2019-07-26 07:23] SevenGuns commented on #2295
Me too. But why 0.19.0 can't do?

[2019-07-26 07:33] k-kusumitha commented on #1111
Same issue here

[2019-07-26 08:11] seaskyways commented on #2241
I had the same issue !! Was beating my head to the table for the last hour.

[2019-07-26 09:21] Praveer1981 opened #2312 "axios(config) does not return the promise in Electron app"
Hi,
Recently, I upgraded the axios version 0.16.0 to 0,19.0  and my code stopped working.
Electron Version : `5.0.7` -- This version of electron uses chromium 73.

I found that `axios(config)` never returns promise. also I am not able to capture any kind of error.

[2019-07-26 09:26] richardkeep commented on #853
it's 2022 now, is there any update? 😃

[2019-07-26 11:09] JaminFarr commented on #2311
Sounds like an expose headers issue.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers

The server response also needs this header to allow the browser to pass the Content-Disposition to javascript.
`Access-Control-Expose-Headers: Content-Disposition`

It's a browser thing not an axios issue, you wouldn't get the header with fetch or XMLHttpRequest either.

[2019-07-26 11:59] #1969 closed

[2019-07-26 13:55] hckhanh commented on #706
I think it's a nice feature to have for `axios`.

[2019-07-26 15:52] rconstantine commented on #2311
Thanks, man. Nobody can know everything, so I appreciate the straightforward answer without an undertone of annoyance - particularly since it wasn't specific to Axios. When I stop and think about everything I DO know, it seems like a lot until I think about what I don't know!

[2019-07-26 18:00] schmod commented on #2225
This appears to be a regression rather than a deliberate change, so the versioning conversation doesn't seem like applies here...

[2019-07-26 19:46] samselikoff opened #2313 "Can I force axios to run its browser APIs, even if I'm in node?"
I'm running a Jest test that verifies my library can properly intercept browser requests made with XMLHttpRequest. I wanted to use axios to initiate a request, and then verify my library can intercept it.

When I run the test in Jest, the axios calls detect we're in node, and use `http` to make the actual request.

I'm wondering if there's a way to force axios to use its browser APIs. Jest is usin

[2019-07-26 21:49] codingride commented on #2313
As far as I know, NodeJS doesn't provide XMLHttpRequest natively.

[2019-07-27 03:32] ScriptSmith commented on #961
@christiansakai This works for me for file -> POST using the "Save all incoming files to disk" busyboy example server:

[code]

[2019-07-27 03:33] ScriptSmith commented on #961
I've been able to get axios to stream GET -> PUT / POST like so:

GET -> PUT:
[code]

GET -> POST:
[code]

[2019-07-27 09:45] sun1211 commented on #853
No, :) It is problems when developing(we use http)
when We release on server(we use https)
It doesn't happend.
So just install add on: https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en

[2019-07-27 14:04] Dj-jom2x commented on #636
@jiangfb  thats not working i think , if you tried to check make some api that gets your ip it will still show your local ip

[2019-07-27 20:43] kaankucukx commented on #639
@bledarhaxhia Thank you for your hack advice. 🥇

Throttling worked for me both on localhost and 127.0.0.1:port 👍

[2019-07-27 23:40] ilyador opened #2315 "Where is the correct place to put interceptors in React app? All calls get blocked after navigation"
Right now I have `axios.interceptors.request.use` in the Router component. I use it to make sure all requests have an access token. I put it there so I can access the React Context and save user data and user-related functions there.

However, I am having a weird bug that when I logout and then login again (without refreshing the page) the interceptor can't make any calls after the login.
[code]
a

[2019-07-28 03:12] crhistianramirez commented on #2315
Not an axios expert by any means but I ran into this while searching for my own question in issues and thought I'd share what we're doing.

Can you initialize at the entry point, where React is getting bootstrapped? This is where we're doing it:

[code]

[2019-07-28 12:41] ilyador commented on #2315
@crhistianramirez Thanx, but the issue is that I want (if possible) to have the interceptor inside a component, so I will have access to the React state and Context.

[2019-07-28 16:12] jaman7 opened #2316 "combine two api url to one output"
I am trying to combine two api json url, adding to the first key and add objects from the second api url.
the problem is that with *console.log(JSON.stringify(todosWithTasks))*, there is no content in the *task key*. On the other hand, in the usual *console.log(todosWithTasks)* it looks like everything is fine, in the *task key* there are objects.
so by trying to map the *task* key in *react* I do

[2019-07-29 03:02] bhabgs opened #2318 "what time to support typescript use."
i want use in typescript project, but without types

[2019-07-29 10:25] asmakhalfallah2018 opened #2319 "what's the alternative of --projectRoot in react native version 0.60.4?"
with react native @0.59.8 we were able to process like this to launch variants of react native app

`node node_modules/react-native/local-cli/cli.js start --projectRoot  %~dp0\variant\%1 `

but when upgrading to react native @0.60.4 --projectRoot is no more supported . So how can we replace it ?

[2019-07-29 10:36] webketje commented on #510
It's ugly, but if you don't want to define all your API's in 1 file like in @AousAnwar 's example, you can do something like:

[code]

[2019-07-29 11:19] StigoSvK commented on #2295
Same here. I'm not able to use custom param in AxiosRequestConfig in 0.19.0 anymore. It would be awesome if there was possibility to use some custom id per request. I'm using response interceptor for global error handling but in a few requests (2-3 of 50) I need different behavior.

[2019-07-29 11:25] nirsky commented on #2214
I'm also getting the same error, tried configuring the `metro.config.js` with `extraNodeModules`:

[code]

paths tried:
* `'./node_modules/axios/index'`
* `'./node_modules/axios/lib/axios'`
* `'./node_modules/axios'`

Nothing works..

[2019-07-29 12:16] DerekCrosson commented on #1390
Did this ever get solved? I have the same issue.

[2019-07-29 14:16] Heimschmiede opened #2320 "maxContentLength impact on request content size not mentioned"
**Section/Content To Improve**
https://github.com/axios/axios#request-config

[code]

**Suggested Improvement**
Due to issue https://github.com/axios/axios/issues/1286
and merged PR https://github.com/axios/axios/pull/1287

the option `maxContentLength` has an impact as well on the **request** content size.
I propose the following wording:
[code]
**Relevant File(s)**: README.md

[2019-07-29 14:43] christiansakai commented on #961
@ScriptSmith Thank you, it does work. Is there a way to put the filename not on the URL?

[2019-07-29 16:00] pootzko commented on #320
I would also like to be able to extend Axios. I'd like to add some generic methods which I often use (in Angular) like `postModel()` and `putModel()` which handle model validation for me. So, to me it makes complete sense to have these extra methods in **all** my wrappers.

So, instead of using axios in all my wrappers, I would use my "http" (which extends Axios), and then I would be able to use b

[2019-07-29 17:18] JaminFarr commented on #2315
I think a couple of things might be happening.

Multiple interceptors can be added to an Axios instance. In this case a new interceptor is added every time the Route component is rendered. This will happen on every route change creating an ever growing list of callbacks.

The useEffect hook can help here
[code]

I think the `undefined` error is happening because the interceptor doesn't always retu

[2019-07-29 19:17] sccovey commented on #715
I didn't like the idea of using a promise that never resolves or rejects, so I opted to use bluebird's cancellation to do something like this:

[code]
the setTimeout allows the promise to initalize itself so that a proper promise is still returned from the interceptor and `.cancel()` can be called after the fact

[2019-07-29 19:38] mcmar commented on #590
OSX appears to have a problem with node. People are reporting that setting `family: 4` *might* fix the issue. Neither node-fetch nor axios supports that option. Node team has said this is not their problem and it's a "wont fix". I don't have any opinion on whose problem it is or who's to blame. It would be nice if axios cared enough to support this feature given the problems it poses for Mac users

[2019-07-30 09:12] ethlyseria opened #2321 "Axios Interceptors for refresh token still throws 401"
Good day,

I'm trying to implement an axios with interceptors that triggers a method that refreshes a token whenever my jwt token is expired.

Here's my code located in the `main.js`
[code]
But I'm still getting this on my network tab of the browser.
![test](https://user-images.githubusercontent.com/42052787/62116696-32283580-b2ed-11e9-80eb-1557eebf55d8.JPG)

But when I checked, the token is chang

[2019-07-30 11:54] 9-lives commented on #1543
how is it going?

[2019-07-30 14:22] samselikoff commented on #2313
No but jsdom does

[2019-07-30 14:49] ilyador commented on #2315
@JaminFarr I tried removing all the `if`s and it was still returning `undefined`.

If there were multiple interceptors wouldn't at least one of them return the `config`?

[2019-07-30 14:55] egel commented on #2190
Is there any progress to provide a fixup?

[2019-07-30 16:09] chinesedfan opened #2322 "Triage and maintain roles"
@mzabriskie @emilyemorehouse It is hard to find new maintainers. But how about adding some users with triage roles?

Check links,
- https://github.blog/changelog/2019-05-23-triage-and-maintain-roles-beta/
- https://help.github.com/en/articles/repository-permission-levels-for-an-organization

[2019-07-30 16:37] anscho commented on #678
https://stackoverflow.com/a/47188851/664939

Why are URL param spaces replaced with pluses instead of `%20`? This is causing problems for me interacting with the Datadog API.

[2019-07-30 17:31] TechCanuck commented on #2303
Anything on this one team?  Thoughts, questions, clarifications?

[2019-07-30 18:01] JaminFarr commented on #2315
Just looking through the source code to see what Axios actually does. It's similar but different to what I thought.

When a request is made it creates a promise.then chain of all the request interceptors, in reverse order, ending with the dispatchRequest function.

[code]
So every interceptor must return a config or the config will not get to the dispatchRequest.

I missed it out in the code above

[2019-07-30 18:03] huby01 commented on #606
I m still experiencing this issue. Any fix?

[2019-07-30 18:18] JaminFarr commented on #2315
You can add the interceptors outside of the Route function, as @crhistianramirez suggested, and set a module variable to the context values. It's a little dirty but will do the job and is similar to what you already have.

[code]

[2019-07-30 19:26] JaminFarr commented on #2321
Where are you checking the token is changing? In the 'api/token/refresh' response or the network tab? Check the network tab that the Authorization header is actually updating on each request.

[code]

[2019-07-30 20:26] JaminFarr commented on #2316
This is an issue with async / await and promises not with axios.

`tempTodos.map()` loops through each todo and kicks off the requests for tasks but does not wait for them to complete. So the console.log(todosWithTasks) happens before the requests have completed and had a chance to updated the todosWithTasks items. The un-stringify version may look fine but that's because the value updated after i

[2019-07-30 23:45] agustinl commented on #318
For anyone , this worked for me.
If are using input file, you have to use MULTER in your router.post('/') like a middleware, before getting the other input fields.

[2019-07-30 23:55] crhistianramirez opened #2323 "What's the minimum version of nodejs that axios supports?"
I'm building an SDK and the only dependency is axios. It would be very helpful for me to be able to communicate this information to my users.

I couldn't find an engines field in package.json. I found a similar question from two years ago but cant be confident its accurate

[2019-07-31 07:02] GIn-Liu opened #2324 "0.19.0会将所有的method全部转为get"
axios.create中定义method：'post'条件下，在lib/core/Axios.js中，在 config.method.toLowerCase（）前，console.log（config.method）输出为undefined

[2019-07-31 07:44] tangzui opened #2325 "In version 0.19, I couldn't add config parameters"
**Describe the bug**
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

**To Reproduce**
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file under

[2019-07-31 08:33] ansonhorse commented on #2203
I just found my app behaviors wired, and It turned out to be because of upgrading to v0.19.0.
Now I downgrade to v0.18.0, all things come back to life😁

[2019-07-31 08:34] KangZiRu opened #2326 "Axios randomly sends duplicate POST request"
**Describe the bug**
`axios.post` randomly sends duplicate POST request and ignores the first response.

The code is below:
[code]

The submit function above is only called once, while the `axios.post()` is called twice. I know it when I check the `ts`, `um`, `ctop`, and `lastSent` parameter are same with the previous record. Also, CPanel visitor record show that the request sent twice in short ti

[2019-07-31 12:26] Abdelrahman-Nabil commented on #1390
I'm experiencing the same issue

[2019-07-31 12:49] LeoFC97 commented on #1418
@bertho-zero where i can find this file?

[2019-07-31 19:15] Xeoncross opened #2327 "Clairfy "Client side support for protecting against XSRF""
**Section/Content To Improve**

The project [readme](https://github.com/axios/axios/blob/master/README.md) implies that one reason to use axios is added protection.

This is handled in a few lines that read a JavaScript-accesable cookie and append it's value to the headers of the request.

https://github.com/axios/axios/blob/2ee3b482456cd2a09ccbd3a4b0c20f3d0c5a5644/lib/adapters/xhr.js#L99-L110

Ho

[2019-08-01 01:44] redredredredredred commented on #2203
I made a hook that worked for me. This fixes the problem
[code]

[2019-08-01 05:02] pyyzcwg2833 commented on #2325
I also encountered this problem.

[2019-08-01 09:44] ntomka commented on #932
@parties The problem with `opaqueredirect` is:

see: https://developer.mozilla.org/en-US/docs/Web/API/Response/type

So you have nothing if you want to find out what happened on the server side and where it wants to redirect you.

[2019-08-01 10:49] stepanushariara commented on #629
Hi, how to use this code ?
Thank you

[2019-08-01 11:17] waiaan opened #2328 "the axios instance in loop did not post correct params"
**Describe the issue**
A clear and concise description of what the issue is.

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
when the list item is clicked , it should send http request as params.data.body=0 | params.data.body=1|params.data.body=2 as it looped. however it sent params.data.body=2 three times.

**Environment:**
 - Axios Version

[2019-08-01 12:14] leonardfactory commented on #1970
Mh I think this is an axios bug, since this corrupts even request replay if using an interceptor in order to retry after getting a new accessToken with refreshToken. Cannot share the code right now, but simply `axios(config)` (with an error handler calling then `axios(error.config)` produces an error if `baseURL` is not absolute

[2019-08-01 14:25] smitpatelx commented on #350
If you don't want to use `qs` module, then use this function.
[code]

[2019-08-01 16:16] parties commented on #932
Yes, except that the response still has `response.url` which is the url that the server is attempting to redirect you to, so you can at least handle navigating to the redirected url instead of forwarding the `fetch` request to it.

[2019-08-01 18:50] jeffthompson1971 opened #2329 "adding interceptor on an axios.create() instance is adding them statically to all other axios"
I'm needed to have stand-alone axios INSTANCES that have their own list of interceptors.   But when I do this:

const myAxios = axios.create();
 myAxios.interceptors.response.use(undefined, function (result) {
            if (result && result.config && result.config.globalErrorHandling === false) {
                return Promise.reject(result);
            }
...
}

I only want this ONE myAxios ins

[2019-08-01 19:00] jeffthompson1971 commented on #617
I'm seeing quite the opposite.  When i add interceptors onto a created axios instance, I see those interceptors being used in EVERY other axios reference or instance across my app which sucks.  Seems no way to use axios.create() and then add interceptors to just that instance without affecting axios all over the app

[2019-08-01 19:40] krisunni commented on #118
This worked for me.

[2019-08-01 21:39] lRoberth opened #2330 "posting with axios does nothing"
**Describe the issue**
The library is being included successfully, but at the moment of trying to do the post, nothing happens.

**Example Code**
post.js - this is where i create the posturl function, called by api.js
[code]

api.js - where i call the postURL function
[code]
d.php - where the POST is being sent to
[code]

**Expected behavior, if applicable**
should print to the console the result

[2019-08-02 01:22] hkcedricw commented on #2042
Faced the same problem and it's gone after updating to version 0.19.0. I saw the `follow-redirects` module has been updated

[2019-08-02 04:16] Onael23 commented on #383
I had the same problem today. This issue is mostly about the backend not allowing origins cross site HTTP requests. In my case, I am using django so I just placed the corsheaders class as high as possible to the MIDDLEWARE :
`
MIDDLEWARE = [
    'corsheaders.middleware.CorsMiddleware', //..etc
]
`
And I created a CORS_ORIGIN_WHITELIST to only allow certain origins :
`CORS_ORIGIN_WHITELIST = [ "htt

[2019-08-02 08:23] Viktor19931 commented on #475
but for put request still send option request

[2019-08-02 09:10] G07cha commented on #2330
axios sends POST requests in JSON format by default but [`$_POST`](https://www.php.net/manual/en/reserved.variables.post.php) works with `application/x-www-form-urlencoded` and `multipart/form-data`. You can convert axios request to former format like so:

[code]

[2019-08-02 09:14] magicdawn commented on #2190
https://github.com/axios/axios/blob/v0.19.0/lib/core/mergeConfig.js#L18-L22

[code]

the v0.19.0 code shows that `mergeConfig(axios_instance.defaults, config)`
only the request config.params get used.

Why a minor version not compitable with previous version?
No test for this?
I have to ask.

[2019-08-02 09:28] filippoitaliano commented on #2190
@magicdawn I think they messed up. I don't get what they are waiting for to merge the fix. Pls @emilyemorehouse, help us with https://github.com/axios/axios/pull/2196 🙏!

[2019-08-02 09:31] G07cha commented on #2328
Because `params` is an object it's always being passed as a reference and since you are modifying property of that reference you are modifying original object which is being reflected in all `instance` calls. To avoid this you need to make a copy of `params` object for each call:

[code]

Or if you can't use destructuring:

[code]

[2019-08-02 10:07] waiaan commented on #2328
thank you .
so instance is not sent request immediately in every loop?

[2019-08-02 11:30] G07cha commented on #2328
Yes, if you look at [Axios.request](https://github.com/axios/axios/blob/master/lib/core/Axios.js#L40-L56) method, it puts configuration in promise which means it's going to be executed in the next event loop cycle the earliest

[2019-08-02 11:34] DCzajkowski commented on #475
As explained in [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS):

[2019-08-02 12:42] noloop opened #2332 "Post request JSON is not arriving on server"
I'm trying to send a JSON to the server, but the request not arriving on server, see my server code:

[code]

And my client javascript code:

[code]

In the network panel, see that there don’t “response” any:

[code]

The error I get in the browser console is:

`OPTIONS http://any.com/test-api/ net::ERR_EMPTY_RESPONSE
`

But with get it's work:

[code]

I don't know what it really can be.

**Envir

[2019-08-02 14:24] konstantinblaesi commented on #960
Another option
[code]

[2019-08-02 15:26] thekrol01 commented on #2294
Hi @jkonze thank you for your response. Recently I just updates my project and all dependencies to React > 0.60 and the API call works fine again.  Perhaps some underlaying dependancy that caused the behaviour? For me it works fine now.

[2019-08-02 15:26] #2294 closed

[2019-08-02 16:56] ilyador commented on #2315
@JaminFarr Thanx. I think none of the methods are really elegant. I eventually used response interceptor which had no such problem. This just means I will need more server calls.

[2019-08-02 20:40] jamespearson commented on #2270
Did you managed to make PROPFIND work with body data?

[2019-08-02 23:05] oluwashemoore commented on #1086
I had this same issue and @Vlandmist's solution worked just fine. Thanks

[2019-08-03 01:26] iwaszko commented on #2325
There is no description in this issue but judging by the title alone, it's a duplicate of #2203.

[2019-08-03 01:45] iwaszko commented on #2203
This was also discussed in #1718.

[2019-08-03 04:04] reki630 opened #2334 "Some response data object values are undefind but in request response same values have values"
![image](https://user-images.githubusercontent.com/43027045/62407159-6b5eef00-b5e6-11e9-9319-84c84db019bc.png)

![image](https://user-images.githubusercontent.com/43027045/62407160-74e85700-b5e6-11e9-9a95-b1d551cc3174.png)

Expected behavior
Should print the companyId with it's value but got undefined.

Environment:

Axios Version: 0.19.0
OS: Windows 10
Browser Chrome
Browser Version 75.0.3770.142

[2019-08-03 07:16] reki630 commented on #2095
Same question in React,I can't get the value I need

[2019-08-03 09:15] G07cha commented on #2322
There are also lots of issues looking like "my code doesn't work, help!", those could be asked on StackOverflow instead with [axios](https://stackoverflow.com/questions/tagged/axios) tag.

[2019-08-03 09:20] G07cha commented on #2332
If you were to run your first version of client code against another URL(e.g. [mocky.io instance](https://www.mocky.io/)) it will work just fine, so I think the problem is in your PHP server, you might want to ask this question on StackOverflow with [php](https://stackoverflow.com/questions/tagged/php) tag.

[2019-08-03 09:22] G07cha commented on #2334
Can you post code that sends the request?

[2019-08-03 09:35] xyznaveen commented on #118
Same here don't know why tho.

[2019-08-03 11:56] G07cha commented on #2329
Seems to be working for me with following code:

[code]

How do you create other instances?

[2019-08-03 11:58] G07cha commented on #2319
I don't think this issue is related to axios library

[2019-08-03 12:00] G07cha commented on #2312
Could you please provide an example repository where this issue occurs?

[2019-08-03 14:30] noloop commented on #2332
@G07cha Truth is working, the problem is with 000webhost as I just tested the same PHP code with heroku and it is working.

[2019-08-03 14:30] #2332 closed

[2019-08-04 02:25] reki630 commented on #2334
![image](https://user-images.githubusercontent.com/43027045/62418695-28fae800-b6a2-11e9-94d8-1d0c3f6b3725.png)

[2019-08-04 06:42] crimx commented on #907
It's been over 2 years. What is blocking the issue?

[2019-08-04 07:44] G07cha commented on #2334
Looks good to me, where are you logging resulting data? Can you try logging like this -`console.log(JSON.stringify(data))` right before assigning to `res`?

[2019-08-04 08:27] reki630 commented on #2334
![image](https://user-images.githubusercontent.com/43027045/62421438-4a74c780-b6d4-11e9-84fc-9aafa5b6ca81.png)

If I console.log(JSON.stringify(data)),it has value

[2019-08-04 08:49] OndraRehounek commented on #569
Afrer several desperate hours I realized that cause of my CORS error was request header

`"Content-Type": 'application/json'`

when I removed it, requests started working like a charm

[2019-08-04 08:56] G07cha commented on #2334
Then my best guess is that `res` is being modified somewhere outside, that causes `companyId` to become undefined. Keep in mind, when you logging objects as-is using `console.log` it's being evaluated real-time in Chrome Devtools as you expand the object.

I would check your code for places where you modify properties of `res`. I'm almost certain, it's not related to axios.

[2019-08-04 09:31] reki630 commented on #2334
![image](https://user-images.githubusercontent.com/43027045/62421989-95dfa380-b6dd-11e9-9b0d-300658da3a79.png)

But if I console.log(data) before assigning to res, companyId is still undefined

[2019-08-04 09:39] G07cha commented on #2334
You are assigning `data` to `res`, which means you are not copying the object but a reference to that object and all changes made to `res` will be reflected in `data`.

Here is an example of such behaviour:

[code]

If you do `res = JSON.parse(JSON.stringify(data))`, then `data` should remain as is regardles of what you are doing to `res`.

[2019-08-04 11:24] reki630 commented on #2334
Thank you!I know why it's become undefined

[2019-08-04 12:13] G07cha commented on #2334
@reki630 you are welcome, feel free to close this issue if your problem is resolved 🙂

[2019-08-05 00:57] Praveer1981 commented on #2312
Thanks for your response. When I investigated further I found that `axios-retry` is in infinite loop.  I noticed that there are many people encountered  the same issue with axios[0.19.0], For the time being I am using 0.18.1
FYI, here is the exactly code which caused problem
const r = await axios(config);

[2019-08-05 00:57] #2312 closed

[2019-08-05 01:13] waiaan commented on #2328
thanks

[2019-08-05 07:14] cesar3030 commented on #1321
Thanks for your help! I was able to upload my picture with the iOS Simunator but not with the android one.

After I did set the image type to 'image/jpeg' I stopped having the Network Error.

The issue is the response from the method `takePictureAsync`

[2019-08-05 07:24] cesar3030 commented on #1567
I had the same issue, Adding ` type: 'image/jpeg',` to the file attribute of the formData fixed it.
[code]

[2019-08-05 08:13] G07cha commented on #2312
@Praveer1981 glad that your problem is solved, thanks for sharing the details, I guess https://github.com/softonic/axios-retry/issues/83 is related to your issue.

[2019-08-05 10:56] yuanchieh-cheng commented on #606
I'm facing this issue.
Then I change to use node-fetch and I get the all headers supposed to see.

[2019-08-05 11:41] FANZHETWO commented on #318
check your axios.create, this headers should "headers:{}"  and no use data.like this :
var instance = axios.create({
    headers: {
        // 'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
    },
    // data: {},
    params: {}
});

[2019-08-05 12:03] christian-hess-94 opened #2335 "Axios GET request triggers Chrome's Load Unsafe Scripts warning"
**Describe the issue**
I have a project where I GET data from [Marvel's developer API](https://developer.marvel.com)
I'm using ReactJS as a frontend and while serving my application locally, the app works as intended.

However, I had to publish the app since it was a challenge for a job interview. I used Firebase Hosting for that. [Here's the link](https://desafio-conta-medica.firebaseapp.com/)

T

[2019-08-05 14:55] DeepDiver1975 commented on #2270
no ... still stuck at this ....

[2019-08-05 15:08] xclidongbo opened #2336 "error"
axios.create({
            baseURL: 'http://localhost.charlesproxy.com:3000',
            params: {
                name: 123
            }
        })
        .get('/api/list')
        .then((res)=>{
            console.log('====================================');
            console.log(res);
            console.log('====================================');
        })
        .catch(error=>{

[2019-08-05 15:47] sirajalam049 commented on #382
+1, remove Auth header for just one request, take in request config object without deleting explicitly, just by passing some value like undefined or null

[2019-08-05 19:30] DoronBrayer-RedisLabs commented on #907
I have the same issue. I get `[object Object]`. Please help.

[2019-08-05 22:37] jonataswalker commented on #1195
This should be enough:

[code]

PHP

[code]

[2019-08-05 22:40] jakebolam commented on #2093
We're also seeing this. Responses are from a Google Cloud Load Balancer, talking to GKE.

@shiny, @LarsVlyminckx just to rule out backend servers, what are you running on?

[2019-08-06 00:53] sungbine commented on #1153
plz resolve this..

[2019-08-06 01:32] Praveer1981 commented on #2312
Yes, you are right. But we can not upgrade until this issue gets resolved into new release.

[2019-08-06 06:03] derencel20 opened #2337 "[Question] Mapping a response to an error"
Question: I want to use interceptors to the response, if `response.data` contains code that is listed in an array, I want to return an error instead of the response itself. Now onto the question, is this the correct way to do it?

[code]

[2019-08-06 07:33] yosimasu commented on #2295
I found 0.19 introduce `mergeConfig` to filter out config.

https://github.com/axios/axios/blob/master/lib/core/mergeConfig.js#L18-L42

[2019-08-06 08:43] maphongba008 commented on #2073
+1, same for me, RN 0.59.5 and axios 0.19.0, works on iOS but not on android

[2019-08-06 10:16] heikkiket commented on #1470
Thank you very much! This was the exact same problem for me as well. Google search "axios baseurl not working" was totally worth it :D

[2019-08-06 11:50] KarneyenkaDzmitry opened #2338 "Status text is empty instead of OK"
**Environment:**
 - Axios Version [0.19.0]
 - OS: windows 10
 - Additional Library Versions [node.js version 10]

**Additional context/Screenshots**
![axios](https://user-images.githubusercontent.com/33957610/62537605-808f8400-b859-11e9-9a94-09fc050f5afa.png)

[2019-08-06 12:48] KarneyenkaDzmitry commented on #2338
Issue closed because of it is correct behavior of module. It does not put or correct 'statusText' in contrast with other modules such as node-fetch.

[2019-08-06 12:48] #2338 closed

[2019-08-06 16:34] teapejon opened #2339 "Numeric Request Headers"
**Describe the issue**
Axios allows a header values to be a numeric in the json collection, however in .NET it only allows strings. Do you do any reformatting in the request to have the numeric value of the header identified by the receiver?

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
What is the format in the request from node?

**Envir

[2019-08-06 19:28] leomotta121 opened #2340 "Using axios with node.js"
I am trying to require axios from axios 19.0 and requires an object called default, not all axios object as in the readme.md.

[code]
I installed axios 19.0 with yarn.
![Screenshot_from_2019-08-06_13-21-54](https://user-images.githubusercontent.com/36088219/62571139-0534cf00-b867-11e9-9aeb-27edab22673b.png)

[2019-08-06 20:13] bjaworski3 commented on #1650
Is there any way to properly set the `servername` for SNI? Setting `rejectUnauthorized` to false would work, but it isn't the best security practice since it doesn't actually verify the servers identity.

[2019-08-07 13:14] jkomyno commented on #293
Checking for the `ECONNABORTED` error code worked for me:

[code]

[2019-08-07 21:22] NSiggel commented on #2304
I've been getting the same type of problems w/ simple true/false values in a JSON object in my response.data

Ironically all the true values are fine, however all my false values are being interpreted as undefined
For example:

All my other use cases from Chrome / Edge / PostMan all return the proper values for same object

Any suggestions ? I realize FF represents a smaller percentage of my user

[2019-08-08 07:22] scleriot commented on #2326
We're seeing the same random problem, POST requests being sent twice sometimes

Environment:
* Axios Version: 0.18.1
* Additional Library Versions: Vue.js 2.5.2

[2019-08-08 07:52] ashersaupingomez opened #2343 "Access axios instance within interceptor"
Simple question: is it possible to access the axios instance itself within a request interceptor?

[2019-08-08 08:15] swoppy commented on #2214
Same issue running react@16.8.3 and react-native@0.59.10. Seems axios does not work with latest versions of RN yet. Same issue with Android: https://github.com/axios/axios/issues/648

[2019-08-08 10:46] xuyalin opened #2344 "adapter"
![image](https://user-images.githubusercontent.com/4176406/62697124-92655880-ba0c-11e9-9ad4-f68ac6619386.png)

[2019-08-08 10:49] #2344 closed

[2019-08-08 13:55] fed135 commented on #2322
@G07cha Yeah, that's always been a problem in large OSS. I've been trying to get in contact with the owners for over a month, offering to help/ join as a maintainer. I'm at that point where I think I'll just fork it. Any ideas for a new name ?

[2019-08-08 14:22] SASFMONTOYA opened #2345 "'Request header field authorization is not allowed by Access-Control-Allow-Headers in preflight response.' in a POST Request"
**Describe the issue**
I'm try to consume an POST method from my API (Web API C#), I have two problems, the first was that Axios get the error `'Request header field authorization is not allowed by Access-Control-Allow-Headers in preflight response.'` and this was solved add to the controller api a default code for Options:

[code]

And I use the code to consume:
[code]

Now, I want to send a head

[2019-08-08 14:26] G07cha commented on #2340
`axios` is still a callable function when you require it, right? To be compatible with TypeScript imports it also exports `axios` in `default` property, see https://github.com/axios/axios/blob/master/lib/axios.js#L52-L53

[2019-08-08 14:29] G07cha commented on #2343
Unless you pass it from outside, no, it's not possible.

[2019-08-08 14:32] G07cha commented on #2322
@fed135, that would be awesome, but does it needs a new name? Why not just fork it as `axios` and take it from there? 🙂

[2019-08-08 15:54] mahnunchik commented on #2190
Any news? I got the same error then upgrade to latest version.

[2019-08-08 16:06] camflan commented on #1841
@c4ss Yep, I just hit this as well - did you get something working?

[2019-08-08 16:23] camflan commented on #1841
@c4ss nevermind, mine was actually whitespace _after_ the header value

[2019-08-08 17:18] Libikk commented on #787
`axios.get(URL, { params: { someData: data} })`

and SS you can receive  that `req.query`

[2019-08-08 17:38] fed135 commented on #2322
@G07cha My idea was to show that there is new development happening, enable larger changes to take place and capture some attention- kind of like io.js did.

I'm planning to modernize the codebase completely, make the source bleeding edge and export transpiled versions for larger support. I'm very much open to discussion, if you're interested by the idea.

[2019-08-08 18:01] dianasaurio commented on #318
To this day, this is not working on nodejs. The `request-promise` approach also worked for me.

[2019-08-08 18:44] G07cha commented on #2322
Sounds exciting @fed135, I'd be glad to help!

[2019-08-08 21:08] fed135 commented on #2322
@G07cha https://github.com/fed135/soixa/projects/1
:)

[2019-08-08 21:59] kirubiel opened #2346 "Does axios support opera mini?"
Does axios support Opera MIni? It says that it supports Opera but not Opera Mini. Ajax, fetch, promises and async functions don't work in that browser so is there some transpiler underneath?

[2019-08-09 00:51] Yamilquery commented on #569
This is not a solution 👎

We need to use the `Content-Type: "aplication/json"` but we can't do it because the server doesn't allow us to use custom Content-Type headers.

[2019-08-09 01:52] crhistianramirez commented on #511
@m-sureshraj  so just to clarify, the solution was to *not* mock axios? So... is there a way *to* mock axios?

[2019-08-09 03:30] keyworks commented on #459
In case it's useful to anyone I've been patching the behaviour of `timeout` by using an interceptor. It uses a cancel token to cancel the request after `timeout` has elapsed.

[code]

[2019-08-09 06:01] lzw1604748707 opened #2348 "Axios does not return the desired data type correctly"
**Describe the bug**
When I try to configure the **responseType** to be **blob** or **json** in nodejs, I don't get the data type I want, the return value is all string type, see the source code found, only distinguish between **arraybuffer** and  **stream**  in the http.js file , the rest of the situation will be converted to a String to return
...
Then I found that there is no merge configuratio

[2019-08-09 06:37] qizhou23 commented on #2103
Getting same error here on these browsers:
- QQ Browser Mobile 6.2

[2019-08-09 07:11] ashersaupingomez commented on #2343
Ok, that's how I've been building my interceptors. I was asking because I have a few interceptors as packages for axios, but the interceptors themselves require axios as well. So, it's doubling up on its dependency on the axios package.

Depending on axios within an interceptor is required for those that need to make requests within the interceptor (if the interceptor is a separate package). Is th

[2019-08-09 07:48] flaxius commented on #535
ok

[2019-08-09 07:52] webliving opened #2349 "mergeConfig : is not support custom parameters realization RESETful"
**Describe the issue**
version 0.19.0 , because mergeConfig :  is not support custom parameters realization RESETful

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
Workable

**Environment:**
 - All

**Additional context/Screenshots**
none

[2019-08-09 07:54] G07cha commented on #2343
Since axios allows to create separate instances with their own configuration you would probably need to rely on provided axios instance rather than use your own, for example by using a common variation of [factory pattern](https://en.wikipedia.org/wiki/Factory_method_pattern):

[code]

And your interceptor package would look like this:

[code]

[2019-08-09 07:58] webliving opened #2350 "mergeConfig : is not support custom parameters realization RESETful"
**Describe the issue**
version 0.19.0 , because mergeConfig :  is not support custom parameters realization RESETful

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
Workable

**Environment:**
 - All

**Additional context/Screenshots**
none

[2019-08-09 07:58] G07cha commented on #2349
axios does not support `pathParams` property as far as I know.

[2019-08-09 09:01] vukienha commented on #86
you save my life

[2019-08-09 10:10] vedmant commented on #1849
I have the same issue, couldn't make it work with axios, so I just ended up with fetch:

[code]

[2019-08-09 10:15] MartinMuzatko opened #2351 "error.code missing on Network Error"
**Is your feature request related to a problem? Please describe.**
To properly identify errors reliably, I'd like to be able to either compare an error with `instanceof` or alternatively with `error.code`. However, this does not exist on most of the errors.
I noticed that when defining a timeout, I get at least a `'ECONNABORTED'` code.
Other errors like 404, 403 are also missing this code.

**Desc

[2019-08-09 10:26] rs-8 commented on #511
For mocking any http requests in node you can use [nock](https://github.com/nock/nock)
I used it and didn't have any prooblem with it.

[2019-08-09 13:48] jmike commented on #2350
Duplicate of #2295

[2019-08-09 13:48] jmike commented on #2349
Duplicate of #2295

[2019-08-09 18:27] kirubiel commented on #2346
Never mind with this question. According to [Opera Mini docs](https://dev.opera.com/articles/opera-mini-content-authoring-guidelines/) there’s little to no support for asynchronous JavaScript.

[2019-08-09 18:27] #2346 closed

[2019-08-10 07:15] ashersaupingomez commented on #2343
Hm... Yes, there's that! Thank you.

[2019-08-10 07:15] #2343 closed

[2019-08-10 12:08] thorn0 commented on #1718
TypeScript isn't a blocker at all. In order to support custom config properties, Axios doesn't need to change its type definitions anyhow. Modules are easily augmented in TS.

E.g. if you want to use a custom property in your project, just do this:
[code]
That's it.

[2019-08-11 04:29] fuqi1001 commented on #1629
Same here, some api routes need tail '/', I just skipped it and it automatically does a GET request

[2019-08-12 01:56] webliving commented on #2295
so, What should I do， i need config resetful API

[2019-08-12 04:24] goetzmi commented on #2206
@deanbot unfortunately not. I started to work at other construction sides of the project. Im still in hope that someone can help me.. I wasted days to find something..

[2019-08-12 05:26] jmike commented on #2295
Either revert back to v.18 or wait for a fix.

[2019-08-12 08:15] Alex-Sokolov commented on #2295
Ref:
- https://github.com/axios/axios/issues/2325
- https://github.com/axios/axios/issues/2203
- https://github.com/axios/axios/pull/2207

[2019-08-12 10:41] mrmarktyy commented on #1058
I am still having this issue with react-native 0.57.1 (Expo 32.0.0)

[2019-08-12 12:43] lddlww opened #2353 "How can i use the GET method to pass json parameters？"

[2019-08-12 12:57] virtualLast commented on #1174
So the catch statement will trigger if we get a 408 response from the server, or is it not fully supported still?

[2019-08-12 13:43] Otorrinolaringologistaman opened #2354 "How do i download a zip with multiple types of files"
In my vueJs application i have the following axios POST api call that is suppose to return multiple files that i wish to save on a .zip folder. however when i use the following axios method i can't open my zip and an error occurs saying that "my folder.zip is invalid".

How do i properly download the response.data?

Here is the method. I send a few needed information in my raw call body and a file

[2019-08-12 14:05] alexkb commented on #535
I came across this thread due to an 'ssl handshake failed' error in my logs and considered trying to turn off the checks as described by others above. After lots of troubleshooting (I originally went down a path of thinking it was CORS related) it ended up being because my SSL certificate didn't have the CA certificate bundled in. If you suspect this could be it, use one of the free SSL checking s

[2019-08-12 14:27] avindra commented on #2322
Just surfacing the fact that [gaxios](https://github.com/googleapis/gaxios) is trying a similar approach, but even more radical (it's a ground up rewrite). I found that the API in Gaxios isn't 100% match (yet?), for example there is no `.post` method.

[2019-08-12 17:49] #2234 closed

[2019-08-12 18:01] fed135 commented on #2322
@avindra that's pretty cool, though it moves away from some of the core principles of Axios imo, being as lightweight as possible:

https://bundlephobia.com/result?p=axios@0.19.0 (12.6Kb)
https://bundlephobia.com/result?p=gaxios@2.0.1 (23.1Kb)

https://npm.anvaka.com/#/view/2d/axios (5 nodes)
https://npm.anvaka.com/#/view/2d/gaxios (11 nodes)

With https://github.com/fed135/soixa, I'm hoping that

[2019-08-12 18:01] #2322 closed

[2019-08-12 18:15] fed135 commented on #2323
To ensure compatibility with all versions you could import the transpiled bundle:

const axios = require('axios/dist/axios');

Otherwise, if you really need an answer, I'd have to defer to other Maintainers.
Personally, I recommend staying on the latest LTS versions.

[2019-08-12 20:02] iteniasim opened #2355 "multiple axios request simultaneously"
**Describe the issue**
i am sending an axios request to post something(reply in my case-i am building a forum to learn coding) which will initiate a notification posting through a queue which will take a lot of time depending on the number of users in the database (takes almost a minute in my test db and there is supposed to be a lot more data in reality which might take hours to process) and alth

[2019-08-12 21:26] zholmes1 commented on #2353
https://github.com/nuxt-community/axios-module/issues/97#issuecomment-363828486

[2019-08-12 21:27] iteniasim commented on #2355
Apparently i had to change the queue driver in .env in laravel for queue to work.... So i might be able to work this out soon..

But still is the above mentioned feature available in axios?

[2019-08-12 22:43] ouraios commented on #1965
ping @rubennorte @mzabriskie  @emilyemorehouse @nickuraltsev

Lots of people using your amazing package are waiting from you to take some actions to take some more hands to help you !

And if you dont have time to do those actions then maybe you could at least label this package as dead ?

Maybe setting up a patreon could help you to be motivated to start working on it again ?

[2019-08-12 23:33] avindra commented on #2322
GL HF. I think there are definitely more bytes to be shaved here, especially in `mergeConfig`

if you want a pair of eyes feel free to tag me in a review

[2019-08-13 00:22] igormcsouza commented on #853
That's solved my life!!

[2019-08-13 07:01] KangZiRu commented on #2326
I already replaced `axios.post` with plain-old `XMLHttpRequest()`, and the duplicate problems are gone. Has the new version of axios already solved this? If so, I would update the version instead of rewrite all requests to `XMLHttpRequest()`.

[2019-08-13 07:33] yingliangzhang commented on #2103
Same here, it's happening for some of our iOS users reported by sentry, but I can't reproduce it myself.

sentry.javascript.browser
5.5.0

iOS
11.2.5

[code]

[2019-08-13 07:58] akx commented on #1965
I wouldn't mind helping either, e.g. in a triage role (https://github.blog/changelog/2019-05-23-triage-and-maintain-roles-beta/) :)

[2019-08-13 11:36] qyb commented on #2304
In my enviroment,  integer 0 will be parsed as undefined, but 1 and -1 is ok

[2019-08-13 13:20] qyb commented on #2304
console.log isn't realtime. Would you try console.log the property directly ?  Maybe your framework modify response.data

[2019-08-13 18:03] fed135 commented on #2355
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:03] #2355 closed

[2019-08-13 18:11] fed135 commented on #1512
Hi, thanks for reporting this issue. It is something that I have been wondering myself. I'll take a look into it.

[2019-08-13 18:12] fed135 commented on #1559
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:12] #1559 closed

[2019-08-13 18:17] fed135 commented on #1606
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:17] #1606 closed

[2019-08-13 18:18] fed135 commented on #1594
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:18] #1594 closed

[2019-08-13 18:18] fed135 commented on #1589
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:18] #1589 closed

[2019-08-13 18:19] fed135 commented on #1585
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:19] #1585 closed

[2019-08-13 18:20] fed135 commented on #1579
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:20] #1579 closed

[2019-08-13 18:20] fed135 commented on #1577
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:20] #1577 closed

[2019-08-13 18:23] jasonsaayman commented on #257
I don't think this is going to get done any time soon. The issue is also stale so for now, I think its best we close this and then re-open it when there is a possibility of this being completed.

[2019-08-13 18:23] #257 closed

[2019-08-13 18:23] fed135 commented on #1575
An alternative could be to import the axios dist file:

[code]

I'll be taking a look into bundling soon. Until then, I will be closing this issue. Please reach out if you need further help or if you have comments.

[2019-08-13 18:23] #1575 closed

[2019-08-13 18:25] fed135 commented on #1647
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:25] #1647 closed

[2019-08-13 18:26] fed135 commented on #1646
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:26] #1646 closed

[2019-08-13 18:26] jasonsaayman commented on #265
Thanks for logging this issue, however, I think this is now stale. I am going to close this for now as IE9 has lost official support since March 31, 2017.

[2019-08-13 18:26] #265 closed

[2019-08-13 18:26] fed135 commented on #1639
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:26] #1639 closed

[2019-08-13 18:27] fed135 commented on #1638
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:27] #1638 closed

[2019-08-13 18:27] fed135 commented on #1636
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:27] #1636 closed

[2019-08-13 18:28] fed135 commented on #1634
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:28] #1634 closed

[2019-08-13 18:29] jasonsaayman commented on #807
I am going to close this issue as it is the same as the prior IE9 issue. I doubt this will be mended as IE9 and IE10 no longer receive support from Microsoft.

[2019-08-13 18:29] #807 closed

[2019-08-13 18:33] #1620 closed

[2019-08-13 18:35] fed135 commented on #1619
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:35] #1619 closed

[2019-08-13 18:35] jasonsaayman commented on #2353
Hi I am going to close this issue as there is no real description here, please use one of the issue templates to log a new issue.

[2019-08-13 18:35] #2353 closed

[2019-08-13 18:35] #1618 closed

[2019-08-13 18:36] jasonsaayman commented on #2350
Closing because it's a duplicate

[2019-08-13 18:36] #2350 closed

[2019-08-13 18:38] fed135 commented on #1614
With your suggestion, how would other users who are interested in the response object get their info ?
The destructuring options are very elegant in my opinion.

[2019-08-13 18:38] #1613 closed

[2019-08-13 18:39] #1612 closed

[2019-08-13 18:39] fed135 commented on #1610
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:39] #1610 closed

[2019-08-13 18:40] jasonsaayman commented on #2340
I am going to close this issue. I think this is more of a support issue and may be better to raise on Stack Overflow.

[2019-08-13 18:40] #2340 closed

[2019-08-13 18:40] fed135 commented on #1683
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:40] #1683 closed

[2019-08-13 18:41] #2336 closed

[2019-08-13 18:41] #2324 closed

[2019-08-13 18:42] jasonsaayman commented on #2318
I do not think this is currently possible, could you expand more on your request?

[2019-08-13 18:42] fed135 commented on #1676
Hi @bragma Thank you for the suggestion and the elegant interceptor.
Unfortunately, this is somewhat out of scope for this library.

Feel free to publish this as a standalone plugin, I would star it for sure :)

[2019-08-13 18:42] #1676 closed

[2019-08-13 18:43] #2318 closed

[2019-08-13 18:43] fed135 commented on #1675
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:43] #1675 closed

[2019-08-13 18:43] fed135 commented on #1672
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:43] #1672 closed

[2019-08-13 18:44] #1665 closed

[2019-08-13 18:46] fed135 commented on #1662
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:46] #1662 closed

[2019-08-13 18:48] fed135 commented on #1659
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:48] #1659 closed

[2019-08-13 18:49] #1657 closed

[2019-08-13 18:49] #1652 closed

[2019-08-13 18:50] fed135 commented on #1651
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:50] #1651 closed

[2019-08-13 18:50] fed135 commented on #1650
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:50] #1650 closed

[2019-08-13 18:51] jasonsaayman commented on #2308
Closing this issue as for now this is not relevant to the greater scheme of the project.

[2019-08-13 18:51] #2308 closed

[2019-08-13 18:51] #2307 closed

[2019-08-13 18:51] fed135 commented on #1682
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:51] #1682 closed

[2019-08-13 18:52] jasonsaayman commented on #2307
Please, can you provide a description of the error? If we have a good description we can better help you with this issue.

[2019-08-13 18:52] fed135 commented on #1684
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:52] #1684 closed

[2019-08-13 18:53] fed135 commented on #1685
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:53] #1685 closed

[2019-08-13 18:54] fed135 commented on #1717
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:54] #1717 closed

[2019-08-13 18:54] fed135 commented on #1721
Hey, thanks for logging this issue. This sounds like a support issue. For these, we encourage you to post on StackOverflow, or to use our [Gitter](https://gitter.im/mzabriskie/axios). For now, we're going to close this issue, as it is not feature or bug specific to Axios. If you feel this is an error, let us know.

[2019-08-13 18:54] #1721 closed

[2019-08-13 18:57] fed135 commented on #1723
The error swallowing issue is being tracked, I will be closing this issue as it's essentially a duplicate of it.

Please reach out if you have any questions.

[2019-08-13 18:57] #1723 closed

[2019-08-13 18:58] fed135 commented on #1724
Hey, thanks for submitting this issue. Since it has been inactive for a while and that our resources for maintaining and triaging are limited, we will be closing this ticket. If the issue persists on your end, please feel free to open a new issue.

[2019-08-13 18:58] #1724 closed

[2019-08-13 18:58] jasonsaayman commented on #2262
Hi, please can you explain this issue by logging the issue correctly? For now, I am going to close this issue.

[2019-08-13 18:58] #2262 closed

[2019-08-13 18:58] jasonsaayman commented on #2261
Hi, please can you explain this issue by logging the issue correctly? For now, I am going to close this issue.

[2019-08-13 18:58] #2261 closed

[2019-08-13 18:59] jasonsaayman commented on #2244
Since there has been no response here for a long time I am going to close this issue.

[2019-08-13 18:59] #2244 closed

[2019-08-13 20:22] G07cha commented on #2354
You might want to ask this question on StackOverflow instead. Doesn't seem like there is an issue in axios library.

[2019-08-13 21:15] gitlab-winnie commented on #2081
@cristianoccazinsp There is already https://github.com/axios/axios/issues/1219.

[2019-08-13 23:04] PedroHFranco commented on #262
Hi @9tor have u resolve this problem?

[2019-08-14 03:24] chrisrickard commented on #2103
Yup - i'm also getting Sentry errors of "timeout of 0ms exceeded" from iOS visitors only.

Does anyone know how this originates or the coarse (and whether it is "real"?)
I tried to replicate by connecting to an invalid server and then I get "Network Error" - I can't seem to recreate this as an actual timeout - but I am getting many users a day throwing the error.

[2019-08-14 03:32] fengxinming opened #2356 "Unnecessary options filtering"
**Describe the bug**
My project is working strangely，I compare the current version with the previous one，The following code creates an BUG.

[code]

**To Reproduce**
Custom interceptors below:

[code]

**Expected behavior**
customized `options` can be passed into the interceptor

**Environment:**
 - Axios Version [e.g. 0.19.0]
 - OS: [e.g. iOS 12.1.0, OSX 10.13.4]
 - Browser [e.g. Chrome, Safari]

[2019-08-14 04:51] SteveGreenley commented on #1955
I just had an interesting problem when using finally in a promise chain that originated with an axios.post call. I expected finally to return a promise, but it returned nothing. This led to a mind-bending bug that took a while to figure out. I'm mentioning it here in case anyone else suffers from the same issue and wonders why.

[2019-08-14 05:06] jasonsaayman commented on #1955
@vizcay Thanks for the info, I am going to close this issue as it seems to have been resolved.

[2019-08-14 05:06] #1955 closed

[2019-08-14 05:06] #2354 closed

[2019-08-14 05:07] #2081 closed

[2019-08-14 05:54] OrKoN commented on #1512
@fed135 that would be still helpful. I am still using it but remove the dist folder during the build process

[2019-08-14 05:54] OrKoN commented on #1512
I guess it's done to support unpkg `<script src="https://unpkg.com/axios/dist/axios.min.js"></script>` so it might not be easily solvable

[2019-08-14 07:46] aldialimucaj opened #2357 "Support for SEARCH method"
Is there any plan to include **SEARCH** method into axios?
ExpressJS has been supporting it for some time now and it would be a nice feature to have.

[2019-08-14 09:34] Edward-Li commented on #1417
any update on this issue?  i got this issue also. in Microsoft Edge 41.16299.1004.0

[2019-08-14 12:00] videni commented on #710
I also have this problem,  @valtido  solution doesn't work. please check [ file is missing when upload file with FormData](https://stackoverflow.com/questions/57493231/javascript-file-is-missing-when-upload-file-with-formdata) can anybody help me please ?

[2019-08-14 12:27] videni commented on #1390
I also have the same problem, check [here](https://stackoverflow.com/questions/57493231/javascript-file-is-missing-when-upload-file-with-formdata) for more details. I have no idea why this happen.

[2019-08-14 12:29] videni commented on #1390
@priyakrishnadev ,  a year passed,  I realized this issue is pretty old,  do you find solution?

[2019-08-14 12:44] fed135 commented on #1512
It may also be useful for compatibility with legacy node versions, ex
`var axios = require('axios/dist/axios')`

Hmm, that could be a potential solution to your packaging issue as well. Granted, it's not ideal thought.

[2019-08-14 12:48] OrKoN commented on #1512
@fed135 I don't apply webpack to my node modules so the node_modules folder gets copied as is. It's common with https://github.com/serverless-heaven/serverless-webpack because node_modules are ready to use and almost never need transformations. I work around the issue by explicitly pruning node modules to remove unneeded files:

[code]

[2019-08-14 13:01] fed135 commented on #1512
Yikes, I'll admit that I'm not an expert in Front-End development. What would be you recommendation?

[2019-08-14 13:10] OrKoN commented on #1512
@fed135 this is actually backend for https://aws.amazon.com/lambda

I'd recommend to ship only one code version with the `axios` package suitable for Node (the `lib` + `index.js`). If someone needs the minified and concatenated versions for the browsers, those should be published as separate packages or it could be built by the end users at the build time.

[2019-08-14 13:24] G07cha commented on #2356
Duplicate of https://github.com/axios/axios/issues/2203

[2019-08-14 15:44] dillonburns commented on #587
i've been fiddling with persistent user sessions for a while and was having trouble stringing together `passport / passport-local` (for authentification), `mongoose`, `express-session`, and `connect-mongo` (for storing sessions in mongo).

@mshibl comment helped me get 1 step further, and setting these `cors` options for `express` finally had cookies being passed correctly. hopefully this helps so

[2019-08-14 17:28] emileber commented on #511
I wrote the [`axios-middleware`](https://emileber.github.io/axios-middleware/#/examples/testing) module to ease testing and write self-contained middlewares.

[2019-08-14 17:45] videni commented on #1943
@begueradj , how do you solve this? I also have this problem.

[2019-08-14 18:07] videni commented on #1328
I also have this problem, I search a lot , almost read all related issues of this library, still  no effective solution found.

[2019-08-14 18:38] Miodragt commented on #569
For getting data of localhost port 3000 in developer mode of work , you can use  next code
axios.get('/posts.json')
Because,  port 3000  present content of public folder in react app, like default folder all time when you developing your react app. Except you change this setting

[2019-08-15 02:33] wangfpp opened #2358 "Can't catch error response"
**Describe the bug**
use interceptors but can't catch nothing error message
my network is working
**To Reproduce**

[code]

**Expected behavior**

**Environment:**
 - Axios Version 0.19.0
 - OS: Ununtu 18.04
 - Browser  Chrome
 - Browser Version  76.0.3809.87
 - Additional Library Versions  React 16.9.0

[2019-08-15 02:44] wangfpp commented on #2351
@MartinMuzatko  i have same issue you reslove this promble?

[2019-08-15 22:14] amirsefati commented on #1143
I spend 12 hours for know Error 500 about my Controller , no Axios
care about the back-end , Axios is OK

[2019-08-16 08:18] coatesap commented on #738
This still seems to be a problem, and it's frustrating having to implement the workaround that @ekampp posted on every project.

It also seems inconsistent that for POST requests, Axios "correctly" encodes the data, but for GET requests it doesn't...

[2019-08-16 12:50] rnmalone opened #2359 "Media blob response is being serialised to a string"
**Describe the issue**
Sending a GET request to our media server to receive an audio file will cause axios to transform the body to a string, rather than an expected Blob object that is received when we used  `window.fetch()`.

Note that trying to instantiate a new blob from this received string results in an invalid object and we cannot use `URL.createObjectUrl` to play the file.

**Example Code*

[2019-08-16 18:55] #2195 closed

[2019-08-17 13:58] seyishemba opened #2360 "sdsd"
**Describe the bug**
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

**To Reproduce**
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file under

[2019-08-18 00:30] karneaud commented on #229
+1

[2019-08-18 11:06] MartinMuzatko commented on #2351
@wangfpp  it is not a bug report, it is a feature request.
And I was writing my workaround at the end of the post.
Of course you can surely monkey patch the error object somehow, but the goal would be to have the error code in the official axios package

[2019-08-19 06:09] nyilmaz commented on #1723
@fed135 please link the relevant issue if any, thanks.

[2019-08-19 06:46] tbhaxor opened #2361 "Requesting with OPTIONS method"
**Describe the issue**
For every `POST` request Axios is requesting with OPTIONS method

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
Should do what is asked to. ONLY POST

**Environment:**
 - Axios Version: 0.19.0
 - OS: Manjaro
 - Browser: Mozilla Firefox
 - Browser Version: 68.0.1
 - Additional Library Versions: VueJS

**Additional cont

[2019-08-19 09:02] jasonsaayman commented on #2361
This is correct, this is a pre-flight check. Refer to #475 to see more.

[2019-08-19 09:02] #2361 closed

[2019-08-19 09:03] #2360 closed

[2019-08-19 14:10] JBtje commented on #2359
Make sure to set the responseType to blob...
[code]

[2019-08-19 14:12] JBtje commented on #2309
Anyone ?

[2019-08-19 14:43] hoangtrung99 commented on #995
I encountered a similar error, help me

[2019-08-19 15:01] hoangtrung99 opened #2362 "not resolve when using interceptor"
**Describe the issue**
not resolve, $router.push not working

**Example Code**
i have function
[code]
and interceptors
[code]

**Expected behavior, if applicable**
when me call create api
[code]
 received full data but, this_.$router.push({name: 'Poll', params: {url: this_.model.url}}) not working

**Environment:**
 - Axios Version [0.19.0]

**SORRY**
my english is too bad, looking forward to rece

[2019-08-19 15:06] hoangtrung99 commented on #2362
and console error : errTypeError: Cannot read property 'toUpperCase' of undefined

[2019-08-19 17:45] jbmikk commented on #1939
I think the problem is interceptors do their work first and then pass control to the user, and what many people are trying to do is the opposite, trying to catch errors not handled in their user code.

The problem with this is that the only way axios could detect errors not handled by the users is by detecting unhandled promise rejections, which is not very easy.

There is a new browser feature, n

[2019-08-19 22:01] lacockj commented on #1664
I also have the issue where  also updates the Axios global default headers outside the instance.

[code]

Until this is fixed "properly", here's a workaround I found: creating a new instance each time you update the defaults.

[code]

[2019-08-20 02:22] npham20489 opened #2363 "Axios.all recently slow"
**Describe the issue**
My react native app using axios.all, it recently slow by waiting for one api to response. For example, the app try to fetch data by invoke 3 apis. Then, one of 3 apis take a bit more time to wait for response. I try with reactjs and found it not happen.

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
Is there any probl

[2019-08-20 02:41] barefootChild commented on #468
This problem is still there, why is closed?

[2019-08-20 06:25] long-woo opened #2365 "Not the correct url value"
**Describe the bug**

After upgrading to 0.19.0, the `url` obtained in the request interceptor is missing `baseURL`. When I dropped to `0.16.1`, the result was correct.

**To Reproduce**

[code]

**Expected behavior**

Return correctly, bring `baseURL`.

**Environment:**
 - Axios Version [0.19.0]
 - OS: [OSX 10.13.4]
 - Browser [Chrome]
 - Browser Version [76]

**Additional context/Screenshots**

[2019-08-20 11:51] Lorchelio commented on #2358
@wangfpp try get response inside `.catch` function, it works for me.

[2019-08-20 13:24] twoavy-jf commented on #414
this issue came back for me with v0.19.0 fixed it by downgrading to 0.18.0 again.

[2019-08-20 14:22] rocky-191 commented on #370
遇到了相同的问题

[2019-08-20 14:38] jasonsaayman commented on #2363
Hi, I think this question relates more to your internal servers, or how you are calling, or possibly just general network latency. I think this question is better suited to StackOverflow or similar.

[2019-08-20 14:38] #2363 closed

[2019-08-20 15:42] Tony-Ndichu commented on #199
I can see people

I see several people have given a thumb's up to @dacastro4 's comment, could anyone please care to explain how his comment helped you guys with your specific situations? Am looking at the answer but I don't understand how to use it to prevent my `.then` and `.catch` both from executing at the same time.

[2019-08-20 16:18] MuhammetALAPAN commented on #634
Some APIs have property like "apikey" and you should indicate that property when you are using axios.

You should look your **API's doc** for properties and also you can use **Postman** for indicate your url, header, params etc. easily.

@rubennorte, @lephuhai, @AlokSuman  thank you :)

[code]

[2019-08-20 16:45] stylejinmu opened #2367 "IO: stream cancelled by client"
**Describe the issue**
I catch interface request by Charles. Occasional phenomenon as follows. I am not sure what the cause of the problem is. need some help. Thanks

![WechatIMG456](https://user-images.githubusercontent.com/9429058/63366708-e842e480-c3ac-11e9-894c-de54af745ed4.jpeg)

**Environment:**
 - Axios Version ["axios": "^0.19.0"]
 - OS: [iOS 12.3.1]
 - Browser [ios Chrome, ios Safari]
 -

[2019-08-20 17:44] bdrtsky commented on #2190
Amazing. 63500 stargazers.

[2019-08-20 17:59] BrunoElias98 commented on #853
Hello guys, try this before the axios call, it's worked for me

`headers.set('Content-Type', 'application/json') `

[2019-08-20 18:46] dnewh commented on #2309
I recently had an issue using axios to make a POST request with application/octet-stream as well. I had to switch to the request library to make it work.

[2019-08-20 19:32] JBtje commented on #2309
I started with request, however on some Mac's it did not upload, nor give any error.... switched to Axios on which all works fine (on both Mac and windows). So, can't go back to Request..

[2019-08-20 20:30] jmelvin-r7 commented on #2195
So this is closed, but the PR is not not merged in the axios repo. Does this mean that we're just SOL?

[2019-08-20 21:15] Favna commented on #2195
Tbh I switched out frontend projects over to GitHub's [whatwg-fetch](https://github.com/github/fetch) because of this issue. It's absolutely ridiculous how long it takes the devs to release anything here and in terms of trends axios is an absolute joke compared to whatwg- fetch:

![image](https://user-images.githubusercontent.com/4019718/63384885-17068e00-c3a0-11e9-9738-5b488fca0c6b.png)

source:

[2019-08-21 00:05] EvilSourcerer opened #2368 "Bizarre bug with axios, object arrays, and react"
This bug is way too complex to explain normally.
I recently installed Axios 0.19.0 and tried to make it send a request to an API, and then append it to a graph.

Here's the code I used :
[code]
everything was working great! I was able to create nested arrays, each containing 2 different kinds of values.
![image](https://user-images.githubusercontent.com/32974335/63392454-c6ce0280-c384-11e9-834d-f6

[2019-08-21 03:07] #2368 closed

[2019-08-21 13:54] Koolile commented on #1660
##  你可以用fetch
[code]

[2019-08-21 16:02] LazaroOnline commented on #1417
I solved it by passing the data in a different format using the "URLSearchParams " class.
I had the same problem with:
Microsoft Edge 44.18362.267.0
Microsoft EdgeHTML 18.18362
Windows 10

I think the problem is that Edge only supports certain data types in post requests.
If you want to [use the content-type 'application/x-www-form-urlencoded' then use URLSearchParams ](https://github.com/axios/ax

[2019-08-21 19:58] goulderb commented on #1362
For anyone hitting this who wants the easy "opt-out" to disable body size checks entirely:

Set `maxContentLength` to `Infinity`. This will get passed to follow-redirects, and all the body size checks work as expected.

[2019-08-21 23:57] Gaafar commented on #1614
As I suggested, it can be a different function that returns data only like: `axios.getData, postData, ...`, or maybe the same function name with an option like `dataOnly: true`. The assumption is that 90% of the time we're only interested in the response body so we can use the `data` method to avoid the extra destructure, and if we need the headers or other info, we can easily switch to the origin

[2019-08-22 03:14] DemoHu opened #2369 "Property 'crossDomain' does not exist on type 'AxiosRequestConfig'. TS (2339)"
"axios": "^0.19.0"
[code]

[code]

**There is no “crossDomain” in interface**

[2019-08-22 18:11] leomotta121 commented on #2340
Sorry for the late answer, even though the vscode intellisense was not working, it was still callable function and there was no problem with axios. Thanks

[2019-08-23 04:01] fxbayuanggara commented on #973
OMG, you've saved my time bro!

[2019-08-23 07:08] flycj commented on #1859
Waiting for this...

[2019-08-23 07:11] thexpand commented on #1965
I think that was a begged release, because I don't see any activity after the latest 0.19.0 release.
Such a shame for such an awesome HTTP client.

[2019-08-23 09:03] yang200258 commented on #2058
The same issue with you,buddy. Have you solved  it?

[2019-08-23 10:17] maritaria opened #2370 "CDN import: loading from unpkg fails"
**Describe the bug**
Importing axios through unpkg loads a non-browser compatible nodejs file.

**To Reproduce**
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file under Support or Usage Question**

Code:
[code]
Result (browse

[2019-08-23 12:14] avinashlng1080 commented on #1873
I'm also having this issue.

[2019-08-23 12:45] jayenashar commented on #928
was this added to the documentation?  i tried using it and found it didn't work in node and don't see it in the documentation.

[2019-08-24 06:08] m5tt commented on #738
As said above, this should really dealt with the same way POST requests do. It doesnt make sense it works for one method but not another.

Also for anyone dealing with this - i think you want to install the `qs` library from npm, here - https://github.com/ljharb/qs

_Not_ the `query-string` library, as it doesnt support nesting. In case this isn't obvious.

[2019-08-24 08:10] Rupeshiya commented on #973
Nothing worked.
Is there any solution for this ?

[2019-08-24 08:48] helloitsm3 commented on #973
What is the error?

[2019-08-24 12:56] crhistianramirez commented on #2323
Even assuming I get the transpiled bundle there will definitely be a lower threshold for node features that don't work in current node.

[2019-08-24 15:33] Rupeshiya commented on #973
Hello @helloitsm3, Just fixed this. Was experiencing same error as this issue title.
But fixed it replacing ```localhost``` with ```10.0.2.2``` and making sure that data is on in android simulator.

[2019-08-25 11:09] liudid opened #2371 "IE11及以下发送OPTION请求的时候说列表找不到请求头"
在有带token请求的情况下，IE11及以下发送OPTION请求的时候说列表找不到请求头，尝试了各种办法，比如降低浏览器阻止脚本、使用es6-primise、使用babel-polyfill都尝试了依然不行，除了IE浏览器其他浏览器都正常，求大家的帮助帮看看是什么原因啊，谢谢。
![DIOX$EM@O0E$YJ5B30$QSYU](https://user-images.githubusercontent.com/31311845/63649078-c1e5c600-c76b-11e9-9aad-66685995a719.png)

[2019-08-25 11:11] liudid opened #2372 "When an OPTION request is sent using a token request, IE11 and the following indicate that the list cannot find the request header"
When sending OPTION requests with token requests, IE11 and below said that the list could not find the request header. They tried various methods, such as reducing the browser blocking script, using es6-primise, using babel-polyfill. All browsers except IE browser were normal, and asked for your help. Look at the reason. Thank you.
![DIOX$EM@O0E$YJ5B30$QSYU](https://user-images.githubusercontent.c

[2019-08-25 14:53] vicmg11 commented on #853
this was my solution

	const key = 'sdmhfkhskdfhkshdkfhsdhfksl';
		const locationUrl = `https://api.fjdsghfjsdghfjgshdjfg`;
		axios.defaults.headers.common['x-api-key'] = key;
		const myresult = await axios.get(locationUrl, { crossdomain: true }).then((result) => {
			return result.data;
		});

[2019-08-26 02:45] yang200258 opened #2373 "Network error in axios and react-native after bundle release"
**Is your feature request related to a problem? Please describe.**
         I'm using react-native and axios to request,in debug model,everything is fine,but when bundle release,it occurs to the 'Network error' in my phone.

![image](https://user-images.githubusercontent.com/38518538/63661710-4842ec00-c7ee-11e9-9db1-bd7bcabbc5c8.png)

**Describe the solution you'd like**
         I wnt it request

[2019-08-26 04:09] goetzmi commented on #2206
@deanbot "_client" is an instance of "IPolicyServerRuntimeClient" out of the nuget package "PolicyServer.Local" from Brock Allen.

Sorry that I read your comment so late, I`ll check the "return null;" triggering today.

[2019-08-26 07:49] mistake1px commented on #164
@dennisreimann custom config are now filtered out in v0.19, and now we can pass config like this:
[code]

[2019-08-26 09:14] HusDev commented on #569
I faced the same problem,  then I realized CORS must be enabled from the server middleware, not from the client.
I'm using the Laravel framework, and this article helped me out:
https://medium.com/@petehouston/allow-cors-in-laravel-2b574c51d0c1

[2019-08-26 09:17] mkhoussid commented on #1321
For anyone that this may be of help, if you don't know the type of the content that will be sent over, use the `multipart/form-data`. It sounds obvious reading this now, but it took me a good hour to get any media working.

[code]

[2019-08-26 10:29] liyuanqiu opened #2374 "[merge options] Inconsistent behavior between 0.18.1 and 0.19.0"
**Describe the bug**
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**
[code]

**To Reproduce**
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file

[2019-08-26 13:45] ryanking1809 opened #2376 "Set data types removed from json"
If I have the following, then the data sent to the url is just an empty object `{}`
[code]

I have a pretty simple workaround to send `{vals: [1, 2, 3, 4, 5]}` from the Set but would be great to handle it out of the box!
[code]

[2019-08-26 15:26] c-bandy commented on #2376
This is an issue with `JSON.stringify` (which axios uses internally to serialize your request body) and not axios itself.

You can stringify your data with custom logic by using a [customer replacer](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#Parameters) before passing it to axios.

[2019-08-27 01:10] navata commented on #2073
I have executed request about 14000ms. But I have received error message "timeout of 90000ms exceeded" (timeout = 90000).
This issue only display in Android but IOS is normal.

[2019-08-27 07:14] ronliruonan commented on #1196
XDomainRequest is an implementation of HTTP access control (CORS) that worked in Internet Explorer 8 and 9. It was removed in Internet Explorer 10 in favor of using XMLHttpRequest with proper CORS;

Axios0.18.0 is support IE9, and I've tried it.

https://developer.mozilla.org/en-US/docs/Web/API/XDomainRequest

[2019-08-27 07:40] ntelkedzhiev opened #2377 "Promise is not rejected after upgrade to 0.19.0"
**Describe the bug**
The response has a status code 500 and the promise is resolved instead of being rejected.

**Environment:**
 - Axios Version: 0.19.0

[2019-08-27 15:17] multicolaure commented on #1628
The bug was introduced when fixing this issue : https://github.com/axios/axios/issues/949

When fixing this issue, we should pay attention not to restore the original bug.

[2019-08-27 15:35] pengyouwei opened #2378 "axios发送post请求，Content-Type: application/json;charset=utf-8，如果跨域了，chrome插件重定向会报错"
<img width="836" alt="WechatIMG33" src="https://user-images.githubusercontent.com/50953239/63785988-d53b9180-c923-11e9-8497-4542620fd767.png">

[2019-08-27 16:01] ktalebian opened #2379 "Axios results in 413, other libraries don't"
I'm trying to upload a source map to rollbar (docs found [here](https://docs.rollbar.com/reference)).

Here is the code sample I am using:

[code]

This request fails with:

[code]

However, `curl` works fine, so does spawning a process and doing a `curl`, and so does the  use of `node-fetch`:

[code]

[code]

[code]

All of these examples do work, it's only Axios that is having the issue. I've tr

[2019-08-27 16:35] carsonwah commented on #1510
I use interceptor to do something like: `response => response.data`. So I need to remove the `AxiosResponse` wrapper completely.

I finally end up with:

[code]

In case someone doesn't know how to use it:

Update your *tsconfig.json*, e.g.

[code]

Add the types in *src/types/axios/axios.d.ts*.

[2019-08-27 21:15] shalevmo commented on #2373
Same issue here

[2019-08-28 04:54] winardis commented on #1868
@JustinBeckwith hi so is there a work around for this case, in my case the traffic got too high to send any data, thus stuck on screen not able to continue their activity

[2019-08-28 09:19] bondansebastian opened #2380 "Get request with empty object as data does nothing on IOS simulator"
**Bug Description**
Get request with empty object as data does nothing on IOS simulator.
The promise never resolved, and no error thrown.

**To Reproduce**
I tried to send GET request using axios, using `axios.request(options)` method.
Here's the look of my `options` object

    {
        data: {},
        ...
    }

As can be seen, there's `data` with empty object.
If i don't remove that `data`,

[2019-08-28 11:11] Druux commented on #1207
Any updates on this? Still experiencing the same error.

[2019-08-28 12:27] se1by commented on #932
@parties the response.url will still be the url you originally requested. See https://fetch.spec.whatwg.org/#atomic-http-redirect-handling for details.

[2019-08-28 13:44] mr-flannery opened #2381 "Error: Socket Hang Up when using PKCS12 certificates"
**Describe the bug**

I want to authenticate against a server using a client certificate (mutual TLS). This works when using native `https.Request`. When trying it with axios, I consistently get `Error: Socket hang up`.

I also tested this with `request` and `superagent`, which makes me quite confident that this is a bug in axios.

**To Reproduce**

Here's my client code:

[code]

Here's my server

[2019-08-28 13:48] mr-flannery commented on #2381
nvm, the correct key is `httpsAgent` 🤦‍♂

[2019-08-28 13:50] #2381 closed

[2019-08-29 00:25] justinmeiners commented on #1868
@winardis Don't use axios in node.js. It's easy to make requests in node, and their timeout works just fine.

This is an extremely basic bug that can have catastrophic consequences. I cannot recommend axios because of it.

[2019-08-29 01:57] cesar18pena commented on #2377
@ntelkedzhiev Could you the example you are running? I tried to replicate your error using Axios 0.19.0, but the promise gets rejected like should be.

You can see I had a simple API to return a 500 status code with a error message
<img width="684" alt="Screen Shot 2019-08-28 at 9 54 38 PM" src="https://user-images.githubusercontent.com/31670740/63904294-771fb480-c9de-11e9-9216-3f75dc773b1d.png">

[2019-08-29 02:03] winardis commented on #1868
Actually i'm using it on React Native, there are some reports saying the timeout didn't trigger after the set amount of time (90 secs on my config), so some user is stuck on loading screen because no response from server and the timeout didn't trigger

[2019-08-29 02:09] cesar18pena commented on #2379
@ktalebian In the documentation of [FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData) I don't see any method called `getHeaders()` and you are using it in the example of Axios. Could you pass the necessary headers directly instead of using `getHeaders()` to see what happens?

[2019-08-29 02:56] cesar18pena commented on #2358
@wangfpp that problem happens in general or only with `post` method? I tried to replicate the problem and the interceptor is working correctly for me (only tested `GET` request). You can see the code of React I use below:

[code]

**Environment use to replicate error**:

| Technology  | Version  |
| :------------- | :----------: |
|  Axios | 0.19.0   |
| OS  | macOS Mojave 10.14.6  |
| Browser  |

[2019-08-29 09:27] NeliHarbuzava commented on #2028
@luciano7 We need info about minimum supported version. Does this table mean that axios does not support Chrome lower than version 72? Which is lowest supported version? Where to find this info?

[2019-08-29 11:13] ntelkedzhiev commented on #2377
Sorry to bother. I found the problem elsewhere. Thanks!

[2019-08-29 11:13] #2377 closed

[2019-08-30 03:48] boborua opened #2382 "how to post a huge javascript object"
**Describe the issue**
When posting a large object through axios post method, the browser will crash

**Example Code**

[code]

**Expected behavior, if applicable**
A clear and concise description of what you expected to happen.

**Environment:**
 - Axios Version 0.17.0
 - OS: Win10
 - Browser Chrome
 - Browser Version 76
 - Additional Library Versions React.16.8

**Additional context/Screenshots*

[2019-08-30 08:48] stormmuller commented on #318
Spent 2 days trying to get this to work with axios. Spent 30 seconds to actually get it working with request-promise.

[2019-08-30 12:11] eisenest commented on #2103
Any updates?

[2019-08-30 12:21] dorward commented on #1322
It *shouldn't* be useful to distinguish between requests made by Ajax and other kinds of request. Pretty much any usecase where you'd want to do that is better served by using the `Accept` header to ask for data in a specific format.

[2019-08-30 17:54] FabianoLothor commented on #413
When this will be fixed?

[2019-08-31 09:56] damusix commented on #1139
Why wouldn't you just allow anything to be send as the key? I think it's pretty ridiculous to remove `false` or `null` keys given the prevalence of JSON APIs. If I want to send `{ "name": "bob", "display_phone": false }` it removes "display_phone". Unacceptable.

[2019-08-31 10:17] sinahwz commented on #2330
Axios is using Promises, so you need to wait for the response.
post.js
`function postURL(url, json) {
  console.log("Called function, posting " + url);
  return new Promise((resolve, reject) => {
    axios.post(url, json)
      .then(function(res) {
        console.log("result: " + res);
        resolve(res);
      })
      .catch(function(error) {
        console.log("error: " + error);
        r

[2019-08-31 14:17] lucky8548875 commented on #891
This worked for me! THANK YOU!

[2019-08-31 16:34] laygir commented on #2103
I just got this error from an Android device.

Chrome Mobile 76.0.3809 | SM-G960F

[2019-08-31 18:08] woodpav commented on #1195
The answer is to add the following. Axios uses url-form-encoded by default.

    headers: {
      "Content-Type": "text/plain"
    }

[2019-08-31 19:51] codebling commented on #891
Reposting workaround so it doesn't get lost in thread.

If you're having issues with authorization header not being sent by Axios, please check that you have the correct headers set:
* `Access-Control-Allow-Origin: *`, or just your origin.
* `Access-Control-Allow-Methods: GET, POST, PUT, DELETE, OPTIONS, HEAD` or just the method you're using. `*` not allowed here.
* `Access-Control-Allow-Headers:

[2019-08-31 23:42] smac89 commented on #1616
Hey guys, for now you can just configure your interceptor to add the params.
[code]

[2019-09-01 05:19] pavinduLakshan commented on #2382
You can break data into chunks and send while keeping track of number of chunks sent.

[2019-09-01 05:39] boborua commented on #2382
You mean that setting the header Transfer-Encoding to "chunked"?

[2019-09-01 07:46] Radiergummi commented on #1139
You may be confusing query strings with body payload here. The object in question will be serialized into a query string. Using a literal `"false"` in a query string is seldomly seen as its pretty verbose, and needlessly so - a single `"0"` would suffice.
Now, the actual problem is that we need a way to submit empty query string keys like `?foo` without an assigned value.
The PR by vuoriliikaluoma