[2020-01-22 03:04] rlee1990 commented on #2675
@NinoSoles I used [https://www.npmjs.com/package/node-libcurl](url) since curl request worked and this worked.

[2020-01-22 06:52] luatnd commented on #383
I need to distingue those two cases:
* POST https://xxx.com/sendMessage net::ERR_NAME_NOT_RESOLVED
* POST https://xxx.com/sendMessage net::ERR_INTERNET_DISCONNECTED

As I checked. error return by the `catch` block is the same in both cases above.

[2020-01-22 06:52] chinesedfan commented on #2685
Duplicate of #2646. And fixed in 0.19.2.

[2020-01-22 06:52] #2685 closed

[2020-01-22 06:53] luatnd commented on #1296
+1.

I need to distingue those two cases:

POST https://xxx.com/sendMessage net::ERR_NAME_NOT_RESOLVED
POST https://xxx.com/sendMessage net::ERR_INTERNET_DISCONNECTED

As I checked. error return by the catch block is the same in both cases above.

[2020-01-22 08:24] chinesedfan commented on #2105
axios doesn't have this feature. But you can enable the debug option provided by `follow-redirects`.

[code]

[2020-01-22 08:24] #2105 closed

[2020-01-22 11:01] Cancellara commented on #2684
Well, question is similar but not exactly the same. This post has given me some clues, but i cannot resolve it completely.

With an axios interceptor i take the response, and i access to the request URL:

[code]

But i´m not able to redirect the app to this URL, i try with axios.get:

`axios.get(url);`

But  i get the next error message:

_

_
The error, theoretically, is on let url = response.req

[2020-01-22 12:31] textbook commented on #2684
`axios.get(url);` would start another XHR request, as far as I can tell you want to actually _change the page the app is on_ - as shown in the linked issue, that would be something like `window.location = ...`.

[2020-01-22 13:18] DininduKanchana commented on #789
Hi. I also faced the same issue and found a working solution from [npm form-data](https://www.npmjs.com/package/form-data)
`const FormData = require('form-data');

const form = new FormData();
form.append('a', 1);

fetch('https://httpbin.org/post', { method: 'POST', body: form })
    .then(res => res.json())
    .then(json => console.log(json));

// OR, using custom headers
// NOTE: getHeaders() i

[2020-01-22 14:54] slaout commented on #2613
I cannot find any *blocking* use case.

If you fix it for 1.0, here are more toughts, as we ran accross an interesting edge-case:

According to [json.org](json.org), a valid JSON payload is one of these seven values:

* object => { example: true }
* array => [ 42, 43 ]
* string => "foo"
* number => -42
* "true" => true
* "false" => false
* "null" => null

We should be able to send -42 as applicati

[2020-01-22 14:55] Cancellara commented on #2684
Ok, thank you very much textbook, it works!

I will continue investigate if its possible to take the response parameters.

[2020-01-22 15:01] chinesedfan commented on #1804
Tracking in https://github.com/follow-redirects/follow-redirects/issues/125.

@yasuf @Alanscut And I am curious why `follow-redirects` is locked to 1.5.10 in https://github.com/axios/axios/pull/2570.

[2020-01-22 15:59] aishwarya4shrestha commented on #318
` handleSubmit = (e: any) => {
    e.preventDefault();
    const data = new FormData();
    data.append('product_csv', this.state.csvfile);
    let accessToken = localStorage.getItem('access_token');
    axios
      .post('/upload', data, {
        headers: {
          'Content-Type': 'multipart/form-data',
          Authorization: accessToken
        }
      })
      .then(res => {
        consol

[2020-01-22 16:03] aishwarya4shrestha commented on #318
You can do it in this way :
handleSubmit = (e: any) => {
  e.preventDefault();
  const data = new FormData();
  data.append('product_csv', this.state.csvfile);
  let accessToken = localStorage.getItem('access_token');
  axios
   .post('/upload', data,
      { headers:
         { 'Content-Type': 'multipart/form-data', Authorization: accessToken }
  })
   .then(res => {
         console.log('res', r

[2020-01-22 19:06] hussainhammad commented on #1139
Actually axios [interceptor ](https://github.com/axios/axios#interceptors)can do the trick. I faced same scenario where json payload contained `undefined `or `null `values to be passed to an API as empty string.

I added an interceptor as below snippet. This also works for nested object ;) thanks recursion!

[code]

[2020-01-22 20:18] #2593 closed

[2020-01-23 09:04] chriseyre2000 commented on #2288
Please can we have more details on how to fix this.

[2020-01-23 12:21] SergeyKurdyukov commented on #1945
I get this error if  `Authorization` header of a request contains non-ASCII symbols.

[2020-01-23 13:07] textbook commented on #2686
That's down to the _browser_, surely? That's what's actually making the request, I don't think Axios has any control over that. Also please edit the profanity out of your issue, just outline the actual _problem_.

[2020-01-23 15:02] #2684 closed

[2020-01-23 17:23] AlphaGeek commented on #2223
I am using 0.19.2 and am still seeing this issue

[2020-01-23 18:05] rkdmen commented on #2223
@Alanscut might want to reopen this issue.

[2020-01-23 18:39] AlphaGeek commented on #995
I have the same issue and I am attaching the interceptor to the instance that is returned by create() as suggested by Alexandre-Georges.  I am using 0.19.2.

[2020-01-23 18:52] fabriciobraga commented on #1195
After few days and trying all the previous options... I still have no success on solve the problem.

What we have, in fact is:

- The Axios 'post' method doesn't work as documented;
- Execute a simple 'post' call to a REST service became a hell, using Axios;

I just can't believe it's serious... sorry but I'll be back to use another API. Goodbye Axios.

[2020-01-23 23:54] NinoSoles opened #2687 "Axios not posting correctly even tho form data and url is correct"
**Describe the issue**
Im trying to post form data to a url and it gives me a 400 status code. However, the post seems to go through as i get the desired landing url page in the error config. Im not sure if axios is unable to handle the redirect as the url in the error config is the desired url. If I don't put querystring.stringify(shippingInfo) it gives me a 404 Status Code. I double checked to m

[2020-01-24 02:30] tukno commented on #2190
Same problem here using `axios@0.19.2`. Using interceptors as a workaround.

[2020-01-24 05:59] NinoSoles commented on #2687
Seems to be a axios issue, I did the same process with requests-promise and it works. Not sure what the issue is on axios

[2020-01-24 15:32] chinesedfan commented on #1616
Closed in favor of #2190.

[2020-01-24 15:32] #1616 closed

[2020-01-24 15:33] chinesedfan commented on #2645
Closed in favor of #2654.

[2020-01-24 15:33] #2645 closed

[2020-01-24 15:38] chinesedfan commented on #2297
Similar with https://github.com/axios/axios/issues/2654#issuecomment-573461498.

[2020-01-24 15:38] #2297 closed

[2020-01-24 15:41] chinesedfan commented on #2087
Really upstanding your concern. You can push in the original issues/PRs.

[2020-01-24 15:41] #2087 closed

[2020-01-24 19:01] gre commented on #2645
That issue also mentioned issue with custom headers which is not mentioned in #2654 but is probably in context of jsdom / mock

[2020-01-24 21:40] tpower455 opened #2688 "LubeTube"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-24 21:42] #2688 closed

[2020-01-24 22:07] jtrainaldi commented on #1934
I tried the custom parameters with 0.19.2 and it does not work.

`await axios({
    method: 'get',
    url: 'v1/userDetails',
    params: { userName: userName },
    showGlobalDialogError: true,
  })`

I am unable to read the showGlobalDialogError in the interceptors

[2020-01-25 04:47] chinesedfan commented on #2645
@gre Would you mind setting your axios adapter explicitly as http adapter? Then check the extra custom headers error is still there or not.

[2020-01-25 04:51] chinesedfan commented on #1934
@jtrainaldi Confirmed again it works. If you insisted, please open a new issue with required sample Runkit link. Thanks.

[2020-01-25 06:43] Withsky0927 commented on #2326
Same problem.
 I am using axios with vanilla javascript, axios sending random diplicate request using POST and DELETE. how we can fix this? It's a real headache.

[2020-01-25 09:50] chinesedfan commented on #1086
Closed due to stale and no one proves with a replicable code sample. If someone persist it is an issue of axios, feel free to open a new issue. Thanks.

[2020-01-25 09:50] #1086 closed

[2020-01-25 10:00] chinesedfan commented on #1510
This is a long story, but seems to have been solved in #1605. See https://github.com/axios/axios/issues/1510#issuecomment-396894600.

If I misunderstood something, better to open a new issue with references to here. Thanks.

[2020-01-25 13:25] chinesedfan commented on #1694
Closed due to lack of enough information that proves it is an issue of axios. If someone still met problems with IE11, feel free to open a new issue following the issue template.

[2020-01-25 13:25] #1694 closed

[2020-01-25 13:35] chinesedfan commented on #1474
As far as I know, `responseType=stream` is not supported in the xhr adapter, including browsers and situations that users config it explicitly/implicitly. Closed in favor of #479.

[2020-01-25 13:35] #1474 closed

[2020-01-25 13:48] chinesedfan commented on #2326
Closed due to lack of enough information.

Friendly to remind similar users, let's open a new issue to describe your problem as detailed as you can, unless your problem is exactly the same with the thread author. It may looks like the same but totally different. And from readers' side, we can't learn something new from a simple reply that without replicable code example.

[2020-01-25 13:48] #2326 closed

[2020-01-25 13:50] chinesedfan commented on #2447
As @benjifin says, we have released 0.19.2 to revert the overkill patch in 0.19.1.

[2020-01-25 13:50] #2447 closed

[2020-01-25 13:55] chinesedfan commented on #1085
Closed as this is an old issue. Though some users agreed that it was solved, and some did not.

If you found more information and confirmed it was still a problem, please feel free to open a new issue.

[2020-01-25 13:55] #1085 closed

[2020-01-25 14:02] Omkaragrawal commented on #1743
Does using fs.createWiteStream() inside response.data.pipe closes the stream automatically when the download gets completed?

[2020-01-25 14:56] Shaker-Hamdi commented on #639
I had this issue as well, and throttling the connection solved it as @bledarhaxhia mentioned. so I don't think this is an issue with Axios.

[2020-01-25 15:10] chinesedfan commented on #1226
@nassimbenkirane has explained the original issue. But response interceptors are **NOT** called in reverse order.

@F-12 Interceptors can not be inherited from the global axios object. In fact, the global axios object is a simple instance that created in advance.

[code]

@AuthorProxy Your mistake is that `use` will return the interceptor id, instead of the interceptor instance.

[2020-01-25 15:10] #1226 closed

[2020-01-25 15:28] alex-jss commented on #535
**Node version**: 10.16.3
**Axios version**:  0.18.0 and 0.19.2

It doesn't work for me

[code]

`err`:
[code]

But works well on:
**Node version**: 6.9.1
**Axios version**:  0.18.0

How can I fix the error?

[2020-01-25 15:35] chinesedfan commented on #1743
Closed due to stale and not an issue. Friendly remind that `responseType: stream` works only for http adapter, which means in Node.js usually.

[2020-01-25 15:35] #1743 closed

[2020-01-25 16:50] alex-jss opened #2690 "Not ignored ssl certification"
**Node version**: 10.16.3
**Axios version**:  0.18.0 and 0.19.2

It doesn't work for me

[code]

`err`:
[code]

But works well on:
**Node version**: 6.9.1
**Axios version**:  0.18.0

How can I fix the error?

[2020-01-25 22:01] RubenVerborgh opened #2691 "Let's establish a closer relation with follow-redirects"
Hi axios maintainers,

I'm the maintainer of follow-redirects. According to npm numbers (https://www.npmjs.com/package/axios, https://www.npmjs.com/package/follow-redirects), more than half of follow-redirects usage goes via axios. That is also apparent from several [bug reports](https://github.com/follow-redirects/follow-redirects/issues?q=axios) I received (and which I'm very happy about).

So i

[2020-01-25 23:55] RubenVerborgh commented on #1804
`follow-redirects@1.9.1` will now emit such an error as an event, which should cause axios to catch it and reject that promise.

[2020-01-26 00:41] baconcheese113 commented on #2646
![image](https://user-images.githubusercontent.com/1386713/73129120-c40db400-3f99-11ea-92bd-c641ed3452e7.png)
I get this error after upgrading from `0.19.1` to `0.19.2`
`Unable to resolve module ./isValidXss from node_modules\axios\lib\helpers\isURLSameOrigin.js`

[2020-01-26 03:58] chinesedfan commented on #2646
@baconcheese113 It's a common error occurs in RN. Please reinstall all dependencies in node_modules and do some clean cache operations. If you think even a simple Node.js script will thrown such error, feel free to open a new issue with detailed information.

[2020-01-26 04:31] chinesedfan commented on #1386
The reason is that config.data has been changed in response interceptor, as well as my edited issue title. A workaround can be saving the original data in a customized field of the config.

[code]

[2020-01-26 04:31] #1386 closed

[2020-01-26 04:50] #1602 closed

[2020-01-26 05:09] #1705 closed

[2020-01-26 05:13] #1166 closed

[2020-01-26 05:14] #1847 closed

[2020-01-26 05:15] chinesedfan commented on #1630
This problem is caused by the mocked XHR. If you persist, make sure everything is mocked well.

[2020-01-26 05:15] #1630 closed

[2020-01-26 05:17] chinesedfan commented on #1811
Closed due to stale and not an issue of axios.

[2020-01-26 05:17] #1811 closed

[2020-01-26 05:43] maifeeulasad opened #2692 "ns.GetCommandSrc is not a function"
**Describe the bug**

When I'm connected to the internet, I get error saying `ns.GetCommandSrc is not a function`, but when I disconnect from the internet, everything works just fine.

**Expected behavior**
It should have worked when connected to internet

**Environment:**
 - Axios Version : ^0.19.0
 - OS : Win10
 - Browser : Chrome
 - Browser Version : 79
 - Additional Library Versions : "react":

[2020-01-26 06:57] badgamerbad commented on #509
yes, even I'm facing the same issue if I'm using the **_axios.delete_** with config _**withCredentials: true**_ and CORS enabled on the backend server with a different domain,

All though I'm explicitly setting the cookies in response headers which I can see in network tab, these are not sent later when I make _**axios.delete**_ request

    axios.delete(
		process.env.GATSBY_URL_DELETE_FILE,
		{

[2020-01-26 06:59] chinesedfan commented on #1548
As @Connect-a recommended, axios can't handle everything by default, so users need to implement their own `paramsSerializer`.

[2020-01-26 06:59] #1548 closed

[2020-01-26 07:02] chinesedfan commented on #2367
Hi guys, I noticed http2.0 in the screenshot. I don't know axios supports it now. See #1175.

[2020-01-26 07:17] chinesedfan commented on #2232
I can say the answer is yes, as long as your webpack is config correctly.

More help can be seek from webpack's community or stackoverflow. Closed due to not an issue of axios.

[2020-01-26 07:17] #2232 closed

[2020-01-26 07:36] chinesedfan commented on #1168
@janober If you inspect the sample request in Chrome's network panel, you will see ERR_CONNECTION_RESET, instead of 404. That's means the browser failed to connect the server. So there is no response at all.

[2020-01-26 07:36] #1168 closed

[2020-01-26 08:09] chinesedfan commented on #1467
Closed due to lack of enough information. Maybe you can elaborate "the transfer of the data parameter is not valid".

[2020-01-26 08:09] #1467 closed

[2020-01-26 08:12] chinesedfan commented on #1499
Closed due to stale and lack of enough information. If you can provide sample codes, that would be really appreciated.

[2020-01-26 08:12] #1499 closed

[2020-01-26 08:15] chinesedfan commented on #1829
Make sure your server returns a different url in the Location header. If not, it will result in infinite redirections.

[2020-01-26 08:15] #1829 closed

[2020-01-26 10:00] BrunnerLivio commented on #1965
The Googleapis organization has started a new project called [gaxios](https://github.com/googleapis/gaxios)

The reason why from issue [googleapis/gaxios#81](https://github.com/googleapis/gaxios/issues/81)

I understand the motivation behind Googleapis team, though I feel like it is not a good idea to create a new library which are so similar {insert xkcd comic}. May we can find common ground here

[2020-01-26 10:01] polyglotm commented on #2288
@chriseyre2000 in our case the problem was some 3rd party library was override `toJSON`.
we eliminate that library

[2020-01-26 11:26] alex-jss commented on #2690
The only thing that helped me was to add before the call
`process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";`

[2020-01-26 11:26] #2690 closed

[2020-01-26 11:29] alex-jss commented on #535
#2690

[2020-01-26 11:32] alex-jss commented on #2690
#535

[2020-01-26 12:52] Ouael-Ben commented on #383
The Error still Exist , if any anybody has a solution for this issue Share with us please.

[2020-01-26 22:56] xGuIInE commented on #2686
Yeah... exactly... it´s impossible to make the request throught the browser...
So I have to create a native android app only for send that request... haha
Thank you!

[2020-01-26 22:56] #2686 closed

[2020-01-27 04:21] xyphers101 commented on #2190
Still getting same issue with  axios@0.19.2. Downgrade axios to make it work.

npm install --save axios@0.18.1

[2020-01-27 06:41] kordeviant commented on #2203
please reopen exists in 0.19.2

[2020-01-27 08:43] ayophanz opened #2693 "Uncaught TypeError: Cannot read property 'defaults' of undefined"
**Describe the issue**
This is laravel and vue webapp, after I updated my axios from 0.19.0 to 0.19.2 I got that error

**Example Code**
Code snippet to illustrate your question

[code]

**Expected behavior, if applicable**
Expected with no errors in console

**Environment:**
 - Axios Version [0.19.2]
 - OS: [windows 10]
 - Browser [brave]
 - Browser Version [brave latest version]
 - Additional Li

[2020-01-27 09:18] ayophanz commented on #2693
I SOLVED by terminated npm run watch and re-run again

[2020-01-27 09:23] dollock opened #2694 "Interceptors stopped using axios.defaults.headers"
We update axios from 0.18.1 to 0.19.1 and axios interceptors stopped using correctly axios.default.headers, we had to set it for interceptors manually.

For 0.18.1:

[code]

For 0.19.1:

[code]

In 0.19.1 version after refresh token interceptors doesn’t use updated axios.default.headers and continue using previous token

[2020-01-27 09:59] ayophanz commented on #2694
Hi, I have the same problem, to solve please terminate your npm watch and re-run again.
https://github.com/axios/axios/issues/2693

[2020-01-27 09:59] #2693 closed

[2020-01-27 10:34] vidorifaldy commented on #960
(set for global)

in the main.js

import axios from 'axios'

var instance = axios.create({

    validateStatus: function (status) {
        return status < 600; #you can change this with another value
    }
});

or
(set fot particular)

axios.post('/formulas/create', {
       name: "",
       parts: ""
}, {
            validateStatus: function (status) {
              return status < 600; // Rejec

[2020-01-27 10:42] vidorifaldy commented on #1143
(set for global)

                                            in the main.js

import axios from 'axios'

var instance = axios.create({

validateStatus: function (status) {
    return status < 600; #you can change this with another value
}
});

                                               or

Axios.defaults.validateStatus = () => {

    return true;
};

[2020-01-27 11:01] chinesedfan commented on #1932
Closed in favor of #1819. Would you mind adding a reproducible example there?

[2020-01-27 11:01] #1932 closed

[2020-01-27 11:30] chinesedfan commented on #1476
Closed in favor of #2190.

[2020-01-27 11:30] #1476 closed

[2020-01-27 11:33] chinesedfan commented on #1445
See https://github.com/axios/axios/pull/1482#issuecomment-578027382.

[2020-01-27 11:33] #1445 closed

[2020-01-27 13:20] jtrainaldi commented on #1934
@chinesedfan
Seems like I am not the only one who is experiencing this issue.  Maybe the documentation is not complete but if I add a custom attribute to the config object where can I retrieve it from the interceptor.

https://github.com/axios/axios/issues/2203#issuecomment-578612164

[2020-01-27 14:10] dollock commented on #2694
I terminate npm run watch and restart again, but it didn't solve the problem

[2020-01-27 14:15] jtrainaldi commented on #1934
@chinesedfan I confirmed it is working now.  The issue was with my cached docker image.  'docker system prune' fixed it.

[2020-01-27 15:29] chinesedfan opened #2696 "Confusion between `maxContentLength` and `maxBodyLength`"
Backgrounds,

- `axios` has a config option called `maxContentLength`, which means the max response content size.
- And `follow-redirects` provides another option called `maxBodyLength`, which means the max request body size.

I don't think they are the same. So why did we connect them in #1286?
(cc @mividtim @RubenVerborgh @emilyemorehouse)

[code]

I guess we need design a new option called `max

[2020-01-27 15:36] chinesedfan commented on #1362
I have made #2695 to confirm that the error is handled, and #2696 to track further plans.

[2020-01-27 15:36] #1362 closed

[2020-01-27 15:47] chinesedfan commented on #1819
Closed in favor of #2623.

[2020-01-27 15:47] #1819 closed

[2020-01-27 15:51] chinesedfan commented on #2692
Can you paste your source codes that related to axios?

[2020-01-27 15:54] chinesedfan commented on #2687
Please check **url** and **request headers** and comparing with other ways when you can get the right response. You can get them from Chrome's network panel.

[2020-01-27 16:13] chinesedfan commented on #2694
@dollock Can you follow the issue template with actual/expected? A reproducible code script is better.

[2020-01-27 16:17] chinesedfan commented on #2633
Duplicate of #1981. Can you check v0.19.1?

[2020-01-27 16:17] #2633 closed

[2020-01-27 16:25] AuthorProxy commented on #2694
Same problem, after upgrading to ^19, interceptor use first setted default header, and doesn't overwrite it again.

[2020-01-27 16:28] chinesedfan commented on #2694
@AuthorProxy Your problem seems to the same with #2623. Friendly remind, show me the code. :P

[2020-01-27 17:04] snawaz commented on #2034
@moyid :

Could you please elaborate on this a bit more? Or url to an example would be great help. 😄

[2020-01-27 19:08] T00rk opened #2697 "interceptor.response never triggered"
I've set an interceptor on response. It is supposed to be triggered whenever there is a response or an error. The aim is to be able to catch the API error message and show it to the user.
It seems to not work.

**To Reproduce**

Create an `HTTPService.js` file as below. Have an Express server that returns a status code which is different from 200 and call it using `HTTPService.get` or `HTTPService

[2020-01-27 19:11] tsega commented on #1195
@fabriciobraga I was trying to figure out why this was happening in my application as well. I spent the entire day scouring the Internet for the solution. However, I found out that it was a very simple issue. My user create `action` looked like this at first:

[code]
The `user` parameter there is an object containing the `email` and `password` of the new user. I tried to `console.log` the user obj

[2020-01-27 22:39] RubenVerborgh commented on #2696
I confirm that they are not the same.

follow-redirects has a `maxBodyLength`, because it needs to buffer the request body entity in memory for cases where a `POST` or `PUT` request results in a redirect.

[2020-01-28 02:27] dotorimook opened #2698 "way to get request/response header's cookie?"
**Describe the issue**
I want to get cookie information from request/response.
I had tried to use request/response interceptor, but the value of `headers['Cookie']`  or `headers['set-cookie']` is `undefined`.
`document.cookie` is also `undefined`.
I can find a cookie in request header with browser like this though:
[code]
Is there any way to get cookie with request/response header?

**Example Code

[2020-01-28 04:06] chinesedfan commented on #2697
Please try to customize `config.validateStatus` to consider 404 as valid status code.

[2020-01-28 04:06] #2697 closed

[2020-01-28 04:12] chinesedfan commented on #2698
It seems that your cookie is HttpOnly, which means can't be visited by Javascript. See [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies). You can confirm that by Chrome's Application panel: Storage -> Cookies.

[2020-01-28 04:12] #2698 closed

[2020-01-28 04:19] chinesedfan commented on #2672
@creatxrgithub I don't think axios has the same session thing. And your problem seems to be similar with #2623.

Well, the key point is to find out what headers you expect and what headers axios sends actually. If possible, provide a tiny reproducible example would be better.

[2020-01-28 04:33] chinesedfan commented on #2546
Solved by #1904 and released to 0.19.1 yet.

[2020-01-28 04:33] #2546 closed

[2020-01-28 05:09] chinesedfan commented on #2472
Closed in favor of #2455.

[2020-01-28 05:16] chinesedfan opened #2699 "Remove unnecessary setTimeout in test files"
There are lots of `setTimeout` in our tests. Some are unnecessary, i.e.

[code]

[2020-01-28 08:52] benb1983 commented on #647
This still isn't fixed in 0.19.2 btw...

[2020-01-28 08:56] Amosss opened #2700 "axios and array parameters"
I'm using axios with quasar/vue.
`axios.post(this.serverUrl, null, {params: {blah: "test"}}`
params are 3rd parameter. I saw it should be 2nd but when it was, I got the following:

When it's the 3rd parameter all was good.

All was good until I needed to pass an array of jsons, for example:
`var info = [{name: "test", age: 40},{name: "tester", age: 50}]`
No matter what I tried, including using qs:

[2020-01-28 08:56] benb1983 commented on #1739
+1 this is big problem

[2020-01-28 16:05] rkdmen opened #2701 "[BREAKING @ 0.19.2] Header null value becomes [object Object]"
**Describe the bug**
sending header with null value becomes [object Object].

This wasn't an issue before 19.0.

**To Reproduce**
Should send as null.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment:**
 - Axios Version [0.19.2]
 - OS: [ OSX 10.15.2]
 - Browser [Chrome]
 - Browser Version [79.0.3945.130] Latest
 - Additional Library Versions [Re

[2020-01-28 16:06] rkdmen commented on #2223
Reopened #2701

[2020-01-28 16:25] chinesedfan commented on #2701
Yes, it is still there. Closed in favor of #2567.

[2020-01-28 16:25] #2701 closed

[2020-01-28 16:32] chinesedfan commented on #2700
CORS problem. If you are not familiar with it, you can read something from [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS).

It is not an issue of axios, so I will close it.

[2020-01-28 16:32] #2700 closed

[2020-01-28 16:39] Amosss commented on #2700
If it's CORS related, how come other requests are working fine?
I think it's something to do with the parsing of the array.
Either a something to fix or something I should know how to do better, thus my question.
I opened this ticket as usage question, I hope this will be re-opened.

[2020-01-28 16:55] chinesedfan commented on #2700
Sorry, it's impossible for maintainers to ask every usage question, unless users proved that really something wrong in axios. We suggest users ask similar questions in [stackoverflow](https://stackoverflow.com), instead of Github issues. Thanks.

[2020-01-28 17:05] Amosss commented on #2700
Thank you for replying.

As I wrote in my original post (+relevant code) I did use qs (which is axios) and even used a parsing method and still something is broken. I didn't develop axios so I don't know whether it's because axios is broken or because I did something wrong. That's why I put my question here, so people who actually know axios will tell me - hey man, you broke it because X Y Z, just

[2020-01-28 17:13] chinesedfan commented on #2700
Really understand. I can point some directions for you, but can't guarantee covering everything and giving you the exact answer. Hope they can help you.

- CORS. Make sure you know what it is and how to solve it.
- params vs data. What are differences between these 2 config options?

[2020-01-28 17:15] Amosss commented on #2700
Thanks!!
Just one more hint for me to explore:
params is the second parameter of axios (after url)
data is the 3rd one?
Please explain me this and I'll go my way...
Again, thanks a lot! I appreciate it!

[2020-01-28 17:27] chinesedfan commented on #2700
[code]

Seems that you make them the wrong order. Params are in the config, which is the 3rd. And data is the 2nd.

But I think your biggest problem is CORS. Forgive me I can't explain it clearly for you and hope you can learn it by yourself. And really do not push you away at all.

[2020-01-28 20:59] Amosss commented on #2700
Thanks, I'll continue from here and I appreciate your help.

I was just wondering how come the params work from the 3rd parameter while from the 2nd it didn't. I'd expect it to fail from the 3rd parameter as well.

Anyway, I will look into CORS now...

[2020-01-28 22:47] Amosss commented on #1195
Having the same problem apparently
`axios.post("api", { API: 1, version: "0.1b"...})....`
Results with empty API and version when reaching my Java rest server.

[2020-01-28 22:52] Amosss commented on #2700
There's a twist in the story. I fixed the CORS, changed the params to the 2nd parameter and this is what happened:
https://github.com/axios/axios/issues/1195

Pasting it here as well:
axios.post("api", { API: 1, version: "0.1b"...})....
Results with empty API and version when reaching my Java rest server.
When sending it as the 3rd paramter, ie
axios.post("api", null, { params: {API: 1, version: "

[2020-01-28 23:19] Number77asa commented on #1836
See axios official documentation or atleast this guide worked for me:
https://codingthesmartway.com/getting-started-with-axios/

axios
        .get('http://localhost:8000/api/leads/', {
            params: {
                id: id
            }
        })

[2020-01-29 02:04] jinn-k commented on #606
Use Access-Control-Expose-Headers.

For example in NodeJS.
cors({
        origin: [
            "http://localhost", "http://localhost:8080", "http://localhost:8081",
            "*"
        ],
        credentials: true,
        exposedHeaders: ['Access-Control-Allow-Origin', 'Vary', 'Content-Length']
    })

But, Set-Cookie header might not work.

Reference
- https://www.npmjs.com/package/cors#con

[2020-01-29 04:09] chinesedfan commented on #2700
From the axios side, both of your usages are valid. So it depends on which one your server expects. Looks like it is the second one. As I said from the beginning, nothing wrong is in axios.

[2020-01-29 05:28] chinesedfan commented on #1195
This is one of the most commented and opened issue. Believe me that I have read every comment in this thread. Lots of users got confused how to post data by axios. Someone gave their hits or conclusions and new users missed their directions again.

Remember that axios is only a request client. **If you didn't see the expected response, check whether things that axios sends match what the server ex

[2020-01-29 06:06] vtkumaresan commented on #1486
is that resolved ? can some one give the solution for this.

[2020-01-29 06:15] Amosss commented on #2700
You told me that my problem is CORS and now it seems that CORS was never my problem.
So now I'm back to square one: How can I send my array information? When sending simple values {name: "test"} it works, when sending
[code]
I get CORS. If my problem was CORS, I'd get an error also with the first/simple send...

[2020-01-29 09:56] chinesedfan commented on #2699
@yasuf I came up with a kind of explanation that it makes sure `done` will be called within 100ms, no matter whether `axios.get` is succeed or failed. Though you may think writing in a `then` next to `catch` can also achieve that, the current CI runs in about 2 mins, which means the time is not an emergency to consider.

[2020-01-29 17:37] luisfuertes commented on #2623
+1

[2020-01-29 20:04] Amosss commented on #2700
OK, as I thought, the problem was not CORS. The following is working except for the array param but this time it is related to the parsing of the array

`axios.post(this.serverUrl, null, {data: {version: "0.1b", command: "test", data: this.user.info}, transformRequest: [(data, headers) => {return qs.stringify(data);}], headers: { 'Content-Type': 'application/x-www-form-urlencoded' }}
`

this.user.

[2020-01-29 21:54] islam-abdo commented on #2559
May you please illustrate more or give a simple example on how to implement that

[2020-01-30 01:24] AleksueiR commented on #2447
We ran a Fortify scan and there were no issue. Thanks! 👍

[2020-01-30 04:06] jyamajala commented on #2447
@snoopysecurity @dominykas  Can you help me understand how did you come to a conclusion that it is not an issue. That is that it is not exploitable as the element never ends up in DOM?

[2020-01-30 04:43] nyitnyitnet commented on #2618
Jack tk j":

[2020-01-30 09:17] chinesedfan commented on #811
Here are my conclusions,

- Most users complained that the response is parsed as json, even thought `responseType: text` has been set. #375, #765, #907
- Clarity in document that how the default `responseType: json` is achieved. #724
- Mention situations to set as `blob` or `arraybuffer`. Maybe a link to the original `responseType`. #448, #793

[2020-01-30 10:00] chinesedfan commented on #1965
Share a personal story and some news for users in this thread,

- I noticed the situation of axios like you guys in Feb 2019 and triaged about 30 issues+pulls.
- Got no responses from the maintainers and felt a little disappointed. But still kept an eye on it.
- Luckily, I was invited as a collaborator in Dec 2019. That started my issue killer time. Total issues have decreased from ~600 to less th

[2020-01-30 15:46] marcosrd91 commented on #1723
I have the same error
 :(

[2020-01-30 15:51] dudiharush commented on #516
To make it easier to cancel multiple request, i created [axios-tx](https://www.npmjs.com/package/axios-tx)

[2020-01-30 16:10] revmischa commented on #1910
How can one do this in TypeScript? I get the following error:
[code]
According to Axios types it doesn't have to be an array.

[2020-01-30 16:13] gwuah commented on #1739
@benb1983 Can you give an example of how to implement that with `CancelToken` ?

[2020-01-30 21:07] GunnarPDX opened #2703 "devise_token_auth : Axios formatting and Rails controller validation?"
**Describe the issue**
What is the propper formatting for axios headers and authentication within rails controllers?  My app seems to be handling authentication properly on the backed, atleast login and registrations but furthur requests fail to authenticate for `user_signed_in?`.  I think the issue is with my axios requests but not positive as I am very new to this.  Could someone take a quick lo

[2020-01-30 21:38] GunnarPDX commented on #2703
Meant to post this in the devise_token_auth repo so this issue can be closed, may still be relevant here though.

[2020-01-31 02:32] #2703 closed

[2020-01-31 08:16] quantumlink opened #2704 "Support for `last-modified` header?"
I'm not seeing anything in the code-base that would indicate `last-modified` is implemented, but I'm not sure. If not then I suppose this is more of a feature request.

Things like https://tools.ietf.org/html/rfc7232#section-3.3 `if-modified-since` from the client and handling `last-modified` from the server to short-cut the view-processing.

Or is this just expected to be done manually?

Thanks f

[2020-01-31 10:26] nicotp80 opened #2705 "Headers response is empty (how read value from custom header response)"
I to all. i'm new with axios worl, i'll try to use to consume an asp net core API. So for example i need to call a route that with appropriate parameter send in response header property "X-Token" the token for next api call.

axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: 'myUrl',

[2020-01-31 12:26] rrdlpl commented on #2098
[code]

[2020-01-31 13:16] chinesedfan commented on #1140
Closed due to stale and lack of enough information.

[2020-01-31 13:16] #1140 closed

[2020-01-31 13:18] chinesedfan commented on #1146
Noticed that it was a HEAD request and closed in favor of #2665.

[2020-01-31 13:18] #1146 closed

[2020-01-31 13:28] chinesedfan commented on #2133
Check the response of your first DELETE request in the browser's network panel. Did a redirect status code (like 302) there? With the response header "Location"?

[2020-01-31 13:29] chinesedfan commented on #2115
Closed due to lack of enough information.

[2020-01-31 13:29] #2115 closed

[2020-01-31 13:33] chinesedfan commented on #2043
Closed due to stale and lack of enough information.

[2020-01-31 13:33] #2043 closed

[2020-01-31 13:55] chinesedfan commented on #2078
Sorry, here is an open source library with the same name, instead of the real owner of https://www.axios.com/.

[2020-01-31 13:55] #2078 closed

[2020-01-31 14:08] Polapan commented on #2078
After change password Session not expire
Thanks

On Fri, Jan 31, 2020, 7:55 PM Xianming Zhong <notifications@github.com>
wrote:

[2020-01-31 14:10] chinesedfan commented on #2029
Closed due to lack of enough information.

[2020-01-31 14:10] #2029 closed

[2020-01-31 14:57] #1455 closed

[2020-01-31 15:12] chinesedfan commented on #1516
Closed in favor of #61.

[2020-01-31 15:12] #1516 closed

[2020-01-31 15:18] chinesedfan commented on #1500
Closed in favor of #2434.

[2020-01-31 15:18] #1500 closed

[2020-01-31 15:28] #1150 closed

[2020-01-31 15:31] chinesedfan commented on #1104
Closed in favor of #1139.

[2020-01-31 15:31] #1104 closed

[2020-01-31 15:33] chinesedfan commented on #1149
Closed due to no feedbacks.

[2020-01-31 15:33] #1149 closed

[2020-01-31 15:42] chinesedfan commented on #1641
Closed in favor of #2567.

[2020-01-31 15:42] #1641 closed

[2020-01-31 15:46] chinesedfan commented on #1614
Interesting proposal. But we suggest users to achieve similar APIs by interceptors or their own wrapper.

[2020-01-31 15:46] #1614 closed

[2020-01-31 15:48] chinesedfan commented on #1599
Closed in favor of #1237.

[2020-01-31 15:48] #1599 closed

[2020-01-31 15:51] chinesedfan commented on #1533
Closed in favor of #1885.

[2020-01-31 15:51] #1533 closed

[2020-01-31 20:17] KBiswas98 commented on #1608
1. change from **localhost** to your **ip**
2. add **http://**

http://192.168.43.49:3000/user/

[2020-01-31 20:17] KBiswas98 commented on #751
1. change from **localhost** to your **ip**
2. add **http://**

http://192.168.43.49:3000/user/

[2020-01-31 20:18] KBiswas98 commented on #973
1. change from **localhost** to your **ip**
2. add **http://**

http://192.168.43.49:3000/user/

[2020-01-31 20:18] KBiswas98 commented on #2439
1. change from **localhost** to your **ip**
2. add **http://**

http://192.168.43.49:3000/user/

[2020-01-31 21:15] KBiswas98 commented on #1552
`.catch((error) => console.log(**error.response.request._response**) );`

`    await axios
      .post('http://192.168.43.49:3000/user/login', {
        phone_no: this.state.phone_no.value,
        password: this.state.password.value,
      })
      .then(function(response) {
        console.log(response.headers['auth-token']);
        localStorage.setItem(
          'session',
          JSON.stri

[2020-01-31 22:42] otaviobps opened #2706 "onUploadProgress won't display correct loaded prop"
**Describe the bug**

When displaying a progress bar for a file upload, using the `onUploadProgress`, the `loaded` prop is always the total size of the file.

**To Reproduce**

Trying to implement the upload like this:

[code]

However `progressEvent.loaded` is always the total size of the file, resulting in always 100% loaded, even when the upload starts.

**Expected behavior**

Expected behavior

[2020-01-31 22:58] DPOLocalAaronO commented on #2190
Having this issue as well. Please fix

[2020-01-31 22:59] miroshnik commented on #2190
some kind of endless drama

[2020-01-31 23:10] cvalmonte opened #2707 "axios.isCancel() not recognizing cancelation error"
**Describe the issue**
I have a component that initiates multiple requests to an API. If the user makes any subsequent requests to the same API before the server replies, previous calls are canceled. This works as expected. However, once a request gets canceled, an error is thrown, and axios doesn't correctly detect it is a cancel error (via `axios.isCancel(error)`)

EXAMPLE:
1. Make API request,

[2020-02-01 02:19] sammy007 commented on #2013
OMG. 1 year of jerking with it.

[2020-02-01 07:45] chinesedfan commented on #2320
Closed in favor of #2696.

[2020-02-01 07:45] #2320 closed

[2020-02-01 07:56] chinesedfan commented on #2339
Non-string values will be converted to strings for network transmission. It is not done by axios' adapters, like XHR or Node.js http package.

[2020-02-01 07:56] #2339 closed

[2020-02-01 08:34] chinesedfan commented on #1397
You have already got the expected response. And the extra download feature is out of the scope of axios. [stackoverflow](https://stackoverflow.com) or Firefox's forum may be a better place to find answers.

[2020-02-01 08:34] #1397 closed

[2020-02-01 08:39] chinesedfan commented on #1830
Closed due to lack of enough information.

[2020-02-01 08:39] #1830 closed

[2020-02-01 08:42] chinesedfan commented on #1803
Closed due to stale. If you still have the problem, feel free to remind me with detailed information.

[2020-02-01 08:42] #1803 closed

[2020-02-01 08:55] chinesedfan commented on #2283
Can you show the reproducible codes?

[2020-02-01 09:03] chinesedfan commented on #2286
Sorry, codes in your images are not very clear. Can you paste again, with the detailed request/response headers and related codes?

[2020-02-01 09:06] chinesedfan commented on #2253
Closed due to no feedback. Looks like a typo problem.

[2020-02-01 09:06] #2253 closed

[2020-02-01 09:08] chinesedfan commented on #2237
It depends on users to maintain different cancel tokens for different requests. Or try other 3rd libraries wrapped on axios.

[2020-02-01 09:08] #2237 closed

[2020-02-01 09:14] chinesedfan commented on #1766
Closed due to no feedback. For later users, make sure you have config your webpack correctly, i.e. target = node or something else.

[2020-02-01 09:14] #1766 closed

[2020-02-01 09:43] chinesedfan commented on #2707
Hi, what `error` did you get? And how did you know the request was cancelled before sending? Can you see the request in the browser's network panel?

[2020-02-01 09:53] chinesedfan commented on #2704
That is implemented by the browser. If you are expected in the server side, it requires users to handle the cache manually.

[2020-02-01 09:53] #2704 closed

[2020-02-01 10:02] chinesedfan commented on #2705
Which side did you run your codes? The browser or in Node.js? If you are using CORS, make sure the server responded with Access-Control-Expose-Headers. See more in #1946.

[code]

[2020-02-01 10:06] chinesedfan commented on #2629
Hi, I don't see any differences between them. Because they use the same codes, lib/helpers/buildURL.js. Can you provide a sample test code?

[2020-02-01 10:13] chinesedfan commented on #2273
Can someone paste the expected format?

[2020-02-01 10:19] #2359 closed

[2020-02-01 14:57] rodrigopedra commented on #2133
Browser follows the redirect before handling to axios. When using PUT, PATCH and DELETE methods the redirect should return a 303 (see other) status so the browser follows the redirect using a GET request.

From this MDN page:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/303

[2020-02-01 15:15] rodrigopedra commented on #2133
More info here: https://github.com/axios/axios/issues/932#issuecomment-307390761

[2020-02-01 17:27] ihaseebkhan commented on #1827
Having same issue, any solutions yet?

[2020-02-02 17:14] mssct-1999 commented on #2430
Same problem for me too...

[2020-02-02 18:20] maifeeulasad commented on #2692
@chinesedfan the code below is responsible for fetching and loading this component...
[code]

[2020-02-02 20:13] JustinBeckwith commented on #2587
Greetings folks!  Just adding a little more data - we're getting customer reported issues on this in [retry-axios](https://github.com/JustinBeckwith/retry-axios/pull/91) as well.

[2020-02-02 22:51] mmkal opened #2708 "Add interceptors to config"
**Is your feature request related to a problem? Please describe.**

Include `interceptors` as part of the config for an `AxiosInstance`.

**Describe the solution you'd like**
Make it so this works.

[code]

`client2` should have the interceptors from `client1`.

**Describe alternatives you've considered**

Right now, it's possible to copy interceptors manually, but it's non-intuitive and the types

[2020-02-03 02:16] cqq626 commented on #2629
`axios({
        method: 'get',
        url: 'http://127.0.0.1:8080',
        params: {
          data: "'test'"
        }
      });`
In Node enviroment, url will be `http://127.0.0.1:8080/?data='test'`.
In Broswer enviroment, url will be `http://127.0.0.1:8080/?data=%27test%27`.
XMLHttpRequest will do the transition automaticlly, while node http module won't.

[2020-02-03 04:01] chinesedfan commented on #2629
@cqq626 OK. Where did you check those urls? Did them cause your server failed to parse?

[2020-02-03 04:11] chinesedfan commented on #2692
See more from https://stackoverflow.com/questions/59893809/axios-post-request-not-sent-to-external-url-typeerror-ns-getcommandsrc-is-not.

[2020-02-03 04:11] #2692 closed

[2020-02-03 06:58] cqq626 commented on #2629
@chinesedfan In Node enviroment, I use Charles to check. In Broswer enviroment, I use Chrome develop tools. My server got failed in Node enviroment, but the reason should be my own server codes. It just tooks my too much time to locate this problem as my codes works well in Broswer enviroment.

[2020-02-03 07:59] #2705 closed

[2020-02-03 08:27] chinesedfan commented on #2629
You'd better check them by the same tool, like Charles. If there is nothing wrong in axios, I will close this issue now.

[2020-02-03 08:27] #2629 closed

[2020-02-03 12:45] thany opened #2709 "onUploadProgress (almost) immediately reports 100%"
**Describe the bug**
`onUploadProgress` event reports (almost) complete immediately, even though the file is clearly still uploading. I've already tried throttling the network in devtools. It's uploading to my local machine, but the browser shouldn't know that. It's a domain name that's linked to 127.0.0.1.

Im uploading a 9MB file that takes well over 20 seconds (throttled). Immediately after upl

[2020-02-03 18:48] cvalmonte commented on #2707
Ahh the error was coming from my axios interceptors.. works now! closing the issue

[2020-02-03 18:48] #2707 closed

[2020-02-03 22:34] fresidue opened #2710 "difference in timeout behavior between versions 0.18.1 and 0.19.0-2"
**Describe the bug**

Using axios version 1.18.0, running the following mocha test, where the timeout is specified, results with:
[code]
Using axios version 1.19.x, running the same mocha test would result with
[code]

**To Reproduce**
run with mocha
[code]
**Expected behavior**
that the behavior from 0.18.0 would be preserved

[2020-02-04 08:01] chinesedfan commented on #2710
Don't remember we changed something related to timeout. I saw it once in codesandbox and it can't be reproducible any more, no matter in local test or https://codesandbox.io/s/axios2710-bgphy. Can you confirm it is always the same result with different timeout values?

[2020-02-04 08:33] golubvladimir opened #2711 "How to return Promise.resolve in Interceptors on error ?"
How to return Promise resolve, when I have status 403 ?
[code]

[code]

[2020-02-04 09:00] golubvladimir commented on #2711
My solution, add to action header with `X-Action`

[code]

[code]

[2020-02-04 09:01] golubvladimir commented on #2711
How to fix it right ?

[2020-02-04 09:22] fresidue commented on #2710
Yes it is consistent for different values of timeout. However, the break in behavior seems to occur between 0.19.0 and 0.19.1 (i.e. the timeout value *is* respected for 0.19.0)

[2020-02-04 09:35] andrey-lazarev commented on #118
Had the same error with bootstrap form. `$form.on('submit', (event) => event.preventDefault()` solved the issue.

[2020-02-04 10:06] SyneticDevOps commented on #2235
@Alanscut Can you reopen this issue, since the bug still isn't solved?
Please close the ticket once the Merge Request has been merged.

Bug was introduced in #1689

[2020-02-04 10:39] benb1983 commented on #1739
@gwuah something like this...

`
let response = null
const source = axios.CancelToken.source()

        setTimeout(() => {
          if (response === null) {
            source.cancel()
          }
        }, 5000) // connection timeout here in ms (5 seconds)

response = await axios.post(this.authUrl, this.authData, {
        ...headers,
       cancelToken: source.token
      })

`

[2020-02-04 10:46] chinesedfan commented on #2710
@fresidue Can you provide the required information in the issue template? My codesandbox confirms your conclusion, which uses Node.js 10.17.0. But the local environment always works well.

[2020-02-04 11:11] chinesedfan commented on #2235
@Alanscut @SyneticDevOps According to #1689, it is not a bug, but a intentional change. If you want an out-of-box usage, you have to lock axios to ~0.18.0. Or you should add global btoa polyfill by yourself.

[2020-02-04 12:33] mosijava opened #2712 "can I have requset config in error if I cancel an axios request?"
**Is your feature request related to a problem? Please describe.**
the reason that I want this behavior is I have a react app which when a request intercepted by axios I'll show loadingBar in top of the page. and if the request is resolved or has an error the loading bar should disappear.

            reqMade = (conf) => {
                if (conf.headers.clientConfig.sendAuth) {

[2020-02-04 12:55] #2235 closed

[2020-02-04 14:19] golubvladimir commented on #2711
Use:
[code]

[2020-02-04 14:19] #2711 closed

[2020-02-04 16:47] thedamon opened #2713 "module.exports incompatibility with webpack"
When adding axios 0.19.2 to a component in our project (vue storybook.js built via webpack), the build works but on all pages are seeing the error:

`Cannot assign to read only property 'exports' of object '#<Object>'`
It is coming from the axios export code:

[code]

Inside component:

[code]

Downgrading to axios 0.19.0 fixes the issue

Since the previous minor version works, I would expect a pa

[2020-02-04 16:59] proIT324 commented on #2235
⚠️  I have still the same issue with axios. Today I installed the latest version of axios (v0.19.2), however, the btoa error is still alive. Is there any solution to resolve the issue?

[2020-02-05 03:17] martinduo commented on #1827
Having the same issue. Postman does work, axios doesn't. I wrote both server side and client side.
Server reduced to this dead simple code;

const httpTrigger: AzureFunction = async function(context: Context, req: HttpRequest): Promise<void> {
  if (req.body && req.body.name) {
    context.res = {
      body: { hello: 'bruce' }
    }
  } else {
    context.res = { status: 400, body: '{"Error":"Bad

[2020-02-05 09:22] akirilyuk opened #2714 "Axios ignores set-cookies from version 0.19.1"
**Describe the bug**
Since axios 0.19.1 all set-cookies headers are ignored.

**To Reproduce**
Perform a request that sets cookies.

If using curl or Axios v0.19.0, you should get all headers, including set-cookies headers.

**Expected behavior**
You should get ALL headers of the response.

**Actual behaviour**
All set-cookie headers are lost.

**Environment:**
 - Axios Version from 0.19.1
 - OS:

[2020-02-05 10:48] WillieOng-HK commented on #853
I have been struggle 3 hours, nothing change on client side, finally I added the following stuff on server:

install egg-cors ( for egg project only)

[code]

that's all

[2020-02-05 15:05] schankam commented on #1766
I'm getting the same error today, with no provided solution in a server environment. How are we supposed to handle this ?

[2020-02-05 18:07] jacargentina commented on #1793
@chinesedfan  any advance on this ?

[2020-02-05 18:22] alansarluv commented on #638
Thank you this is really help for quick fix development

[2020-02-05 19:14] Skanyi commented on #891
I had the same issue.
This Issues https://github.com/axios/axios/issues/969 helped me resolve the problem.

Ideally, the Axios post expects to have data passed as a parameter. Therefore, if you only pass URL and headers, the headers are treated as data. Pass a null option if you don't have data to pass to the post request.

`axios.post(url,
      null,
    headers)`

I'm now doubting if I need to

[2020-02-05 21:06] sabinasiddiqi opened #2716 "timeoutErrorMessage ignored and no message returned on timeout"
**Describe the bug**
While using axios in our application we noticed that it is almost impossible to determine when an axios error is caused by a timeout. The `AxiosError` is as follows:

[code]
There is no `message` in the error json (this might be caused by a scoping error in the `enhanceError` method [here](https://github.com/axios/axios/blob/097948698a057235140cc275504c12d5d20281b8/lib/core/en

[2020-02-05 23:11] David-dp- commented on #1250
I'm having the same problem when trying to PUT a range of bytes using Box.com's REST API.

The error trace is:
"message":"Request failed with status code 400","name":"Error","stack":"Error: Request failed with status code 400\n    at createError (/var/task/node_modules/axios/lib/core/createError.js:16:15)\n    at settle (/var/task/node_modules/axios/lib/core/settle.js:17:12)\n    at IncomingMessag

[2020-02-05 23:46] codebling commented on #891
Reposting summary of solutions & workarounds so they doesn't get lost in thread.

# TL;DR
Use `axios({method: yourMethod})` instead of `axios.yourMethod()`.
[code]

### Method signature reminder ([comment](https://github.com/axios/axios/issues/891#issuecomment-582565444))

Reminder: Don't forget that the signature for `axios.post`, `.put` and `.patch` requires `data` as the second parameter, so tr

[2020-02-06 01:48] rancerun commented on #2469
@msudgh

I'm interested in taking a look but I'm having trouble reproducing this.

Can you share the code you used?

[2020-02-06 07:01] xgqfrms commented on #960
# Axios & catch 500 error response data

[code]

[2020-02-06 11:54] ahmad3ttallah commented on #2235
@proIT324 the same for me !!

[2020-02-06 11:59] monal-sharma opened #2717 "Axios doesn't work with HTTPS when used within app.get() in server.js"
Issue:
I'm using my node server.js as a proxy to deal with CORS issues. I also want to it to perform GET request to another API. This API works on SSL certificates. This functionality does not work with axios.

**To Reproduce**
[code]

**Expected behavior**
I am looking for my react app to do an axios.get('http://localhost:3001'), which would add the CORS headers to the request and then run an axi

[2020-02-06 16:38] MahmudHamid commented on #2235
This issue still exist.

[2020-02-06 16:55] killerchip commented on #2654
Hmm... switching the test environment to "node", does not help when you test a react app. `jsdom` is needed for the tests to work that rely on browser environment.

[2020-02-06 17:16] killerchip commented on #2654
Here's how you can solve this. (If you don't test for CORS).

Have `nock` include `Access-Control-Allow-Origin` in the response.

[code]

[2020-02-06 19:08] christian-hess-94 opened #2718 "Is there a way to directly set response IP"
**Describe the issue**
I'm using axios to execute several request to a glassfish server running a java EE web service. The problem is that when the request is made from a mobile phone and it's made using a 4g connection that has ipv6 configured, the request takes a long time to return (around 3 minutes for about 1kb of data being transmitted). If it is done in an ipv4 environment, the response arr

[2020-02-06 20:56] yagodorea commented on #2406
Did someone find any solution for this? I'm facing exactly the same issue integrating with MercadoPago.

[2020-02-06 21:14] clar-cmp opened #2719 "Secret options in config"
**Describe the issue**
Right now, axios helpfully copies its config into all error messages. Unfortunately, if there is sensitive data in this config (e.g. API keys) this is also logged. There should be an easily accessible option to help prevent this, because most people won't bother to put in the effort for security. This use case is intended for node.js users, where consumers of the logs aren't

[2020-02-07 04:38] uythoang commented on #318
@Googrosh Brilliant, `.getHeaders()` got it working for me too. I can't tell you how many hours I spent on this. Thanks!

[2020-02-07 04:38] xgqfrms commented on #836
[code]

[2020-02-07 11:52] maxflex commented on #86
Reopen the issue

[2020-02-07 14:19] hanbz commented on #1197
Get the same problem.
In my code  I use the relative path like "/xxx/xxx/xxx.php"
And the page url is "https://xxx.xxx.xx/"
The axios send the request twice.
One time is the https and the other one is http.

[2020-02-07 16:26] alec-joy commented on #2709
I'm also experiencing this issue but I am not sure if it's an axios problem, it happens in chrome and firefox but it started happening after a recent windows update where I didnt update my js packages. I've tried downgrading all the way to version 17.0 and the bug is still happening but that version is older than the product I'm working on at the moment and progress events were working just fine u

[2020-02-07 16:56] alec-joy commented on #2709
@thany are you by any chance uploading files to box.com?

[2020-02-07 16:56] alec-joy commented on #2706
Are you uploading files to box.com by any chance?

[2020-02-07 17:16] otaviobps commented on #2706
@alec-joy, no, I'm uploading to my backend, then to aws

[2020-02-07 18:48] alec-joy commented on #2709
Something weird to note, if I use the chrome developer tools to manually throttle my network connection the progress events happen at the expected rate. It's only on an unthrottled network connection that it returns all the progress events at once.

[2020-02-07 20:06] efreibe commented on #2406
Please, use @doplic's solution. It's working for MercadoPago.

[2020-02-07 21:34] Leoguedesm1 opened #2720 "axios.delete still working after canceltoken triggered"
**Describe the bug**

time of setTimeout ends and it aborts delete axios call that triggers catch, but the data in database is deleted the same way.

**To Reproduce**

[code]

**Expected behavior**
data in database is not deleted

**Environment:**
 - Axios Version [0.19.2]
 - expo [36.0.0]
 - expo-cli [3.11.7]
 - React [16.9]
 - React Native [sdk-36.0.1]

[2020-02-08 00:25] markjackson02 commented on #2026
what if we want to pass cookies along? For example client sends request to server, and server needs to make an API call with the client's cookie? How to inject that cookie into axios?

[2020-02-08 04:11] SuEric commented on #1086
Having the same issue, posting an example while I was developing in my local environment.

I added both try-catch and promise.catch, try-catch doesn't but promise.catch does.

Any idea??

[code]

[2020-02-09 01:24] namoojaalallee commented on #2026
First we contact support center and then take the instructions from them and continue to solve it

[2020-02-09 06:11] Syeong2 opened #2721 "What is the difference about 'amd' and 'get' in examples file?"
**Describe the issue**
I am new to the axios. I wonder what is the difference about 'amd' and 'get' in examples file. Thinking about the difference, I found 'requirejs' command in 'amd'. I think 'requirejs' is the major difference. But I don't know why we use it.
In a nutshell, what is the main function of 'amd' and why we use 'requirejs'? Main function and command 'requirejs' is related each othe

[2020-02-09 06:20] Hbrehman commented on #1049
When i send post request using async await syntax if res status is 200 it sends back response body but when response status is 400 it does not send response body. How to get error using async await syntax?

[2020-02-09 06:23] codingnoye opened #2722 "Is there options to set up karma test environment?"
**Describe the issue**
I tried to set up test enviroment, but an error always occured.
[code]
I think it is because there is no browser used for karma.
I manually changed `karma.conf.js:119` and it works fine. But I think it's better to have options.
Is there an option to choose a browser to use for testing?
**Example Code**
[https://github.com/axios/axios/blob/master/karma.conf.js#L110-L119](http

[2020-02-09 06:27] ohtaeg opened #2723 "Cannot read property 'stderr' of undefined"
**Describe the bug**
An error occurred during the test.

**Error Log**
Uncaught TypeError: Cannot read property 'stderr' of undefined
[code]

I understood the error that occurs without `Firefox`.
However, there is a difference between standard input and output errors for each OS.
There was no problem when testing Ubuntu OS 18.04.
However, an error occurred when testing with Mac OS X 10.10.1

I tri

[2020-02-10 04:06] arrlancore commented on #1723
Got the same issue, after check in jsonlint.com I have the data with NaN which json cannot parsing it as below. So we need to ensure our backend sent the valid JSON data.

[code]

[2020-02-10 06:25] WofWca commented on #2720
Even if we can call it an issue, I doubt it has to do with axios, rather with the server.

[2020-02-10 08:39] thany commented on #2709
@alec-joy My files are going to a service running locally.

[2020-02-10 09:37] nyel-dev commented on #2716
We just recently started to have this problem. Any workaround you did?

[2020-02-10 10:29] iSarahSajjad opened #2728 "header authorization token"
**Describe the issue**
My API is working fine on postman, the issue is with the code. On open the console i can see my header authorization token as Bearer [object Object].
but on other API on setting page its working fine

**Example Code**
while user _token is string:

axios.defaults.headers.common = {
            'Accept': 'application/json',
            'Content-Type': 'application/x-www-form-u

[2020-02-10 10:33] #2728 closed

[2020-02-10 11:35] chinesedfan commented on #2713
@thedamon Can you try 0.19.1 to help us limit the scope? And a reproducible webpack config is more appreciated.

[2020-02-10 11:38] chinesedfan commented on #2714
@akirilyuk Can you provide a code example to show how you read cookies?

[2020-02-10 11:44] chinesedfan commented on #2718
I guess it depends on your DNS resolving and is out-of-scope. However, I will leave it open weeks for others users to help.

[2020-02-10 12:01] chinesedfan commented on #2719
Duplicate of #2602. If possible, I'd like accept a PR to emphasize it in document.

[2020-02-10 12:01] #2719 closed

[2020-02-10 12:08] chinesedfan commented on #2722
Try to set `process.env`. Say `SAUCE_USERNAME=test SAUCE_CHROME=1`. More details can be found in `karma.config.js`.

[2020-02-10 12:08] #2722 closed

[2020-02-10 12:29] akirilyuk commented on #2714
@chinesedfan sure:

[code]

this is an example code, however it passes with both 0.19.0 and > 0.19.1.

Maybe I can share the request response which is returned by our endpoint for data and headers:

[code]

The same request with postman yields even more set cookie headers which remove the headers:

Date
Mon, 10 Feb 2020 12:26:52 GMT
Content-Type
application/json; charset=utf-8
Transfer-Encoding
ch

[2020-02-10 13:42] chinesedfan commented on #2721
Read more from https://requirejs.org/. Especially the differences between AMD and CommonJS, in https://requirejs.org/docs/whyamd.html.

[2020-02-10 13:42] #2721 closed

[2020-02-10 13:45] chinesedfan commented on #2717
Can you elaborate "not work"? Were some errors thrown or something wrong else?

[2020-02-10 14:09] chinesedfan commented on #2716
Similar with #2351 and #1543. Currently I have no ideal solution. You should be able to check the message or stack for timeout.

[2020-02-10 14:09] #2716 closed

[2020-02-10 14:23] chinesedfan commented on #2723
The error comes from karma. If you want to run the only installed browser, see https://github.com/axios/axios/issues/2722.

[2020-02-10 14:23] #2723 closed

[2020-02-10 14:28] chinesedfan commented on #2720
See https://github.com/axios/axios/issues/2707#issuecomment-581012933.

[2020-02-10 14:43] chinesedfan commented on #2714
I am a little confused that why > 0.19.1 passed. And please confirm the table.

| version | set-cookie | test result                        |
| --- |:--------:| -------------------------------:|
|  0.19.0  |  all     | passed                      |
|  0.19.1  |  only one     | failed                      |
|  >0.19.1  |   none    | passed                      |

I also noticed that you used `nock`

[2020-02-10 15:04] Leoguedesm1 commented on #2720
console.log (err) in catch:
Cancel: {
   message: undefined
}
I believe the undefined is because I did not assign anything to the variable in CancelToken.

but I know that the call from axios was canceled because the error itself is from CancelToken

[2020-02-10 15:04] Leoguedesm1 commented on #2720
console.log (err) in catch:
Cancel: {
   message: undefined
}
I believe the undefined is because I did not assign anything to the variable in CancelToken.

but I know that the call from axios was canceled because the error itself is from CancelToken

[2020-02-10 15:07] Leoguedesm1 commented on #2720
I can paste the delete code of server here, If you want it.
The problem only appears with the delete call.
Canceltoken Works, but the delete call too.

[2020-02-10 15:07] akirilyuk commented on #2714
@chinesedfan

version | set-cookie | test result
-- | -- | --
0.19.0 | only one | passed
0.19.1 | none | passed

So i have no idea why the tests are passing, but when using axios for a real request they are failing.

The headers which contained all set-cookie headers are actually from a response executed via postman to the same endpoint. This means, even in axios 0.19.0 many set-cookie headers are

[2020-02-10 15:37] chinesedfan commented on #2714
[code]

Every your `set-cookie` is `httponly`. That makes sense. Before 0.19.1, the default adapter is http, and #2201 changed it as xhr.

As for why axios@0.19.0 has less headers than postman, please compare their **request** headers in your server codes.

[2020-02-10 15:46] chinesedfan commented on #2720
@Leoguedesm1 I think you need do some debugging to find out why the request is send.

- The request must have reached your server side. Can you log in the server to check?
- If you didn't customize the adapter, use "console.log(axios.defaults.adapter);" to check your real used adapter(xhr or http).

[2020-02-10 16:06] akirilyuk commented on #2714
Only header is Content-Type: application/json.

Additionally, you can see that the connection header is returned as closed in 0.19.0 but as keep-alive in 0.19.1.

I checked the default adapter and indeeed it is now xhr instead of http. So the #2201 actually broke it for node? Since from the code it should still use http adapter on node. Apparently this was not reviewed/tested but just directly mer

[2020-02-10 16:23] chinesedfan commented on #2714
So that's the problem. Closed in favor of #2654.

And hope we can find an ideal solution to fit with jest/nock. As a workaround, config your test environment to node or set config.adapter to http explicitly.

[2020-02-10 16:23] #2714 closed

[2020-02-10 16:27] akirilyuk commented on #2714
@chinesedfan I think you do not understand. Axios is using xhr when running on node in a production environment... Thats why I opened this issue. The code above is just an example....

[2020-02-10 16:32] akirilyuk commented on #2714
@chinesedfan can you please tell me how to explicitly set the adapter to http in order to fix the current bug introduced with axios 0.19.1? I cannot find anything in the documentation...

[2020-02-10 17:12] Leoguedesm1 commented on #2720
First:

Ok, now sometimes it is reaching the server side and sometimes not.

But every time I make the calls, the canceltoken error message appears.

I put a success log on the server side.
I also put a log when the token is aborted and a log in the then of the call, but then is never called.

And I think 2ms is too fast for any connection, the problem is that the canceltoken is activated even tho

[2020-02-10 17:30] adam-s commented on #2072
`axios-https-proxy-fix` will cause Axios to hang indefinitely without timeout or throwing an error conflicting with other libraries in npm. Using node-tunnel (https://github.com/koichik/node-tunnel) to create an agent also works.

[code]

[2020-02-10 17:38] adam-s commented on #1680
Using node-tunnel (https://github.com/koichik/node-tunnel) to create an agent also works.

[code]

[2020-02-10 19:13] jashan05 opened #2730 "Not able to get all the headers in Axios"
**Describe the bug**
I am not able to get all the headers, already tried setting

**To Reproduce**
Please follow the below code.

[code]

**Expected behavior**
Should be able to get all the headers, I get all these headers while testing it via **Postman**

**Environment:**
 - Axios Version  - axios/0.19.1

Expected headers as per screenshot.

<img width="925" alt="Screenshot 2020-02-10 at 20 14 27

[2020-02-10 22:55] bam-tbf commented on #1927
I would recommend handing these types of errors automatically. Otherwise the stand error handling functionality of Axios does not work as expected.

For those looking for a quick example of a solution in the meantime you can do something like:

[code]

[2020-02-11 02:36] chinesedfan commented on #2714
Then I am afraid that you need do some debugging to find out why it happens. You can check the two if-conditions in your environment. Or give a reproducible code example to me.

[code]

About how to explicitly set the adapter, try as following,

[code]

[2020-02-11 02:54] chinesedfan commented on #2720
If you were familiar with event loops, `setTimeout(fn, 2)` doesn't mean `fn` will be executed in 2ms exactly.

I can finish the story now, but can't guarantee everything is true.
- The request reaches your server sometimes, because `setTimeout` is not stable.
- And the `onreadystatechange` callback is called asynchronously. So `request` is not cleaned up even thought the request has been send. See

[2020-02-11 04:42] chinesedfan commented on #2730
- Make sure it is not due to `httponly`. See https://github.com/axios/axios/issues/2698#issuecomment-579070588.
- And confirm the right adapter is used. See https://github.com/axios/axios/issues/2714.

[2020-02-11 04:47] #2730 closed

[2020-02-11 04:54] julioacosta commented on #1827
I've found the solution here. If you are testing on android device at localhost, localhost is 10.0.2.2
https://github.com/axios/axios/issues/973#issuecomment-437221047

[2020-02-11 06:58] monal-sharma commented on #2717
@chinesedfan : Thanks for the response. The flow is like this: React App does an axios.get('localhost:3001'), this then hits my server.js app.get(), which then calls axios.get('external-api') providing it certs to authenticate. The response from the external-api needs to be relayed back to the React App. Here's the error message:
GET https://localhost:3001/ net::ERR_SSL_PROTOCOL_ERROR
dispatchXhrR

[2020-02-11 08:50] jashan05 commented on #2730
@chinesedfan If you look at the code which i mentioned i am already adding *access-control-expose-headers*

[2020-02-11 08:57] jashan05 commented on #2730
Also i tried - console.log(axios.default.defaults.adapter) and i got the response **[Function: httpAdapter]**, it seems correct adapter is being used but still not all the headers are available in response

[2020-02-11 09:05] akirilyuk commented on #2714
@chinesedfan So,

here is a screenshot, you can see i am on NODE, still it returns me the xhr adapter.

![Screenshot 2020-02-11 at 10 00 49](https://user-images.githubusercontent.com/45361199/74222992-ff0c2900-4cb5-11ea-832b-4e86fce9c8c3.png)

[2020-02-11 09:47] akirilyuk opened #2731 "axios 0.19.1 returns xhr adapter if used on Node"
**Describe the bug**
When using axios on Node.js, it returns a xhr adapter instead of the http for node

**To Reproduce**
Install some lib which also installs XHRRequest, then axios will return xhr adapter on Node.js.
Else just defined global.XMLHttpRequest ={} and see how axios will try to use this instead of http adapter

**Expected behavior**
A clear and concise description of what you expected

[2020-02-11 10:02] chinesedfan commented on #2714
The reason is as you described in #2731, because `global.XMLHttpRequest` is defined. If you got an ideal solution that handles every cases, please reply in there.

[2020-02-11 10:54] chinesedfan commented on #2717
Then you can Google search for ERR_SSL_PROTOCOL_ERROR to make sure your proxy really works. I am not a proxy expert, so apologize for can't help you locate the root reason. But if you or someone else find out something requires axios to support, glad to accept a PR to fix that.

[2020-02-11 10:58] chinesedfan commented on #2730
@jashan05 Don't set in axios call, please set in your server codes.

[2020-02-11 12:10] SumitThinktanker commented on #1321
Where it is?

[2020-02-11 13:31] martinduo commented on #1827
Well in my case the problem persisted even when running client and server online with both the web site and server function hosted on Azure. I fixed that problem by using fetch instead of Axios. But even with fetch, I still had the problem running local tests. Right now I'm busy on other things, but I'll try your suggestion later.

[2020-02-11 13:38] jashan05 commented on #2730
@chinesedfan , server is a SAAS solution and we dont have control in that. On a side note , i am able to get the header if i am using JS and using Requests library.

[2020-02-11 14:12] chinesedfan commented on #2730
@jashan05 So what are the differences? Compare request headers, response headers and everything you can think. That's all what I can do for you now. Good luck!

[2020-02-11 18:38] jensysantana opened #2732 "hi, i'm trying to use axios interceptors in react"
import axios from "axios";

const restApi = axios.create({
    baseURL:'http://localhost:3901'
});

restApi.interceptors.request.use(function (config) {

    // Do something before request is sent
   return config;

  }, function (error) {
    // Do something with request error

    return Promise.reject(error);
  });

  export default { restApi };

i try to import it like \<restApi\ /> in my App.

[2020-02-11 20:18] Leoguedesm1 commented on #2720
@chinesedfan  Thanks for the help. I will wait for the xhr expert

[2020-02-11 20:39] hilleer commented on #1006
Thanks to all the contributors of this post. After spending hours of having issues POSTing my `form-data` form using Axios, to an backend that posts it to an Amazon bucket, the solution turned out to manually set `content-length`....

For anyone else having issues my code ended up like

[code]

[2020-02-12 03:24] jalaluddin94 commented on #428
how do you resolve the error 422? I read there must be a semantycal error in the axios request. I am making an axios POST request to fastAPI with correct url, and body/payload data (eg. the username and password inserted). But I keep getting the response 422, and there's:
    createError webpack://[name]/./node_modules/axios/lib/core/createError.js?:16
    settle webpack://[name]/./node_modules/ax

[2020-02-12 10:37] man0s commented on #2130
The last one is 🔥

[2020-02-12 11:39] mskashef commented on #876
I had the same problem. this is what I did:
[code]
And it solved my problem.
you have to set `withCredentials` option to `true`, then the axios will accept the sessions, cookies, etc.

[2020-02-12 17:21] gwd0715 opened #2734 "Always get warning while using axios(config) in typescript"
Here is my code and warning:
<img width="371" alt="Screen Shot 2020-02-13 at 1 08 37 AM" src="https://user-images.githubusercontent.com/17922721/74359726-c461d800-4dfe-11ea-899b-7bafcf0c3c86.png">
<img width="427" alt="Screen Shot 2020-02-13 at 1 09 03 AM" src="https://user-images.githubusercontent.com/17922721/74359745-ce83d680-4dfe-11ea-8b51-59a63786cf99.png">
<img width="977" alt="Screen Shot 2

[2020-02-12 17:48] #2734 closed

[2020-02-12 20:59] Withsky0927 opened #2735 "Axios Sending duplicate DELETE, POST Request/Response"
**Bug**
Hello, How can i fix duplicate POST and DELETE axios request and i think PUT AND PATCH also. whenever i submit the data or deleting the data using the code below i get duplicate request and response. on the first request it works fine, on the second request a duplicate request/response will happen.

**Expected behavior**
Remove Duplicate Request and Response.

**Code**

**DELETE REQUEST**

[2020-02-12 21:28] badz0 commented on #2103
Has anybody figured out what's the problem?
My users are getting the same errors (Chrome Mac OS, Chrome Linux).

[2020-02-12 23:22] hhamilto commented on #1172
Not to dig up an old thread, but I did just find this issue by searching: How come the axios docs seem to indicate otherwise?
![Screen Shot 2020-02-12 at 6 22 24 PM](https://user-images.githubusercontent.com/2374444/74386709-a7a8ae80-4dc4-11ea-944c-083396b51c0f.png)

Seems like a bug in the type definitions to me?

[2020-02-13 07:02] avin-kavish commented on #2559
I'm having a situation where the progress event is fired almost instantly when the upload begins with a progress of 100% but the actual network request takes 3s to complete. Is that also related to this?

[2020-02-13 10:44] SajjadSM opened #2736 "getaddrinfo EMFILE localhost Error"
I have two different nodejs project which working with each other by an API. in the first project after receiving GPS data and some instructions, call API from the second project (localhost:2020).

It works well most of the time but, Sometimes it ran into a problem.

[code]

`
Error: getaddrinfo EMFILE localhost   at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:60:26)
`

**Environment:**
 -

[2020-02-13 12:03] PasinduDew commented on #2476
I'm having the same problem. Default Authorization Headers are not working in Axios version 0.19.0

[2020-02-13 15:44] CostachescuCristinel opened #2737 "What is the correct way to add a cookie with axios.post from nodejs ?"
Hello,

I am working on a Node.JS -based mobile app (Expo SDK36, React Native 0.61) and I am using axios (0.19.1) to communicate with a private server.

I am trying to make some POST requests which should include an authorization token as a cookie. So far, I have been able to make requests to the server without a cookie in order to authenticate a user through his credentials. The server correctly

[2020-02-13 16:40] vahost opened #2738 "POST request from Axios using Vue/Quasar doesn't populate $_POST in PHP"
This may not be the proper place to post this question, but I figured I'd try anyway.

I just started using Axios with Vue/Quasar, and I successfully established my first POST connection via https to a PHP page on a remote server that is a simple middleware for processing authentication to the remote server.

However, to my dismay, I've been able to verify that while the data posted does arrive at

[2020-02-13 18:07] vahost commented on #2738
I found my own solution:

`<?php
if(!$_POST['username'] && !$_POST['password']) {
	$data = file_get_contents("php://input");
	$post = json_decode($data,true);
	$_POST['username'] = $post['username'];
	$_POST['password'] = $post['password'];
}
?>
`

[2020-02-13 18:07] #2738 closed

[2020-02-13 19:21] Jozaguts commented on #787
can you solve this?, i have the same problem

[2020-02-13 20:28] QB3L commented on #1804
I see current master is using follow-redirects 1.5 so be aware that this is still not fixed

[2020-02-13 22:48] namoojaalallee commented on #1804
How I could fix it?

[2020-02-13 23:58] Richard-Bagriy opened #2739 "Axios and FormData weird behaviour"
**Describe the issue**
Hello everyone. I have some issues (weird behaviour) with = new FormData(), when i used axios methods (POST, PUT).
When i send request to server i have empty data...
You can see this in my screenshots below
P.S If you add header : application/x-www-form-urlencoded , it won't work either
**Example Code**
[code]

**Expected behavior, if applicable**
Must be working as like - a

[2020-02-14 01:56] beldebala opened #2740 "url encoding"
**Describe the issue**
built api url by appending query params to the base url
axios.get is not encoding the request url as result the charecters after # are ignored in the request url

**Example Code**
expected : http://localhost:6387/codes?search=test #23434 & page = 1& pagesize =10 & token=xxxxxx

actual : http://localhost:6387/codes?search=test

[code]

**Expected behavior, if applicable**
 re

[2020-02-14 03:05] ezra-m commented on #2139
Does anyone have an example implementation of a test case with CancelToken that they could share?

[2020-02-14 06:43] yuhanle commented on #2367
Any good news? @sunderls

[2020-02-14 07:27] #2739 closed

[2020-02-14 07:57] Richard-Bagriy commented on #2739
Sorry it's my fault i don't seen i put my data into curly brackets. The form data is already object...

[2020-02-14 09:23] davidkhala commented on #2049
And now we could use it even more generic
[code]

[2020-02-14 13:54] tattivitorino commented on #2235
"Or you should add global btoa polyfill by yourself." Any lights on how we do this?

[2020-02-14 14:28] tattivitorino commented on #2235
My app is in react-native and I ended up solving this with the following:
yarn add react-native-base64

in my login action:

[code]

it worked!!!

[2020-02-14 15:36] dheerajmpai commented on #602
Yes, it looks lke `axios` works on React native too

[2020-02-14 15:37] bajtos opened #2741 "Make Axios easier to use for Node.js and Request users"
**Is your feature request related to a problem? Please describe.**

I am a lead maintainer of [LoopBack](https://loopback.io), a REST API framework for Node.js. Recently, [request](https://www.npmjs.com/package/request) has been deprecated (see https://github.com/request/request/issues/3142) and we started to look for alternatives (see https://github.com/request/request/issues/3143). We picked Axi

[2020-02-14 19:31] micheilsgrey opened #2742 "Decode params"
**Describe the issue**
Noob in javascript, wat to get some data in json from Twitch API. The problem is that i need add params to request. And i need params with '+' insted of '%2B'. How can i get right version of parameters? I know i can just put evrything in the sting variable by myself but is there any way i can actualy use `params: ` option in request method?

**Example Code**

[code]

[2020-02-14 19:44] St1myL opened #2743 "Cannot set headers after they are sent to the client next.js"
I have Axios in my Next.js project and sometimes I get an error due to interceptor when return the `Promise.reject`.

**Error:** Cannot set headers after they are sent to the client.

I encounter this problem when I make a request in `getInitialProps`. This happens very rarely when I restart the PC and open the page again.

**Axios instance:**
[code]

**Next.js Page example:**
[code]

**Environmen

[2020-02-14 20:36] erwinwahyura commented on #1827
Having same issue axios version: `0.19.0`, any solutions yet?

[2020-02-15 00:00] rmainseas opened #2744 "transformRequest being called for GET requests"
**Describe the bug**
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

According to the README, functions specified in `transformRequest` should only be executed for `PUT`, `POST` and `DELETE`. However, it appears that they are also run for `GET` methods.

**To Reproduce**
Code snippet to reproduce, ideally that will

[2020-02-15 00:56] namoojaalallee commented on #2744
It's very helpful

[2020-02-15 05:41] #2691 closed

[2020-02-15 05:44] chinesedfan commented on #1804
Closed by #2689.

[2020-02-15 05:44] #1804 closed

[2020-02-15 06:12] Y0geshsharma opened #2745 "while posting a file object it gets only uid to the express backend"
**Describe the bug**
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

**To Reproduce**
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file under

[2020-02-15 06:13] #2745 closed

[2020-02-15 06:17] chinesedfan commented on #2736
Closed due to not an issue of axios. See https://stackoverflow.com/questions/10355501/connect-emfile-error-in-node-js.

[2020-02-15 06:17] #2736 closed

[2020-02-15 06:17] Y0geshsharma commented on #1175
Hello guys,
 i faced an issue while using post for a file object.
"code snippet"
Axios
           .post(url,fileobject)
           .then()
           .catch(error=>{
console.log(error)
})
"

[2020-02-15 06:19] Y0geshsharma opened #2746 "post giving a unusual result"
**Describe the issue**
i used the below code snippet but it just returned me the uid at backend.
**Example Code**
Code snippet to illustrate your question

[code]

[2020-02-15 06:23] chinesedfan commented on #2740
You can write your own `config.paramsSerializer`. The default one doesn't handle everything.

[2020-02-15 06:23] #2740 closed

[2020-02-15 06:30] chinesedfan commented on #2741
Personally, I will suggest your wrapper solution. As axios is a tiny core, which requires users to implement their own customized functionalities. Maybe someday your wrapper can be added to https://github.com/axios/axios/blob/master/ECOSYSTEM.md.

[2020-02-15 06:31] chinesedfan commented on #2742
Yes, you can write your own `config.paramsSerializer`.

[2020-02-15 06:31] #2742 closed

[2020-02-15 07:27] chinesedfan opened #2747 "Collect common strategies to solve issues and help for pulls"
#### Background

Every week axios receives lots of new issues, and most of them are problems about how to get the expected response. Some of them are simple or duplicated, some are similar but with tricky differences, and some are complex without enough and clear information.

#### Possible actions

- [x] maintain a F.A.Q page or tutorial
  - something like https://github.com/axios/axios/issues/11

[2020-02-15 10:10] #2665 closed

[2020-02-15 11:03] #2594 closed

[2020-02-15 12:23] rmainseas commented on #2744
Not sure I follow... What's very helpful?

[2020-02-15 12:24] jordyvandomselaar commented on #2103
In our case it was/is a combination of slow api calls and users losing connection, whether it be because they went from wifi to 4g or because they lost internet alltogether.

[2020-02-15 13:49] #1561 closed

[2020-02-15 13:54] chinesedfan commented on #1561
I think it should be,

[code]

[2020-02-15 14:32] chinesedfan commented on #2746
It is a problem that the server can't response correctly, instead of an issue of axios. Please look for help in [stackoverflow](https://stackoverflow.com).

A quick solution is that checking **url** and **request headers** and comparing with other ways when you can get the right response. If you confirm that axios sends wrong url/headers, feel free to remind me to reopen.

[2020-02-15 14:32] #2746 closed

[2020-02-15 16:17] vahost opened #2750 ".then pass response"
I'm feeling really dumb. I can send an axios.post request without issues, and I can get a response. However, other than running console.log or alert within .then(function(response) I can't seem to figure out how to get that information outside of .then's function when using it in Vue/Quasar.

For instance:
[code]

[2020-02-15 18:13] St1myL commented on #2743
This problem disappeared when I upgraded Axios 0.19.0 to 0.19.2

[2020-02-15 18:13] #2743 closed

[2020-02-15 19:40] vahost commented on #2750
Never mind, I found it. I changed:

.then(function(response) {

to

.then(response=> {

[2020-02-15 19:40] #2750 closed

[2020-02-15 22:25] thedamon commented on #2713
I tried to reproduce and cannot even with 0.19.2... (i did have to rebuild my entire yarn.lock since then) so I'm not sure what went on, but it seems to be just some weird compatibility.

[2020-02-16 05:37] chinesedfan commented on #1663
@delirius325 Would you or someone else mind opening another PR to emphasize it in the document? The current behavior is not straight-forward, but it has been already there server years. And we don't want to introduce extra interface or option.

[2020-02-16 07:14] brandon-leapyear commented on #2650
@neomedeiros I think the issue is if you change `todos.js` in your repro project to use
[code]

I'm finding that if I do `stubRequest` with just the path instead of the full path, it works

[2020-02-16 07:23] brandon-leapyear commented on #2650
It broke here: https://github.com/brandon-leapyear/axios/commit/6fe506fda290ba935c2641f68f1fcba7f4a16cd3

Will try to put up a PR soon

[2020-02-16 11:08] yoyo837 commented on #2709
same here.

[2020-02-16 13:44] increDul0us commented on #1294
I also need an answer to this.

1. When i change route, i want to be able to cancel a particular request.
2. When i signout, i want to be able to cancel all request except the signout request.

So i really do need the multiple cancelTokenfor a particular request.

Any help????

[2020-02-16 15:35] increDul0us commented on #1294
So i was able to figure it out.... Quite easy tho.

`let cancelToken = axios.CancelToken;
let source = cancelToken.source();
let history = cancelToken.source();
const abortHistory=()=>{
	history.cancel();
	   // regenerate cancelToken
	history = cancelToken.source();
}
const abortAll=()=>{
	source.cancel();
	   // regenerate cancelToken
	source = cancelToken.source();
	abortHistory();
}`

[2020-02-17 00:32] Oscar-Silva commented on #1827
Same issue here :[

[2020-02-17 04:25] tapaz1 commented on #362
Hey everyone,

I thought I'd chime in as I wasted almost a full working day of my life trying to solve this. This may help some partially, or completely so here's to hoping this is useful.

I was facing the same issue as everyone in this thread with the Bad Request 400 when passing in custom headers to Axios in the config like this, and tried many of the responses here, like using qs.stringify(),

[2020-02-17 07:20] senocak commented on #916
return response.data
    })
    console.log(answer)

[2020-02-17 07:22] bennythejudge opened #2752 "Axios + Bolt + Confluence APIs + Basic Authorization header issues"
**Describe the issue**
- writing a slack bot using Bolt and Glitch and I decided to use Axios to execute an HTTP GET to the Confluence API using Basic Authorization (email + API token).
I tried many variations found in the documentation and in the general posts about Axios, but for me eventually only one worked.

**Example Code**
- examples that did not work:

- this got `403`:

[code]

- this one

[2020-02-17 07:54] ericdraken commented on #124
It's still an issue in 2020.

[2020-02-17 09:40] nodece commented on #1321
React Native should hack the `FormData`. So it is not working. Open Network, request body look like is `file: [Object Object]`. correct should is `file: (binary)`

[2020-02-17 12:40] akdnfbf opened #2753 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 13:06] LeonAlexanderBartz opened #2754 "Readme.me Interceptor config"
**Section/Content To Improve**
https://github.com/axios/axios#interceptors
from
[code]
to
[code]

**Suggested Improvement**
Make clear that config is an editable object.

**Relevant File**:
README.md

[2020-02-17 13:22] delirius325 commented on #1663
@chinesedfan not sure I understand what you mean by "emphasize it in the document"? What needs to be emphasized exactly? The method I had created? Or the current behaviour?

[2020-02-17 13:27] ggmo opened #2755 "createError.js:16 Uncaught (in promise) Error: Network Error at createError (createError.js:16) at XMLHttpRequest.handleError (xhr.js:69)"
Hello, when i use axios get somedata from api , ERROR occurs and i cannot fix it , plz help .
createError.js:16 Uncaught (in promise) Error: Network Error
    at createError (createError.js:16)
    at XMLHttpRequest.handleError (xhr.js:69)

with chrome debug can get data from api with crud method, but with axios in vue caught error;

[2020-02-17 13:29] ggmo commented on #2755
my vue config:

import axios from 'axios'
import router from '@/router/routers'
import { Notification, MessageBox } from 'element-ui'
import store from '../store'
import { getToken } from '@/utils/auth'
import Config from '@/settings'

// 创建axios实例
const service = axios.create({
  baseURL: process.env.NODE_ENV === 'production' ? process.env.VUE_APP_BASE_API : '/', // api 的 base_url
  timeout: Conf

[2020-02-17 13:30] ggmo commented on #2755
my api defined with axios(mojo):

import request from '@/utils/mojo'

export function add(data) {
  return request({
    url: 'http://192.168.100.100:8080/devices',
    method: 'post',
    data
  })
}

export function del(ids) {
  return request({
    url: 'http://192.168.100.100:8080/devices',
    method: 'delete',
    data: ids
}

export function edit(data) {
  return request({
    url: 'http://

[2020-02-17 13:33] ggmo commented on #2755
and the request is not sending to server, chrome debug info :

Request URL: http://127.0.0.1:8002/devices?page=0&size=10&sort=id%2Cdesc
Referrer Policy: no-referrer-when-downgrade

there have no method

[2020-02-17 13:34] ggmo commented on #2755
but with server side it work fine

[2020-02-17 21:15:17.44329] [2492] [info] Creating Routes for resource 'Device' (controller => Device)
[2020-02-17 21:15:17.44358] [2492] [debug]  GET /devices  (api_get)
[2020-02-17 21:15:17.44372] [2492] [debug]  POST /devices  (api_create)
[2020-02-17 21:15:17.44385] [2492] [debug]  DELETE /devices/  (api_delete)
[2020-02-17 21:15:17.44401] [2492] [debug]  PUT

[2020-02-17 13:42] akdnfbf opened #2756 "WU AND MG TRANSFERS FOR 10-15% OF THE AMOUNT!!! 💰💰💰"
WU AND MG TRANSFERS FOR 10-15% OF THE AMOUNT!!!

FOR EXAMPLE:

WORLD WIDE WESTERN UNION & MONEYGRAM PRICES:

You pay: [ 299 $ BitCoin / PerfectMoney ] You receive: [ $2000 WU or MG ]
You pay: [ 390 $ BitCoin / PerfectMoney ] You receive: [ $3000 WU or MG ]
You pay: [ 480 $ BitCoin / PerfectMoney ] You receive: [ $4000 WU or MG ]
You pay: [ 570 $ BitCoin / PerfectMoney ] You receive: [ $5000 WU or

[2020-02-17 13:45] mofizul21 opened #2757 "Error: Request failed with status code 500 in live server"
My website live link http://themepack.net/aaa/vuenote/notewithdb-search.php and code is here- https://github.com/mofizul21/vuenote

The website is working fine in localhost, but not in live server. How to I can solve the error?

[2020-02-17 13:48] VISWESWARAN1998 commented on #2756
This is a spam. Please close it.

Wrote a small script to automate the reporting, Just like the spammer did.

Script here: https://gist.github.com/VISWESWARAN1998/cf74dd0890534ad3e72f326e46460cd3

Regards,
Visweswaran N

[2020-02-17 13:48] VISWESWARAN1998 commented on #2753
This is a spam. Please close it.

Wrote a small script to automate the reporting, Just like the spammer did.

Script here: https://gist.github.com/VISWESWARAN1998/cf74dd0890534ad3e72f326e46460cd3

Regards,
Visweswaran N

[2020-02-17 13:50] #2753 closed

[2020-02-17 13:50] #2756 closed

[2020-02-17 13:56] ggmo commented on #2755
and in server side headers info as below:

Access-Control-Allow-Origin: *
Content-Length: 3262
Date: Mon, 17 Feb 2020 13:56:10 GMT
Server: PERL
-Type: application/json;charset=UTF-8

[2020-02-17 13:58] ggmo commented on #2755
server side headers info:

Access-Control-Allow-Origin: *
Content-Length: 3262
Date: Mon, 17 Feb 2020 13:56:10 GMT
Server: PERL
Content-Type: application/json;charset=UTF-8

[2020-02-17 13:58] etino commented on #1768
I have the same issue.

The server response set Transfer-Encoding= chunked.

When I try to parse JSON I get the following error:

`(node:14940) UnhandledPromiseRejectionWarning: SyntaxError: Unexpected token F in JSON at position 1`

The response data begins and ends with unattended characters as follow:
[code]

The string is not parsable by `JSON.parse()` function.

The test is made with the late

[2020-02-17 13:59] ggmo commented on #2755
also axios timeout is 10 mins

[2020-02-17 14:03] ggmo commented on #2755
with curl -v also works :

* TCP_NODELAY set
* Connected to 127.0.0.1 (127.0.0.1) port 8080(#0)

< HTTP/1.1 200 OK
< Access-Control-Allow-Origin: *
< Content-Length: 3262
< Date: Mon, 17 Feb 2020 14:02:18 GMT
< Server: PERL
< Content-Type: application/json;charset=UTF-8
<
{"content":[{"create_time":"2020-02-17 17:19:46","id":1,"ip":"1.1.1.100","name":"CC-DC1-NZX-S1","pwd":"cisco","type":"switch","

[2020-02-17 14:16] chinesedfan commented on #2757
It is a problem that the server can't response correctly, instead of an issue of axios. Please look for help in [stackoverflow](https://stackoverflow.com).

A quick solution is that checking **url** and **request headers** and comparing with other ways when you can get the right response. If you confirm that axios sends wrong url/headers, feel free to remind me to reopen.

[2020-02-17 14:16] #2757 closed

[2020-02-17 14:41] chinesedfan commented on #1663
The current behavior. Thanks.

[2020-02-17 14:45] helen119 opened #2758 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:27] #2758 closed

[2020-02-17 16:04] SashaKoro commented on #2609
In order to move fast on our end, we ended up forking axios with the changes I've made and deploying to production. The results have been incredible.

This is our homepage before:

<img width="958" alt="Screen Shot 2020-02-17 at 10 59 24 AM" src="https://user-images.githubusercontent.com/22783686/74669364-fc597a00-5174-11ea-8752-b25125aa6ac2.png">

And after:

<img width="958" alt="Screen Shot 202

[2020-02-17 17:22] helen773 opened #2759 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/tza85ua

[2020-02-17 19:10] heken375 opened #2760 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/rupocj5

[2020-02-17 20:38] scdsfvd opened #2761 "Wanna see my private photos?💋💋💋"
Hello!😻😻😻 Wanna see my private photos?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is pussycat18 👇👇👇

https://tinyurl.com/wyb476h

[2020-02-17 22:00] ZiedHf commented on #2572
@chinesedfan Please before closing take a look into the issue.
I don't think stackoverflow will help.
I confirm this issue and I changed axios in my react native app.
![image](https://user-images.githubusercontent.com/7974028/74688891-50964580-51d9-11ea-8eec-e70baa9431b2.png)

[2020-02-18 00:13] TrevorHinesley commented on #2485
Unless I'm mistaken this occurs in Firefox with any network request if you turn wi-fi off and back on. Chrome correctly picks the connection backs up and continues after a minute, Firefox gets stuck as seen here. Any movement @omkar-joshi?

[2020-02-18 02:17] arjdev69 commented on #2646
Just add isValidXss a folder helpers of axios.

Link: https://github.com/axios/axios/blob/351cf290f0478d6e47e74c6da2f3ad8fe8f29887/lib/helpers/isValidXss.js

[2020-02-18 03:03] chinesedfan commented on #2609
@SashaKoro Sure. Really appreciated for your continuous updating.

I think it is one of the annoying things in open source, especially for axios, which is famous and important, but without enough active maintainers. Your pull request is almost there, except for one or two tiny flaws, then I can give it an approval. If no one opposes it, I can even merge it (in fact, it requires more reviewers to c

[2020-02-18 06:18] Maconzhang commented on #2755
i have same question

[2020-02-18 06:26] andrecp commented on #1535
Just a +1 as I am against a 3pp CORS API that does not allow any content type, I explicitly tried not to set it but Axios automatically sets content-type to application/json ...

[2020-02-18 07:02] Number77asa commented on #649
@isaacghorbani , any idea why this is needed, instead of `Bearer ${token}`

I've been trying to figure out why Jquery-static is not doing it's job..is it because axios version and babel versions changed or is it a bad jxs configuration?

Please someone let us know

[2020-02-18 07:15] etino commented on #1768
I've used regex to make a workaround to this issue.

[code]

The details are in [this StackOverflow post](https://stackoverflow.com/a/60275498/1891624)

[2020-02-18 07:32] zicjin opened #2762 "Can't request with cors, and why axios is different from native fetch()."
**Describe the issue**
my netlify app has been configured with Access-Control-Allow-Origin headers. And the native fetch() function can easily access resource. But axios cannot succeed.

**Example Code**
I used both axios and fetch requests and got different results.

[code]
![捕获](https://user-images.githubusercontent.com/199482/74713429-88e26600-5263-11ea-8fd4-d6081a474381.PNG)
![捕获2](https://use

[2020-02-18 08:19] ashish9342 commented on #634
Added debugger to check the object, so this is how the error object looks like.
Refer screenshot. Right side(under scope)

[https://i.stack.imgur.com/y3ixv.png](url)

[2020-02-18 08:43] clemator commented on #2485
@hmzaabasi sorry for the late answer, no I haven't but I have seen [this issue](https://github.com/axios/axios/issues/2103) though, it might provide you more intel.

[2020-02-18 09:20] 2xSamurai commented on #2680
+1 I am facing this issue in Android.

I am using Axios in react native.

I am facing this issue only in android 8 and lower versions. I also noticed something strange. In react native debugger. If you enable 'network inspect' then I get the response back. Otherwise, it gets timed out.

I have been banging my head around this for quite some time.

Can somebody please help.

PS: Also I even tried a

[2020-02-18 09:21] Bashamd455 commented on #2073
same for me too, RN 0.61.5 and axios 0.19.2

[2020-02-18 09:42] 2xSamurai commented on #2755
+1 same issue. Response is Error: Network Error.

Does anyone have any sikutions?

Thank you.

[2020-02-18 11:15] ggmo commented on #2755
Solved ！！！
Because of the limitation of the CORS policy, the above problem is caused CORS. After the PROXY policy configured in VUE can be accessed normally, the OPTIONS response needs to be supported on the server side.

[2020-02-18 11:16] ggmo commented on #2755
with vue_dev env need the server side support options method

[2020-02-18 19:07:35.58702] [2511] [debug] [69f30b6c] 200 OK (0.001815s, 550.964/s)
[2020-02-18 19:07:36.19296] [2511] [debug] [f4101b49] OPTIONS "/mojo/devices"
[2020-02-18 19:07:36.19325] [2511] [debug] [f4101b49] Routing to controller "FirewallManager::Controller::Device" and action "options"
[2020-02-18 19:07:36.19351] [2511] [debug

[2020-02-18 13:51] bajtos commented on #2741
Thank you @chinesedfan for a quick response, I appreciate it!

I understand your point and the reluctance to add my proposed API. I think my proposal would be a pretty small change, but I respect your opinion as a maintainer.

I'd like to discuss the proxy handling though. AFAICT, axios already contains code for parsing proxy configuration from a string (e.g. `HTTP_PROXY` environment variable).

h

[2020-02-18 15:04] DaveStein commented on #1768
I had only ever left the fix in that I posted above.

[2020-02-18 16:10] thedamon commented on #2713
This showed up again in our compiled storybook code. It may be related to this: https://github.com/storybookjs/storybook/issues/5298 (though there is not really a distinct solution on this ticket). It said something about mixing module.exports and import syntax potentially causing issues. Will update if we find out more.

[2020-02-18 21:19] SashaKoro commented on #2609
@chinesedfan Hey, no problem! Totally understandable. I appreciate your feedback, I definitely missed a couple of things in the implementation.

[2020-02-18 21:23] nbenoudi commented on #787
maybe you need @crossorigin in your @GetMapping @RestController.

[2020-02-18 21:29] QuantumInformation commented on #787
I moved to fetch and svelte for everything now

[2020-02-18 22:44] reviewher commented on #2699
@chinesedfan the timeout is to give the test a little bit of time to run.  In that particular test, the `get` has to be performed and the `catch` block has to run (since that sets `failure = true`).  Running the checks synchronously or with timeout 0 is too early to guarantee the axios part has time to run.

The tests probably should use [`Promise#finally`](https://developer.mozilla.org/en-US/docs

[2020-02-18 23:19] SandunHarshana commented on #1694
This is the answeer

[2020-02-18 23:29] czlinNYC commented on #2560
Where do i find the "YOUR SERVICE HERE" in my app? is it the app name?

[2020-02-19 00:58] namoojaalallee commented on #787
It's good

[2020-02-19 01:04] Jozaguts commented on #787
My problem it was the CORS I didn't have configuration I made it and all it work

[2020-02-19 01:28] mattdamon108 commented on #2235
@chinesedfan What is your team's intention to remove `btoa` from Axios?

[2020-02-19 07:01] #2755 closed

[2020-02-19 07:50] golubvladimir opened #2764 "How to change JSON.stringify for undefined values ?"
When I send date by axios, they converted by JSON.stringify to string ?
How to set this function ?
Like this ?
[code]

[2020-02-19 08:10] golubvladimir commented on #2764
client.js
[code]
server.js
[code]

[2020-02-19 08:48] golubvladimir commented on #2764
[code]

[2020-02-19 08:48] #2764 closed

[2020-02-19 10:07] chinesedfan commented on #2699
Exactly. And even a second `then` can act as `finally` without compatibility problems.

I think that's the biggest advantage. If someone breaks `axios` to be never resolved or rejected, we don't need wait the case to timeout.

[2020-02-19 10:37] solo-framework commented on #2476
Check whether your http server sends header 'Access-Control-Allow-Headers: Authorization' for requests sent with OPTIONS method.

for example:

[code]

[2020-02-19 10:40] game-libgdx-unity opened #2765 "Hi, I'm trying to get cookie from a response"
I'm trying to find a way to get cookie from response after I post to a url

![Image](https://i.imgur.com/NK0FeCw.png)

What I need is  "ksession" which I got in postman, please look at 'cookies' section in response
Thanks!

[2020-02-19 10:41] 2xSamurai opened #2766 "Error: Network Error"
**Describe the bug**
I have a react native app.
All my Axios requests are failing on anrdoid 7.
**It works flawlessly on iOS and newer Android versions.**
I am calling a serverside API. And no I am not using localhost.
I think CORS are also setup correctly.
![image](https://user-images.githubusercontent.com/8579190/74826183-2d7ea980-5331-11ea-82d2-f34d6984e8b5.png)

**This is what I am getting as

[2020-02-19 10:51] chinesedfan commented on #2741
@bajtos Hard to say reject, because it is different with other naming things. If you or someone send a pull request with sufficient tests, I am glad to review. But please make psychological preparations that it requires time to be really merged and released. And also keep an eye on it once regressions are introduced.

[2020-02-19 11:58] KevinDenys opened #2767 "TLS 1.2 only, disable TLS 1.0"
I am wondering if there is a way of forcing Axios requests to only use outbound TLS 1.2 protocol. Due security issues with TLS Protocol version 1.0 and version 1.1.

If someone could point me in the the right direction.

[2020-02-19 12:19] simplenotezy commented on #535
You could also just add the environment variable when you start your dev environment:

   export NODE_TLS_REJECT_UNAUTHORIZED=0 && yarn dev --env.NODE_TLS_REJECT_UNAUTHORIZED=0

And perhaps add it to your package.json file

    "scripts": {
      "dev": "export NODE_TLS_REJECT_UNAUTHORIZED=0 && nuxt --env.NODE_TLS_REJECT_UNAUTHORIZED=0",

[2020-02-19 13:19] Strateus commented on #1827
Same issue, happens only after browser idles for more than an hour and an access_token expires, so this should throw a 401:
'{"message":"The incoming token has expired"}'

my API (on AWS) is CORS-enabled, and it has 2 methods: OPTIONS and POST.
request to OPTIONS:

OPTIONS returns this:

Then i have this in my browser console:

![image](https://user-images.githubusercontent.com/5196895/74837756-33

[2020-02-19 14:08] mlarcher opened #2768 "upgrading from 0.19.0 to 0.19.1 breaks test suite because of cors"
**Describe the bug**
When upgrading from 0.19.0 to 0.19.1, our test suite breaks because `nock` receives the cors OPTIONS call, which it did not receive before and did not expect. This is a breaking change, and I wouldn't expect the OPTIONS call to be made during tests.

Here's the error stack :
[code]

**Expected behavior**
Mostly, a patch version should not break anything and breaking changes sh

[2020-02-19 14:44] jrbytes commented on #736
Thank you,
My code:
`api.delete(`/projects/${idProjectTech}/techs`, {data: { name: data.name }})`

[2020-02-19 14:52] jrbytes commented on #736
Abstraction from axios in api. Params in data: name only
[code]

[2020-02-19 15:52] tbaustin commented on #1362
This did not work for me:

[code]

[2020-02-19 16:20] hmzaabasi commented on #2485
@clemator np, I have this issue only on Edge.

It's working on Chrome, Firefox, even on IE.

[2020-02-19 18:35] avindra commented on #2651
I'm having this issue and I'm not using `transformRequest`. My `axiosInstance` has been created as such:

[code]

Since `common` is set, I would _expect_ the default to be `application/json`, but I'm seeing the issue @binarykitchen originally reported, where on _some_ POST calls, the `Content-Type` is erroneously set to `application/x-www-form-urlencoded`.

_Which_ POST calls is completely unknown

[2020-02-19 19:18] iranmarcius commented on #2476
@solo-framework, I think that's not the issue. Axios isn't even sending headers that are set in axios.defaults.headers in this version. It works in the previous version.

In my case, specifically, the server is sending Access-Control-Allow-Headers with the Authorization header included.

[2020-02-19 21:27] avindra commented on #2651
Update: I figured out when it happens.

So if the code tries to `POST` but the body isn't set, axios resolves to that broken code path that is using the wrong header (picking from axios default rather than the configured options on the instance).

[2020-02-19 22:19] Rmsilva1 commented on #1892
Im having the same issue, but i have to send 3 query parameters with the request also. i did not managed to make it work with your solution. :(

[2020-02-20 03:06] genglei01 commented on #1321
I also had the problem. It is caused by the file path in android.
    **const path = utils.isAndroid() ? `file://${filePath}` : filePath;**
And it works ok with implementing as the following

[code]

[2020-02-20 03:25] deghtani commented on #569
Solved it finally, been there and did following at my api server (i have built api in node express js and client in next js using axios)

and then in node server index.js

[code]

[2020-02-20 14:11] Strateus commented on #1338
Any hints where this bug may come from? I see similar behavior and it might be related: https://github.com/axios/axios/issues/1827#issuecomment-588225077

[2020-02-20 15:52] aman79 commented on #2477
getting error for get request

[2020-02-21 16:35] epatrasc commented on #647
Hi, is your problem on nodejs platform?
If so what version?
I'm trying to reproduce this issue on my local machine (nodejs environment) and timeout always works.

From the previous comments on this issue it looks like related to browser or mobile environments.
@benb1983

[2020-02-22 07:08] X-H-siwan opened #2770 "use interceptors.response,it change my data value from string to int 0"
![image](https://user-images.githubusercontent.com/49404984/75088167-a32e8380-5584-11ea-82a0-3dcc536fc4a6.png)

this time i do not use a respones interceptors,so i got the data value right as a string;
![image](https://user-images.githubusercontent.com/49404984/75088191-f43e7780-5584-11ea-88ad-69b26a30b8c0.png)

this time i use respones interceptors,so i got this,what happened i don't know and als

[2020-02-22 08:31] chinesedfan commented on #2762
`headers` in axios are request headers, not response headers. Please compare the requested url and headers with fetch and find out why.

[2020-02-22 08:31] #2762 closed

[2020-02-22 08:37] chinesedfan commented on #2765
Closed by the issue bot. Make sure you have followed the issue template.

And we suggest users ask similar questions in [stackoverflow](https://stackoverflow.com), instead of Github issues. Good luck!

[2020-02-22 08:37] #2765 closed

[2020-02-22 08:40] chinesedfan commented on #2768
Duplicate of #2654.

[2020-02-22 08:40] #2768 closed

[2020-02-22 08:41] chinesedfan commented on #2770
Closed by the issue bot. Make sure you have followed the issue template.

And we suggest users ask similar questions in [stackoverflow](https://stackoverflow.com), instead of Github issues. Good luck!

[2020-02-22 08:41] #2770 closed

[2020-02-22 08:51] chinesedfan commented on #2766
See #973. If it can't solve the problem, requires someone to find the reason.

[2020-02-22 18:48] renestalder commented on #2190
It's not even that the instance parameters wouldn't be merged with the call parameters. The instance parameters are not going into the parameters for the request at all. If I create an instance and define params, they are never be found in one of my get requests.

Downgrading was the easier option than defining the parameters with every get call.

[2020-02-23 02:06] mubarak23 commented on #2754
I will work on this by adding the above change to the documentation.

[2020-02-23 10:06] Omotola28 opened #2771 "Using Axios as an Alternative to request in nodejs"
I am building a flutter application that requires oauth 1 authorization for one of the third party services I am using. Because flutter oauth 1 package is restricted I decided to use the oauth 1 package that npm provides. This is the code that is used to access the user generated access token from the site.

I previously used request to make a call to the api endpoint first, to access the token an

[2020-02-23 20:42] ciricc opened #2772 "Why axios sends POST data to redirected GET request"
I send a POST request and get redirected to GET.
And when this happens, the axios sends data from the POST request to GET in data, which is why I getting the error 413 (too big data).

How can one do this to avoid?

P.S Redirect is 302

[code]

Firstly, sending request to this url.

![image](https://user-images.githubusercontent.com/20687373/75119718-81bdbc80-5696-11ea-8b59-4af7006ca3a6.png)

And

[2020-02-23 23:33] namoojaalallee commented on #2772
This is good

[2020-02-24 04:16] tung83 commented on #2548
I got the same issue of this. You can try my working around from my code to use XMLHttpRequest straight away!
 var xhr = new XMLHttpRequest();
    //xhr.responseType = 'arraybuffer';
    const { accessToken } = useState('Auth', ['accessToken'])
    xhr.open('GET', baseAddress + url, true);
    xhr.responseType = "blob"; // changed this to arraybuffer but did not work as well
    //xhr.withCredenti

[2020-02-24 08:55] TranDinhKhang commented on #318
I'm using react-native. And I ended up this issue by using `rn-fetch-blob`. Too bad :(

[2020-02-24 09:20] nbenoudi commented on #787
or in the File ./config/config.default.js :
config.cors = {
    origin: ["https://localhost:8443"],
    allowedHeaders: [
      "Content-Type",
      "Authorization",
      "Access-Control-Allow-Methods",
      "Access-Control-Request-Headers"
    ],
    credentials: true,
    enablePreflight: true
  };

On Wed, Feb 19, 2020 at 2:04 AM Sagit Gutierrez <notifications@github.com>
wrote:

--
Nasser B

[2020-02-24 10:38] stefanozanini commented on #1910
Not the perfect solution, but i managed to bypass the error doing something like this:
`transformRequest: [(data, headers) => {
  // Do whatever you want here, for example headers.Authorization = `Bearer ${jwt}`
  return data
}, ...(axios.defaults.transformRequest as AxiosTransformer[])]`

[2020-02-24 10:54] msudgh commented on #2469
the snippet is like a simple Axios request, I tried to reproduce it but it seems gone.

[2020-02-24 12:13] sergeycw commented on #1417
hi! in my case problem was caused by a self-sign certificate. as soon as I started using normal certificate everything began to work.

[2020-02-24 14:10] ciricc commented on #2772
@namoojaalallee Maybe, but in `request` lib it worked fine

[2020-02-24 17:19] Shrroy opened #2774 "value for title cannot be cast from readablenativemap to string"
- "rn-fetch-blob": "^0.10.15",
- "react": "16.8.3",
- "react-native": "^0.59.10",

[code]
If I use fetch also I will get the same error
[code]
I'm getting this error

if I change `fetch` to this
[code]
I will get different error this

Can anybody help me with this? thank you for your time.

[2020-02-24 21:22] cdhowie opened #2775 "Transport-level errors not reported when responseType is "stream""
**Describe the bug**
When using `responseType: "stream"`, transport-level errors such as "connection reset" are not reported as errors on the source stream. In my tests, the source stream was not even closed in this situation, causing the destination stream to be leaked.

**To Reproduce**
This is a difficult problem to reproduce. For my tests, I put a large (10GB) file on a local nginx server and

[2020-02-25 01:48] #2774 closed

[2020-02-25 05:39] sunderls commented on #2367
@yuhanle

we found that on iOS 13.3, the issue could not be reproduced any more
seems like Apple fixed it( at least for my case)

[2020-02-25 07:31] Ask149 opened #2776 "Allow cross origin access error"
Hi, I'm am working on integrating a vuejs template in spring boot admin, and I was successful in integrating the same. As per the project requirement, I was required to make a GET request to a specific URL which is in the same service ( http://localhost:8080/... ). However, the url of the service varies as per the environment it is running on. But, when the GET call is requested through axios alon

[2020-02-25 09:01] jimmy-liao-gogoro opened #2777 "Update ' sign to ` in proxy spec"
**Section/Content To Improve**
Link: https://github.com/axios/axios#request-config
[code]
The ' sign should be `
[code]

**Suggested Improvement**
Just update ' sign to `

**Relevant File(s)**:
- README.md

[2020-02-25 15:05] #2777 closed

[2020-02-25 15:24] vidyamore commented on #1754
Added testEnvironment variable in the Jest.config file within module.exports
{
  "testEnvironment": "node"
}
It resolved the issue.

[2020-02-25 21:47] sloughin commented on #642
https://github.com/rubennorte -- I think you closed this too quickly.  Postman and jQuery can both send requests that provide the authentication headers, but it seems axios can't manage to do that!

This code (in a Vue.js Vuex store action) fails with a 401 (Unauthorized):
`async fetch_stats(context) {
            var headers = {'headers': {
                'Content-Type': 'application/json',

[2020-02-25 22:13] eithed commented on #787
As this is something that comes up (even for my reference) - axios doesn't support url encoding of objects sent via GET.  I don't know why, but it doesn't. To accomplish what you're after you can do:

[code]

This will require qs

[2020-02-25 22:56] kclonts opened #2779 "Posting using an instance ignores setting method with config"
**Describe the bug**
When creating an instance with `const a = axios.create(configObject)`, axios ignores the method param. This occurs when setting with the _configObject_ and when making a call with the returned instance, a({ method: 'post' });

**To Reproduce**

[code]

**Expected behavior**
it should post when setting method to post

**Environment:**
 - Axios Version [0.19.2]
 - OS: [OSX 10.15

[2020-02-25 23:45] cdhowie opened #2780 "Support async interceptors"
**Is your feature request related to a problem? Please describe.**
Interceptors do not support async functions currently (axios proceeds immediately with the request when the async interceptor function returns its promise).

**Describe the solution you'd like**
Axios could support async interceptor functions. `InterceptorManager.prototype.forEach` would need to be made async and any consumers of t

[2020-02-26 00:51] AndreSilva1993 commented on #2190
Can confirm this.

[2020-02-26 00:53] AndreSilva1993 commented on #2190
Why is this issue closed? As @renestalder mentioned, in the last version, none of the instance parameters appear in any request which renders the `create` method somewhat pointless.

[2020-02-26 01:41] TheMangoTrain commented on #1744
To OP:

Your request isn't "simple" since you're using a custom header `x-dsi-restful`, so the request is going to receive CORS treatment, including the pre-flight `OPTIONS` request.

As well, double-check if you're also setting an authorization header elsewhere in your app (ie user is logged in. In other words, if it works when you're logged out, but get CORS when you're logged in, then this may

[2020-02-26 02:12] elboletaire commented on #2190
It's closed because it's fixed in #2656, but there's still no version for it.

[2020-02-26 04:41] chinesedfan commented on #2780
It should have been supported. Can you give test codes example?

[2020-02-26 04:42] chinesedfan commented on #2776
Closed by the issue bot. Make sure you have followed the issue template.

We suggest users ask similar questions in [stackoverflow](https://stackoverflow.com), instead of Github issues. In fact, you can learn almost everything about CORS from [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS).

[2020-02-26 04:42] #2776 closed

[2020-02-26 04:53] chinesedfan commented on #2779
See https://github.com/axios/axios/pull/1395#discussion_r179828155.

[2020-02-26 07:44] dennismphil commented on #2527
I noticed for a specific private url axios hangs(the promise remains pending and never resolves) with Node 13.x and works with Node 12.x. I can do HTTP GET to the same url with other clients like postman with no issues.

This is an issue only with one particular internal url.

## Node v13
[code]

[code]

## Node v12
[code]

[code]

This is really strange. For anyone with the same issue, try downgr

[2020-02-26 08:49] eyabmohero opened #2782 "iterate though result data objects and child"
Hi;

I'm using react axios to get results from url

results look like :

question is how do i loop through result data and display key and value of "Midnight" in my react ?

HTTP/1.1 200 OK
{
   "code": 200,
   "status": "OK",
   "data": [{
       "timings": {
           "Fa": "03:57",
           "Su": "05:46",
           "D": "12:59",
           "Asr": "16:55",
           "Sun": "20:12",

[2020-02-26 08:55] niceangular commented on #1827
Same issue here!!
![image](https://user-images.githubusercontent.com/48355589/75328289-be68fe00-58b8-11ea-8c4c-3f8b845e066f.png)

[2020-02-26 11:14] Qwerios commented on #2654
I ended up having to setup a persistent OPTIONS handler as well. My final code looked like this:

[code]

I also did not have the option of switching to the `node` environment for Jest

[2020-02-26 11:30] chinesedfan commented on #2154
See https://github.com/axios/axios/pull/2603#issuecomment-565743178. Thanks for @mpark86' pull request anyway.

And if you don't like it, you can replace it easily by configuring `transformRequest`.

[2020-02-26 12:39] chinesedfan commented on #993
Agreed with https://github.com/axios/axios/issues/993#issuecomment-335095893. And users can reuse global interceptors easily without any redundant codes, as long as saving them in a separated file. Followings are sample codes,

[code]

[2020-02-26 12:39] #993 closed

[2020-02-26 12:57] chinesedfan commented on #2569
It is a problem that the server can't response correctly, instead of an issue of axios. Keep tracking in your stackoverflow questions.

A quick solution is that checking **url** and **request headers** and comparing with other ways when you can get the right response. If you confirm that axios sends wrong url/headers, feel free to remind me to reopen.

[2020-02-26 12:57] #2569 closed

[2020-02-26 13:14] chinesedfan commented on #2542
Closed due to no feedbacks.

[2020-02-26 13:14] #2542 closed

[2020-02-26 13:19] OJezu commented on #2154
@chinesedfan just Ctrl+F the RFC referenced in that comment and in this issue.

[2020-02-26 13:23] chinesedfan commented on #2527
@dennismphil Thanks for your update and forgive me closing this issue as the original author didn't give feedbacks. Many things can result in hanging infinitely. Node.js 13.9 is just released, so you are facing another problem.

You can comparing the sent url and headers in axios/lib/adapters/http.js and try to reproduce by a pure `require('http')` example. And open an issue to Node.js if the http

[2020-02-26 13:23] #2527 closed

[2020-02-26 13:44] chinesedfan commented on #2154
@OJezu I am not sure I get what you means. I guess you are proving your point. According to RFC 8259, the charset is not required and some servers are not supported to parse it.

Never mind, at least [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type) includes the charset. More servers work well with it. And as I said, if you don't like it, you can replace it easily by co

[2020-02-26 13:48] chinesedfan commented on #2518
Closed due to stale.

[2020-02-26 13:48] #2518 closed

[2020-02-26 13:51] chinesedfan commented on #2517
Closed due to stale.

[2020-02-26 13:51] #2517 closed

[2020-02-26 14:00] OJezu commented on #2154
@chinesedfan what I'm proving, is that application/json type does not have "charset" defined. Providing it is non-standard, no matter what the servers do with it.

Axios is behaving in a way not specified in standard, and this is what the issue is about. Common errors alone in other software are not a reason to break RFC.

[2020-02-26 14:15] chinesedfan commented on #2154
@OJezu After read more carefully, I think they are 2 things.

- You mentioned RFC8259, which requires JSON should be UTF-8 encoded.
- And I pasted a MDN link, which includes [RFC7231](https://tools.ietf.org/html/rfc7231#section-3.1.1.5).

`Content-Type` is defined in RFC7231, instead of RFC8259. So axios doesn't break any BFCs.

[2020-02-26 14:22] chinesedfan commented on #2493
I joined axios for interests. And I played those websites for a while. But I think only the owner of axios (@mzabriskie) should reclaim the money. :)

[2020-02-26 14:27] OJezu commented on #2154
@chinesedfan where in RFC7231 is charset parameter defined for application/json? It's not, because parameter names are defined for concrete media-types in appropriate RFCs. `charset` parameter is neither declared for all headers nor for all media-types. `application/json` media-type does not have "charset" parameter defined.

From RFC7231

See IANA media type registry for `application/json`:
https

[2020-02-26 14:39] chinesedfan commented on #2154
@OJezu I see. Now you have persuaded me. `application/json` is different with other media types.

[2020-02-26 14:55] chinesedfan commented on #2394
@Stevenje Please provide the full code examples, and where you checked the real request.

[2020-02-26 14:59] chinesedfan commented on #2782
Closed by the issue bot. Make sure you have followed the issue template.

If it is something like the server can't response correctly, instead of an issue of axios. Please look for help in [stackoverflow](https://stackoverflow.com).

[2020-02-26 14:59] #2782 closed

[2020-02-26 15:20] kclonts commented on #2779
@chinesedfan

I'm currently using 0.19.2, and the referenced issue specifies the fix was made in 0.19.1.

Additionally, the config provided to an instance directly `axiosInstance({ method: 'post' })` the method param is still ignored.

[2020-02-26 15:34] chinesedfan commented on #2779
The linked PR explains why above happens. Can you organize your problem again? I got confused now. Your reproduce code example prints "google does not let you post, so it was most likely a success".

- Why does your comment say "// should output 'GET'"?
- And expected behavior is "it should post when setting method to post"?

[2020-02-26 15:35] kclonts commented on #2779
If it helps, my issue is not that the global config and the instance configs are intertwined, but that individual instances are ignoring parameters being explicitly set -- they're not working correctly.

I can take a look later today and see if I can find offending code.

[2020-02-26 15:40] zhengfen commented on #1569
I solved the issue by adding filename with extension:
[code]
inspired by the answer of LeeDavidPriest

[2020-02-26 15:48] chinesedfan commented on #1569
Closed due to old version of axios. And @oliverpool confirmed it works now. https://github.com/axios/axios/issues/1569#issuecomment-557833903.

If other users met similar problems, feel free to open a new issue with the required template.

[2020-02-26 15:48] #1569 closed

[2020-02-26 15:50] #2779 closed

[2020-02-26 16:48] JuanmaMenendez commented on #1236
any solution?

[2020-02-26 18:51] cdhowie commented on #2780
You are right, not sure how I came to this conclusion. There must have been some bug on my side.

[2020-02-26 18:51] #2780 closed

[2020-02-27 04:10] edritech93 commented on #2235
same for me

[2020-02-27 09:10] tuanhai2712 commented on #1723
Same error, who can fixed it :|

[2020-02-27 12:38] Duduzera1997 commented on #2505
Same problem here. With Fetch(GET) everything works normal, with axios it always gives Network error in the GET Method.
Axios: 19.0.2

[2020-02-27 13:26] maurocchi opened #2783 "Unexpected memory usage"
**Describe the bug**

I observe a potential memory leak while posting data from a stream using Axios.

**To Reproduce**

Having a fake server (`nc -kl localhost 5000`), let's profile this simple script:
[code]
[code]
This produces the following chart:
![test_axios](https://user-images.githubusercontent.com/240925/75448641-e1a0b580-596b-11ea-920a-862376e568fe.png)

**Expected behavior**

Then consi

[2020-02-27 13:27] ozalto commented on #552
This line was a life-saver :)

[2020-02-27 13:43] Syarx commented on #2559
@avin-kavish  It's probably because your backend is running on localhost. Try to upload it to a remote server. It will return you a normal progress. If you have not access to a server, an alternative is to send reqest to 127.0.0.1 instead of localhost. You will get better feedback is the image is quite large. >2mb

[2020-02-27 15:16] avin-kavish commented on #2559
@Syarx As I have mentioned already, the upload takes 3 seconds to complete. And no, it wasn't on localhost. The image was like 5mb.

[2020-02-27 16:54] scragg0x commented on #1362
Try Infinity without the quotes

[2020-02-27 20:16] zachwhitedev commented on #500
Is there anything wrong with assuming that axios handles doing JSON.stringify() for us?

[2020-02-27 20:51] thedamon commented on #2713
We have since tried 0.19.1 and are also getting the error there.

[2020-02-27 22:38] nsharma1989 commented on #2072
Hi Is there any known solution to this yet.. I have tried a bunch of stuff but they are not working

[2020-02-27 22:41] adam-s commented on #2072
@nsharma1989 Use [node-tunnel](https://github.com/koichik/node-tunnel/) to create an agent that will tunnel through all the proxies. Add the agent as a property to the request object configuration.

[2020-02-27 22:43] nsharma1989 commented on #2072
Hi @adam-s , Thank you for the prompt response I did tried that too however no success. could you help me pointing to a code snippet may be? Thank you

[2020-02-27 22:51] adam-s commented on #2072
[code]

My proxy is over http while the call to github is over https so I use the appropriate method. I read that with tunnel setting the port which is 443 over https might be required, however, it worked without setting it in my case.

[2020-02-27 23:03] nsharma1989 commented on #2072
@adam-s  tried the same but my https request still gives t::ERR_CERT_AUTHORITY_INVALID
after adding rejectUnauthorized: false

[2020-02-27 23:38] adam-s commented on #2072
@nsharma1989 Sounds frustrating. I can't help beyond my own success using node-tunnel with axios. I don't know if a server can force using a signed certificate or not. [I was reading about self-signed certificates which need to be shared between the client and server.](https://medium.com/nodejs-tips/ssl-certificate-explained-fc86f8aa43d4)

I assume you placed rejectUnauthorized: false on the agent

[2020-02-28 02:48] Omotola28 commented on #2771
Used a package called needle instead which seemed to work perfectfly fine.
Install npm oauth 1.0a AND needle packages

<img width="503" alt="Screenshot 2020-02-28 at 02 46 07" src="https://user-images.githubusercontent.com/23417243/75506015-a9818d00-59d4-11ea-80c0-778ac77f721f.png">

[2020-02-28 02:48] #2771 closed

[2020-02-28 11:01] b02505048 commented on #2675
I also have the same problem with Axios and solved by using [curl-request](https://www.npmjs.com/package/curl-request).

There're a ton of problems with calling Instagram API using Axios on StackOverflow.

However, I still believe that Axios should be able to behave like cURL. Let's see who could provide an equivalent solution in the short future...

[2020-02-28 12:47] simontabor opened #2785 "Config is changed after request interceptor is run"
**Describe the issue**
I'm trying to write a request interceptor in a library to automatically add shared secret HMAC signing.

I was expecting to be able to see the request, just before it's made, with all transformations already completed on it, for example, `config.headers` would be an object with the exact headers which will be sent.

However, there are further modifications to the config afte

[2020-02-28 12:55] Kameecoding commented on #1491
This parameter still doesn't work.

Tested on axios: 0.19.2

[2020-02-28 16:17] lhk opened #2786 "blob and arraybuffer lead to different data"
**Describe the bug**
I'm trying to download a zip file with axios. Depending on whether I specify `blob` or `arraybuffer` as `responseType`, the returned data is different.

A `blob` is automatically converted to a string. With a given encoding, this can be converted to a Buffer. Using the `crypto` module from node.js I've looked at the md5 hashes of both the original blob and the decoded buffer.

[2020-02-29 04:03] chinesedfan commented on #2747
The first version of tutorial is done. See https://github.com/chinesedfan/You-Dont-Know-Axios.

[2020-02-29 05:09] chinesedfan commented on #2785
I am afraid that you have to do the hash in `transformRequest` as a workaround.

In fact, adapters may also change the sent headers. No ideal solution expect for writing a customized adapter.

[2020-02-29 06:58] chinesedfan commented on #2786
@lhk Would you mind give test results for your problems? Like for what conditions,

[code]

[2020-02-29 07:07] chinesedfan commented on #2783
See #1997 and related pull requests. Thanks for your reporting and hope someone can solve it.

[2020-02-29 09:30] chinesedfan commented on #2150
@jvinhit Can you elaborate your problem?

[2020-02-29 09:33] chinesedfan commented on #2095
Closed due to not reproducible. Feed free to open a new one if someone met again.

[2020-02-29 09:33] #2095 closed

[2020-02-29 09:33] chinesedfan commented on #2147
Closed due to lack of enough information.

[2020-02-29 09:33] #2147 closed

[2020-02-29 09:36] chinesedfan commented on #2133
Closed due to stale and no updates.

[2020-02-29 09:36] #2133 closed

[2020-02-29 09:39] chinesedfan commented on #2672
No. And closed due to stale and seems not like an issue of axios.

[2020-02-29 09:39] #2672 closed

[2020-02-29 09:39] kaimiyang opened #2788 "When upload files, headers "Content-Type", boundary, can't set xxx."
[code]

I want to set '----abcdefg', but can not set.
[code]

why can't set boundary value?

[2020-02-29 09:43] chinesedfan commented on #2694
Closed due to stale. And hope [this guide](https://github.com/chinesedfan/You-Dont-Know-Axios) can help you guys.

[2020-02-29 09:43] #2694 closed

[2020-02-29 09:52] chinesedfan commented on #2220
@PunkOnWheels So your problem is the method type definitions don't allow you to use WEBDAV method types?

[2020-02-29 09:54] jvinhit commented on #2150
Hi @chinesedfan I found my problem when request is blocking by CORS => response in iterceptors can't parse error code. I think my issue is closed!
Thank u!

[2020-02-29 09:54] #2150 closed

[2020-02-29 09:55] chinesedfan commented on #2225
Closed due to lack of enough information and stale. Nobody gives a reproducible code example.

[2020-02-29 09:55] #2225 closed

[2020-02-29 10:08] chinesedfan commented on #1825
See https://github.com/weixiyen/jquery-filedrop/issues/85 and https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/sendAsBinary.

[2020-02-29 10:08] #1825 closed

[2020-02-29 10:14] chinesedfan commented on #1838
Besides of `withCredentials` as @pascalboucher mentioned, you may check whether they are [HttpOnly or Secure](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#Secure_and_HttpOnly_cookies), and scopes of cookies. Read more in MDN about which kind of cookies can be Javascript accessed. Closed due to not an issue of axios.

[2020-02-29 10:14] #1838 closed

[2020-02-29 10:25] chinesedfan commented on #2270
@DeepDiver1975 "applicable" here is something like "suggested but not disabled".

Closed due to the question has been answered. But if you met problems, hope [this guide](https://github.com/chinesedfan/You-Dont-Know-Axios#problem-solutions) can help you. And feel free to open a new issue when you confirmed that you have discovered something wrong in axios.

[2020-02-29 10:25] #2270 closed

[2020-02-29 10:30] chinesedfan commented on #2267
#2153 will add an option to disable the default decompress. Then users can decompress with options by themselves.

[2020-02-29 10:30] #2267 closed

[2020-02-29 10:31] chinesedfan commented on #2357
Closed due to lack of enough information.

[2020-02-29 10:31] #2357 closed

[2020-02-29 10:40] chinesedfan commented on #1897
@viswesh146 Which adblocker did you installed? And can you test with the latest version of axios again?

[2020-02-29 10:49] chinesedfan commented on #1892
In fact, it is an issue of package `form-data`. And according to #2049, it has been solved.

[2020-02-29 10:49] #1892 closed

[2020-02-29 10:52] chinesedfan commented on #1920
Closed due to old version of axios. And we have not enough knowledges about PHP.

Notice that you were working on an API and used `fs.createReadStream`. So I think your `FormData` was not browser native FormData. If it was npm package `form-data`, maybe #2049 can help you.

[2020-02-29 10:52] #1920 closed

[2020-02-29 10:57] chinesedfan commented on #2421
You should remove `JSON.stringify`.

[code]

[2020-02-29 10:57] #2421 closed

[2020-02-29 11:01] chinesedfan commented on #2549
Closed by the issue bot. Make sure you have followed the issue template.

Please open a new issue, instead of editing the current one.

[2020-02-29 11:01] #2549 closed

[2020-02-29 11:10] chinesedfan commented on #1660
The key point is as @mateuszkardas mentioned, as well as setting `responseType: 'blob'`.

[2020-02-29 11:10] #1660 closed

[2020-02-29 11:12] chinesedfan commented on #1677
Closed by the issue bot. Make sure you have followed the issue template.

Please open a new issue, instead of editing the current one.

[2020-02-29 11:12] #1677 closed

[2020-02-29 11:20] chinesedfan commented on #1580
Closed due to #2049.

[2020-02-29 11:20] #1580 closed

[2020-02-29 11:23] chinesedfan commented on #1583
Closed by the issue bot. Make sure you have followed the issue template.

Please open a new issue, instead of editing the current one.

[2020-02-29 11:23] #1583 closed

[2020-02-29 11:28] chinesedfan commented on #1392
Thanks for lots of users sharing their solutions. And close due to not a bug of axios.

[2020-02-29 11:28] #1392 closed

[2020-02-29 11:31] chinesedfan commented on #1176
No intentions to change this "traditional" behavior. But glad to accept a pull request to mention it in our document.

[2020-02-29 11:37] chinesedfan commented on #1597
Did you have redirections for your first POST request? Because axios saves the last request. That may be the reason.

[2020-02-29 11:38] chinesedfan commented on #1786
Closed in favor of #2489.

[2020-02-29 11:38] #1786 closed

[2020-02-29 11:53] #2699 closed

[2020-02-29 13:25] dehghani-mehdi commented on #413
At least add an option to control this behavior.

[2020-02-29 14:25] determin1st commented on #413
I think that's the correct logic to justify non-determinism.

Headers SHOULD BE lowercased.

[2020-02-29 16:17] jeevasusej commented on #1674
How do we handle for multiple request?

[2020-02-29 22:01] namoojaalallee commented on #1674
This is very important

[2020-03-01 00:40] myoneflag commented on #853
`const board = this.props.routeParams.tag;
var config = {
    headers: {'Access-Control-Allow-Origin': '*'}
};
axios.get('https://cors-anywhere.herokuapp.com/' + 'https://a.4cdn.org/' + board + '/threads.json', config)
    .then(function (response) {
        console.log(response.data);
});`

[2020-03-01 00:42] myoneflag commented on #853
`const board = this.props.routeParams.tag;`
`axios.get('https://cors-anywhere.herokuapp.com/' + 'https://a.4cdn.org/' + board + '/threads.json', config)`
`    .then(function (response) {`
        `console.log(response.data);`
`});`

[2020-03-01 01:42] powehuda commented on #362
this work for me. with query stringfy thanks a lot.
you save my live

[2020-03-01 02:23] chinesedfan commented on #1796
Closed due to too old. If you still have this problem, feel free to open a new one with detailed information. Thanks.

[2020-03-01 02:23] #1796 closed

[2020-03-01 02:59] williamtorres1 opened #2789 "Request from email user returning null"
**Description**
Hi, the emails request on axios api are returning null, anyone else are getting this same problem?

**To Reproduce**
[code]

**Expected behavior**
the expected response was a string with the email, but it is returning null

**Additional context/Screenshots**

The user profile info:
![image](https://user-images.githubusercontent.com/39351781/75618570-2df81b00-5b4f-11ea-854d-436e56c9

[2020-03-01 03:34] chinesedfan commented on #1726
Fixed by #1758.

[2020-03-01 03:34] #1726 closed

[2020-03-01 19:19] dwiyatci opened #2790 "Clarification on "only the value is sent, not the key" (data syntax alternative)"
**Section/Content To Improve**
https://github.com/axios/axios#request-config
[code]

**Suggested Improvement**
It's kinda confusing what "only the value is sent, not the key" remark really means there 'cause after playing around a bit with it, I noticed that the "keys" were actually still sent in the Form Data, i.e.  `Country=Brasil&City=Belo Horizonte`. Thus, it needs a clarification?

**Relevant

[2020-03-02 01:13] GrahamLea commented on #706
I was disappointed to find Axios doesn't/won't support URL templates, considering it was recommended to me as a replacement for vue-resource which does support them.

If you're looking for a way to achieve a similar functionality while centralising your urls, I put a possible solution on SO: https://stackoverflow.com/a/60481338/243104

[2020-03-02 08:54] neg3ntropy opened #2791 "responseType=text but json is parsed"
**Describe the bug**

I want to get a response as string even if that comes as application/json. Parsing the response to an object is not required and not desired as the only thing I have to do with it is rewrite some urls and I am not sure of the content type the server will use.

**To Reproduce**

Server:
[code]
Client:
[code]
Outcome:

**Expected behavior**
response `data` should be the string

[2020-03-02 12:32] CLQueiroz commented on #973
Meu caso funcionou trocando o localhost pelo ip da maquina na chamada da api

[2020-03-02 14:12] dunky11 commented on #2713
I fixed it by changing:

`module.exports = { default: someClass };
`
to

`module.exports = someClass;`

It looks like default is not a valid key to the object you assign to module.exports.

[2020-03-02 14:21] delirius325 commented on #1674
@jeevasusej @namoojaalallee ; this is a very old (and closed issue). For more help, I strongly suggest creating a new issue over at StackOverflow instead of on GitHub.

[2020-03-02 14:21] mamadfar commented on #118
GuyyyyyyyyyyyyyyyyyyyyyyyyyYYYYYYYYYYYYYYYYYYYYYYYYYYYyyyyyyyyyyyyyyyyyyyyyyyyyyyS

just use this 4 line code and DONE !

import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

.
.
.
JUST DO THIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-03-02 14:22] mamadfar commented on #632
GuyyyyyyyyyyyyyyyyyyyyyyyyyYYYYYYYYYYYYYYYYYYYYYYYYYYYyyyyyyyyyyyyyyyyyyyyyyyyyyyS

just use this 4 line code and DONE !

import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

.
.
.
JUST DO THIS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-03-02 15:12] brandoncc commented on #1939
For anyone else that comes looking, I ended up adding this interceptor:

[code]

[2020-03-02 18:29] srenert commented on #1473
no you didn't... you sending a 'get' request, the issue is with 'post' requests.

[2020-03-02 19:44] determin1st commented on #2791
What you think should be the default content type returned in the case of this option enabled:

- ArrayBuffer
- String

[2020-03-02 20:35] jonchurch commented on #2747
Hey there! I'm curious about who maintains this project currently, and if the team would like help.

I saw some talk over in this somewhat hostilely titled issue https://github.com/axios/axios/issues/1965 and see on the people page of the repo @emilyemorehouse @mzabriskie @nickuraltsev @rubennorte listed as maintainers.

I wanted to possibly open up a dialogue with the maintainers, and point ya'll

[2020-03-02 20:41] wesleytodd commented on #2747
While I don't have a ton of time to get involved on a new project, I can say that the triage effort and the plans from the Package Maintenance group have been super helpful for Express.  If you all are interested, we had a plan to use Express and MQTT as pilot projects, maybe we could add Axios to that list.  If maintainers from here want to reach out to me or the PM group, please go ahead and ope

[2020-03-02 20:56] chrisdchristo commented on #686
+1 Needed to access things like the MongoDB Atlas API, which uses Digest Authentication only.

[2020-03-02 21:51] neg3ntropy commented on #2791
I am not familiar with browsers, but it looks like responseType=text should result in strings. For ArrayBuffer there's responseType=arraybuffer.

[2020-03-03 04:59] aedelstein commented on #124
I'm seeing this too.  Here's my sample code which I'm running on serverless:
[code]
If I invoke the code from the command line with `serverless invoke local --function myfunc --data='{"httpMethod": "GET"}'`, it will print
[code]
and then hang for about 23 seconds before returning control back to the shell.

If I hack a `clearTimeout(timer); timer = null;` in to the `req.on('error', ...` code  in `

[2020-03-03 06:24] ashishgupta2505 opened #2792 "blank pdf is downloaded"
If I am directly calling a third perty api( looker api) from postman I am getting the pdf as download with data.
But When I am calling through my api consuming looker api it is downloading only blank pdf.
But I can see the binary data in my response.

PFB code I am using.

export async function downloadPDF(
req: express.Request,
res: express.Response
): Promise {
const response = await createPdf(T

[2020-03-03 09:39] ramyareye commented on #2380
As I understood you cannot send data with get in iOS.
this made it work for me
use
[code]
instead of
[code]

[2020-03-03 09:49] ramyareye opened #2793 "Handle iOS error while sending a get request with body!"
**Describe the bug**
As it's written [here (iOS 13 Release Notes)](https://developer.apple.com/documentation/ios_ipados_release_notes/ios_13_release_notes) :
**All URLSessionTask instances with a GET HTTP method that contain a body now produce the error NSURLErrorDataLengthExceedsMaximum. (46025234)**

It made me crazy until I could finally find out what's happening!

**To Reproduce**
I want to se

[2020-03-03 11:34] determin1st commented on #2791
did you try using axios `config`?

[2020-03-03 13:38] preet-dabre opened #2794 "KaiOS support"
**Is your feature request related to a problem? Please describe.**
For allowing cross-origin requests from an app for [KaiOS](https://www.kaiostech.com/) non-standard XMLHttpRequest parameters need be set on XMLHttpRequest object.
Parameters:
- XMLHttpRequest.mozAnon
- XMLHttpRequest.mozSystem
There isn't any way to set these parameters via config object in the XMLHttpRequest object.

**Describe t

[2020-03-03 15:09] chinesedfan commented on #2789
It is a problem that the server can't response correctly, instead of an issue of axios. Please contact Github Support.

[2020-03-03 15:09] #2789 closed

[2020-03-03 15:11] chinesedfan commented on #2792
A quick solution is that checking **url** and **request headers** and comparing with other ways when you can get the right response. If you confirm that axios sends wrong url/headers, feel free to remind me to reopen.

[2020-03-03 15:11] #2792 closed

[2020-03-03 15:13] chinesedfan commented on #2794
The suggested solution is to implement your own xhr adapter. Because it is not a common request, forgive axios will not include in the default xhr adapter.

[2020-03-03 15:13] #2794 closed

[2020-03-03 15:19] chinesedfan commented on #2735
Can you replace the call of axios with a single `console.log` statement? To make sure it is not something related to duplicated event listeners.

[2020-03-03 15:21] chinesedfan commented on #2732
Closed by the issue bot. Make sure you have followed the issue template.

Please open a new issue, instead of editing the current one.

[2020-03-03 15:21] #2732 closed

[2020-03-03 16:57] gianniskarmas commented on #2047
I'm using axios with nuxt and a middleware that runs under /api in production but under localhost:1337 when in dev.
Before I used to have:
[code]
Now the only way I can think of solving it is to create functions on each and every call.

Being able to use just '/api' in baseUrl would solve all this mess.
Why did you change it? What was the issue?

[2020-03-03 21:58] determin1st commented on #686
@fgeorges can you provide more info, i may try to integrate your code into my lib

[2020-03-04 00:40] sohailashraf003 commented on #2047
@gianniskarmas this PR was not merged into the main branch and rejected.

So no change in the Axios with respect to this PR.

[2020-03-04 04:17] vietbui opened #2796 "Axios always time out on AWS Lambda for a particular API"
**Describe the issue**
I'm not really sure if this is an Axios issue or not. The following code runs successfully on my local development machine but always time out whenever I run it from the cloud (e.g. AWS Lambda). Same thing happens when I run on repl.it.

I can confirm that AWS Lambda has internet access and it works for any other API but this:

https://www.target.com.au/ws-api/v1/target/prod

[2020-03-04 04:18] chinesedfan commented on #2047
@gianniskarmas Did you meet another problem? Can you elaborate the problem and explain what has been changed?

[2020-03-04 07:17] yosagar commented on #1567
In my case, I was passing number value, which was causing it.
like,
[code]
While converting it to form-data, we have to convert it into a string.

[code]

[2020-03-04 07:35] jaggu4f commented on #196
Hi thank you it;s worked for me.

[2020-03-04 12:24] lokesh14v commented on #853
This worked for me and need to learn why

[2020-03-04 13:06] achillesoo7 commented on #2796
Hello @vietbui

This is happening because www.target.com has a cors policy and is not allowing any host other than localhost.

Please read this for more information: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

[2020-03-04 13:48] chinesedfan commented on #2796
It is a problem related to network. Can you try the native `require('http')` and test on your cloud server?

[2020-03-04 14:33] jane00 commented on #2179
response can NOT , stringify (response.data) instead

[2020-03-04 22:02] zarlo12 commented on #1827
Try with

`<?php
header('Access-Control-Allow-Origin: *');
header("Access-Control-Allow-Headers: X-API-KEY, Origin, X-Requested-With, Content-Type, Accept, Access-Control-Request-Method");
header("Access-Control-Allow-Methods: GET, POST, OPTIONS, PUT, DELETE");
header("Allow: GET, POST, OPTIONS, PUT, DELETE");`

[2020-03-04 23:35] vietbui commented on #2796
@achillesoo7 Thanks for the suggestion. I couldn't see any cors related header in the response when running it from my localhost.

@chinesedfan I tried the native `require('https')` and it times out on by localhost and cloud server. Please find sample code here: https://repl.it/repls/TerribleViolentVolume

[code]

Again, I can confirm that same code works on any other API.

Thanks for looking in t

[2020-03-05 02:42] chinesedfan commented on #2796
@vietbui So the root reason is that `https://www.target.com.au/` behaves strangely. I am afraid that nothing can be done from the side of axios now. Hope you can contact administrators of the website or someone else to solve it.

[2020-03-05 04:29] neg3ntropy commented on #2791
you can see that from the code posted "to reproduce".

[2020-03-05 06:05] vietbui commented on #2796
@chinesedfan That's what I suspect as well as it also behaves very weirdly with curl.
- curl from local -> 403 access denied
- curl from local with User-Agent header -> success
- curl from cloud server -> 403 access denied

It must be server side validation, something related to AkamaiGHost.

As it has nothing to do with axios, I'll close the ticket.

[2020-03-05 06:05] #2796 closed

[2020-03-05 09:31] icksky opened #2799 "Non-standard environment `pathname` is undefined"
**Describe the bug**
When I use Axios with an adapter in Wechat Devtools. Error `Cannot read property 'charAt' of undefined` caused by code `urlParsingNode.pathname.charAt(0)` in file `lib/helpers/isURLSameOrigin.js`.
Because Wechat Devtools is a Non-standard browser, `pathname` not exist in  `document.createElement('a')`.

**Maybe it is not a BUG, But every time I add new dependencies must modify

[2020-03-05 10:04] dinni69 commented on #569
"proxy": "http://localhost:8000",

use this in package.json

[2020-03-05 14:00] D3vl0per commented on #2560
@czlinNYC It's is the user-agent, Paulo just show this example. Replace the YOUR-SERVICE-NAME section to for example Mozilla/5.0. :grinning:

Some agent: https://deviceatlas.com/blog/list-of-user-agent-strings

[2020-03-05 16:00] xiaomuzizier opened #2802 "Error: Request failed with status code 502"
**Describe the issue**
A clear and concise description of what the issue is.
![image](https://user-images.githubusercontent.com/30134089/75999545-5318cf00-5f3d-11ea-812c-4ca38e0af8d0.png)
In my development,I have this error:
 Error: Request failed with status code 502
      at createError (/Users/ninaqqli/Desktop/lopan/lopan-server/node_modules/axios/lib/core/createError.js:16:15)
      at settle

[2020-03-05 16:04] srisikha commented on #2164
I think every one is looking at option 2) where to get it and when it is available?

[2020-03-05 18:23] determin1st commented on #2791
oke, tested..

[code]
that happens because of `transformResponse` has one function which transforms from JSON, so you may make it empty to opt-out of this behaviour

[2020-03-05 22:08] dusan-dragon commented on #2590
@chinesedfan I just want to point out that this also happens when running on nodejs. So there is no XHR, but axios use http adapter instead...

[2020-03-06 01:23] akhmadcoder opened #2803 "axios.get error on laravel 6 / vue js project"
Hi there, I am developing a project using vue js / laravel 6.  The problem is, when try to use api, it is trying to get from root directory on ubuntu server. On our server has multiple projects in one ip address, so it is like http://ip_address/project1, http://ip_address/project2  etc.  The api working on local server fine, when upload to ubuntu server, it is requesting  http://ip_address/api/use

[2020-03-06 05:16] chinesedfan commented on #2802
It is a problem that the server can't response correctly, instead of an issue of axios. Please look for help in [stackoverflow](https://stackoverflow.com).

A quick solution is that checking **url** and **request headers** and comparing with other ways when you can get the right response. If you confirm that axios sends wrong url/headers, feel free to remind me to reopen.

[2020-03-06 05:16] #2802 closed

[2020-03-06 05:18] xiaomuzizier commented on #2802
Thank you，I try it

| |
李倩倩
|
|
邮箱：13051391963@163.com
|

签名由 网易邮箱大师 定制

On 03/06/2020 13:16, Xianming Zhong wrote:

Closed #2802.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-06 05:20] chinesedfan commented on #2803
How did you do that? Codes are better than words. :)

By the way, please follow the issue template next time.

[2020-03-06 08:35] danivalls opened #2804 "Axios missing headers when adding custom header"
Hello!
I'm trying to add a custom header in axios using an interceptor, but when I do, requests are missing other headers. This is how I add the header:

[code]

Then  I do the request:

[code]

When I don't add the Authorization header, the headers sent are the following:
[code]

But when I add the Authorization token, the headers are:

[code]

When those headers are missing my request is denied

[2020-03-06 10:49] akhmadcoder commented on #2803
problem solved, I put the following code to header and problem solved.

`<base href="{{ asset('http://ip_address/project1/public/') }}" target="_blank">`

[2020-03-06 11:05] #2803 closed

[2020-03-06 14:01] #2153 closed

[2020-03-06 15:10] ssayebee commented on #1827
![image](https://user-images.githubusercontent.com/51493975/76095257-524c6f80-6007-11ea-8b3d-7d46c15f5905.png)

I have same problem
It works in Postman, but not when a request is sent to axios.

axios version `^0.19.2`

[code]

[2020-03-06 15:23] sagar-gavhane commented on #2804
@danivalls Thanks for creating an issue. Can you double-check that you're using `LocalStorage` on line number 2 instead localStorage?

[code]

[2020-03-06 15:39] chinesedfan commented on #2804
@danivalls It doesn't make sense. Did you reverse the order? I think adding `Authorization` header will result in CORS problem, while without it should be ok. If possible, can you provide the screenshot of the network panel?

[2020-03-06 15:42] sagar-gavhane commented on #2791
What do you think about this?

[code]

[2020-03-06 17:06] qmdx commented on #2303
Same problem

Axios 'with-credentials' not working

[2020-03-06 17:10] TechCanuck commented on #2303
Issue still exists - @Alanscut did you ever come up with anything?  Works fine in incognito, but not in regular Chrome/Brave.  This happens when using with React/Axios and nodejs as a backend as a setter for cookies.  These variables shouldn't matter much but if that helps.  Can provide code samples of how react is setting the cookies but it's pretty much cookie-cutter / standard.

[2020-03-06 17:11] TechCanuck commented on #2303
@jiazhuangzhexiaozhang Yes it seems to work with other fetch() and javascript libraries, but axios is doing something odd which doesn't set it.

[2020-03-06 17:32] edgarjrg commented on #1863
But the function can be implemented in the actual code and just add the type definition in the .d.ts file, like the rest of the code, isn't that possible?

@luisnaranjo733  Could you point to your code?

[2020-03-06 17:47] iDVB commented on #1178
We're seeing this exact same issue with a simple post call but ONLY in our gatsby site.

[2020-03-06 18:21] Bilaltcpaas commented on #1827
I was getting **Network Error** when making an API request using AXIOS only in Window Server Firefox.Following are the steps to fix the issue.I am using NodeJS server

1-  npm install cors

2-const cors = require("cors");

3- app.use(cors());

4- app.use(function(req, res, next) {
  res.setHeader("Access-Control-Allow-Origin", "*");
  res.setHeader("Access-Control-Allow-Credentials", "true");
  re

[2020-03-06 21:44] simsketch commented on #1552
adding a try catch helped me see the response and underlying error message.

[2020-03-07 06:38] gajet5 commented on #1629
After analyzing the problem, I identified three items that can create strange behavior.

1. "/" at the end of the query.
2. The redirection on the server side.
3. automatic URL generation

In my case, there was a third situation. I use the i18n plugin.

My request:
[code]

When prompted, the i18n plugin translated the request with the language in url /en/account/user. After I processed the request

[2020-03-07 10:37] chinesedfan commented on #2696
Fixed by #2781.

[2020-03-07 10:37] #2696 closed

[2020-03-07 11:27] chinesedfan opened #2808 "More flexible ways to customize adapters"
**Is your feature request related to a problem? Please describe.**

Users may want to set different options for native `http` module, or do something with the request object. axios only supports some of them, but doesn't want to add more and more options. For example,

- #974, to set `req.setNoDelay` for http adapter
- #3498, to set `request.open(...., synchronous)` for xhr adapter
- #3422, to set

[2020-03-08 04:32] chinesedfan commented on #2713
@thedamon Can you provide a demo project?

[2020-03-08 04:39] chinesedfan commented on #2163
Closed due to no feedbacks.

[2020-03-08 04:39] #2163 closed

[2020-03-08 04:44] chinesedfan commented on #2304
Closed due to stale.

[2020-03-08 04:44] #2304 closed

[2020-03-08 05:00] chinesedfan commented on #1187
I think the reason is `validateStatus`. See [my notes](https://github.com/chinesedfan/You-Dont-Know-Axios/blob/master/README.md#response-schema). And feel free to remind me if it is not solved.

[2020-03-08 05:00] #1187 closed

[2020-03-08 07:13] chinesedfan commented on #2061
Closed due to stale. I wrote a [note](https://github.com/chinesedfan/You-Dont-Know-Axios/blob/master/README.md#do-you-use-the-right-adapter) about how to check the adapter. Feel free to remind me if you have further discoveries.

[2020-03-08 07:13] #2061 closed

[2020-03-08 07:21] chinesedfan commented on #1486
Closed due to lack of enough information. The question is too wide and hope you guys can provide some example codes. The internal API of axios is [XMLHttpRequest send](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send) in browsers.

[2020-03-08 07:21] #1486 closed

[2020-03-08 07:35] chinesedfan commented on #2009
It should be. Because axios is a client, as long as the required headers are sent. The server will be able to response batched data.

[2020-03-08 07:35] #2009 closed

[2020-03-08 07:52] chinesedfan commented on #2089
Closed due to lack of enough information.

[2020-03-08 07:52] #2089 closed

[2020-03-08 07:59] chinesedfan commented on #2110
You can try to print the error message. If there was no special pattern, I am afraid hard to get a certificate error.

Closed due to it is not an issue of axios, but feel free to remind me if you got further discoveries in Google or stackoverflow or anywhere else.

[2020-03-08 07:59] #2110 closed

[2020-03-08 18:47] khatekar commented on #535
I am facing the same issue. I am using `axios` and using POST method. I tried all solutions mentioned above but no luck. Did anyone find the working solutions? Thank you.

[2020-03-09 00:28] dhruvg opened #2809 "Axios Using Stale Authorization Header"
**Describe the issue**
I set the `Authorization` header manually before making a GET request using Axios. However, the `Authorization` header value in the network request (seen via Chrome Dev Tools) is something different. It is always some stale old value which never changes. Incognito mode works as expected. But, clearing cookies, cache, and local storage in normal Chrome does not solve the prob

[2020-03-09 00:41] determin1st commented on #2809
server should return allowed headers in CORS OPTIONS response and better with the request itself.
so, dump your errors, I assume they are CORS related.
it goes like `accepted-....-headers: authorization, ...`

[2020-03-09 00:50] #2809 closed

[2020-03-09 04:48] nicolanilomartinoph commented on #1178
I solved mine by not chaining the request, then and catch.
Original code:
`axios.post( '/myPath', {myData : "test"}).then( "THEN BLOCK" ).catch( "CATCH BLOCK" )`

Solved code:
`const test = `axios.post( '/myPath', {myData : "test"})

test..then( "THEN BLOCK" ).catch( "CATCH BLOCK" )`

[2020-03-09 06:53] sunithakk commented on #960
Not working for me

[2020-03-09 07:25] danivalls commented on #2804
Hello and thanks for the help! Yes, the access to ``LocalStorage`` is correct. (I'm using Quasar Framework, so localStorage management is done through the ``LocalStorage`` that quasar provides).

I double checked that the token is correctly being sent on the request.

[2020-03-09 07:46] danivalls commented on #2804
Thanks for your help! No, the order isn't reversed. It happens as I described.

Of Course!

![image](https://i.imgur.com/g6O768B.png)

This is the info of the request failed with the bearer token attached.
Message on the console:

``Access to XMLHttpRequest at 'http://-----------/----' from origin 'http://localhost:8080' has been blocked by CORS policy: Response to preflight request doesn't pass a

[2020-03-09 10:29] danivalls commented on #2804
Hey! thank you both for your help!

I was talking with the backend guys this morning and they found this is due to a bug on the server-side and they should fix it soon.

Closing the issue since it's not axios related!

Thanks a lot for your help! 😄

[2020-03-09 10:29] #2804 closed

[2020-03-09 10:34] muscaiu opened #2810 "Download a file with support for pause and resume"
Hello. I'm working on an Electron project and i need to fully support **downloading a file** with **progress, pause and resume**.

The progress part i got covered, but i **can't find anything about pause / resume**.
Thanks in advance.

[code]

[2020-03-09 11:13] chinesedfan commented on #2810
axios doesn't support it out-of-box. But looks like [xhr can do it theoretically](https://stackoverflow.com/questions/22294012/pause-a-download-with-xmlhttprequest-in-javascript). You can also search more answers from Google.

[2020-03-09 14:23] muscaiu commented on #552
The solution doesn't work for me.
Still getting
`The provided value 'stream' is not a valid enum value of type XMLHttpRequestResponseType.`
`Uncaught (in promise) TypeError: data.pipe is not a function`

[code]

[2020-03-09 14:48] blombard commented on #647
@epatrasc You can reproduce it like that :

[code]

[2020-03-09 15:52] loginetsolutions commented on #569
Absolutely stupid! I got this the second time and I forgot about die() and CORS! So, you saved my life twice! Thanks!

[2020-03-09 17:18] hyshka commented on #587
Just ran into this in my upgrade to `0.19.0-0.19.2` and specifying `withCredentials` on the global axios level before creating a session instance solved it for me.

[code]

I was having all sorts of funky issues with set-cookie headers not working for my CSRF tokens.

[2020-03-09 18:14] sauldeleon commented on #2009
Hi!

Thanks for the answer @chinesedfan . Is there any example of how to launch a batch request?

I havent found anything in the docs (yet)

Many thanks!

[2020-03-09 21:08] Munawwar commented on #1139
I actually like the default behavior, since it's query string:

{ key: undefined } to ?
{ key: null } to ?
{ key: '' } to ?key=
{ key: 'null' } to ?key=null

From a strictly typed perspective, only string is a valid query string (see... it's a self validating statement 😄 )..
null and undefined are not strings, nor should axios assume a string representation for them out-of-the-box. Use `paramsSeri

[2020-03-10 00:10] PeterDKC commented on #1139
@Munawwar that's not how HTTP works. The first two are valid HTTP query parameters and should not be removed from the query string just because they have no value for the key.

[2020-03-10 01:39] betopompolo commented on #2190
I used interceptor as a workaround too, something like @cheelahim suggested:
[code]

But still waiting for a new version to fix this bug.

[2020-03-10 01:53] imrandong commented on #1221
it work for me

[2020-03-10 01:55] imrandong commented on #1221
it solved my problem

[2020-03-10 02:38] chinesedfan commented on #2009
@sauldeleon Sorry, it is not one of key features of axios, so we have no documents for it. But you can find out what headers, data and data format need to be sent, then use axios as usual.

[2020-03-10 05:22] Munawwar commented on #1139
HTTP spec does not dictate null and undefined serialization (the latter of which is a JS only thing). There is a way to achieve each of the url param representation.. let me inverse the example

To achieve:
?key= use { key: '' }
? use {}
?key=null use { key: 'null' }

[2020-03-10 05:29] PeterDKC commented on #1139
That's not the same thing, and we're not talking about serialization. `?myKey` is valid, and not the same as `?myKey=`

[2020-03-10 09:25] spongege commented on #164
thanks for help!

[2020-03-10 09:48] Lachlann commented on #1827
@Bilaltcpaas I was having this issue using Mockoon adding the headers defined above resolved the issue for me, thank you.

[2020-03-10 09:55] Volekss commented on #2505
@whhlulu solution helped me. This seems to be a bug which needs to be fixed

[2020-03-10 11:20] vandyke1906 commented on #891
I solved my issue using:
Axios.get(url,header,params) => Axios.get('http://localhost/api/', {headers: {'Authorization':'Token ' + tokenhere} }, params)

my code before w/c was not working was these format:
Axios.get(url, params,header) => Axios.get('http://localhost/api/', params, {headers: {'Authorization':'Token ' + tokenhere} })

[2020-03-10 11:54] Munawwar commented on #1139
Oh didn't think of that one.. I'll keep quite now 🤐

so null should do that but undefined shouldn't yes?
?key use { key: null }

[2020-03-10 13:09] PeterDKC commented on #1139
No, it would generally be used to translate into a Boolean or a state of some kind. `/?hasCats` the user has cats vs `/` the user doesn't have cats. It's the same outcome as having that value always present and true or false but can save you length on your URL ( browsers don't allow infinite strong length ) and just prettify your URL. You would check the request for existence of the key rather tha

[2020-03-10 13:25] apanchati commented on #2009
@sauldeleon below is the sample code. Hope this helps.

public async getBatch(): Promise<any> {
 return new Promise((resolve, reject) => {
   try {
	 let batchContents = new Array()
	 const changeSetId = '3bc5bd67-3517-4cd0-bcdd-9d23f3850402'

	 batchContents.push('--' + changeSetId)
	 batchContents.push('Content-Type: application/http; msgtype=request')
	 batchContents.push('')
	 batchContents.pu

[2020-03-10 15:53] iradul opened #2811 "Redirection failure is not properly handled"
**Describe the bug**
Current version `0.19.2` has a bug that can't be easily workaround.
The bug comes from `follow-redirects@1.5.10` dependency. It's fixed in the latest version of `follow-redirects` (https://github.com/follow-redirects/follow-redirects/commit/137c8cf467c52c0583502bb611aab7e65704a929) and the master branch is using it (https://github.com/axios/axios/commit/56b72bbd2c2924ff6d89a70

[2020-03-10 16:37] iradul commented on #2811
Actually current master will just swallow the exception so it's not really fixed! I'll make PR to fix this soon.

[2020-03-10 16:46] trblackw commented on #1766
Also dealing with this error as well
[code]

[2020-03-10 20:50] determin1st commented on #2791
the main thought here, is why one option is choosen against another. should they depend on each other and stuff..

[2020-03-10 23:46] yamifr07 opened #2813 "JSON Post with arrays"
When sending a POST with data that includes an array, it's being convert to an object.
Eg:
axios.post('/endpoint', {names: ['a', 'b', 'c']}, {
    headers: {'Content-Type': 'application/json'}
})

It's sending {names: {0: 'a', 1: 'b', 2: 'c'}} instead of {names: ['a', 'b', 'c']}.

What should i do?

[2020-03-11 01:00] mcbryan1 opened #2814 "I need HELP with this issue. I am getting error 400 when i console logged data"
constructor (props){
        super(props);

        this.state ={
            coords:{
                latitude: 0,
                longitude: 0
            },

        }
    }

    componentDidMount(){
    //Device Location Here
    try{
        if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(position => {
                let newCoords = {
                   latitu

[2020-03-11 02:00] tecnauta commented on #1946
This worked for me.

`api.post,
      'sessions',
      {
        email,
        password,
      },
      {
        validateStatus: false,
      },`

Then

`const responseStatus = response.status;
if (responseStatus < 200 || responseStatus >= 300) throw response;`

In response.headers I have ALL my headers!

[2020-03-11 07:41] sunith-kumar commented on #2303
This is happening because the set-cookie header is ignored by the Axios. Any fix for this

[2020-03-11 10:07] xgqfrms commented on #2190
https://stackoverflow.com/questions/40947650/axios-get-in-url-works-but-with-second-parameter-as-object-it-doesnt

[2020-03-11 14:59] chinesedfan commented on #2813
Yes, this is a stupid bug but not fixed yet. Closed in favor of #2567.

A workaround is converting the data as string by `JSON.stringily` if you are sending with `application/json`.

[code]

[2020-03-11 14:59] #2813 closed

[2020-03-11 15:00] chinesedfan commented on #2814
It is a problem that the server can't response correctly, instead of an issue of axios. Please look for help in [stackoverflow](https://stackoverflow.com).

A quick solution is that checking **url** and **request headers** and comparing with other ways when you can get the right response. If you confirm that axios sends wrong url/headers, feel free to remind me to reopen.

[2020-03-11 15:00] #2814 closed

[2020-03-11 15:37] rachitpant opened #2815 "CSRF token from header."
I am working on a vue project with a spring boot backend. Axios `get` requests to the server work fine and I get response with the csrf token in the header.
From the chrome devtools, I can see the token in the get response header.
![image](https://user-images.githubusercontent.com/1474415/76432143-f0826180-6388-11ea-8a4d-d6beeadd137d.png)

I now want axios to read this and automatically attach thi

[2020-03-11 16:01] chinesedfan commented on #2815
You have to save the value in cookies by yourself and set as `xsrfCookieName`. See [my notes](https://github.com/chinesedfan/You-Dont-Know-Axios/blob/master/README.md#more-stories-about-headers).

And you can also read common Q&A about [CORS](https://github.com/chinesedfan/You-Dont-Know-Axios/blob/master/README.md#nightmares-of-headers-cors-cookies-and-auth) there.

[2020-03-11 16:42] sunithakk commented on #960
@gopal-g  yes same undefined im getting.

[2020-03-11 19:15] daniel-butler commented on #1392
I'm not sure I am following. What should be done if there is a success `responseType of `arraybuffer` but if there is an error we are sent back json so the `responseType` needs to be `application/json` for example?

[2020-03-11 21:02] phated commented on #2493
It'd be great to get Axios to join Tidelift! There is [already $64.75/month available](https://tidelift.com/lifter/search/npm/axios) to be claimed by the maintainers of this project.

When you sign up, there are a few requirements for the project that we outline at https://tidelift.com/about/lifter-tasks. It looks like Axios already does most of them!

I'm happy to answer any questions you might h

[2020-03-12 02:48] chinesedfan commented on #2493
@phated I have read more introductions about Tidelift and find there may be a little gap between us.

In my words, Tidelift sells axios to commercial customers with higher requirements (which will increase burdens of axios), but doesn't help axios with new contributors. Apology if I misunderstood something. Do you still think Tidelift suitable for axios?

[2020-03-12 09:07] alwayszb commented on #1663
Can anybody follows up this issue?

[2020-03-12 11:48] Wrufesh opened #2816 "How can I change an adapter based on url and http method"
What I want to achieve is mock only some of the REST apis.

I want to change the adapter based on url and http method ('get', 'post' etc).

Is it possible?

[2020-03-12 12:51] chinesedfan commented on #2816
Yes, just use an interceptor.

[code]

[2020-03-12 12:51] #2816 closed

[2020-03-12 16:54] jimlundblad commented on #2480
I'm having issues with docker and axios as well, my docker containers are:
wordpress and nginx reverse proxy, and a express.js app,

but when axios is trying to call /wp-json from the wordpress or nginx container it get's ECONNREFUSED and resolves 127.0.0.1 instead of the container IP

`{
  Error: connect ECONNREFUSED 127.0.0.1:443
  at TCPConnectWrap.afterConnect[as oncomplete](net.js: 1107: 14)

[2020-03-12 17:05] jimlundblad opened #2817 "Axios calls between docker containers"
I'm having issues with docker and axios, my docker containers are:
wordpress and nginx reverse proxy, and a express.js app,

but when axios is trying to call /wp-json from the wordpress or nginx container it get's ECONNREFUSED and resolves 127.0.0.1 instead of the container IP

**The error**
[code]
**the server**
[code]

** docker**
[code]

[2020-03-12 17:52] aseprano opened #2818 "Wrong version of follow-redirects used"
Your package.json on github requires the follow-redirects: ^1.10.0 library, whereas the package.json in the npm bundle (https://registry.npmjs.org/axios/-/axios-0.19.2.tgz) refers to the older 1.5.10 version of follow-redirects.
Can you fix this depencency issue since the latest version of follow-redirects has a better redirect management, pls?

[2020-03-12 21:49] phated commented on #2493
@chinesedfan Unfortunately, we don't currently have a way to help you recruit more maintainers. We have been hearing this request a lot, so it's something we'd like to do in the future. Sorry 😞

[2020-03-13 02:13] chinesedfan opened #2819 "Param with value of null is replaced with "{}""
**Describe the bug**

Param with value of null is replaced with "{}"

**To Reproduce**

axios.get('/whatever', {params: {test: null}}) used to make GET request to /whatever, now it's /whatever?test=%7B%7D

**Expected behavior**

Should request to /whatever.

**Environment:**
 - Axios Version [the current master]

**Additional context/Screenshots**

See https://github.com/axios/axios/pull/2656#issu

[2020-03-13 02:23] chinesedfan commented on #2817
Sorry, DNS resolving is out of the scope of axios. You need contact with your docker administrators to find out why the requested host is not resolved with the correct IP.

[2020-03-13 02:23] #2817 closed

[2020-03-13 02:32] chinesedfan commented on #2818
It is normal that some changes have been made in the master branch, but a new version hasn't been released. I can only say be patience because I have no npm publish permissions.

If you were eager to use it, a possible workaround is making your package.json points to the special git commit temporarily (check npm docs to learn how). You can also keep an eye on #2812 to share your advises.

[2020-03-13 06:45] WhoisUnknown opened #2820 "Different final header between two versions"
**Describe the bug**
I have different result header request in 2 versions 18.1 and 19.2
This is not in changelog

**To Reproduce**
Create axios object and made any request
[code]

**Expected behavior**
Same result header

**Environment:**
 - Axios Version [e.g. 0.18.0]
 - OS: Linux Mint
 - Browser: Chrome
 - Browser Version 80.0.3987.132
 - Additional Library Versions Vue 2.6.11

In 18.1
![image](

[2020-03-13 08:44] aseprano commented on #2818
ok but current version of follow-redirects is 1.10, whereas you refer to 1.5 that is way older. Hence this is something that has been going on for a while, pls update your npm package. You have no privileges, but somebody else in the team can.

[2020-03-13 10:09] aseprano opened #2821 "Wrong version for a dependency"
Your package.json on github requires the follow-redirects: ^1.10.0 library, whereas the package.json in the npm bundle (https://registry.npmjs.org/axios/-/axios-0.19.2.tgz) refers to the older 1.5.10 version of follow-redirects.
Can you fix this depencency issue since the latest version of follow-redirects has a better redirect management, pls?

Please, don't close the issue if you don't fix the p

[2020-03-13 11:32] chinesedfan commented on #2821
Sure, reopened #2818 and closed this one. If you think an issue should not be closed, you can comment directly there to remind, instead of a new one.

[2020-03-13 11:32] #2821 closed

[2020-03-13 13:26] aetonsi opened #2822 "Automatic JSON stringifycation replacer parameter"
**Describe the issue**
I'd like to have every key of my objects in the data i send to my backend, but `JSON.stringify` removes the properties with `undefined` value.
`JSON.stringify` has a second parameter `replacer` which allows the altering of the data before stringyfication.
I see in your docs that there's a `paramsSerializer` but not a `dataSerializer` or `jsonStringifyReplacer`  or similar.
S

[2020-03-13 13:41] aseprano commented on #2821
ok thanks :)
sorry for the duplicate

[2020-03-13 18:24] mcbryan1 commented on #2814
I tried using a different Api (Weatherbit.io) and it worked

[2020-03-13 18:46] hdpinto commented on #1219
Any updates on this feature request?

[2020-03-13 19:53] micookie commented on #1661
same resloved

[2020-03-14 03:03] ANG95 commented on #552
esto funcionó para mi             Axios.defaults.adapter = require('axios/lib/adapters/http');

[2020-03-14 17:24] vahe-nikoghosyan commented on #569
`axios.get("http://localhost:8000/api/###", {
	headers: {
	  'Access-Control-Allow-Origin': '*',
	}
	}).then(function (response) {
		console.log('response is : ' + response.data);
	}).catch(function (error) {
		  console.log(error.response);
	})
});`

[2020-03-14 23:05] ivancarrancho commented on #853
I was Working with Tornado and Vuejs, axios was not the problem, on my backend aded:

[code]

[2020-03-15 06:49] gemyero commented on #943
I have found a solution. Please look at the following code.
[code]

[2020-03-15 10:23] MOKuper commented on #1553
Changing the SPA origin domain fixed it for me.

I was making a SPA request to a Laravel backend, and the origin of the request (SPA) was 127.0.0.1. I found that adding a vue.config.js file in the root of the project (level of package.json) with the snipped below, I was able to align the domains. (SESSION_DOMAIN=.127.0.0.1 in the Laravel env file didn't work for me).
[code]

my source; https://ste

[2020-03-15 14:01] jaynsuthar commented on #2709
I'm having same issue. onUploadProgress should emit continuous events until it completes the request but instead I get 100 percents right away. I've my server running on localhost and I also tried to hit some test https external endpoint, still seeing the issue. It will be great if anyone can post a work around on this issue?

[2020-03-15 17:26] TheGreekCuban opened #2823 "431 Request Headers Too Large ONLY LOCALLY"
I have a deployed application and I am experiencing an issue with my contact form. This is a React.js app with a node, express and mongoDB backend. It is deployed on Heroku.

On the deployed version everything works great. When a user enters their information into the contact form it runs ```API.saveLead()``` which runs a ```axios.post()``` hits the ```contact/lead``` route. The data is saved to t

[2020-03-15 19:35] engpakravan commented on #853
@robertjchristian
It's Worked
Verrrrrrrrrrry Thanks

[2020-03-16 01:38] yosukeonrails commented on #1827
if youre trying to reach localhost, just replace the localhost with `10.0.2.2`

https://stackoverflow.com/questions/5528850/how-do-you-connect-localhost-in-the-android-emulator

[2020-03-16 06:59] liesauer commented on #2791
+1
[code]
works for me, but honestly, this is really bad...setting `responseType` to `text` suppose to return string but do nothing actually and keep trying to parse as json with no reason...

[2020-03-16 09:04] vjkholiya123 commented on #606
Hey I am making an PUT api call to IBM cloud storage where I am storing an object and in response header I am getting ETag value but that I am only able to view through developer mode and not able to fetch that in client part i.e React JS. Any solution how can I do this?

[2020-03-16 09:28] tblasche commented on #2710
The timeout functionality breaks with https://github.com/axios/axios/pull/1752/files in axios v0.19.1

This is a pretty problematic bug. If URL is an IP address which is not reachable, the timeout will not be respected.

[2020-03-16 09:38] determin1st commented on #606
There will be more CORS restrictions. Currently, WATWG spec writers "securing" a lot, so If you really feel that it is wrong and unconfortable - drop a short complain to this repo: https://github.com/whatwg/fetch/issues

They should know the user's opinion.

[2020-03-16 10:28] unguul commented on #2493
@chinesedfan You're making some excellent points. People should contribute to the project for the love of the craft rather than x USD per month.

However, I wouldn't dismiss the impact this can have on the project reputation. I'm sure many people/companies have dismissed axios as a viable library for their project due to the high number of open issues and pull requests which suggests the project i

[2020-03-16 17:24] DevNM21 commented on #789
Hey, I was wondering if this would work for images too?

[2020-03-17 00:10] donghyeon-dev opened #2824 "I wonder why axios-interceptors-response can't be used for token refresh"
**Environment**
axios : 0.19.0
react : 16.9.0

I'm making toy project using Spring boot with react.js.

**I just wonder why my axios-interceptors-response can't be used for token refresh.**
Almost every other example I've seen are using interceptors-request to refresh their access token.
Is this because of an infinite loop like: login -> axios.interceptors.request -> AccessTokenInvalid -> get a ne

[2020-03-17 05:51] newnewnet opened #2825 "Axios send the same request twice and ignore the first response, only receives the second response."
**Describe the bug**
axios.post sends duplicate POST request and ignores the first response, only receives the second response.

**To Reproduce**
I don't know how to reproduce it since it's occurred.

[code]
The submit function above is only called once, while the axios.post() is called twice. I have log for my system, in subject ***Additional context/Screenshots***

**Expected behavior**
The requ

[2020-03-17 09:35] Falci commented on #535
I couldn't make it work for a single instance.
[code]

Using node;
This is the SSL error: `unable to get local issuer certificate (20)` (from a curl request)

[2020-03-17 10:46] arefaslani commented on #86
@ziaulrehman40 @alejandronanez It seems you guys are using Rails and expect Rails to respond with JSON. The problem is that you're setting the wrong HTTP header to accept JSON as a response. The header you should set is `Accept`:

[code]

[2020-03-17 11:09] chinesedfan commented on #2824
axios.post returns a Promise. You should add the await keyword and change the handler as async function. And I'd like also share my [personal notes](https://github.com/chinesedfan/You-Dont-Know-Axios#interceptors) to you.

[2020-03-17 11:09] #2824 closed

[2020-03-17 11:48] doopcl commented on #789
ofcourse，it is filestream upload

| |
cailong
邮箱：doopcl@126.com
|

Signature is customized by Netease Mail Master

On 03/17/2020 01:24, Devakumar wrote:

I have a simple plan to realize it, just use 'form-data'

const FormData = require('form-data');
const fs = require('fs');
const axios = require('axios');
let form = new FormData();
form.append('file', fs.createReadStream(__dirname + '/README.md'

[2020-03-17 11:50] BankNatthapon commented on #2825
+1

[2020-03-17 12:03] chinesedfan commented on #2823
@TheGreekCuban It is a problem that the server can't response correctly, instead of an issue of axios. A quick solution is that checking **url** and **request headers** and comparing with other ways when you can get the right response.

[2020-03-17 12:04] ellafo opened #2826 "Post problem in Node.js API - TypeError: utf-8 is not a function"
In my Node.js API I try to use axios module latest version (0.19.2) to post data to a third server. It works fine when I run it on my local machine, but after deployment to the server 'then' is not executed but 'catch' and I encounter this error:

TypeError: utf-8 is not a function

In the logs I see that apiClient [the variable in the code below] is empty {} on the server while it has value on my

[2020-03-17 12:04] chinesedfan commented on #2825
Can you provide the network panel request list in the browser, instead of the server logs?

[2020-03-17 12:10] chinesedfan commented on #2822
You should set 'Content-Type' manually. See more in my [personal notes](https://github.com/chinesedfan/You-Dont-Know-Axios#submit-data-successfully).

[code]

[2020-03-17 12:15] chinesedfan commented on #2826
Did your server use the wrong adapter? See my personal notes to learn [how to check](https://github.com/chinesedfan/You-Dont-Know-Axios#do-you-use-the-right-adapter) and [try to triage](https://github.com/chinesedfan/You-Dont-Know-Axios#learn-to-triage-issues-first) by yourself.

[2020-03-17 12:36] aetonsi commented on #2822
Hi, thanks for the reply.
I can confirm that setting the `content-type` header and transforming the request indeed solves the problem without the need for any additional parameter.
For future reference, i resorted to the following code (for the sake of my own clarity, i am changing the headers within the transformer function so that i know what is the purpose of that header):
[code]

I'm closing t

[2020-03-17 12:36] #2822 closed

[2020-03-17 13:58] ellafo commented on #2826
Thanks,
The value of axios.defaults.adapter is the same in both local machine and server, [Function: httpAdapter].
However, I added 'adapter: require('axios/lib/adapters/http')' but got the same error: TypeError: utf-8 is not a function

[2020-03-17 14:07] chinesedfan commented on #2826
Can you provide the full sample codes or error stacks?

[2020-03-17 14:33] evilj0e opened #2827 "Avoid usage of optional any type in d.ts"
If you use `any` in the typings, everything will be casted to `any`.
When you use optional with `any` it will be casted also to `any`, and for some cases it can go wrong in type-checking.

Please avoid it and write strict typings.

https://github.com/axios/axios/blob/master/index.d.ts#L82

[2020-03-17 14:34] ellafo commented on #2826
Here is the relevant part, There is no error stacks, error.message is: utf-8 is not a function

axios(options).then((activationResponse) => {
                  //my code
                })
                .catch((error) => {
                    if (error.response) {
                      log.write(new Date() + '-ERR:: ERROR while activation, response: ' + error.response);
                    } els

[2020-03-17 15:33] TheGreekCuban commented on #2823
@chinesedfan Thank you for responding back to me so promptly. I am so confused though, I went through all documentation and my routes seem good, that is why I thought maybe I am doing something wrong with axios.

If you have any idea what I am doing wrong based on the information below I would really appreciate the assistance, this has been driving me nuts.

My request headers for this type of req

[2020-03-17 17:12] #2815 closed

[2020-03-17 22:53] donghyeon-dev commented on #2824
Thank you for youy kindness.

[2020-03-18 06:03] newnewnet commented on #2825
@chinesedfan
[code]

[2020-03-18 07:07] chinesedfan commented on #2826
@ellafo Sorry, we can't help much more unless you can confirm the error position. Because at least your local environment works well, hope you can find the differences.

This issue will be kept open for weeks, but will be closed if no further evidences point to axios bugs. Thanks for understanding.

[2020-03-18 07:39] ellafo commented on #2826
Thanks @chinesedfan,

Actually I try to find the difference between them,
As we can see on the logs of the server and my local machine,
while both of them recognize axios module, my local machine returns a promise, but server returns empty value. I think that is why I get the error 'utf-8 is not a function'

Local log:
console.log('axios ', axios);
console.log('axios(boltonActivationRequest) ', ax

[2020-03-18 07:47] chinesedfan commented on #2826
Good. Please go ahead and find out why.

[2020-03-18 08:16] piotrponikowski commented on #2677
Any plans for supporting RN blob?

[2020-03-18 08:17] ellafo commented on #2826
The issue seems to be related to the one below
https://github.com/axios/axios/issues/2312

I was able to make it work by downgrading to 0.18.1.

[2020-03-18 10:01] MohAbdelhamed commented on #1143
The below **Worked** with me:
const deptsURL = "http://localhost:8099/ords/hr/hrm/depts";
var vAttributes = {};
            vAttributes = {
              departmentid: model.attributes[model.idAttribute]
              , departmentname: $("#newDepartName").val()
              , managerid: 100
              , locationid: 1700
            };
const ops = {
              method: 'POST',
              h

[2020-03-18 10:03] MohAbdelhamed commented on #1989
The below **worked** with me:
const deptsURL = "http://localhost:8099/ords/hr/hrm/depts";
var vAttributes = {};
            vAttributes = {
              departmentid: model.attributes[model.idAttribute]
              , departmentname: $("#newDepartName").val()
              , managerid: 100
              , locationid: 1700
            };
const ops = {
              method: 'POST',
              h

[2020-03-18 15:58] chinesedfan commented on #2826
@ellafo So there must be something changed in axios, can you help us find out that?

[2020-03-18 16:08] chinesedfan commented on #2825
@newnewnet Sorry, I mean the screenshot like following if you are using Chrome. And I hope you can do some debugging to find out where triggers those two requests.

This issue will be kept open for weeks or months, but will be closed at last if no detailed evidences point to axios bugs. Thanks for understanding.

![image](https://user-images.githubusercontent.com/1736154/76981235-4486da80-6975-11e

[2020-03-18 16:24] Andrfas commented on #2646
Isn't this a braking change for the library? I got my application crashed because in my package.json I had `^0.19.1`, and npm updated axios to 0.19.2, and one of the libraries was using isValidXss.

I thought such changes got released with Minor number updated, not patch. What do you think?

[2020-03-18 18:54] callmephilip commented on #2303
@TechCanuck FYI `fetch` too ignores cross-site `Set-Cookie`, see here (https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API)

[code]

[2020-03-18 19:21] rhorning commented on #2808
@chinesedfan, I don't really have a suggestion, but I also need #2233 (or an alternative to set the local address).

[2020-03-18 19:47] Foskas commented on #535
There is any update on this for React Native ?

[2020-03-19 00:23] slavajacobson commented on #2190
woah! almost 1 year later!

[2020-03-19 01:08] akhilstanis opened #2829 "maxContentLength configuration could slowdown request"
**Describe the bug**
Large chunked responses from servers could be slow to finish when `maxContentLength` option is set.

**To Reproduce**
The following code snippet creates an http endpoint which serves huge chunked content. It then fetches the content from the endpooint with and without using `maxContentLength`. It then logs the times taken for each request to finish.

[code]

**Expected behavio

[2020-03-19 01:12] akhilstanis commented on #2829
The bug here is that axios is calling `Buffer.concat(responseBuffer).length` everytime it gets a chunk to make sure that total content length is not more than `maxContentLength`. `Buffer.concat` gets more and more expensive as the number of chunks grow. Eventually it all adds up making the request slower.

https://github.com/axios/axios/blob/5189afff38dc0689ac0c1b1bfa51626bb8541709/lib/adapters/ht

[2020-03-19 05:19] dpikt commented on #1965
@chinesedfan that's great news, glad to hear things are moving! Question since you're now a collaborator- have plans/timeline coalesced around a 1.0 release? Or will upcoming releases all be 0.x for the time being?

Apologies in advance if this has been answered in a different thread.

[2020-03-19 05:45] shasu01 commented on #2072
I have proxy in my package.json and I call my endpoint using axios.get ('/get/GetAllJobs')
On local dev it works, but not after npm run-script build

[2020-03-19 14:22] CadsoftBrianW commented on #686
@chrisdchristo I have the same use case, not sure how to proceed.

[2020-03-19 15:00] chrisdchristo commented on #686
@CadsoftBrianW see my updated comment above on how to do digest with MongoDB Atlas.

[2020-03-19 16:22] garyo commented on #960
I'm using Axios 0.19.2. I added @konstantinblaesi 's solution:

This worked for me, thanks so much @konstantinblaesi ! I don't understand why Axios's default behavior isn't like this -- the standard behavior is to drop the "message" part of the original error, which I would think is the most important part!

Just to be clear, in my app, my server is returning a 400 error (which should be a respons

[2020-03-19 18:18] SupernaviX commented on #2829
@akhilstanis good catch! I can confirm that this is slowing down requests significantly at my org.

[2020-03-20 01:24] elyazinho opened #2832 "generated axios.min.js file shows v0.18.0 even though installed v0.19.2"
hi my axios.min.js file showing this version even though i installed v0.19.2
how do i update this min file as security check is showing some vulnerability for this version ?
/* axios v0.18.0 | (c) 2018 by Matt Zabriskie */