[2022-07-27 21:10] #4892 closed

[2022-07-28 09:47] #4827 closed

[2022-07-28 10:13] outsourcingvasundhara123 commented on #3720
Same issue

[2022-07-28 10:13] outsourcingvasundhara123 commented on #3720
Any solution for this?

[2022-07-28 10:53] ethandunford commented on #3187
This isn't great and feels hacky. If you look at any other http library like `requests` it will always return the status code

[2022-07-28 13:57] sekyungkim-dhk opened #4894 "isAxiosError type is correct?"
#### Describe the issue
when I use `isAxiosError` method, my error type is inferred `AxiosError`.
I think, If `isAxisError` is true, `error.response` always exist. But, `AxiosError` type is optinal (`error.response?: AxiosResponse<T, D>;`).
I couldn't find any case that is both `isAxiosError` is true and `error.response` is optional.

Can you tell me why my thinking is wrong?

#### Example Code
Co

[2022-07-28 18:19] nkilm commented on #4837
### Please check if you have enabled `Cross-Origin Resource Sharing(CORS)`.
[CORS definition](https://www.contentstack.com/docs/developers/how-to-guides/understanding-and-resolving-cors-error/#:~:text=CORS%20behavior%2C%20commonly%20termed%20as%20CORS%20error%2C%20is%20a%20mechanism%20to%20restrict%20users%20from%20accessing%20shared%20resources.)

If you are using `Flask`, then you should add COR

[2022-07-29 00:00] streamthing commented on #3682
Why this is still not implemented to Axios?
@jasonsaayman please reopen this issue, it's still exists.

[2022-07-29 06:43] jasonsaayman commented on #3682
I will add it to our backlog, however we will need to add priority

[2022-07-29 09:24] alifatic opened #4895 "Android - onUploadProgress showing 100% immediately but upload progress is still there"
#### Describe the bug
i try adding upload progress but immediately 100%, but progress still not end.

[code]

#### Expected behavior
need progress run properly

#### Environment
 - Axios Version [e.g. 0.27.2]
 - Node.js Version [e.g. 17.0.2]
 - Additional Library Versions [e.g. React 16.7, React Native 0.68.1]

[2022-07-29 18:13] habrahamyanmabbly commented on #4823
same issue

[2022-07-30 11:35] imjuni opened #4896 "Add content in Ecosystem"
#### Suggested Improvement
I want to add my open source utility in axios ecosystem.

Ecosystem > Libraries > General

[jin-frame](https://github.com/imjuni/jin-frame) - Reusable HTTP API request definition library using Axios

Can I add it?

[2022-07-31 04:03] fabioselau077 commented on #4840
same here, how fix?

[2022-07-31 22:39] obtusedev opened #4898 "Axios returning "400 Bad Request" error without the 'https://' in the url default behavior?"
#### Describe the issue
A clear and concise description of what the issue is.

Axios is making a request to localhost(127.0.1.1 port 80) and returning an "400 Bad Request" error without the 'https://' in the url.
Is this the default behavior?

#### Example Code
Code snippet to illustrate your question

[code]

#### Expected behavior, if applicable
A clear and concise description of what you expect

[2022-08-01 05:59] geoidesic opened #4899 "Content-Type header should be respected regardless of body"
#### Describe the bug
#86 redux. I believe this behaviour to be incorrect. Here's an example of why: https://jsonapi.org/format/#content-negotiation-clients. Where it specifies:
[code]
 It is currently impossible to support this protocol using Axios because (e.g.) DELETE method requests have no body and therefor the Content-Type header will not be passed by Axios.

#### Expected behavior
I don't s

[2022-08-01 06:38] geoidesic commented on #4899
Actually nvm I misread the specification.

[2022-08-01 06:38] #4899 closed

[2022-08-01 16:41] WillianAgostini commented on #4890
Has a doc about this rule?
With frequency created new releases are?
Is the branch main used?

[2022-08-01 16:44] jasonsaayman commented on #4890
No, I have not, in all honesty I have not yet had time to look into that stuff but I will try to do so asap

[2022-08-01 16:50] WillianAgostini commented on #4890
I can help to discuss and define [CONTRIBUTING.md](https://github.com/axios/axios/blob/v1.x/CONTRIBUTING.md) docs.

[2022-08-02 03:33] WillianAgostini commented on #4898
It is not an issue only for axios.
Using Fetch API in Node.js has the same bug related. When has successful request only for first statement

[code]

[code]

[code]

Maybe the problem is the way that this server uses redirects.

[2022-08-02 05:38] meteorlxy commented on #3384
@jasonsaayman Still have this issue with 1.0.0-alpha.1

[2022-08-02 10:27] jolindroth commented on #4723
Probably related to this: https://github.com/axios/axios/issues/2171
Browsers do not seem to allow overriding the host header.

[2022-08-02 10:58] Nevon commented on #4531
Why is the "possible bug" label removed? Clearly the automatic proxy configuration is incorrect. If the protocol is HTTPS and there is an HTTP proxy set, the client should use the tunnel protocol by sending a CONNECT request, wait to get a 200 OK back and then send the original request on the same connection.

[2022-08-02 13:02] Quintis1212 commented on #4823
Is there any fix ?

[2022-08-02 14:36] Quintis1212 commented on #4823
@Zakisb  Hi . Could you please delete node_modules folder and then run  npm install ?

[2022-08-02 22:47] eheimburg commented on #4710
This continues to be a problem for many developers (just try googling for that error message). Instead of saying it's "quite expected behavior", maybe add a useful error message to handle this *very common* scenario. For instance, it could say "BTW there are no converters installed. If you want the standard converts, create your object via axios.create()". It would take one or two minutes to code,

[2022-08-03 02:50] Yuki-TU commented on #3469
In my environment, I get the same problem with react, typescript. Is it the same for others?

[2022-08-03 10:51] Qwedir commented on #4710
@eheimburg had the same problem.
Here how I solve it:

[code]

[2022-08-03 15:14] rhuantac commented on #3790
I'm facing the same problem. Any solution to this issue?

[2022-08-03 15:42] realityfilter opened #4901 "Support customisation of supported protocols"
#### Is your feature request related to a problem? Please describe.

Since version 0.27.0 the supported protocols are a fixed set specified in platform.
https://github.com/axios/axios/blob/cd8989a987f994c79148bb0cacfca3379ca27414/lib/platform/browser/index.js#L42

We are using axios in a capacitor app that uses the special capacitor protocol.

#### Describe the solution you'd like
We need an optio

[2022-08-04 02:32] impro5 commented on #4885
yes ,is not work when the data type is formdata. There is a code in /axios/lib/adapters/xhr.js file that doesn't work。
`if (utils.isFormData(requestData) && utils.isStandardBrowserEnv()) {
      delete requestHeaders['Content-Type']; // Let the browser set it
    }`
If the data format is formdata, it will be converted to other data types before this code. So this code is invalid now. The converted

[2022-08-04 20:41] markpar commented on #4486
Hi @jasonsaayman, I tried this out with pre-release version `1.0.0-alpha.1` and can still reproduce the error.   I have a repro at https://github.com/markpar/jest-html-reporters-test (Ignore the name - I encountered the error first in my HTML reporter, then traced it to Axios).

Just clone it, run `npm install` then `npm test` to repro.  If there is anything I can do to help out, happy to pitch in

[2022-08-05 06:33] Vikramelyaraja commented on #4420
Axios returns a "Network Error"  so, the one of the solution. I was found in my project, when using our  app we need to switch on the mobile data then, try it again it will clear the 'network error'.

[2022-08-05 17:26] Mhmetengineer opened #4904 "Long string error .."
jBody["fcm"]='dyxzsyL7Q5i-enk-KgHErl:APA91bHHqr262tGyPNH5GZiXW4NwgAKsGLztzrw4CtIXgC-PgPnxXrRaJslmkva8H9A1R3kpKWOgCizVJV6_wH3i5hfkxmmjQNf8fAAhzBy-GTL8erhydwpHEqiEuqUCfka6ZKR66btn';
      const res = await axios.post(xxx, jBody, headers: {   'Content-Type': 'application/json'});

There is no problem when I try it in postman, but when I try it in react native, I get an error. ( return 500 )

[2022-08-05 18:54] mamidon commented on #4878
I'm working with an external API that expects a body with a GET endpoint.  I know it's not idiomatic, but it's what I have to work with.  It would be really nice if Axios supported this scenario.

[2022-08-05 20:41] brenokf commented on #4888
i continue with problem **[ERR_FR_MAX_BODY_LENGTH_EXCEEDED]: Request body larger than maxBodyLength limit**.  i adjustmented  my code i inserted the `maxBodyLength: 104857600`, `maxContentLength: 104857600`, but can don't solve the problem

node version: v14.15.0

`
            await axios.post(url,bodyFormData,{
                headers: {'Content-Type': 'multipart/form-data'},
                max

[2022-08-06 02:33] WillianAgostini commented on #4904
Hi @Mhmetengineer
What's the error showing?
Is it showing all the string "fcm" on the server?

[2022-08-06 15:02] Mhmetengineer commented on #4904
hi @WillianAgostini  ,
There is no problem when u shrink the string. I have problem with the length of the string. When I try from the phone, it returns 500 from the server. No problem with postman.

[2022-08-06 15:48] WillianAgostini commented on #4904
What content type are you using? On mobile and on Postman?

[2022-08-07 02:28] LiamKarlMitchell commented on #4420
So are there any links related issues if it is a browser issue?

Is this only in Safari browsers or also happens in Google Chrome/Firefox etc?
Is there a browser update that fixes it?

Suspect my iOS users are having this problem, I'm using latest Axios version 0.27.2.
I've also seen it bomb out on android phone with google chrome however (not sure if related did not have adb inspector connected).

[2022-08-07 09:45] Mhmetengineer commented on #4904
same type.. @WillianAgostini  ,
application/json

[2022-08-07 16:38] WillianAgostini commented on #4904
I can't reproduce the error.
Can you reproduce it on a minimal example?

[2022-08-08 02:46] WillianAgostini commented on #4901
Hi @realityfilter,
Adding a new parameter `useProtocol` in axios.create or in axios.[get,post,put...]

[code]

[code]
 that overrides the default protocol on the platform can resolve this issue?

If it's Ok I can create a PR.

[2022-08-08 07:24] nathantaal commented on #4677
Any updates? This seems still to be an issue.

[2022-08-08 09:10] realityfilter commented on #4901
Thank you very much for the effort. For me the naming is a bit misleading.

Currently requests with 'capacitor://' protocol are leading to exceptions because of 'capacitor' is not in the fixed set of protocols for the platform. I would like to register additional valid protocols either in the instance or per request.

The name useProtocol is suggesting, that requests not specifying a protocol shou

[2022-08-08 16:30] WillianAgostini commented on #4901
Axios uses url lib to parse an URL, so I can pass protocol by default from the url base, here is an example. Look at tag protocol.

[code]

It resolves this issue or should we proceed to add a new feature?

[2022-08-08 19:21] AbdlrahmanSaberAbdo commented on #4890
Hi @jasonsaayman Regarding this PR https://github.com/axios/axios/pull/4850, should I re-open it in V1?

[2022-08-09 06:04] cyberGHostJs commented on #4904
hi please i'm interested in this task. and i'd like to be assigned to fixing it

[2022-08-09 07:04] namnguyen2091 opened #4906 "Can not send cookie back from client, tried many ways"
#### Summary

I'm new user from nodejs (expressjs) and axios too and I have a problem. I set cookie from nodejs server with:
[code]
[code]
I can see response cookie from browser but in storage I can not see. I use res.header do the same, nothing happen. httpOnly: false does not work.
And in client I try:
[code]
I can not find other ways to do this, every result I got in google do this but I dont k

[2022-08-09 07:04] namnguyen2091 opened #4907 "Can not send cookie back from client, tried many ways"
#### Summary

I'm new user from nodejs (expressjs) and axios too and I have a problem. I set cookie from nodejs server with:
[code]
[code]
I can see response cookie from browser but in storage I can not see. I use res.header do the same, nothing happen. httpOnly: false does not work.
And in client I try:
[code]
I can not find other ways to do this, every result I got in google do this but I dont k

[2022-08-09 09:57] realityfilter commented on #4901
This is the problematic section:

https://github.com/axios/axios/blob/cd8989a987f994c79148bb0cacfca3379ca27414/lib/adapters/xhr.js#L240-L245

The changelog states:

Version 0.27.1:
- Removed import of url module in browser build due to huge size overhead and builds being broken (https://github.com/axios/axios/pull/4594)

So I think it is better to add a new feature?

[2022-08-09 10:59] sentientmachin3 opened #4908 "Request payload serialized to `[object Object]`"
#### Describe the issue
In the browser's console, the request payload is `[object Object]`, when I read axios stringifies objects by himself.

#### Example Code

[code]

#### Expected behavior, if applicable
I expected the body the be serialized normally and see the whole JSON object in the request

#### Environment
 - Axios Version 0.27.2
 - Browser Firefox
 - Browser Version 103.0.1
 - OS: Linux

[2022-08-09 12:39] chenggaw commented on #4806
any update？

[2022-08-09 14:22] sentientmachin3 commented on #4908
Solved: I changed the way I create the instance from `new Axios(...)` to `axios.create(...)`. The issue disappeared.

However, I think it might be helpful if someone takes a look.

[2022-08-09 14:22] #4908 closed

[2022-08-10 02:59] WillianAgostini commented on #4901
It's a better idea to add a new feature, adding `registerProtocols` in `platform.protocols`.
Will be provided 3 ways to configure `registerProtocols`:

## Creating an instance
[code]
## Instance methods
[code]
## Global axios defaults
[code]

I'll make the changes to this feature.

[2022-08-10 10:16] realityfilter commented on #4901
That is exactly what is needed. Thank you very much.

[2022-08-10 14:26] zhujun24 commented on #4806
any update? is somewhere trigger response aborted? unlikely is server-side issue.

[2022-08-10 16:15] WillianAgostini commented on #4901
@realityfilter, There's some example that I can use to test with the client and server that can reproduce the issue https://github.com/axios/axios/issues/4901#issue-1327433507?

[2022-08-10 18:43] jasonsaayman commented on #4812
Merged the PR will release soon, closing.

[2022-08-10 18:43] #4812 closed

[2022-08-11 04:01] hungtcs opened #4909 "Type asserts of response body"
#### Is your feature request related to a problem? Please describe.

I noticed the `responseType` attribute in the request config,
seems that it only affects the way the response body is assembled (json or document or arraybuffer).
but has no assertion about the content type.

#### Describe the solution you'd like

[code]

If response header `content-type` is not `application/json`, but `responseT

[2022-08-11 08:30] ugoconsonni opened #4910 "react native multipart/form-data; not working on debug mode"
#### Describe the issue
Request using Form data work if debug mode is not activate with version 0.27.2 but statusText was undefined
If i using version 0.26.0, this work in debug mode but don't work in production mode and statusText was defined.

#### Example Code
 loginUser: (data) => {
    let formdata = new FormData();
    formdata.append("l", data.username)
    formdata.append("p", data.passwor

[2022-08-11 09:35] ghost91- commented on #4184
Hi @jasonsaayman, it still happens in `1.0.0-alpha.1`:
[code]
This results in the following error:
[code]

[2022-08-11 09:38] shaoxp commented on #3457
i used 0.27.2 version to test @Dirk94's original test, it still have memory leakage.

[2022-08-11 09:47] ghost91- opened #4911 "[Types] Type of header in AxiosRequestConfig / for Axios.create is incorrect"
#### Describe the bug

This is a follow up to #4184, as the problem still exists in version `1.0.0-alpha.1`.

More concretely, The type of the headers property in `Axios.create` config doesn't support headers for specific requests method (or `common`).

#### To Reproduce

[code]
results in the error
[code]

#### Expected behavior

The above code example type checks successfully.

#### Environment

[2022-08-11 10:48] realityfilter commented on #4901
[code]

[2022-08-11 12:55] saqi3492 commented on #3323
const cancelTokenSource = axios.CancelToken.source();
const response = await axios.post(
        '/api/dictionary/search_aggregate',
        {
          ...data
        },
        {
          cancelToken: cancelTokenSource.token
        }
 );

i am saving 'cancelTokenSource' in redux and trigerring cancel function in another file as:
cancelTokenSource.cancel()

but request is not cancelled.

[2022-08-11 14:00] mleister97 commented on #4716
Please fix!

[2022-08-11 15:42] NotiGate commented on #4840
Same, how fix ?

[2022-08-11 15:43] NotiGate commented on #4840
`await axios.post("https://spclient.wg.spotify.com/signup/public/v1/account", payload {
        proxy: {
            host: 'A IP or DNS',
            port: 22323,
            username: "notigate",
            password: "MyPassword"
 }`
Error :
`AxiosError: write EPROTO 48100:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:c:\ws\deps\openssl\openssl\ssl\record\ssl3_record.c:332:`

[2022-08-11 20:04] tregonzalesCar commented on #3473
is this being addressed elsewhere?

[2022-08-12 01:55] WillianAgostini commented on #4901
Has a limitation on one of the libraries used by axios.

On line https://github.com/WillianAgostini/axios/blob/871ef051124fa9f02dcc05c67f29ff9ce3e681b5/lib/adapters/http.js#L292 has a call to lib `follow-redirects`, but she has a limitation to use only https or http connection https://github.com/follow-redirects/follow-redirects/blob/main/index.js#L597.

[2022-08-12 04:18] shaoxp commented on #3457
I test all versions following ![image](https://user-images.githubusercontent.com/1912990/184284043-2ca3da55-957c-4e8e-8f6b-2f66e8496332.png).

 the results show that memory usage will always increase, so there seems still memory leakage. can someone reopen this issue? do we have any quick workaround?

and I used the chrome inspect to investigate the reason. and find the main leakage resource is a

[2022-08-12 08:00] realityfilter commented on #4901
That would be no problem in this use case.

[2022-08-13 00:56] rdmadeira commented on #4490
Hi, I have the same and I can't find the solution. Axios version 0.27, node version 16.16.0

[2022-08-15 06:11] lptai commented on #3457
I just upgraded to `axios@0.27.2` still have memory leak. My use case is retrying on 429 status - rate limit exceeded error. The application is keeping restarted with memory leak error with axios retry

[2022-08-15 13:11] shawnsparks-work commented on #4246
Opened a security vulnerability for this. We'll see if it gets any traction. https://huntr.dev/bounties/46857f58-7655-42e4-b0cf-8e6d824358b0

[2022-08-15 13:11] shawnsparks-work commented on #4249
Opened a security vulnerability for this. We'll see if it gets any traction. https://huntr.dev/bounties/46857f58-7655-42e4-b0cf-8e6d824358b0

[2022-08-15 23:09] marc-weber1 commented on #3316
Pre-release v1 also does not seem to work. This issue also makes it impossible to interact with the [https://docs.patreon.com/#apiv2-oauth](patreon API) since manual URL encoding with %5B and %5D doesn't work, since % gets encoded.

[2022-08-16 08:23] Lambo-555 commented on #3003
@chinesedfan headers can contain field called **'content-length'**.

You can get it and convert to number:
`const resSize = +result?.headers?.['content-length'];`

[2022-08-16 09:59] babar-ali-memon commented on #4823
@Quintis1212 I'm facing same issue also tried deleting node_modules and reinstalling but no luck

[2022-08-16 11:27] hexwit commented on #1083
Not sure why this issue is closed.
If header is set it should be sent, no?

[2022-08-16 20:56] pkaminski commented on #4806
AFAICT the error is raised [here](https://github.com/axios/axios/blob/v1.x/lib/adapters/http.js#L460), in response to an `aborted` event on the response stream.  The message is nonsense when `maxContentLength` is set to `-1` so I guess you should just ignore it and treat the error as a generic "request aborted" failure.

[2022-08-17 07:55] 1234xxcc opened #4915 "How can i convert an existing promise to a callback in Node.js ?"
#### Describe the issue
A clear and concise description of what the issue is.

#### Example Code
Code snippet to illustrate your question

[code]

#### Expected behavior, if applicable
A clear and concise description of what you expected to happen.

#### Environment
 - Axios Version [e.g. 0.18.0]
 - Adapter [e.g. XHR/HTTP]
 - Browser [e.g. Chrome, Safari]
 - Browser Version [e.g. 22]
 - Node.js Ve

[2022-08-17 15:28] awerlang commented on #3351
According to axios-fetch gh:

So axios-fetch is not a viable replacement. It needs a fetch backend, not a axios adapter with a fetch interface. The advice for users would be: skip axios, use fetch directly.

[2022-08-17 16:17] colesiegel commented on #4806
It actually obscures the real errors (e.g. 407 as mentioned in post by @arossert)

Other errors are also incorrectly handled by axios and hidden, see https://github.com/axios/axios/issues/4888

It makes it hard to know what your API should do when we cannot properly differentiate cause of errors, and correct status code is not returned.

[2022-08-18 06:23] LouisLeung opened #4918 "Android Post request early timeout (timeout not work)"
#### Describe the bug
the config timeout not work in android. but it is work in IOS.
It will display timeout error message after api duration 10s.

[code]

#### Expected behavior
Android display timeout error message after api duration 20s. It is because the timeout config is set 20000.
It is work from IOS.

#### Environment
 - Axios Version [0.19.1]
 - Adapter [XHR request.ontimeout]
- Android 11

[2022-08-19 04:08] WillianAgostini commented on #4911
Duplicated issue https://github.com/axios/axios/issues/4335
It has already been fixed on PR https://github.com/axios/axios/pull/4334
Here is an orientation about this issue by [@jay](https://github.com/axios/axios/issues/4184#issuecomment-1159538548)

[2022-08-19 04:12] gujixingxing commented on #4806
I also have the same problem.

[2022-08-19 05:36] moritzhertler opened #4920 "AxiosError.response is XMLHttpRequest"
#### Describe the bug
The optional field ["response"](https://github.com/axios/axios/blob/v1.x/index.d.ts#L276) of the class AxiosError<T, D> has the type AxiosResponse<T, D>.  But I found it to be an XMLHttpRequest when running into a cors error. The same XMLHttpRequest is also set on the "request" field. I tried to find the code where this error is thrown but was not able to yet.

#### To Reprod

[2022-08-19 09:23] burhan3759 commented on #4920
I had the same issue

[2022-08-19 16:35] sigespweb22 opened #4921 "Returning "Network Error" on unauthorized error (401)"
#### Describe the issue
Axios request below is returning "Network Error", on API's unauthorized return.

The API is in Asp Net Core with Identity. Therefore, it is recognized that my API actually returns a 401, but my request callback is not allowing me to get this return code, so that I can handle this exception directly.

I understand that, of course, my axios request tried to connect to the ser

[2022-08-20 12:08] CITGuru opened #4923 "Undefined Value for Header Authorization : TypeError [ERR_HTTP_INVALID_HEADER_VALUE]"
#### Describe the bug

Sending a post requests is failing and returning: ` TypeError [ERR_HTTP_INVALID_HEADER_VALUE]: Invalid value "undefined" for header "Authorization"` when the axios is exported from another file.

#### To Reproduce
Either send a post requests or create a new axios config object and send post request
[code]

#### Expected behavior
You would get this:

[code]

#### Environment

[2022-08-20 12:31] pemontto commented on #4766
This appears to be the same issue as #4531? Sending HTTPS requests to an HTTP proxy

[2022-08-20 15:28] lukashroch opened #4924 "Missing response header with absolute URLs"
#### Environment
 - Axios Version v0.27.2
 - Adapter [e.g. XHR/HTTP]
 - Browser Chrome
 - Browser Version v104
 - Node.js Version v16.16
 - OS: Win11
 - Additional Library Versions Vue in example, but not applicable

#### Describe the bug
When absolute URL is used, response header only contain content-length, content-type (some defaults?).

#### To Reproduce

[code]

With proxy set up for `/api` a

[2022-08-20 15:32] jasonsun001 opened #4925 "Time out and Memory Leak Issue"
When I try to get this url: https://antoniomoreau.com/

Then I can't get a result for a long time, at the same time, the operating system memory is gradually increasing until the memory is full, finally cause memory leak, and make the program terminated accidentally.

Please note this 'problem url':

          https://antoniomoreau.com/

[2022-08-20 15:34] lukashroch commented on #4924
Oh, god. as soon as I hit it, I realized forgot exposed headers for cors.

[2022-08-20 15:34] #4924 closed

[2022-08-20 15:35] jasonsun001 commented on #4925
This is really a rare phenomenon. I have requested thousands of URLs with Axios, but this is really the first time I have encountered this situation. Moreover, it is obvious that this problem is related to the specific requested path URL.

Not sure if it is related to redirection. However, when I tried to request this url https://antoniomoreau.com/ (useing http instead of https), it can catch the

[2022-08-20 22:38] js-writer commented on #2149
I can confirm, still not working. With withCredentials flag it is adding Cookie: jwt= but the value is empty...

[2022-08-20 22:40] js-writer commented on #4907
Yes, it is not working.
Cookie is set but value is empty...

[2022-08-21 08:15] js-writer commented on #2149
Try to add withCredentials: true to the request which create cookie in your server.
For example when cookie is created when user is try to login, than add flag withCredentials to login request.

[2022-08-21 11:54] WillianAgostini commented on #4911
PR https://github.com/axios/axios/pull/4926 open

[2022-08-21 22:52] ervsoft opened #4928 "How can i handle 5000 links get request and use response data ?"
I use the standart axios async get method

like this . i m getting succesfuuly results for 50 or 100 urls but i im getting error when i use the more links .

[code]
i am adding the my code  in for loop

But  i cannot getting healty results , so i cannot get the another route on my app ,
how can i use the axios for healty using ?

[2022-08-22 10:24] adityasharma7 commented on #4773
I think the documentation is generated from below repository
https://github.com/axios/axios-docs

[2022-08-22 14:04] moseskamau338 commented on #4885
How do I use this without touching the core axios stuff?

[2022-08-22 14:08] colesiegel commented on #4885
I am wondering the same. I'm not about to change internal implementation of an HTTP client, just to get the correct status code back.

[2022-08-22 14:19] moseskamau338 commented on #4885
Actually, it's sending `[object object]`... I don't think that is a file

[2022-08-22 14:52] moseskamau338 commented on #4885
So I managed to get this working. I had to create a totally new instance like so:

[code]

Am not sure why this works and not the pre-instantiated one

[2022-08-22 19:22] mhesham93 commented on #4885
Been trying to make this work for over 5 hours now and still stuck. not sure what I'm missing.

The only difference is that I convert the a buffer to blob first.

I get this before the request

FormData { [Symbol(state)]: [ { name: 'file', value: [File] } ] }

and that's what I get after the error

data: FormData { [Symbol(state)]: [Array] }

Not sure why this happens.

[2022-08-22 22:29] #4247 closed

[2022-08-22 22:37] xavierrobitaille commented on #2590
This looks a lot like an intermittent problem I am facing in my development environment on MacOS.

My symptoms:
- client hangs when querying multiple large files from my localhost nodejs web server (some of the requests don't complete).
- happens only in development on MacOS (not in production on Ubuntu)
- happens only on my development setup (not on other developers setups).
- I have two differen

[2022-08-23 08:45] AyushiBShah commented on #3132
Any update on this? @jasonsaayman

[2022-08-23 14:24] DeepakDonde commented on #4847
I am facing the same issue:
2022-08-22T10:36:47.899Z 530a5e50-2206-11ed-9ee0-175b9c12ef76 callSaveObjAPI Error: Request failed with status code 404
    at createError (/app/node_modules/axios/lib/core/createError.js:16:15)
    at settle (/app/node_modules/axios/lib/core/settle.js:17:12)
    at IncomingMessage.handleStreamEnd (/app/node_modules/axios/lib/adapters/http.js:269:11)
    at IncomingMess

[2022-08-23 18:53] mlazari commented on #4823
Ok, so after a few hours of debugging, I finally found what's wrong - it's the `Content-Type` request header.
If you don't set it explicitly, then the default value is set here to `application/x-www-form-urlencoded` -> https://github.com/axios/axios/blob/v0.27.2/lib/defaults/index.js#L10 and that apparently makes the request fail on Android, but not on iOS.
Setting the `'Content-Type': 'multipart/

[2022-08-23 18:55] mlazari commented on #4800
The issue is that axios is setting a wrong `Content-Type` header if you don't pass it explicitly. See https://github.com/axios/axios/issues/4823#issuecomment-1224615032

[2022-08-23 20:22] ssidorchik commented on #4269
👋 @jasonsaayman I see how `AbortController` can help to cancel requests. But in the above use case the opposite behavior is expected to let the request being completed on page close. Could you reopen this ticket?

[2022-08-23 21:06] janusqa commented on #2327
I ran into this strange behavior and was pleasantly surprised. Took me a while to figure out what was happening.

I was sending a JavaScript readable cookie, aka a non httpOnly cookie with the specific name "XSRF-TOKEN"

In my JS app I was then looking for this cookie and adding a http X-Xsrf-Token header with the value that was in the cookie.
Back on my server i could not understand at all why i

[2022-08-24 01:17] ericambiel commented on #4783
Even being the same domains, the ports are different, the browser will validate everything including the port, in which case you can use a domain reflection technique, it would be like a white list with the allowed domains, if the request comes from an Origin known by API, it will return the same value to the cross-origin headers.

[2022-08-24 05:09] KohnoseLami opened #4929 "Easy way to define cookies like Python"
#### Is your feature request related to a problem? Please describe.
I store cookie information in JSON format (associative array) for clarity.
In Python(requests, aiohttp), this can be specified with keyword arguments. You don't need to specify an obscure delimiter(key=value; key2=value2) in the headers

#### Describe the solution you'd like
Implement cookies, etc. in addition to headers in the se

[2022-08-24 07:21] honungsburk commented on #4901
I have a use case that requires handling custom protocols and redirect. The [SIOPv2 spec](https://openid.net/specs/openid-connect-self-issued-v2-1_0.html#section-7-4) uses redirects with `openid://...` for same-device communication (this allows smartphones to open the correct app). In my case, I'm writing a simple CLI tool and need to deal with the redirect myself.

Right now I solved it by simply

[2022-08-24 08:18] DeepakDonde commented on #4847
setting `process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';` at application level is also not working

[2022-08-24 08:52] likeavenus commented on #4840
Same, how fix ?

[2022-08-24 08:57] lavahasif commented on #4921
find any solution?

[2022-08-24 17:42] rahulnag commented on #3132
Similar ask,
i am also looking for something similar.

Any update Axios Team ?

[2022-08-25 07:41] lamhungypl commented on #4928
why don't you use `Promise.all`
[code]

[2022-08-25 08:19] mlazari commented on #4658
@Melber17 Why would a GET request require to send a `Content-Type` header? GET requests don't have a body and setting `data` for them seems strange to me. Maybe there is an issue with the backend where you're sending the requests?

[2022-08-25 08:29] Melber17 commented on #4658
@mlazari  I don't know much about the server, but the documentation says that some API calls require you to send data in a certain format as part of an API call. By default, all API calls expect input in JSON format, however, you need to tell the server that you are sending the payload in JSON format.
And to do this, you must include the **Accept => application/json** and **Content-Type => applica

[2022-08-25 08:40] mlazari commented on #4658
@Melber17 Yeah, but how do you send json with a GET request? It makes sense for a POST request, since you can send the json data in the body, but GET requests can't have a body as far as I know. Accept => application/json makes sense since that tells the server which content type the client can understand / expects in the response.

[2022-08-25 08:48] mlazari commented on #4658
I could be wrong, maybe it makes sense to have Content-Type for a GET request in some situations though... I see https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17 mentions: "The Content-Type entity-header field indicates the media type of the entity-body sent to the recipient or, in the case of the HEAD method, the media type that would have been sent had the request been a GET."

[2022-08-25 09:01] mlazari commented on #4658
Here is an interesting article on this topic: https://evertpot.com/get-request-bodies/

[2022-08-25 09:41] mytlogos commented on #4929
Though not exactly what you are looking for, but there exists the NPM Package [Axios-CookieJar-Support](https://www.npmjs.com/package/axios-cookiejar-support).

[2022-08-25 12:38] Melber17 commented on #4658
@mlazari  thanks for the information 👍. I think it's worth closing the issue. The problem is in the API I use

[2022-08-25 12:38] #4658 closed

[2022-08-25 13:52] mwidner commented on #4716
I am finding that this code throws errors:
`function handleError(error: AxiosError) {
   // do something with error.response.data.message
}`

Whereas this is fine, but my IDE complains about redundancy:

`function handleError(error: AxiosError) {
   if (error instanceof AxiosError) {
       // do something with error.response.data.message
   }
}`

This is annoying and problematic. Seems like a dow

[2022-08-25 20:26] meza360 commented on #4921
What I understand, is that you are trying to get the status code(as integer) to then, handle or react with some event.

[code]

Let us know if this solves your issue.

[2022-08-26 19:58] pcandido commented on #3384
I combined two approaches, and it worked to me

`npm i npm i tunnel-agent`

[code]

[2022-08-26 21:24] Slapbox commented on #4800
@mlazari we explicitly set the `'Content-Type': 'application/x-www-form-urlencoded'` but we still have the issue.

[2022-08-27 04:22] mlazari commented on #4800
@Slapbox That doesn't change anything since you set the same value as the default. I think you must use `'Content-Type': 'multipart/form-data'` when you use FormData. From my debugging if you send FormData with the default `'Content-Type': 'application/x-www-form-urlencoded'` it doesn't make the request at all on Android and `XMLHttpRequest.onerror` is called here: https://github.com/axios/axios/b

[2022-08-27 04:30] sigespweb22 commented on #4921
I still don't have a definitive solution. Occasionally I created a hack, assuming for now that all connection errors are 401, so I return an exception in this pattern.

hack:

if (resp.message == 'Network Error') return toast.error("You do not have permission for this action.")

I still don't have a definitive solution. Occasionally I created a hack, assuming for now that all connection errors are

[2022-08-27 04:33] mlazari commented on #4412
Adding a note here on my previous comment https://github.com/axios/axios/issues/4412#issuecomment-1025506556 that might be useful for someone.
Recently I found that there is `FormData` available in React Native, so there is no need to use the [form-data](https://www.npmjs.com/package/form-data) dependency. Using the global one removed the need to use that `FormData.prototype[Symbol.toStringTag] =

[2022-08-27 04:35] sigespweb22 commented on #4921
Your suggestion unfortunately did not resolve the issue. Keeps returning status code 0.

My api is really blocking the connection of the axios call, so I agree that it really has to return that it is having difficulties connecting to the api, since that is exactly what is happening. However, the api when blocking the connection due to permissioning problems, it returns either a 401 or a 403, which

[2022-08-27 07:30] ericrange commented on #3384
the problem is, that the proxy url is passed as variable into a docker container (99% of the cases)

axios itself wont look for "https_proxy" and another problem is case-sensity.

thats why you need
[code]

[2022-08-27 21:42] yavuz-bektas commented on #4420
Same issue. Any news? issue is coming from the only mobile browsers

[2022-08-29 02:06] VoiceDictionary commented on #4406
in my case it as an ID10T error...
//no worky as 'file'
formData.append("**file**", imgData);

//now it worky as 'image'
formData.append("**image**", imgData);

ENV
"axios": "^0.27.2",
"expo": "^45.0.6",
"react": "17.0.2",

[2022-08-29 06:30] jwang0512 opened #4930 "user defined data pass from request to response/error required"
[code]

is there any other ways to acomplish this? thanks in advance

[2022-08-29 10:47] SalehMehrabani opened #4931 "Change the path request in Axios after uploading on host?"
Hello,

Actually, I create a new e-commerce website with react for the frontend framework and laravel PHP for the backend framework. My question is:
Do I need to change the Axios path in my request?
As an example in the code below:
[code]

[2022-08-29 21:02] iammrjude commented on #4840
Same here and I'm also getting this error when I'm trying to connect to amazon RDS using mysql npm

[code]

Error:

`AxiosError: write EPROTO 18952:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:c:\ws\deps\openssl\openssl\ssl\record\ssl3_record.c:332:`

[2022-08-30 09:55] MaximeConan commented on #3921
Was stuck on a it since a day, your answer works like a charm for me.

[2022-08-30 10:21] Hasan-Jawaheri commented on #4793
Yeah I am facing the same issue. Would be great if those functions can be exported or somehow accessible without reaching deep into library implementation

[2022-08-30 10:40] geroale commented on #4826
Same issue here

[2022-08-30 15:57] iammrjude commented on #4840
Did you recently Install Python 2?

There is an NPM package that required me to install python 2. I started having this issue when I installed python 2.

After uninstalling python 2 today I stopped getting the error

[2022-08-31 16:22] Shahryar1991 opened #4933 "unable to upload file more than 1 megabyte"
I'm using axios and I've problem in upload file. if files size be more than 1 megabyte, request will be truncated. I've increased following php config variables too:
`upload_max_filesize`
`post_max_size`
`max_file_uploads `
I'm using axios v0.27.2 in vue 3, vite 3.0.9 and laravel 9 in back-end. I haven't defined any limitation for upload max size.

[2022-09-01 08:13] MASSKAgithub commented on #4840
Try like that with HttpsProxyAgent.

axios.get("website", {
        httpsAgent: new HttpsProxyAgent('http://USER:PASSWORD@IP:PORT')
    }).then((res) => {
       // do something
})

I was getting the error because in the proxy I wrote https instead of http.

I hope it will help you

[2022-09-01 14:38] xmdcode opened #4935 "Axios memory leak"
I upgraded to last version of axios.

I am using it on node.js app version 16.

Before upgrading my nodejs app would use average 100-180mb ram on heroku hobby dyno.

It's a simple api that requests data from an api and i am doing 1000 axios calls per hour.

After upgrading to latest version app is constantly to 400mb ram used and do sudden jumps to memory after 2-3 hours.

I handle errors and all

[2022-09-01 19:30] devhiko opened #4936 "I am giving this error sometimes at my app when put request sent: Request Aborted, AxiosError, ECONNABORTED"
#### Describe the issue
I am giving `request aborted` error at my console when sending put request to my cms server.

#### Example Code

[code]

#### Expected behavior, if applicable
It works sometimes but some not. i want to be stable at fecthing and posting data.

#### Environment
 - Axios Version [0.27.1]
 - Adapter [HTTP]
 - Browser [Firefox, Chrome]
 - Browser Version [104.0.1 ,104.0.5112.102

[2022-09-01 20:13] singhgovind770 commented on #4823
Getting Same issue, Is there any fix ?

[2022-09-01 20:23] KirianCaumes opened #4937 "Cannot run the same request consecutively (two or more) in the same script"
#### Describe the issue
I cannot run the same request consecutively (two or more) in the same script.

But with only one request in the script, if I start it, I can run it multiple time without issues (by this, I mean executing mutiple `node test.js`).

While the first always works, the second (or following) request(s) throw a "error code: 1020" from cloudflare I think.

So I'm trying to understan

[2022-09-01 21:33] EmadMirzaieR commented on #3473
It was very painful. I wasted my time on this.

[2022-09-02 10:31] eau-de-la-seine opened #4938 "axios.create does not keep interceptors"
#### Describe the bug

If you create an axios instance from an existing axios instance, it will keep its `config` parameter, **but not its interceptors**

#### To Reproduce

In the code below we are going to create `axios2` from `axios1` that has custom `config` and intertceptors:
[code]

#### Expected behavior

Result:
[code]
=> As you can see, `axios2` prints `"test1":"value1"` from `axios1`, bu

[2022-09-02 10:59] chathu-novade commented on #695
I think this should be included in the core as an opt-in feature

[2022-09-02 14:26] Ruslan101 opened #4939 "Setting header: 'Content-Type': 'application/json' is not working"
#### Describe the bug
Unable to pass Content-Type header to get request

#### To Reproduce
[code]

#### Expected behavior
The request is expected to leave with 'Content-Type': 'image/png' header parameters

#### Environment
 - Axios Version [e.g. 0.21.1]
 - Adapter [e.g. XHR/HTTP]
 - Browser [e.g. Chrome]
 - Browser Version [e.g. 104.0.5112.79 ]
 - Node.js Version [e.g. 14.19.3]
 - OS: [e.g. Pop!_

[2022-09-03 01:46] meza360 commented on #4921
Try to keep it simple, and avoid being redundant.

- Check your axios header request, is it equal to your API header responses? eg. application/json, application/xml
- Are you developing locally or in different domains?
- How do you know your API is blocking the connection? have you tried with other client and getting a different result? eg postman, swagger.
- Are you logging your API responses be

[2022-09-03 18:08] sushantawalekar opened #4940 "The documentation for the Axios Get Example shows the .then() method instead of the .finally() method"
#### Section/Content To Improve
Quote or link to section

https://axios-http.com/docs/example

[code]

#### Suggested Improvement
Identify what is confusing or incorrect and what could make it better
In accordance with correct syntax, get example should have .finally instead of .then

[2022-09-03 18:15] MASSKAgithub commented on #4840
What are you waiting to put it as resolved?

[2022-09-03 22:04] Shahryar1991 commented on #4933
It is weird but I've tested my project in windows 10 and uploaded a 5 megabytes file without any problem!
but same project in windows 11 has this problem and I couldn't figure out whats cause it.

[2022-09-04 10:54] iambenkay commented on #4939
The section in your attachment is a response header not a request header. Kindly check request header to confirm.

[2022-09-04 10:57] iambenkay commented on #4933
Hmm, weird. Create a small demo that replicates the issue and share the link so anyone can try it out. Maybe codesandbox or sumn

[2022-09-04 10:58] iambenkay commented on #4935
Have you done profiling to confirm that Axios is really causing the memory leak? Share your findings if you have.

[2022-09-04 12:32] #4931 closed

[2022-09-04 13:15] OiYouYeahYou commented on #4315
@jasonsaayman, Hey, you closed this without reason. Is this a "won't fix", or are you triaging for something else?

[2022-09-05 07:35] jasonsaayman commented on #4315
I don't know why I closed this but that was a mistake, I think I may have thought this was documentation and wanted to move all of this over to the docs repo. Sorry about that 🙏

[2022-09-05 08:44] Ruslan101 commented on #4939
Yes, the issue has been resolved, this issue is a duplicate: [issues#86](https://github.com/axios/axios/issues/86)

[2022-09-05 08:44] #4939 closed

[2022-09-05 08:51] iambenkay commented on #4915
You can ask stuff like this in the [Discussions Forum](https://github.com/axios/axios/discussions). If you ask them here they will be unattended to since they are not feature requests or bugs

[2022-09-05 13:16] ErezShahaf opened #4943 "Content-length is missing from a postForm request."
[code]

Expected behavior: error: steamid is missing (I'm  using just one parameter for testing)
Result: Error 411: Missing length

It does seem to have the length in the actual data, but not in the header
` _header: 'POST /ISteamMicroTxnSandbox/InitTxn/v3 HTTP/1.1\r\n' +
      'Accept: application/json, text/plain, */*\r\n' +
      'content-type: multipart/form-data; boundary=--------------------

[2022-09-05 14:28] jasonsaayman commented on #4249
My opinion is that this is not an issue, axios is not in charge of logging anything anywhere. All logging added is the responsibility of the implementor. You can clean the prototype or you can rather only log what you need and not the entire response.

[2022-09-05 20:50] ErezShahaf commented on #4943
Weird, I tried using URLPARAMS again and it worked well.
I do recall using it without any success, but maybe I didn't use it with 'application/x-www-form-urlencoded' which should be a better fit.

[2022-09-05 20:50] #4943 closed

[2022-09-06 01:41] rizaldirnm opened #4944 "this.request is not a function"
#### Describe the bug
I got receive error report from Sentry.

<img width="851" alt="CleanShot 2022-09-06 at 08 33 34@2x" src="https://user-images.githubusercontent.com/26857590/188528519-deed4b5c-5d16-48fa-b9e4-c85f0c2ac8d4.png">

I have no idea what is this.

the function in `core/http/http.ts` looks like:

[code]

Up until now only 1 event occur in sentry. Is it possible error from axios lib? O

[2022-09-06 07:08] maggie0002 commented on #4249
I can't think of a scenario where someone would need to get the Authorization header returned back to them in the logs so I would suspect removing it would not create any friction in usage. Indeed it could be seen as the user responsibility, but as they are in multiple places throughout the error object it is likely at least some will miss it and then this single issue becomes multiplied on each r

[2022-09-06 09:44] leerle commented on #4250
Thanks for your explanation!!

[2022-09-06 11:06] sigespweb22 commented on #4921
I've already checked most of the points raised by you.

Simply put, when I suspected the possible error reason, I simulated a rogue environment, and checked the api callback through the google chrome console, that's exactly where I confirmed that the api method was returning a 401 (Unauthorized), however, the api callback was not able to retrieve this status code, and as I reported above, the stat

[2022-09-06 12:43] Spasfonx commented on #4768
Ok, have you some news on this ? Maybe planned for the v1 ?

[2022-09-06 13:38] jasonsaayman commented on #4249
I still disagree, firstly you should not be logging the entire response in any use case ever, what should be done is you should log only the parts of the response that you would like to keep for traces and to identify errors. When logging the entire response you are actually creating multiple potential issues, you could be logging user data, you can be breaching GDPR and you can even be login thei

[2022-09-06 18:42] Yueren-Wang commented on #4531
Is there an update for this issue? which axios version should we use to workaround?

[2022-09-06 18:44] srdi commented on #4531
This worked for me:

[2022-09-06 23:06] fawad-khalil-retailo opened #4946 "Authorization header is missing on redirect URL to the same baseURL"
#### Describe the issue
I am requesting a URL of API service which responds with status code 307 (redirect) on success and a URL location in response Headers. This is protected API and needs `Authorization` header for it to be fulfilled successfully. The problem I am facing is that the Authorization header is not appended to the redirected URL, it is only appended to the original call, and therefo

[2022-09-06 23:15] fawad-khalil-retailo commented on #4946
Edited the statements to give more explanation about the problem.

[2022-09-07 00:13] fawad-khalil-retailo commented on #4946
I tried using `beforeRedirect` as follows, but it does not get called:
[code]

[2022-09-07 00:38] fawad-khalil-retailo commented on #4946
I have also tried setting global headers and used pre-request interceptor. That also didn't work for the redirected URL. They work for the original URL only.

[2022-09-07 02:00] HorvathDavid commented on #4888
node and axios version?

[2022-09-07 02:03] WillianAgostini commented on #4938
Hi @eau-de-la-seine,
there's a test that blocks this functionality.

https://github.com/axios/axios/blob/6acb5ef8ff127db65da85189b3ccaeb10b93121a/test/specs/instance.spec.js#L92-L120

You can see it on failed test [runs/8219483402](https://github.com/WillianAgostini/axios/runs/8219483402?check_suite_focus=true) on PR https://github.com/WillianAgostini/axios/pull/1.

[2022-09-07 04:34] hassanKhademi opened #4947 "Unhandled error"
#### Describe the bug
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

#### To Reproduce
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file unde

[2022-09-07 10:01] Parth0105 opened #4948 "Unused imports in many files"
#### Section/Content To Improve
There are many files with unused imports we might want removing them.

#### Suggested Improvement
Removing all the unused imports in the project.

#### Relevant File(s)
Have opened a pr for the same.
https://github.com/axios/axios/pull/4914

[2022-09-08 01:48] Rishi556 commented on #4534
@rpassmore01 Have you made any progress?

[2022-09-08 02:05] mohabisback commented on #4907
thanks, you helped alot

[2022-09-08 02:05] mohabisback commented on #4907
both of you helped, thank you both

[2022-09-08 10:10] samarkalra commented on #4910
Try this:-

import { stringify } from "query-string";  // This line

return instance({
    method: 'post',
    url:"admin/requetes_ws_divers.php?ajaxAction=WSlogin",
    data: **stringify(formdata),**   // This line
    headers: {"Content-Type": "multipart/form-data;" },
})

[2022-09-08 11:11] dhondtlaurens commented on #4901
@WillianAgostini, Is there a PR already? Or can we help with something to add this feature? I'm having the same issue with a custom protocol on `android` devices and I found the rules @realityfilter posted (https://github.com/axios/axios/blob/cd8989a987f994c79148bb0cacfca3379ca27414/lib/adapters/xhr.js#L240-L245) to be responsible. Thanks in advance!

[2022-09-08 15:36] phil294 commented on #3606
Thank you for tackling this @jasonsaayman :-) In my case unfortunately, this did not fix it because I'm using `axios.create` in a web app which apparently uses the `xhr` adapter, not the `http` one, and your fix only targets `http`, but there's also a buildURL in `xhr`. I don't know why there are two different ones and when which is used and if duplicating the logic here would be correct (?), but

[2022-09-08 20:31] Mario-Eis commented on #4839
But 1.0.0-alpha also does not escape square brackets. I just tried it. And here it is mentioned as well: https://github.com/axios/axios/issues/3316

[2022-09-09 14:26] sils commented on #3459
Getting this too still!

[2022-09-09 18:52] hypnotic-frog commented on #4921
Did you find a solution for this. I'm having the same problem :-(

[2022-09-09 21:18] sigespweb22 commented on #4921
Not yet my friend, but we are all in the fight. A solution will soon emerge.

[2022-09-10 00:49] burkeingraffia commented on #4783
I found that my Postman auth expired after 300 seconds.

[2022-09-10 16:24] WillianAgostini commented on #4901
I committed https://github.com/WillianAgostini/axios/commit/2d7277ed795e6b114d4176e783d861c11869db5f to customize protocols on xhr adapter.
But it is still missing a test case for this feature, with a server that supports the "capacitor" protocol to respond.

[2022-09-11 05:17] rvrita commented on #3012
I fixed this by using `import { default as axios } from 'axios'`.

[2022-09-11 10:37] hung-cybo opened #4950 "Error "414 Request-URI Too Long" when sending a large xml content"
Hi there,

#### Details
My product has supported the SOAP service, and now, I want to use Axios to auto-test it.
In my SOAP service, we have an API that supports adding new files.
The file will be sent as a base64 encoding.

When executing with a txt file, it works normally.
However, with a JPG image, It throws an error: `414 Request-URI Too Long`

The same URI, but TXT works, JPG is not.
My predi

[2022-09-11 15:21] d11r commented on #4423
Facing this issue myself. Asked a question here: https://stackoverflow.com/questions/73679209/submitting-form-data-via-axios-fails-with-datasize-0

[2022-09-11 19:55] erksch opened #4951 "`AxiosError.config` can be `undefined` which is not reflected in types"
#### Describe the bug

We encountered that the `config` property of `AxiosError` is `undefined` in some cases, we assume in the case of network errors. This is not reflected by the type of `AxiosError.config` which can lead to runtime issues and might crash your application if you try to read `error.config.url` for example.

#### To Reproduce

Create a network error where the request failed to sen

[2022-09-12 09:17] wly2014 opened #4953 "Can't get the same response to python code"
#### Describe the issue
I have two same functions in python requests and javascript axios, axios can not get a right response while python can. Those two code snippets are shown as following, and I can't find any difference:

#### Example Code
javascript
[code]
result:
`{ errorCode: 50 }`

python:
[code]
result:
get the correct respone.

#### Expected behavior, if applicable
Is there a problem wit

[2022-09-12 09:49] Legion2 commented on #4951
possibly related to https://github.com/axios/axios/pull/4922, https://github.com/axios/axios/pull/4659 and https://github.com/axios/axios/pull/4711

[2022-09-12 17:16] WillenOLeal opened #4954 "Feature Request: Allow the Params property to be typed, instead of any"
#### Is your feature request related to a problem? Please describe.
HI everyone, thank you for the this lib! Not related to a problem, but rather an inconvenience. I notice that on the index.d.ts file, the interface below only allows the data type to be customized with the D generic, while the params field is always any. On some requests being able to conveniently type the params property would be

[2022-09-12 18:54] passakorn-new opened #4955 "Axios FormData with file"
My environment
**[Svelte]** --_FormData submit_--> **[SvelteKit Endpoint]** --_call for save file_ --> **[Rails]**

#### Describe the issue
I uploaded the file and submitted the form to the SvelteKit Endpoint. Then I passed FormData from SvelteKit to Rails by Axios get error "Data after transformation must be a string, an ArrayBuffer, a Buffer, or a Stream"

#### Example Code
Code snippet to illus

[2022-09-13 02:50] passakorn-new commented on #4955
I change node-fetch instead Axios that work!, but i want to use Axios.

[2022-09-13 06:21] An0nymous0 commented on #4921
It may be a back-end problem, which seems to be related to cross domain. I encountered this problem when I started CORS with spring security.

[2022-09-13 07:35] #4950 closed

[2022-09-13 22:25] sigespweb22 commented on #4921
It doesn't make sense since, cors doesn't return 401.

[2022-09-13 22:30] tregonzalesCar commented on #3473
@jasonsaayman is this addressed in any new axios versions?

[2022-09-14 00:34] rpassmore01 commented on #4534
Sorry I forgot to follow up with this one. I did quite a bit of work trying to get this working, but realized during testing that the HTTP library's request does in fact check other addresses including ipv4 and ipv6. I'm pretty sure that the HTTP library does not use the happy eyeballs algorithm under the hood, so this could still be implemented into Axios. However, it seemed redundant to me since

[2022-09-14 02:50] cucupac commented on #3473
For me, the issue was that a 204 expects no content in the response, but I believe my 204 was sending "null" as a response, which was tripping up axios. For those in a similar boat, ensure that the response doesn't have a response body at all. It should work then.

[2022-09-14 05:20] Stephen2 commented on #3419
Oh wow. This broke my head for a couple of hours. Thank you @ps2goat for this. `new Axios()` feels so intuitive... but then unexpected behaviour starts up.

[2022-09-14 09:23] essamabuissa94 commented on #4493
@miteshdb Hello , can you give the link for the rn-fetch-blob solution ?

[2022-09-14 19:40] jasonsaayman commented on #4022
Closed please see pr.

[2022-09-14 19:40] #4022 closed

[2022-09-15 05:29] #4940 closed

[2022-09-15 05:29] jasonsaayman commented on #4940
Fixed in #4942

[2022-09-15 10:40] plehnen opened #4959 "wrong type for config params formSerializer and paramsSerializer"
#### Describe the bug
According to the documentation the value of "indexes" can be `null` but typescript complains because the type is `boolean | undefined` and `null` is not allowed.

#### To Reproduce
use typescript with the alpha.1 and write
[code]

#### Expected behavior
type should allow "null" as value, as described in the documentation.

#### Environment
 - Axios Version: 1.0.0-alpha.1
 - T

[2022-09-15 13:13] WillianAgostini commented on #4959
Hi @plehnen

Ok, I'll add to allow null for these parameters.

[2022-09-15 17:08] CSIAUD opened #4962 "ANGULAR Property 'get' does not exist on type 'typeof Axios'"
Hello, i work with Angular, and i want to use axios to work with but the get function "does not exist".

My code :
`import { Injectable } from "@angular/core";
import { Axios } from "axios";
import { Campaign } from "src/app/models/campaign/campaign";
import { environment } from "src/environments/environment";

@Injectable({
  providedIn: "root"
})
export class CampaignService {

  private campaig

[2022-09-15 19:12] CSIAUD commented on #4962
The issue comes from the import :
`import { Axios } from "axios";`
Instead of :
`import axios from 'axios';`

[2022-09-15 19:13] #4962 closed

[2022-09-15 22:53] lucaskbr opened #4963 "http req with proxy + ca doesnt seems to work"
#### Describe the issue
Im trying to **use proxy with a ca cert** but always throws an error
Im stuck on this for some days and didn't found an example that works with axios
After some struggle I wrote the same code, but using superagent lib and seems to work pretty well
But I would like to make it work using axios and i'm curious to know what is wrong

#### Example Code
Code snippet to illustrate

[2022-09-16 10:37] appsoner opened #4964 "on branch v0.x, http.js is not used, can it be deleted？"
http.js is not used, i think it should be deleted, it Confused me in some cases

[2022-09-16 14:52] lenivene commented on #4955
I'm having the same problem when sending a file using axios@0.27.0 version, but I'm tested on axios@0.21.4 version and it worked fine

[2022-09-16 16:57] rayvincent2 opened #4965 "fetch http adapter"
#### Is your feature request related to a problem? Please describe.
The largest driving factor for this adapter is to honor the `maxRedirects` setting in the browser.  This issue was previously raised and closed multiple times:
- issue #674
- issue #1227
- issue #3924

#### Describe the solution you'd like
Include a fetch http adapter (perhaps with coordination from https://github.com/vespaiach/ax

[2022-09-16 16:59] otcpage opened #4966 "maxRedirect=0 and response status 302 throw exception"
When the url is a 302 link, an exception will be thrown. I cannot get the response

[code]

[2022-09-16 19:52] ShiinaKin opened #4967 "error occor when use post"
#### Describe the bug
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

#### To Reproduce
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file unde

[2022-09-16 22:15] HolySamosa commented on #4921
I think I'm seeing the same issue as well w/ the Salesforce API...

[2022-09-18 03:33] hanin77 commented on #3720
any solution so far?

[2022-09-19 07:13] jiaguishan opened #4968 "Ie11 does not support for... of"
version: 0.27.2

The support list of axios browser shows that ie11 is supported, but internal apis such as for... of belong to es6+and are not supported in ie11 version!

The official needs to consider converting the code to the es5 version to explicitly support ie11

[2022-09-20 14:59] rin4ik commented on #2455
@creinelt @eduardotrzan @mamsoudi @maciej-trebacz guys did you find any solution to this problem ????

Experiencing the same problem and cant fix it for long time 😔
**withCredentials: false** doesn't help on the same domain

[2022-09-20 18:27] geongeorge commented on #2455
I think I used fetch instead of axios at the time to solve this.

[2022-09-20 19:13] cadentic opened #4972 "axios.get(myimages); axios .all([requestPages, requestMyImages ]) returns undefined in nextjs"
#### Describe the issue
we just want multiple components of strapi to be accessed by one single request the ```axios.get``` does its jobs but ```axios.all``` don't return anything. for example in a page say pages/index.js holds 50 different react componants and 50 different components need a feed from strapi of 50 strapi components it will not be agreate practice to do send 50 different reguest ra

[2022-09-20 19:21] dkarpov-w opened #4973 "response timeout error does not fire when use nock.delayBody()"
#### Describe the bug
During covering out project by tests we found an issue of not triggered axios response timeout error.
We need to fire an error if thirty party server response too long.
`nock` is an instrument for mocking thirty party server  long response in our project. It has [delayBody()](https://github.com/nock/nock#delay-the-response-body) configuration.

#### To Reproduce

[code]

####

[2022-09-20 19:53] bsonmez commented on #4806
same here

[2022-09-21 11:53] slava-lu opened #4976 "Axios with interceptors fail on the server side in next.js project"
#### Describe the issue
When using axios with interceptors at the server of next.js project it results is some unclear errors after which next.js returns 500 error.
![image](https://user-images.githubusercontent.com/32396113/191495735-f3094bc4-9af6-48ac-9614-5f752172514a.png)
I don't  use any cancel token in my axios setup. So it is some internal axios thing.

On a client side I do not have this i

[2022-09-21 14:41] dsva97 commented on #4847
In my case I tried it with "x" and it already works but you don't want it to apply to the entire environment, only to those requests. In modules like request, or node-fetch it works correctly passing the instance of https.Agent.

[2022-09-22 02:26] khashayar-bo commented on #4783
@geoidesic Could you solve the issue? I have exactly the same issue and have been stuck for a couple of days

[2022-09-22 08:32] listman9 opened #4978 "Extend use of concrete types in `AxiosRequestConfig` (replace `any`)"
#### Is your feature request related to a problem? Please describe.
I'm using `onDownloadProgress` config on a request, and tried de-structuring the `progressEvent` which is of type `any`. I got an error from es-lint. Example code is attached:
[code]
It was a bit frustrating and I ended up creating a partial interface for the response.
#### Describe the solution you'd like
Concrete types in 'Axios

[2022-09-22 09:27] geoidesic commented on #4783
@khashayar-bo yes. It was not easy. There are two main issues. A recent change to the browser security specifications means that the browser will not store the session cookie provided by the back-end if:

1. The domain is localhost and:
1.1 The FQDN does not contain at least two dots (e.g. "fe.app.localhost" is good, "fe.localhost" is bad),
1.2 AND / OR The protocol is not HTTPS

This makes it muc

[2022-09-22 09:27] #4783 closed

[2022-09-22 12:48] Cheaterman commented on #479
Bump :-)

[2022-09-22 14:26] brinobruno commented on #3473
Facing same issue, 200 followed by a 204, on Insomnia everything works fine, it's a simple node-react request with axios

[2022-09-22 15:31] jokerclay commented on #2825
I have a similar case, I am bonding a `a` tag  with a function that use `axios.delete` to sent a delete request to the server
and when I click the `a` tag, it won't delete the item until the second times, then I change the `a` tag to a `button` tag, and it worked, I guess there is some side effect when I click the `a` tag, this is a case, hope it can be helpful

[2022-09-23 07:32] crimson-med commented on #4966
Same here I do a simple get request and if the response is 302 then axios will say it's an error and return 403

If I use nodejs https module it does showcase 302.

[2022-09-23 13:15] DigitalBrainJS commented on #4964
no, it can't be removed from the repo since it is used by Axios on server platforms.

[2022-09-23 14:36] AntoineDeloy commented on #4716
Hello everyone, I can only confirm what everyone just said, if we add a check to be sure that `axiosError` is an `instance of` axiosError and is not `unknown` then sonarcloud is getting mad and I have a code smell, mi IDE is also getting mad, and the developer experience is broken. I stay in version 0.26 ! Sorry

[2022-09-23 14:47] samperfect commented on #4978
Hi, @listman9 could you clarify a little further...I don't think the progressEvent is of type any as indicated [here](https://github.com/axios/axios/blob/ce8a9211b665f9eca7e2c23554731d3501bebf86/index.d.ts#L223)

[2022-09-24 07:20] lincolnzera1 commented on #4420
In my case, the CORS was blocking the frontend from acessing the backend.
**My Solution:**  Add this in the server-side:

                     Using npm, install 'cors':
                      npm i cors

                      And add this lines to the code:

                      let cors = require("cors");
                      app.use(cors());

[2022-09-24 09:50] AnisMobile99 commented on #4420
Don't have solution now ???

[2022-09-24 14:12] Mkay4real commented on #4823
I'm also facing this issue

[2022-09-24 15:46] Leoff00 opened #4979 "Axios ECONNREFUSED error making a request to another endpoint in the compose."
I'm building two microservices in a compose and i'm trying to connect they both, to make this i put a axios request in one to call other (with access token auth), but when i make the request, automatically axios throws an exception and send me an internal server error with 500. I already configure docker network to avoid this problem but it doesn't work. Some tip or help?

I'm using version 3 of t

[2022-09-24 16:05] #4963 closed

[2022-09-24 16:08] lucaskbr commented on #4963
If anyone has the same problem rn or in the future: I didn't found a solution using axios, so I decided to move the lib from axios to got. And it is working fine!

[2022-09-25 11:10] rounsmith commented on #4935
I am at 0.24.0 seems to be okaish.

[2022-09-26 08:42] calinbogdan commented on #4806
Any updates on this?

[2022-09-26 15:46] kumarldh commented on #4420
@lincolnzera1 don't want to patronize you, however could not stop myself from adding a comment either. I would suggest you to look at errors and only allow required headers for cors. If you are already doing this, please ignore my comment completely.

[2022-09-26 19:06] jasonsaayman commented on #4858
Closing as it merged

[2022-09-26 19:06] #4858 closed

[2022-09-26 19:07] #4890 closed

[2022-09-26 19:11] #4873 closed

[2022-09-26 19:51] #4979 closed

[2022-09-27 08:15] zhfnjust opened #4982 "axios.get() return empty data"
#### Describe the bug

`axios.get()` return empty data on a one computer. but success on others computer.

On this particular computer, if we use nodejs's standard library `https` , we can access any api successfully. see Figure 2

Only one particular computer has this problem, but I don't know how to locate it.

#### To Reproduce

1. create a file test.js

[code]

2.  `node test.js`

#### Expecte

[2022-09-27 10:16] dimbslmh commented on #4716
For some reason, this doesn't work anymore for me. I have downgraded to v0.26.1

[2022-09-27 10:24] UtpalKumarJha commented on #4806
I am facing same problem too.

[2022-09-27 17:23] freeman1995 commented on #4269
please reopen this ticket
`AbortController` has nothing to do with this
and this issue is super important IMO

[2022-09-27 18:00] sheparddw commented on #4269
@ssidorchik or @freeman1995 feel free to open a new issue and add the context about how AbortController does not help. Looks like I do not have permissions to reopen this one.

[2022-09-27 18:58] freeman1995 commented on #4269
im sorry, i actually checked and axios does use keepAlive in web by default
in Nodejs however there is a way to achieve that by using the `httpAgent` config option

[2022-09-28 02:12] developerbmw commented on #4920
This bug [was fixed ages ago](https://github.com/axios/axios/commit/12faca87e0fceb25faba33ca9a5bd603f3a7a75e) but unfortunately there hasn't been a release since. Time to find a new library?

[2022-09-28 06:28] drmercer commented on #1219
This is an awful limitation for axios, and saying "it's coming in a complete rewrite of axios" doesn't really solve the problem. The only reason this is an issue for me (and many others) is because I want to use a library that depends on axios, and I'm in an environment that only supports fetch, like Cloudflare Workers. Waiting for (1) axios to release v1 and then (2) the library I'm using to upda

[2022-09-28 10:13] iambilalriaz commented on #4982
Try using `Promise` syntax instead of `async await`:
[code]

[2022-09-28 13:46] vernou commented on #4407
This pull-request #4426 resolved the problem.
It's available from the version [0.26.0](https://github.com/axios/axios/releases/tag/v0.26.0).

The ticket can be closed?

[2022-09-28 18:31] #4896 closed

[2022-09-28 18:37] #4889 closed

[2022-09-28 19:05] #4911 closed

[2022-09-29 01:57] zhfnjust commented on #4774
some issue:

Axios Version: 0.21.1
Node.js Version v16.14.2

[2022-09-29 06:15] jasonsaayman commented on #4959
Closed see PR's

[2022-09-29 06:15] #4959 closed

[2022-09-29 06:25] #4948 closed

[2022-09-29 17:17] AbdulWahabAchakzai commented on #2946
I am using "axios": "^0.27.2" in my project and it still has the above issue.

[2022-09-29 17:33] SergioSG-PNXT commented on #4963
same problem here, imposible connect using certs & proxy

[code]

[2022-09-30 08:12] Momotoculteur commented on #4766
I spend 2 days with weird request thinking problem came from my requests, resolved with axios-https-proxy-fix module with same configuration. We need this fix in axios guys :)

[2022-09-30 09:33] david4bou opened #4983 "Cannot catch error with axios.get() in nuxt 3.0.0-rc.11"
#### Describe the bug
Hello everyone ! I want to make a function that check if an image exist in my project folder. And when I use try catch statement, I have error 404 (when image is not found) display on the console. I want to catch this error with my catch sattement but it doesn't work.

#### To Reproduce
[code]
In the console
[code]

#### Expected behavior
The 404 error catched !

#### Environ

[2022-09-30 15:31] fdrobidoux commented on #4655
Same error for me. It's weird, I get a normal 401 when I omit a necessary header for a request, and when it's well-formed, I get that error. Same version, using 16.17.0 (LTS when it was installed), Windows 10.

[2022-09-30 16:47] ivanchaz commented on #4156
Hi @jasonsaayman and @GregDevProjects, I'm not sure whether any of you guys are still working on this or not. But, would you guys mind letting me check on this? I am under impression the header is marked as forbidden because the user agent could change the value, but, in this case, axios is the user agent right. So, it should be able to change the value.

Regards

[2022-09-30 16:58] moritzhertler commented on #4920
Thanks, good to know! I am closing this as it is a duplicate of #4655.

[2022-09-30 16:58] #4920 closed

[2022-09-30 18:54] connellyguy commented on #4965
A built-in fetch adapter would also solve the issue of service workers not supporting XHR. Once google fully rolls out Manifest V3 for extensions, which mandates the use service workers, no Chrome extensions will be able to use axios without a fetch adapter going forward.

[2022-09-30 21:46] p8nut commented on #4200
should i close the issue ?

[2022-10-01 00:10] GregDevProjects commented on #4156
@ivanchaz sounds good to me, I'm not working on it

[2022-10-01 03:20] chankruze commented on #4982
@zhfnjust

Your sample code is working absolutely fine: https://replit.com/@chankruze/axios-test#index.js

[2022-10-01 03:46] iyashsoni commented on #4982
Hey @zhfnjust

The code works perfectly fine. I see no reason this shouldn't work

[code]

I see the output:
[code]

[2022-10-01 09:54] sk1122 opened #4986 "Add GraphQL Support (Natively)"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Everybody works with multiple types of APIs daily and as especially GraphQL is on the rise, developers need to install multiple libraries just to support GraphQL and HTTPs both

#### Describe the solution you'd like
A clear and concise de

[2022-10-01 11:01] rameshvoodi commented on #4937
hey @KirianCaumes,
catch block  we pass error as prop and print it, maybe this may solve your problem:

catch(err){
  console.log(err)
}

[2022-10-01 13:36] sanyamgandhak commented on #4967
Please assign me this issue

[2022-10-01 13:36] sanyamgandhak commented on #4930
hi there , please assign this issue to me

[2022-10-01 18:42] ImADrafter commented on #4978
Hey @listman9 ! I think there's a confusion in here. As @opensaucerer says, the progressEvent type is already defined in the 1.x alpha, but the in the [v0.27.2](https://github.com/axios/axios/blob/v0.27.2/index.d.ts#L95), which is the latest, the type is still any.

[2022-10-01 19:00] tejshrijagadale18 opened #4988 "Bug report"
#### Describe the bug
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

#### To Reproduce
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file unde

[2022-10-01 21:35] opensaucerer commented on #4988
@tejshrijagadale18 I think there's a mix up here....you issue contains no issue at all....just defaults 🙂

[2022-10-02 02:47] jblachly opened #4989 "error.response exists when `catch`ing a Network Error"
#### Section/Content To Improve

https://axios-http.com/docs/handling_errors

#### Suggested Improvement

This section provides example code that shows how to distinguish different types of errors by testing whether `error.response`, then `error.request` is present.

However, if the CORS preflight fails (for example, by shutting down my API server [on localhost]), the `error` caught contains `resp

[2022-10-02 07:24] #4978 closed

[2022-10-02 16:31] ivanchaz commented on #4156
Thanks for the reply @GregDevProjects. For the issue, I have looked into it. And, seems like I can't replicate it (in branch `v1.x` and tag `v0.22.0`). I have created some snippet to see the header as follows

[code]

and the response is as follow

[code]

So, I'm not sure, maybe @derSoerrn95 could help provide us with a reproducable? or maybe this issue has been fixed in another commit? cc @jason

[2022-10-02 18:40] fthernan commented on #3444
You can import it like this:
[code]

[2022-10-03 01:44] zhfnjust commented on #4982
yes ,i works well on my computer too, but no working on an other's.

[2022-10-03 15:12] dh3wr commented on #4967
Same here with vuetify, "axios": "^0.27.2", "vue-axios": "^3.4.1",

[2022-10-03 15:49] mljlynch opened #4992 "Add examples for mocking Axios function calls"
#### Describe the issue

There are no examples in this repo on how to mock Axios which makes it a hard library to integrate

#### Expected behavior, if applicable
I would expect in the `/examples` folder to see a few examples of tests axios behavior including error objects

#### Environment
 - Axios Version: 0.27.0

[2022-10-03 19:55] mareebsiddiqui commented on #4548
I am facing this issue too!

[2022-10-04 01:03] tigerinus commented on #4806
and update?

[2022-10-04 13:16] vzkhrv commented on #3457
Can't reproduce on my own. Do u still have this leakage?

[2022-10-04 17:34] kich555 opened #4994 "Interceptors response config.data returns stringified object"
#### Describe the bug
The config.data set to the object type in the interceptor request  but in interceptor.response it returns stringified object

[#3986](https://github.com/axios/axios/issues/3986#issue-981106758) I think it's the same  issue.

#### To Reproduce
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a

[2022-10-04 19:28] #4988 closed

[2022-10-04 19:29] jasonsaayman commented on #4920
Changes are released v1.0.0 is live now

[2022-10-04 20:24] StefH opened #4997 "Version 1.0.0 gives errors"
[code]

node = v16.17.1

package.json =
[code]

[2022-10-04 20:58] KirianCaumes commented on #4937
I'm not sure what you mean @rameshvoodi, I already have a try/catch in my example:

[code]

[2022-10-04 21:18] leefsmp commented on #3132
This was closed as completed… would you mind giving some more hints pls, couldn’t find anything related in the doc so far. Thanks 🙏🏻

[2022-10-04 22:09] tapz opened #4998 "Restricted in strict mode, js engine: hermes (React Native + Axios 1.0.0)"
#### Describe the bug
Getting an error with React Native when importing a function from a file, which uses Axios.

Error: Requiring module "src/api/Api.js", which threw an exception: TypeError: Restricted in strict mode, js engine: hermes

#### To Reproduce
Import a function.

[code]

#### Expected behavior
No errors

#### Environment
 - Axios Version: 1.0.0
 - Node.js Version: 16
 - OS: MacOS
 -

[2022-10-04 23:28] jweingarten opened #4999 "After upgrade to 1.0 GET request with parameters in the url fail"
Working request with Axios v1.0.0-alpha.1:
[code]

Same request with 1.0.0 fails with a 404. 1.0.0 was promoted today.

When I print the failed response it looks like something is parsed/encoded incorrectly.

[code]
To me the `?` is missing in between `commits` and `q`.

When I don't parse the parameters on the URL and use `config.params` it works with Axios `1.0.0`.

[code]

The success response

[2022-10-04 23:40] trim21 opened #5000 "exports lib packages in package.json"
TLDR：

https://github.com/axios/axios/issues/5000#issuecomment-1311350960

#### Is your feature request related to a problem? Please describe.

Yes. I'm writing a adaptor to be used in userscript like tampermonkey or Violentmonkey,
it use a xhr provided be broser extension `GM.xmlHttpRequest` to make cors request.

And to make it behavior like axios' xhr adaptor, I'm using some axios' helper funct

[2022-10-05 00:10] arthurfiorette commented on #5000
And, if I'm not mistaken, react native users need that the package.json field to be exported as well.

Some users of axios-cache-interceptors raised an issue about this same problem and after some reading, this may also be the best way to export an project that is coded by default with ESM:

https://github.com/arthurfiorette/axios-cache-interceptor/blob/4bf049b935d47f5fc46c587ff81c0e4d15b52e8b/pac

[2022-10-05 00:12] trim21 opened #5001 "1.0.0 wrong type definition, class `AxiosError` is not exported"
#### Describe the bug

class `AxiosError` is exported through axios' property, but type definition says it's exported both way.

#### To Reproduce

install axios 1.0.0 and create `index.ts`, transpile it **without `esModuleInterop`**

[code]

Then run output file:

This will pass typescript's type checking, but raise a error at runtime:

[code]

This is because ini `index.d.ts`,

https://github.co

[2022-10-05 00:13] arthurfiorette commented on #4997
You're using `typescript@3`. Please upgrade to `typescript@^4` and try again.

[2022-10-05 00:16] arthurfiorette commented on #4986
I think it is out of scope of axios to implement full and native graphql requests, but who am I to say it...

Technically, any http client is capable of doing graphql requests, as the anatomy of a graphql request is pretty simple. [Here is a great example of how to do it :)](https://stackoverflow.com/questions/52816623/graphql-post-request-in-axios).

[2022-10-05 00:18] arthurfiorette commented on #4999
Weird...
Can you provide a reproducible repository so it can be tested out more quickly?

[2022-10-05 00:23] jweingarten commented on #4999
Not really ... I can't give you access to our GIT server to make that GIT api call. I am not sure if its a generic thing with any parameters in the url or just this specific set.
Anything I can provide you with as far as debug print outs where I can remove internal data?

[2022-10-05 00:26] arthurfiorette opened #5002 "Multiple Headers types and usage. How it has changed?"
#### Section/Content To Improve

About headers typing and usage. Before 1.0.0, it was just a plain object that we could index natively as any other. After 1.0.0, it is composed in a more complex way, with many typings and unions:

(https://github.com/axios/axios/blob/484aa4fe6addccbd32206a31eb3d2d000843066e/index.d.ts#L2-L77)

#### Suggested Improvement

Maybe I understood it wrong, tried to find

[2022-10-05 00:29] arthurfiorette commented on #4999
No need for git acces, just a 2 files repository on github with a nodejs script that calls an express server that throws the same error. Because the above information doesn't seem enough to find a precise solution.

[2022-10-05 00:40] arthurfiorette commented on #5000
Also, it would be great if a simple `export * from '../index.d.ts` declaration file was shipped with the same name for each file in the dist folder, this way direct imports would work flawlessly with typescript.

Like: `import ... from 'axios/dist/node/axios.cjs'`

[2022-10-05 00:58] jweingarten commented on #4999
How about this.

# Curl command for illustration only
For illustration ... a curl command that returns with my personal GIT Access token a 422 when searching the axios repo. Yes it fails with a 422, but that is expected. As I said its just for illustration.

Request:
[code]
Response:
[code]
# Axios v1.0.0-alpha.1

## Steps/Run
* rm -rf node_modules
* npm install axios@v1.0.0-alpha.1
* vi test.js
*

[2022-10-05 01:04] jweingarten commented on #4999
How about this?

# Curl command for illustration only
For illustration ... a curl command that returns with my personal GIT Access token a 422 when searching the axios repo. Yes it fails with a 422, but that is expected. As I said its just for illustration.

Request:
[code]
Response looks normal as I get a list of commits.

# Axios v1.0.0-alpha.1

## Steps/Run
* rm -rf node_modules
* npm install a

[2022-10-05 04:28] zucandu opened #5004 "Cannot read properties of undefined (reading 'headers')"
Hello,

When I tried to update the axios to version 1.0.0, I get this error. It works fine with 0.27.2

![Untitled](https://user-images.githubusercontent.com/114129264/193981607-38a19d0f-0780-411e-b48a-a4ff28fa4e21.png)

In the bootstrap.js, I used it with:

[code]

Please advise. Thank you.

[2022-10-05 05:05] ecyrbe commented on #4992
Just use moxios.

[2022-10-05 05:29] billnbell opened #5005 "Getting errors on React Native and Axios 1.0.0"
[code]

If I downgrade to 0.27 no errors anymore.

[2022-10-05 06:01] jasonsaayman commented on #4999
This might be an oversight but in v1 we have been a lot stricter with our `URL` parsing. The URL is for your URL free of any query params. Thus we have `params` as part of the config.

If you use a URL like this `http://test.example.com?test=1` we will be stripping out the `?`. Please use the params to set query params.

[2022-10-05 06:02] jasonsaayman commented on #5005
This might be related to #5003

[2022-10-05 06:02] #5001 closed

[2022-10-05 06:05] trim21 commented on #5005
this maybe related to https://github.com/axios/axios/issues/5000#issuecomment-1267751227

[2022-10-05 07:01] evanhurd commented on #4999
That's ridiculous. I love axios and it's my goto client in node but this breaking change hurts ergonomics of the library.

[2022-10-05 07:01] janitza-mage commented on #4999
I have the same problem as the original poster.

Does this mean that, to send a request to an URL from elsewhere that may contain a query string, I have to detect the question mark, split the URL manually and put the querystring into the params? This probably also means that I should be using URLSearchParams to avoid writing a querystring parser myself, right?

[2022-10-05 07:16] ManishBitsInfotech opened #5006 "Restricted in strict mode"
Environment
"axios": "^1.0.0",
"react": "18.1.0",
"react-native": "0.70.2",

[2022-10-05 07:24] ManishBitsInfotech commented on #4998
i have the same issue in my new react native project please let me know if there is any solution for the same

[2022-10-05 07:52] ddolcimascolo commented on #4999
Same here, we're going to refactor but there is no mention of this in the [breaking changes](https://github.com/axios/axios/releases/tag/v1.0.0)

[2022-10-05 07:59] Dun-sin opened #5007 "Add proper fork links"
#### Is your feature request related to a problem? Please describe.
It's much better for a user who wants to contribute to get sent straight to the fork of the project, rather than the repo. In the links of `fork on github` and `fork the website` it directs to the repos themselves rather than the fork page for the project

#### Describe the solution you'd like
Add the proper links that direct to t

[2022-10-05 08:00] NoahSimajji commented on #5006
I am having this issue too? What is happening?

[2022-10-05 08:05] akachi1409 commented on #4998
I have the same issue here.

[2022-10-05 08:29] aqilhex commented on #5006
Same here.

[2022-10-05 08:39] NoahSimajji commented on #5006
Can we try disable Hermes? will this work? curious (Haven't try from my side yet)

[2022-10-05 08:47] NoahSimajji commented on #5006
Hi @aqilhex I tried disable it is working fine for iOS side.

https://blog.logrocket.com/using-hermes-react-native/#:~:text=compile%20and%20run.-,How%20does%20Hermes%20work%20in%20React%20Native%3F,in%20a%20better%20user%20experience

![image](https://user-images.githubusercontent.com/99951016/194019925-d1d25626-a5ae-4c47-bd21-c0e29a25c560.png)

[2022-10-05 08:55] ivanpepelko opened #5008 "Imports error with CommonJS + Typescript"
#### Describe the bug
When using commonjs + typescript (in nest.js project, also reproduced standalone), imports are not consistent:
- default import: tsc passes, fails at runtime when trying to access `axios.default`
- star import: typescript check does not pass, produces working javascript
- require: workaround for imports

#### To Reproduce
See https://github.com/ivanpepelko/axios-import-requir

[2022-10-05 08:57] hikmert commented on #4998
It's same here with a new React-native project. It doesn't allow any JS files although I set allowJs to true in tsconfig.json

[2022-10-05 09:28] ddolcimascolo commented on #4999
For those wondering, or too lazy to refactor everything, or using Axios to fetch full URLs they don't manage (our use case: we fetch a RSS feed containing links to items and the item URL might contain query params, it's an opaque string for us) I resorted to using this interceptor:

[code]

[2022-10-05 09:31] abrkn commented on #4999
Thanks, @ddolcimascolo. Is the order of the params deterministic? I'm using axios for an API that signs the search params and appends that as the last search param:

```GET /some-api/secret?f1=a&f2=b&f3=c&signature=<sig>```

Where `<sig>` is determined by signing `GET/some-api/secret?f1=a&f2=b&f3=c`

[2022-10-05 09:32] abrkn commented on #4999
This is a very unfortunate breaking change which I hope the maintainers will reconsider.

[2022-10-05 09:33] ddolcimascolo commented on #4999
I'd say yes

[2022-10-05 10:41] s-sasaki-0529 opened #5009 "Property 'clear' does not exist on type 'AxiosInterceptorManager<AxiosRequestConfig<any>>"
#### Describe the bug

I tried to use the function added in #4248 with TypeScript, but got the following error.

[code]

#### To Reproduce

Execution is possible, but type checking fails.

[code]

#### Expected behavior

Successful type check

#### Environment
 - Axios 1.0.0
 - TypeScript 4.8.4

#### Additional context/Screenshots

[2022-10-05 11:04] dnohr commented on #4999
I can confirm this error as well after upgrading to v1.0.

Simple scripts are failing, so I had to roll back to v0.27.2.

Hope it's some simple issue which can easily be fixed.

Thanks for working on the project!

[2022-10-05 11:11] SteveW94 commented on #4999
I can also confirm these errors as lots of our get requests are failing now and we had to rollback.

[2022-10-05 11:15] Hiryus commented on #4999
Same here.
Tests are broken on v1.0.0 (node 16) because query parameters are no longer working.

Since most APIs, including [nodejs](https://nodejs.org/api/url.html#class-url) include the search parameters in the URL object, this change is miss-leading in my opinion.
Especially since there is no warning [in the readme](https://github.com/axios/axios#request-config) about it.

Also, it is very stra

[2022-10-05 11:42] ddolcimascolo commented on #4999
@jasonsaayman @mzabriskie @nickuraltsev It's clear now that this goes beyond a simple whoopsie :sweat_smile:

Do you agree on fixing this? If so, I'm willing to work on a PR if this is of any help.

Cheers,
David

[2022-10-05 11:47] SteveW94 commented on #4999
@ddolcimascolo I would be very happy if you would do so :)

[2022-10-05 12:12] pro-sumer opened #5011 "[1.0.0] TypeError: Cannot read properties of undefined (reading 'create')"
#### Describe the bug

[code]

#### To Reproduce

[code]

#### Expected behavior
Runs without error.

#### Environment
 - Axios 1.0.0
 - Node.js 18.10.0
 - macOS Monterey 12.6

#### Additional context/Screenshots
* 0.27.2: runs without error
* 1.0.0: `TypeError: Cannot read properties of undefined (reading 'create')`

(I could not see any breaking change)

[2022-10-05 12:28] gdelory commented on #5011
Same issue with `get`:
[code]

with:
[code]
That is a major breaking change

[2022-10-05 13:10] longility opened #5012 "http error should have stacktrace at line of invoking axios"
#### Is your feature request related to a problem? Please describe.
Related to the issue #2387 and I don't think the stacktrace is improved.

#### Describe the solution you'd like
When there is a http error, I'm expecting the stacktrace to point to the application code of where we invoked the axios call that ended causing the http error, not a stacktrace within a 3rd party library.

#### Additiona

[2022-10-05 13:11] furdzik commented on #5011
I am getting similar error

[code]

My code is - instance:

[code]

And request, for example:

[code]

I am not sure where is the problem, I can't find it in my code 😞

[2022-10-05 13:17] SunboX opened #5013 "Detect 3xx Status Code in NodeJS"
Hi,

I would like to detect any Status Code other than 200. Also any redirect code like 3xx. Is this somehow possible?

The docs about interceptors mention, that it only triggers for 2xx Status Codes:
https://axios-http.com/docs/interceptors

greetings and thanks,
André

[2022-10-05 13:18] uasad1099 commented on #4998
lower axios version worked for me - axios:'0.26.0'

[2022-10-05 13:26] gdelory commented on #5011
That's especially an issue since the document says to use `.default` [here](https://github.com/axios/axios/issues/4999)

[2022-10-05 13:28] mateusbandeiraa opened #5014 "Upgrade Guide needs to be updated with 0.x.x -> 1.0.0"
#### Section/Content To Improve
Upgrade guide

#### Suggested Improvement
Axios v1.0.0 has breaking changes (by looking at both the Issues page and my own application). The Upgrade Guide should be updated to include instructions on how to better migrate to the new major version.

#### Relevant File(s)
[UPGRADE_GUIDE.md](https://github.com/axios/axios/blob/v1.x/UPGRADE_GUIDE.md)

[2022-10-05 13:31] CarstenLeue opened #5015 "Type definition of AxiosRequestConfig.signal is incompatible to nodejs AbortController.signal"
Appears in `1.0.0`.

The nodejs TS definition of `AbortController.signal` is:

[code]

but Axios 1.0.0 requires:

[code]
this is incompatible, the event listener messages are missing on the nodejs type definition.

[2022-10-05 13:37] grandevel commented on #4998
Same issue, 3 different RN projects with 1.0.0. All projects use axios interceptors in some form. Downgraded to 0.27.2, working fine again.

[2022-10-05 15:13] bartschriever commented on #5008
I am experiencing the exact same problem.

[2022-10-05 15:22] dtinth commented on #4999
The [docs](https://axios-http.com/docs/example) still says that `?` can be used in URL string, and using `params` config is optional.

![image](https://user-images.githubusercontent.com/193136/194097817-d37a8665-ae56-4f89-a6bd-0ede19b984ef.png)

To resolve the discrepancy, either the library can be updated to support query params in URL strings (like in v0), or the docs can be updated to match the

[2022-10-05 15:40] SteveW94 commented on #4999
As I see no good reason for the New behaviour I would recommend to restore the one from v0 🙈

[2022-10-05 15:48] SSANSH commented on #4999
+1

[2022-10-05 16:27] Usnul commented on #3132
Had a look through the code, really new to `axios`, couldn't find exact point where `fetch`(or equivalent) is done. The documentation for `Request` config doesn't include `priority` as of yet either:
https://axios-http.com/docs/req_config

can someone who knows a bit of background on this issue shed some light on the current status for us?

[2022-10-05 16:31] MohamadKh75 commented on #5014
Where can i see the list of breaking changes?

[2022-10-05 16:44] sfalpha commented on #4999
Both Path including Query String is considered URL (URI) in HTTP semantics

https://www.rfc-editor.org/rfc/rfc9110.html
https://www.rfc-editor.org/rfc/rfc3986.html#page-16

This changes break any application that accept URL as user input and pass directly as URL to axios.get(), post() and others.
Axios should support URL scheme according to HTTP semantics to conform with specifications and better

[2022-10-05 16:45] jcurlier commented on #4999
+1

[2022-10-05 16:53] DigitalBrainJS commented on #4999
@jasonsaayman seems like PR #4852  should be reverted for now. Axios should definitely be able to parse params from a query string. Currently, these changes do more harm than good, since the problem they solve is not critical, but only potentially possible and has existed for years. This should be carefully considered from all points of view before such incompatibilities are introduced. Another, m

[2022-10-05 17:05] mmiszy commented on #4999
Clearly, this is a bug in Axios. `new URL(…)` has no problem parsing query params:

[code]

[2022-10-05 17:25] bfaulk96 opened #5016 "1.0.0 Bundle Size Large"
#### Describe the issue
In `1.0.0`, npmjs.com reports an unpacked size of `1.3 MB`.
In the last release, which was `0.27.2`, the reported unpacked size is `446 kB`.

What has changed in 1.0.0 to almost double the number of files, and more than double the unpacked library size?

#### Example Code
N/A

#### Expected behavior, if applicable
1.0.0 switched to Rollup, which promised smaller bundling th

[2022-10-05 17:38] arthurfiorette commented on #5008
Probably related to #5000.

[2022-10-05 17:38] johannes-vogel opened #5017 "Unable to access response headers when using axios 1.x with jest"
#### Describe the bug
When using axios to send requests within jest tests, it's not possible to see the response.headers anymore.
This was working fine with axios version 0.x so far.

#### To Reproduce

I've prepared a small example to show that it it is not working as expected.
[code]

On console, I can see the following log:
[code]

#### Expected behavior

I'd expect that the response headers ar

[2022-10-05 18:06] Angros23 commented on #5011
Yes, this form is functional,  but you don't have the helpers either the types. When you use default the method create return undefined, this is the reason of the error.

[2022-10-05 18:43] 599070001 opened #5019 "package.json browser "./lib/adapters/http.js": "./lib/adapters/xhr.js" problem"
package.json

[code]

I want to use the axios http adapter to carry the cookie header in the electric rendering process. This is written in the packet file, which makes it impossible to use the http adapter

[2022-10-05 18:45] 599070001 commented on #5019
why do this ?

[2022-10-05 19:05] marsidorowicz opened #5020 "Error wile parsing URL"
#### Describe the bug
Axios is not correctly parsing URL that is passed with question mark, it is skipping it
Question**

#### To Reproduce
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file under Support or Usage Question**

[2022-10-05 19:29] #4999 closed

[2022-10-05 19:30] jasonsaayman commented on #5020
Fixed with #5018

[2022-10-05 19:30] #5020 closed

[2022-10-05 19:32] jasonsaayman commented on #4999
Fixed with #5018

[2022-10-05 19:33] jasonsaayman commented on #4999
Sorry about that, something that I should have picked up, I will try to be a bit more strict on changes which are to largely incompatible.

[2022-10-05 19:39] ddolcimascolo commented on #4999
Thx for fixing @jasonsaayman 👍

[2022-10-05 19:39] jasonsaayman commented on #5001
Merged will release asap

[2022-10-05 19:41] jasonsaayman commented on #4999
No probs but credit goes to @DigitalBrainJS. Sorry for all the problems this caused. Please can anyone interested watch our releases as we need many more testers on pre-releases, I can only do so much.

[2022-10-05 19:45] #4997 closed

[2022-10-05 20:41] marsidorowicz commented on #5020
Nice! What release it will be?

[2022-10-05 21:01] michaelcalvinwood opened #5023 "Axios version 1.0 gets 404 error for WordPress API route whereas version 0.27.2"
When accessing the following URL with version 0.27.2 all is good: https://pymnts.com/wp-json/wp/v2/posts/?type=posts&per_page=100. We have been using this version for a while and it has been stable. Just tried the new version and consistently getting 404 error from the same URL. Switching back to 0.27.2 solves the problem.

[2022-10-05 21:30] loganmzz opened #5024 "[1.0.0] Invalid query param transformation"
#### Describe the bug

If I put query parameter into provided URL, the question marked is removed and other query param elements are left.

#### To Reproduce

https://runkit.com/embed/pgz3rgsk4f01

[code]

[code]

#### Expected behavior

Right HTTP request !?

#### Environment

 - Axios Version [1.0.0]
 - Node.js Version [16.17.1]
 - OS: [Ubuntu 2022.10]

#### Additional context/Screenshots

N/A

[2022-10-05 22:03] ghiscoding commented on #5014
I asked the same question in a Discussion #4996 and the maintainer's answer was

[2022-10-05 22:21] VladimirMikulic commented on #5008
Same issue as well.

[2022-10-05 23:36] DigitalBrainJS commented on #5016
Everything seems to be ok. Starting from v1.0.0, Axios switched to ESM modules, but for backward compatibility, we had to add two more prebuilt bundles to the `/dist` folder:
- browser ESM bundle
- node.js js bundle for use with require
It's just the package size, not the library size.

[2022-10-06 00:02] DigitalBrainJS commented on #5024
Known issue. This has been recently fixed and will be released soon. Please see #4999, #5020.

[2022-10-06 00:03] DigitalBrainJS commented on #5023
Known issue. This has been recently fixed and will be released soon. Please see #4999, #5020.

[2022-10-06 02:19] craigmcc opened #5026 "Updating Axios from 0.27.2 to 1.0.0 breaks Jest tests in a create-react-app app"
I have several React applications created with a Typescript based create-react-app application (and using react-scripts@5.0.1, which depends on jest@27.4.3).  Attempting to upgrade Axios from 0.27.2 to 1.0.0 causes Jest tests to fail with many errors like the one below.  It appears that Axios@1.0.0 now emits only an ESM module, and no longer a CJS module, which causes known errors with Jest.

####

[2022-10-06 05:27] ManishBitsInfotech commented on #4998
I have downgrade the axios version for this issue
https://www.npmjs.com/package/axios/v/0.26.0

and also add this line in my api call for use formData

axios.post(url, formData, {
  headers: { 'Content-Type': 'multipart/form-data' },
  transformRequest: formData => formData,    // this line
})

i hope this will work for you too guys

[2022-10-06 05:42] Adnan-Bacic commented on #5005
im also getting an error in react native:

[code]

[2022-10-06 06:06] jasonsaayman commented on #5016
Yeah I think once actually bundled and minified in the app it should be normal, if not please let us know.

[2022-10-06 06:08] jasonsaayman commented on #5009
Merging this now. Thanks for the PR.

[2022-10-06 06:08] #5009 closed

[2022-10-06 06:09] furdzik commented on #5011
@gdelory, @Angros23

With `.default` app is working correctly, but during the build it crashes.
I am using `gatsby` and during the build I do the first requests.
(I have build app without default, It passed, and then added default and reloaded, then was OK, but still when I have done build one again the app not bilded) 😞

[code]

[2022-10-06 06:09] #5015 closed

[2022-10-06 06:10] #5024 closed

[2022-10-06 06:15] jasonsaayman commented on #5020
Today some time working on it

[2022-10-06 06:18] jasonsaayman commented on #5011
Will look into this asap

[2022-10-06 06:19] #5023 closed

[2022-10-06 06:20] furdzik commented on #5011
Thank you, I'm also checking, if it is not a problem with Gatsby.

[2022-10-06 06:25] loganmzz commented on #5024
Sorry for inconvenience, isssue search found nothing for query or param :(

[2022-10-06 06:46] Mehar-IT opened #5027 "Please, IGNORE THIS ISSUE. Found the problem:"
Please, IGNORE THIS ISSUE. Found the problem:

I was setting `baseUrl` but it should be `baseURL`.

_Originally posted by @tiarebalbi in https://github.com/axios/axios/issues/1470#issuecomment-379977899_

[2022-10-06 06:50] Mehar-IT commented on #5027
thanks man you solved my problem, problem was that silly large 'L'

[2022-10-06 06:58] Mehar-IT commented on #5027
this problem resolved

[2022-10-06 06:59] #5027 closed

[2022-10-06 07:20] ddolcimascolo commented on #5026
Yes, hit by this too. I suppose adding an exclusion to `transformIgnorePatterns` would do it (not tested)

[2022-10-06 07:38] ddolcimascolo opened #5028 "[1.0.0] Set-Cookie header in a response interceptor is not an array anymore"
#### Describe the bug
In v1, accessing the 'Set-Cookie' header in a response interceptor yields the raw string value of the header.

#### To Reproduce

[code]

The produces `my=value`

#### Expected behavior
`[ 'my=value' ]`

#### Environment
 - Axios Version [e.g. 0.18.0]: 1.0.0
 - Adapter [e.g. XHR/HTTP]: http
 - Browser [e.g. Chrome, Safari]: N/A
 - Browser Version [e.g. 22]: N/A
 - Node.js Ver

[2022-10-06 07:43] dawidreedsy opened #5029 "Axios 1.0.0 keeps removing question mark from the url"
The same issue as in this stackoverflow thread https://stackoverflow.com/questions/73956043/axios-keeps-removing-question-mark-for-query-string

[2022-10-06 08:14] jasonsaayman commented on #5029
Yip, we have a fix for this will be releasing today.

[2022-10-06 08:14] #5029 closed

[2022-10-06 09:00] dennybiasiolli commented on #5026
@ddolcimascolo I can confirm, a temporary workaround is to add to `jest.config.js`

[code]

[2022-10-06 09:02] jasonsaayman commented on #5008
See #5030 merged should fix this.

[2022-10-06 09:02] #5008 closed

[2022-10-06 09:02] jasonsaayman commented on #5011
See #5030 merged should fix this.

[2022-10-06 09:39] trim21 commented on #5000
No, this is not fixed by #5030, it's a complete different problem.

[2022-10-06 09:40] trim21 commented on #5000
@jasonsaayman could you re-open this issue?

[2022-10-06 10:35] marsidorowicz commented on #5020
thank you very much!

[2022-10-06 10:37] wai-ti8m opened #5031 "Exported classes in type definition are not actually exported"
#### Describe the bug
`AxiosHeaders`, `AxiosError`, `CanceledError`  and `Axios` are "exported" in the type definitions `index.d.ts`, but not exported in the module.

#### To Reproduce

[code]

#### Expected behavior

~~Types are not exported, but only declared (`declare class` instead of `export class`).~~

Classes are exported and can be imported and used like so:
[code]

#### Environment
 - Axi

[2022-10-06 10:38] ivanpepelko commented on #5000
This is correct, I made a mistake in when describing #5030, as this issue was mentioned in https://github.com/axios/axios/issues/5008#issuecomment-1268735288.

[2022-10-06 12:39] Niek opened #5032 "CommonJS usage broken in v1.0.0"
CommonJS usage seems to be broken in v1.0.0, the `default` export no longer exists (even though the README mentions it). Sample code:

[code]

[2022-10-06 13:54] CSWITH89 commented on #5026
Tried adding a jest.config.js with:

[code]

And still encountering this error.

[2022-10-06 14:27] pleek91 commented on #4231
I'm running into this issue as well. I have an npm package that uses axios to interact with a specific api. When I import and use the package in a node context I get "XMLHttpRequest is not defined" but when I use it in the browser it works just fine. The only difference I'm seeing between my and @ale-grosselle's code and the example @DigitalBrainJS posted is we're using `import axios from 'axios'`

[2022-10-06 14:30] gdelory commented on #4999
Any idea on the date of the next release? Just to know if we rollback to 0.x or wait for the new release :)

[2022-10-06 14:44] warriorBunny013 opened #5033 "adding dark theme feature"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#### Describe the solution you'd like
A clear and concise description of what you want to happen.

#### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

#

[2022-10-06 14:52] dartess opened #5034 "Types prevent adding new values to headers"
#### Describe the bug

Types prevent adding new values to headers

#### To Reproduce

[code]

[code]

#### Expected behavior

Everything is working

#### Environment
 - Axios Version 1.0.0

[2022-10-06 14:54] prachikhadke opened #5035 "Latest release of axios throws SyntaxError: Unexpected identifier"
#### Describe the bug
Started getting the following error yesterday.
[code]
Axios version in package.json was : `>=0.23.0`.

The issue went away when I switched to version `1.0.0-alpha.1`.

I verified that I was using `require` to import axios in my code instead of `import`.

#### To Reproduce
Use latest version of axios in package.json

[code]

#### Expected behavior
In an ideal world, the nodejs

[2022-10-06 15:03] pleek91 commented on #5019
Doesn't this defeat the ability for axios to determine if its running in node or in the browser?

[2022-10-06 16:23] krylovaaleksandra commented on #5028
+1
Why is this change not in the changelog?

[2022-10-06 18:58] jasonsaayman commented on #4999
Releaseing now

[2022-10-06 20:01] addisonhardy opened #5038 "TypeError: axios.get is not a function (v1.1.0)"
#### Describe the bug
The new version of axios (v1.1.0) is throwing an error for `axios.get`: `TypeError: axios.get is not a function`.

Note: This issue was not present in v1.0.0

#### To Reproduce
Include axio v1.1.0 via a `<script>` tag, and then reference it directly via `axios.get()`

[code]

#### Expected behavior
`axios.get` should be a valid function.

#### Environment
 - Axios Version 1.1

[2022-10-06 20:06] VictorHAS opened #5039 "TypeError: ']' expected (v1.1.0)"
#### Describe the bug
Started getting the following when upgraded to axios latest version.

#### To Reproduce
Use latest version of axios in package.json
[code]

#### Expected behavior
In an ideal world, the nodejs app would have started without error.

#### Environment
 - Axios Version 1.1.0

#### Additional context/Screenshots
N/A

[2022-10-06 20:06] addisonhardy commented on #5038
Note that this is when including axios via a `<script>` tag, and then referencing it directly.  It looks like the `get` function is available via `axios.default.get` - was this an intended change?

[2022-10-06 20:18] MilesTFox opened #5040 "Interceptors incompatibility introduced in 1.1.0"
Describe the bug
Started getting the following when upgraded to axios latest version.

To Reproduce
Use latest version of axios in package.json, alongside axios-retry.

[code]

Expected behavior
In an ideal world, the nodejs app would have started without error.

Reverting to 1.0.0, functions properly.

Environment
Axios Version 1.1.0
Additional context/Screenshots
N/A

[2022-10-06 20:21] FelixLgr opened #5041 "✨ Add new issues template"
#### Is your feature request related to a problem? Please describe.
For public repositories, github offers the possibility to create more advanced issues template ([docs](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms)).
Currently, the issue template is created with the old method.
When you create a issue template with the

[2022-10-06 20:22] YosrySWE commented on #5039
+1

[2022-10-06 20:25] pablo-the-dev commented on #5038
I am experience this breaking change, my production app is broken and unusable to my clients.

[2022-10-06 20:33] CarlLindqvist commented on #5038
Me three. Prod is down. Got woken up here by confused users

[2022-10-06 20:37] addisonhardy commented on #5038
Pinning `axios` back to v0.27.2 (https://unpkg.com/axios@0.27.2/dist/axios.min.js) does resolve the issue if anyone is looking for a temporary solution.

[2022-10-06 20:38] pablo-the-dev commented on #5038
I've tested and confirmed going to version 1.0.0 also works, problem is that will require app store review.  IMO the devs should roll the distribution back.

[2022-10-06 20:40] rwging commented on #5038
We are also experiencing this issue, and will have to wait for app store review for a fix unless the hosted code can be fixed.  Adding to the vote for roll back to 1.0

[2022-10-06 20:41] addisonhardy commented on #5038
It looks like version 1.0.0 had an issue affecting commonjs/umd exports (`axios.default`).  I think this regression happened during the work to fix that issue.

[2022-10-06 20:43] aerabi commented on #5041
I would like to work on it. I can do a similar job to my [own repo](https://github.com/rxjsx/rxjsx/tree/master/.github/ISSUE_TEMPLATE).

[2022-10-06 20:44] DevMukhtarr commented on #5038
It affected my app in production too, axios is not a function.

[2022-10-06 20:46] addisonhardy commented on #5038
@SaaymanJason Tagging for visibility

[2022-10-06 20:47] addisonhardy commented on #5038
@jasonsaayman Tagging for visibility.

[2022-10-06 20:48] andrewsaraceni commented on #5038
Confirmed as breaking production applications on my end as well.  This is a big miss in testing coverage for a library like this.

[2022-10-06 20:55] jrobinsonadrenaline commented on #4998
Same issue here, as well as the same solution - downgrade to v0.26.0.

[2022-10-06 20:59] bfaulk96 commented on #5016
Ah, that makes sense, sorry Jason!

[2022-10-06 21:06] jkira commented on #5038
Also having multiple broken production apps here.

[2022-10-06 21:07] alessondejesus commented on #5038
same, my production environment has broken

[2022-10-06 21:08] christophorusdou commented on #5038
My production has broken as well.

[2022-10-06 21:12] tony-brandner commented on #5038
Major issues on our sites, had to change and pin to 0.27.0

[2022-10-06 21:16] nicholasgomez-dev commented on #5038
Experiencing issues as well on production apps.
Error: "axios is not a function"

[2022-10-06 21:19] gytisz3 commented on #5038
For those using unpkg CDN, switching to jsDelivr as the source seems to help
`https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js`

[2022-10-06 21:21] sebas0811buitrago commented on #4921
I'm having the exact same error, when having a 401 error axios returns this error
I checked the 401 error with the network inspector, any way to get these status from the error?
[code]

[2022-10-06 21:24] MMtinker commented on #5038
same here! All apps using axios are broken!

[2022-10-06 21:27] corey-c commented on #5038
For anyone calling the non version specific unpkg CDN link you can switch to this version to fix the current problem

https://unpkg.com/axios@1.0.0/dist/axios.min.js

[2022-10-06 21:32] FelixLgr commented on #5041
I've already started working on 😅 I'll finish and do an MR tomorrow.

[2022-10-06 21:32] addisonhardy commented on #5038
At the time of this comment:
- https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js: serving axios version 1.0.0
- https://unpkg.com/axios/dist/axios.min.js: serving axios version 1.1.0

[2022-10-06 21:32] Bradford401 commented on #5038
axios.post not working as well

[2022-10-06 22:34] philBrown commented on #4999
@jasonsaayman  Why was the fix shipped in a minor release and not a patch? I would have expected v1.0.1

Won't this remain broken for anyone using approximate equivalent version?
[code]

[2022-10-06 22:47] JavierAgueroCL commented on #5004
I have the same issuue

[2022-10-06 23:00] jqr108 commented on #5038
gotta git get imo

[2022-10-06 23:21] addisonhardy commented on #5040
I believe this issue and #5038 share the same problem - `axios.interceptors` is not available on the `axios` object in v1.1.0, but it is available via `axios.default.interceptors`.

[2022-10-07 00:35] rcbevans commented on #4885
After upgrading to axios ^1.1.0 from ^0.27.2 in the browser I am seeing multipart/form-data uploads that previously worked breaking with my backend returning HTTP 413 Payload too large.

On inspection of the request headers, in the working version, the body was being sent as multipart/form-data as expected, but version 1.1.0 was changing the content-type to application/x-www-form-urlencoded for so

[2022-10-07 00:40] rcbevans commented on #4885
Fixing capitalization of the 'Content-Type' header the request seems to work as expected.

[code]

[2022-10-07 00:59] KrayzeeKev opened #5043 "No release notes or upgrade guide for 1.0"
#### Section/Content To Improve
Release notes
Upgrade guide

#### Suggested Improvement
The 1.0 Release in github includes a list of changes and inclusions, etc and then says "There are multiple deprecations, refactors and fixes provided in this release. Please read through the full release notes to see how this may impact your project and use case."

Where are the "full release notes".

Also, all

[2022-10-07 01:15] AnnAngela commented on #5038
I found out that the `module.exports` of axios@1.1.0 has been changed from axios@1.0.0, which introduced in #5003 and #5030. These PR made the `module.exports` completely changed showing in https://github.com/axios/axios/compare/v1.0.0...v1.1.0#diff-e114a79086c5cde98bca3f766534b7f86a1093035560390daa3a2192047289d9R3756-R3760

@jasonsaayman I think this is an incompatible breaking change that should

[2022-10-07 01:17] am2619015 commented on #4998
Same issue here on axios 1.1.0, let's hope there's another solution to the downgrade

[2022-10-07 01:18] anthea-wu opened #5044 "🐛 [BUG] - TypeError: axios.defaults is undefined in v 1.1.0"
## Description

I use CDN with `https://unpkg.com/axios/dist/axios.min.js` without specify version in my project, and before new version release, I can work it well.
But after new version release, it will show the error:

[code]

I tried to find some release notes or upgrade guide but I saw someone find them too, so I rollback to old version, and it works now!
But I have several pages needs to rol

[2022-10-07 01:24] AnnAngela commented on #5038
To be honest, these changes addressed type definition issue indeed, I don't need JSDoc comment at all.
[code]

[2022-10-07 01:39] zaq42 commented on #5044
Same here.  1.0.0 didn't have this problem, but #4999 was a show stopper for us.

In 1.1.0, I think this another problem introduced by #5030

[code]

[2022-10-07 01:43] zaq42 commented on #5044
It looks like the default is no longer the default. As a workaround, you can explicitly use it; note the change in the `require` line below:
[code]

[2022-10-07 02:05] masa172 commented on #5038
An error "TypeError: axios.get is not a function" on the latest version 1.1.0 was detected yesterday.

To use the version 1.0.0 instead is better way to avoid the error for now.

Hope to resolve this issue immediately.

[2022-10-07 02:18] scarf005 opened #5045 "Style `README.md`"
#### Is your feature request related to a problem? Please describe.
- shields.io badges have different styles
- some of them does not have link

#### Describe the solution you'd like
- match badge styles
- add missing url links

#### Describe alternatives you've considered
None

#### Additional context
codetriage and snyk cannot not be styled because the codetriage does not have api, and snyk api

[2022-10-07 02:27] craftxbox opened #5047 "TypeError: axios.create is not a function"
#### Describe the bug
In version 1.1.0 (via unpkg cdn https://unpkg.com/axios/dist/axios.min.js)
`axios.create` is undefined.

#### To Reproduce
Create an html document with
`<script src="https://unpkg.com/axios/dist/axios.min.js"></script>`

From JS, attempt to access `axios.create`

Result: undefined.

#### Expected behavior
`axios.create` To be defined and point to where it should.

#### Enviro

[2022-10-07 02:28] craftxbox commented on #5047
Duplicate

[2022-10-07 02:28] #5047 closed

[2022-10-07 02:34] craftxbox commented on #5038
Can repro. This is causing major issues with an electron app of mine. Axios is used via unpkg versionless inside of the asar and there is no way to notify users to update  as all requests to autoupdater are handled through axios... This should be reverted, and such a breaking change should have been communicated well in advance (and NOT distributed under a semver minor change!!)

[2022-10-07 02:34] danveb commented on #5038
Thank you!
Just downgraded axios back to v1.0.0.
Was playing around with an API with v1.1.0 and all hell broke loose.

[2022-10-07 02:43] jaggi23 opened #5048 "Axios.get is not a function"
Hi Team, There is problem in Axios v1.1. Axios not respond with axios.get and axios.post. Please use previous version of axios for solve this problem.

[2022-10-07 02:47] craftxbox commented on #5048
Duplicate of #5038

[2022-10-07 02:58] abrkn commented on #4999
Thanks for fixing this issue so quickly, @jasonsaayman!

[2022-10-07 03:01] jacobdenis commented on #5048
@jaggi23 use this instead as a temporary solution https://unpkg.com/axios@0.27.2/dist/axios.min.js

[2022-10-07 03:21] eliecer2000 commented on #5038
+1 :(

[2022-10-07 03:29] pie7 commented on #5044
Probably?
https://github.com/axios/axios/blob/9c3dce366bd594558e5e474ce9135af22a0d9949/dist/node/axios.cjs#L3760

We downgrade to @1.0.0. and it seems fine.

[2022-10-07 03:35] zaq42 commented on #5044
I think it's this commit: https://github.com/axios/axios/pull/5030/commits/819ad75564f472a9066fa4de3eaf416604daddc5

![image](https://user-images.githubusercontent.com/24503523/194462325-a3994a81-bb06-46cb-98db-cb46f595c9bb.png)

[2022-10-07 03:38] angel-yi opened #5049 "cdn unpkg TypeError: axios is not a function"
#### Describe the bug
A clear and concise description of what the bug is. **If your problem is not a bug, please file under Support or Usage Question**

#### To Reproduce
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file unde

[2022-10-07 03:47] craigmcc commented on #5026
Unfortunately, this still occurs with Axios 1.1.0 -- here's a link to a GitHub CI failure that illustrates the error:

https://github.com/cityteam/stats/actions/runs/3201927019/jobs/5230384125

I tried the suggestion about transformIgnorePatterns and it did not help either.

[2022-10-07 04:03] akiva10b commented on #5049
I also started experiencing this, had to downgrade to get axios back

[2022-10-07 04:26] yt-hzn commented on #5026
I'm also experiencing this issue after trying to upgrade to Axios 1.0.0 and 1.1.0. The suggestion about `transformIgnorePatterns` didn't help either

[2022-10-07 04:26] peterw commented on #5049
Use Axios 1.0

[2022-10-07 04:34] quarantaquatro commented on #5038
This just killed 3 of my client's applications with this problem. I downloaded the old 1.0.0 and used it locally on all applications until this is solved in 1.1.0. I recommend for everyone do the same.

[2022-10-07 04:40] christhofer commented on #5043
My project is still working after upgrading to v1, so I'm not complaining. YMMV of course.
I agree the release notes should include an upgrade guide or something like that.

[2022-10-07 05:24] jenyang2 commented on #5049
why is cdn changed?

[2022-10-07 05:33] philBrown commented on #5049
Because without specifying a version, it uses the latest which at this time is v1.1.0

[2022-10-07 05:38] jenyang2 commented on #5049
However, in version 1.1, the existing axios calling code gave an error.
-> TypeError: axios is not a function

[2022-10-07 05:39] jenyang2 commented on #5049
However, in version 1.1, the existing axios calling code gave an error.
-> TypeError: axios is not a function

[2022-10-07 05:40] philBrown commented on #5049
Yep and Axios v1.0.0 and later is broken at this time. This is a dupe of #5038

[2022-10-07 05:48] #5033 closed

[2022-10-07 05:49] bukhoy commented on #5038
accept +1 :c

[2022-10-07 05:56] jasonsaayman commented on #5043
If you read that statement you read the release notes. I am working on an upgrade guide.

[2022-10-07 05:57] jasonsaayman commented on #5038
Will start looking into this today, once again sorry about this.

[2022-10-07 06:07] Legomegger commented on #5038
thanks guys, we thought that it is our PR that broke prod, changed to 1.0.0 version

[2022-10-07 06:15] jilliansalloum commented on #5038
i am supposed to film a demo of my website I built that not is not functioning becuase of this. I have a few hours. How long will the repair take??

[2022-10-07 06:22] C0dekid commented on #5038
You could use a different version for now if that's possible for you. Version `1.0.0` seems to be close and is just one version downgraded.

[code]

[2022-10-07 06:25] jilliansalloum commented on #5038
i tried this and i  ran npm install axios@1.0.0, and even tried  npm install axios@0.27.2 and neither is solving my issue

[2022-10-07 06:36] MadamArk opened #5052 "axios.create is not a function"
Hello to you,
I am creating this ticket because I have a problem with the latest version of your package released a few hours ago. Indeed the axios.create function does not work anymore and when I downgrade my version to 1.0.0 it works again.

I wish you good luck in solving your tickets.
Sincerely

[2022-10-07 06:40] ScottDurkin commented on #5038
Production is broken for me as well.. Any sign of a fix incoming?

[2022-10-07 06:47] Chicooz commented on #5038
ROLL BACK TO 0.27

[2022-10-07 06:48] philBrown commented on #5052
#5038

[2022-10-07 06:53] rohit-gh commented on #5038
@naveensky tagging you for reach / visibility

[2022-10-07 06:54] Chicooz commented on #5038
using @AnnAngela 's findings `const axios = require("axios").default;` solved it for me

[2022-10-07 06:57] chip20014u opened #5053 "axios.post is not a function"
All uses of Axios today are creating axios.post is not a function

[2022-10-07 07:03] AnnAngela commented on #5038
Thanks for your mention, I updated the original comment to make the suggestion more understandable.

[2022-10-07 07:08] sharizard commented on #5026
The suggestion about transformIgnorePatterns in a jest.config.file didn't help me either. I also tried to add the transformIgnorePatterns using the jest key in my package.json without any success.

However, the tests started to run after I inlined the flag:

```"test": "react-scripts test --transformIgnorePatterns \"node_modules/(?!axios)/\"",```

[2022-10-07 07:10] philBrown commented on #5053
#5038

[2022-10-07 07:13] janitza-mage commented on #4999
Can confirm that it works for me. That was fast! Thanks a lot.

[2022-10-07 07:22] jasonsaayman commented on #4999
Im bumping as minor cause its not the only change

[2022-10-07 07:25] philBrown commented on #4999
@jasonsaayman could you please roll out a v1.0.1 patch release with the URL query param fix then?

That or pull v1.0.0 entirely. As mentioned already, anyone using ~1.0.0 won't get the fix

[2022-10-07 07:30] sagar-thakkar-dev commented on #5053
I am getting the same errors.

I notice the CDN of the changed version to 1.1.0 and axios alises methods like axios.get(), axios.post(), axios.create() throwing error "is not a function".

However, using axios({method: 'url', data: {}, header:{}}) is working.

To fix it temporarily I have to fall back to the 1.0.0 version and it was working fine.

There must be an issue with the 1.1.0 version for

[2022-10-07 07:31] yt-hzn commented on #5026
This is for those who are using `next/jest` like we are.

Adding `transformIgnorePatterns: ['/node_modules/(?!(axios)/)'],` in jest.config didn't help because it wasn't set due to how `next/jest` works. To be able to set `transformIgnorePatterns` using `next/jest` you can follow [this](https://github.com/vercel/next.js/discussions/31152#discussioncomment-1697047) and then the suggestion for adding

[2022-10-07 07:32] chip20014u commented on #5038
Using the axios@1.0.0 version and require("axios").default; solved it for me

[2022-10-07 07:32] sagar-thakkar-dev commented on #5038
I am also getting these issues on the newer version. 1.1.0. A fallback to the 1.0.0 version is temporarily worked.

Refer below thread for a more detailed explanation.
https://github.com/axios/axios/issues/5053#issuecomment-1271218959

[2022-10-07 07:37] wai-ti8m commented on #5031
I guess that's a duplicate of #5004

[2022-10-07 07:40] Eerovil commented on #5038
A major breaking change to a project this big is not acceptable. This should have been handled differently:

* Deprecate the functions MONTHS in advance, giving warnings when used. Finally in the breaking version, the breaking change should give a verbose error message when used.
* Use a major version for breaking changes (i.e. `1.0.0` -> `2.0.0`
* Provide a migration guide to fix these changes.

[2022-10-07 07:41] KrayzeeKev opened #5055 "Axios calling request setHeader with function as value"
#### Describe the bug
Axios is calling request.setHeader with a function as the value and this is causing nock to throw an error. I see nothing in the NodeJS documentation saying that a function is a valid value for a header (I was guessing perhaps you could provide a function it would call but there is nothing in the docs to suggest that). As such, I'm starting with this as an Axios bug and not a

[2022-10-07 07:53] maddyexplore opened #5056 "axios.get is not a function"

[2022-10-07 07:54] khangtv123 commented on #5038
please revert it.

[2022-10-07 08:08] KrayzeeKev commented on #5043
@jasonsaayman :-) No worries. Always enjoy a recursive reference.

[2022-10-07 08:09] DevMukhtarr commented on #5038
If you are using cdn this version will fix it
` <script src="https://unpkg.com/axios@0.27.2/dist/axios.min.js"></script> `
Heard 1.0 also fix this error

[2022-10-07 08:11] eihabkhan commented on #5056
Duplicate of #5038

[2022-10-07 08:11] jasonsaayman commented on #5038
I am going to have a fix out in the next hour

[2022-10-07 08:26] vipin733 commented on #5038
bhai jaldi fix kar do , client ne kand asamjh liya

[2022-10-07 08:45] furdzik commented on #5011
@jasonsaayman works like a dream, thank you!

[2022-10-07 08:51] pegiadise opened #5058 "Invalid `paramsSerializer` TS type"
#### Describe the bug
The TS interface for `paramsSerializer` key in the `AxiosRequestConfig` is wrong / incomplete.

#### To Reproduce
Try to add a custom `paramsSerializer` function

[code]

#### Expected behavior
I can add a custom `paramsSerializer` function without getting type errors

#### Environment
 - Axios Version: `1.1.0`
 - TypeScript Version: `4.7.4`

#### Additional context/Screensho

[2022-10-07 09:06] dedanirungu commented on #5038
Also affect I had to revert to (https://unpkg.com/axios@0.27.2/dist/axios.min.js)

[2022-10-07 09:07] AnnAngela commented on #5038
Update my https://github.com/axios/axios/issues/5038#issuecomment-1270982590 for browser users

[2022-10-07 09:11] jasonsaayman commented on #5038
Update to v1.1.1 this should slove the issue

[2022-10-07 09:11] #5038 closed

[2022-10-07 09:12] jasonsaayman commented on #5056
Update to v1.1.1 this should slove the issue

[2022-10-07 09:12] #5056 closed

[2022-10-07 09:12] jasonsaayman commented on #5053
Update to v1.1.1 this should slove the issue

[2022-10-07 09:12] #5053 closed

[2022-10-07 09:12] jasonsaayman commented on #5052
Update to v1.1.1 this should slove the issue

[2022-10-07 09:12] #5052 closed

[2022-10-07 09:12] jasonsaayman commented on #5049
Update to v1.1.1 this should slove the issue

[2022-10-07 09:12] #5049 closed

[2022-10-07 09:12] jasonsaayman commented on #5048
Update to v1.1.1 this should slove the issue

[2022-10-07 09:12] #5048 closed

[2022-10-07 09:13] jasonsaayman commented on #5011
Please stay on 1.1.0 for now i need to come up with a solution that works for both commonJS and ESM

[2022-10-07 09:14] guiolmar commented on #5038
I'm going to try it!

[2022-10-07 09:17] GeordieStew commented on #5038
Thanks. Any idea how long these things take to reflect on CDNs generally? We're not pinned to a version. I've pinned back to 1.0.0 where possible but have some complex sites that rely on "latest version" from CDN. "https://unpkg.com/axios/dist/axios.min.js"

[2022-10-07 09:25] guiolmar commented on #5038
It seems that the "axios.get is not a function" error is still on version 1.1.1

[2022-10-07 09:30] MrMaheshwari opened #5059 "[BUG] Issue 5038 is closed but not resolved"
Kindly refer the same description mentioned in issue 5038.

Still getting same issue of **TypeError: axios.get is not a function (v1.1.1).**

[2022-10-07 09:31] ScottDurkin commented on #5038
Still have "axios.get is not a function" error while using "https://unpkg.com/axios/dist/axios.min.js".

[2022-10-07 09:34] anasau commented on #5038
Also getting 'Axios.post is not a function' when using "https://unpkg.com/axios/dist/axios.min.js".

[2022-10-07 09:34] kloetje commented on #5038
We are also having this issue with 'https://az416426.vo.msecnd.net/scripts/a/ai.0.js'

[2022-10-07 09:39] AnnAngela commented on #5038
@jasonsaayman In 1.1.1, the export is still in `default` =。=

![image](https://user-images.githubusercontent.com/9762652/194523903-3cc6ba53-89fc-446d-92ef-9d8404631f10.png)

[2022-10-07 09:42] blackbird91 commented on #5059
I can confirm that I'm getting the same error on 1.1.1

[2022-10-07 09:44] JoeyFenny commented on #5038
Why you guys don't point to a specific version is far beyond me.

[2022-10-07 09:45] jasonsaayman commented on #5038
Yeah I see, it seems the browser bundle was also affected will fix

[2022-10-07 09:46] ScottDurkin commented on #5038
I have to agree even though I am guilty of this. Learn't a lesson today.

[2022-10-07 09:50] NTpspE commented on #5056
I'm having the same issue as the original author, on unpkg.com it's using 1.1.1 and axios.post and axios.get "is not a function" so the issue still occurs.

[2022-10-07 09:52] eihabkhan commented on #5056
I found that going back to v1.0.0 solved the issue, so: https://unpkg.com/axios@1.0.0/dist/axios.min.js

[2022-10-07 10:14] chadreed93 commented on #5059
In the meantime, the workaround is to use this version: https://unpkg.com/axios@0.27.2/dist/axios.min.js

[2022-10-07 10:22] 1engels commented on #5056
They just fix it with 1.1.2.

[2022-10-07 10:26] blackbird91 commented on #5059
working on 1.1.2

[2022-10-07 10:26] jpstijn commented on #5005
Looks like i have the same issue:

 ERROR  TypeError: Restricted in strict mode, js engine: hermes
 ERROR  Invariant Violation: Failed to call into JavaScript module method AppRegistry.runApplication(). Module has not been registered as callable. Registered callable JavaScript modules (n = 11): Systrace, JSTimers, HeapCapture, SamplingProfiler, RCTLog, RCTDeviceEventEmitter, RCTNativeAppEventEmitt

[2022-10-07 11:30] masa172 commented on #5038
Working at v1.1.2
Thanks.

[2022-10-07 11:31] Aijeyomah commented on #5039
@VictorHAS @YosrySWE I would like to work in this

[2022-10-07 11:48] jasonsaayman commented on #5039
Will look into it

[2022-10-07 11:48] jasonsaayman commented on #5059
Should be fine now, use latest

[2022-10-07 11:48] #5059 closed

[2022-10-07 12:03] paauloedu commented on #5038
I have the same problem with axios: "Uncaught TypeError: axios.get is not a function"

[2022-10-07 12:08] MrMaheshwari commented on #5059
Yes, is working now. Issue is resolved.

[2022-10-07 12:43] R3VoLuT1OneR commented on #5058
@pegiadise Just had same issue now, I found the `encode` option in `paramsSerializer`.

To fix the error you need to do next:
[code]

[2022-10-07 13:02] Carsten-Leue commented on #5031
+1 I am getting this error with `1.1.2`

[code]

[2022-10-07 13:08] pegiadise commented on #5058
@R3VoLuT1OneR First of all thanks for checking the issue. There is either a bug with this or some breaking changes that are not documented. Explaining by example:

[code]

![Screenshot 2022-10-07 at 15 59 08](https://user-images.githubusercontent.com/11925511/194559701-ac540cd2-0bc5-45b3-803a-7a910521bc87.png)

As you can see, the `encode` function getting invoked for every param key and value of

[2022-10-07 13:49] TohirDev commented on #3131
thanks

[2022-10-07 14:03] meddi-oficial commented on #5038
Common, we fixed prod yesterday using axios.default, and now is broken again lol. Gotta use https://unpkg.com/axios@0.27.2/dist/axios.min.js until they decide if it is going to be axios.default or axios.

[2022-10-07 14:03] Romick2005 commented on #4983
Can you please modify example and provide console output:
[code]

[2022-10-07 14:55] DigitalBrainJS commented on #5058
Yes, the `paramsSerializer` option now has totally different interface/implementation.
The `encode` option is primarily for custom data escaping. The custom key/value pair encoder is not currently supported for query params (only supported for FormData pairs), although it is defined as a `visitor` method in the TS interface, it is currently ignored. Its support will be added soon.
Basically, Axios

[2022-10-07 16:01] YosrySWE commented on #5039
check on TypeScript version; if it is less than 4, update it to 4.8.4
it was 3.5.3 for me

[2022-10-07 16:25] yousef-iskandar commented on #5038
This is a good point, but consider the README.md explicitly encourages this usage of the package.

[2022-10-07 16:31] demosjarco commented on #5044
Issue still persists even with release 1.1.2

[2022-10-07 16:48] bsssshhhhhhh commented on #5038
More specifically:

- **Test your package upgrades _before_ deploying them to production.** Anyone in this thread complaining about production being broken clearly didn't do this. Outsourcing your QA efforts to your customers is not ideal.
- **Pin your package versions**. Just because your project currently works with one version of the package does not mean it will work with another.

[2022-10-07 18:19] SeinopSys commented on #5038
I sincerely hope every single one of those who were complaining about the 1000+ production websites this just broke have now each contributed hundreds of dollars to the maintainers of this package to recognize all the labour they have been so carelessly profiting off of so far.

[2022-10-07 18:25] camposyan commented on #5038
I'm having the same error 'axios.get is not a function'. All my requests are broken now.

[2022-10-07 18:28] meddi-oficial commented on #5038
You should update your version to 1.1.2. Otherwise, you have to use axios.default.get

[2022-10-07 18:30] Daxcor69 commented on #5038
1.1.2 gave me the same error, I had to go back to 1.1.0.

[2022-10-07 18:42] visoft commented on #5026
This is still an issue with `1.1.2`. I solved it by adding `transformIgnorePatterns` to my `package.json`. I also had to add `react-native-daypicker` to get that package to work with after upgrading axios jest:

[code]

[2022-10-07 18:52] yudielcurbelo commented on #5058
This is also affecting me.

[2022-10-07 20:17] vitalyster commented on #5026
Still an issue in 1.1.2

[2022-10-07 20:38] foray1010 commented on #5038
Since the latest versions, there are two groups of users with different ways importing axios
1. `const axios = require('axios')`
2. `const axios = require('axios').default`

IMO, it would be ideal if we can find a way to support both styles, if not, we have to choose one and declare the other one invalid (which I think is `1` because `2` is stated in README)

[2022-10-07 21:05] MauiMan1 commented on #5038
Following...

[2022-10-07 21:09] RNR1 commented on #5058
Affecting me as well, if it's possible to add native support for the same "array format: repeat" behavior it will be amazing!

[2022-10-07 21:40] DigitalBrainJS commented on #5058
@RNR1 Axios already supports this out of the box. By default, Axios encodes arrays in "bracket" format but supports 3 qs formats except "comma".

[code]

So to encode in `arrayFormat: 'repeat'` you need to do the following:
[code]
Echo response:
[code]

[2022-10-07 21:58] visoft commented on #5034
Still an issue in 1.1.2

[2022-10-07 22:17] arthurfiorette commented on #5038
Can we lock this issue to avoid spam? They ran into this issue **(in production)** because they didn't pinned their dependencies correctly.

[2022-10-07 23:41] rraja6195 commented on #5044
axios.defaults.headers.common ,
facing the same issue: TypeError: Cannot read properties of undefined (reading 'defaults')

[2022-10-08 01:34] Jay-Madden commented on #5038
Good god y'all, pin your dependencies. If your app can't handle an outage then make sure your versions are locked.

[2022-10-08 02:09] abriginets commented on #5031
Having the same issue with `CanceledError`:
[code]

And `error instanceof CanceledError` throws an error because `undefined` is not an object ¯\\\_(ツ)_/¯

[2022-10-08 02:30] mt2Qx3R commented on #5035
I also encounter the same problem. May I ask how to fix this?

[2022-10-08 03:22] GuichiZhao opened #5062 "AxiosError should be a top-level export instead of a static"
#### Describe the bug
There is no way to use `AxiosError` correctly (It should be used as both type and value)

#### To Reproduce

[code]

#### Expected behavior
Put AxiosError as top-level export with **implementation rather than type ONLY**
#### Environment
 - Axios  1.1.2
 - Typescript 4.6.3

[2022-10-08 05:11] GuichiZhao commented on #5058
@DigitalBrainJS

is really helpful, it should be added to the official documentation

[2022-10-08 06:36] jasonsaayman commented on #5038
Thanks for all the feedback everyone, also some great pointers here on how to manage your own software. On the way Axios should work when using it with Common JS it should always be:

[code]

I will work to make sure this is always the case. I will also update all the docs etc ASAP. Lastly, I will fix the problems that seem to now exist when using Type Script. I know this was a rough release, but

[2022-10-08 06:38] jasonsaayman commented on #5032
I will look at this asap

[2022-10-08 06:41] jasonsaayman commented on #5016
No probs, if it was bigger that would definitely be something we would want to know about 😄

[2022-10-08 06:56] blinkofaneye commented on #4405
Hello, i would like to make my contribution to this great library ! Can i work on this issue or is it not relevant anymore ? i might need some help if you dont mind.

[2022-10-08 07:39] zaq42 commented on #5044
Fixed for me in 1.1.2.

[2022-10-08 07:58] gondar00 commented on #5038
Missing test case is the RCA for this issue, its best to add another test case such that this issue doesn't happen again in the future

[2022-10-08 08:10] pegiadise commented on #5058
To summarize, at time of writing (`axios@1.1.2`):
1. to alter array param notation in the query string use @DigitalBrainJS's [answer](https://github.com/axios/axios/issues/5058#issuecomment-1272107602)
2. more fine-grained altering on the params object will be provided via the `visitor` method in future versions.

[2022-10-08 08:10] #5058 closed

[2022-10-08 08:40] lqzhgood opened #5063 "1.1.2 onDownloadProgress callback function parameter is not same as 0.27.2, lost `target` field"
#### Describe the bug
[code]
in `0.27.2`  `progress` is `ProgressEvent`
![image](https://user-images.githubusercontent.com/9134671/194698364-728ca718-2974-4b18-8b8d-4ab74312b795.png)

in `1.1.2` `progress`
![image](https://user-images.githubusercontent.com/9134671/194698397-6682990c-cfee-4068-8161-d8c41a93a4c6.png)

#### Expected behavior
`1.1.2` same as `0.27.2`

#### Environment
 - Axios Version

[2022-10-08 10:59] ddemaj commented on #4998
Had this issue with axios 1.1.2 in react native and was able to resolve it by replacing

`import axios from 'axios'`
 with
`const axios = require('axios').default;`

[2022-10-08 11:00] salmannotkhan commented on #5034
I have fixed it by changing
[code]
To
[code]

Should I create Pull Request for this?

[2022-10-08 11:02] ddemaj commented on #5005
Had this issue with axios 1.1.2 in react native and was able to resolve it by replacing

`import axios from 'axios'`
with
`const axios = require('axios').default;`

[2022-10-08 11:30] pschyma commented on #5026
Same problem here with "react-date-picker. After upgrading to axios 1.1.2 and "fixing" the jest issue using `"transformIgnorePatterns"` the tests fail with jest complaining about date picker. Adding that module also to ignore patterns does not help and does not feel right as it's a not related package.

[2022-10-08 11:47] morriq opened #5064 "response interceptor - update headers bug in 1.1.2"
On error reponse I make csrf request and update headers of orginal request and repeat it.

This code works in 0.23:

[code]

The same code in 1.1.2 does not update headers.

I tried  `error.config.headers.set('x-csrf-token', csrfToken);` but without success

#### Expected behavior
making request in error response interceptor with changed headers works.

#### Environment
 - Axios Version 1.1.2
 - B

[2022-10-08 12:21] DigitalBrainJS commented on #5035
In an ideal world, people wouldn't use legacy Node without ESM module support enabled by default :) Please, update your Node to v13.2.0 or later, or you can try to pass `--experimental-modules` cmd line argument to enable its experimental support.

[2022-10-08 12:24] jahnli opened #5065 "How does axios customize the AxiosError error type"
#### Is your feature request related to a problem? Please describe.
How does axios customize the AxiosError error type，

Because I noticed that axios has generics for R to support response custom data

#### Describe the solution you'd like

Whether you can provide a generic argument, customizing AxiosError

[2022-10-08 14:50] haneenmahd commented on #5062
I am opening a PR on this 👍 !

[2022-10-08 16:54] bakif commented on #5044
Still facing the same issue with the 1.1.2 release.

[2022-10-08 17:24] #5045 closed

[2022-10-08 18:05] am2619015 commented on #4998
I just tried it, it didn't work for me, the same error message keeps popping up "TypeError: Restricted in strict mode, js engine: hermes" besides a new one "[TypeError: Cannot read property 'default' of undefined]"

"axios": "^1.1.2",
"react": "18.1.0",
"react-native": "0.70.2",

[2022-10-08 18:06] ManishBitsInfotech commented on #4998
i have posted the solution for same please check it out

On Sat, 8 Oct, 2022, 11:35 pm ANDRES MADERA, ***@***.***>
wrote:

[2022-10-08 18:09] am2619015 commented on #4998
Yes downgrading axios to 0.26.0 works, I hope that in a future version of axios we will not have this problem

[2022-10-08 18:49] iamciro commented on #4998
Same issue here, as mentioned by [grandevel](https://github.com/grandevel), downgrading to 0.27.2 solved it.

[2022-10-08 19:10] growthwp commented on #5038
Sheesh, I imagine we'll be getting a lot of down-votes with this, because, well, who uses Github? OSS developers! However, if you can't agree with the following points, it means you're one of the people(s) I'll be describing.

I hope the author will lock this thread, because it will become a cesspool of needless arguments (good ones, however. I think. Hope). So, as someone who's personally contrib

[2022-10-08 20:04] DigitalBrainJS commented on #5032
@msageryd Axios requires at least the latest minor versions of node v12. You can try importing the cjs package directly
[code]
but there are no guarantees as some features require v12.

[2022-10-08 20:41] gleuch commented on #5044
Reverting back to `const axios = require('axios');`  _(removing `.default` suggested in README)_ seems to fix this issue.

[2022-10-08 20:50] Flamenco opened #5067 "Content type changed from multipart/form-data to application/x-www-form-urlencoded"
My content-type header of `multipart/form-data`  is getting replaced with another content-type.  This was not an issue until I switched to v1.0.x

[code]

However, this works:

[code]

This was sent with the old version, and the workaround mentioned:
<img width="588" alt="Screen Shot 2022-10-08 at 4 46 55 PM" src="https://user-images.githubusercontent.com/819940/194727306-326a05d0-bdf8-4c28-a706-f

[2022-10-08 22:35] chrisweb commented on #5062
This might be related to https://github.com/axios/axios/issues/5031

[2022-10-08 22:39] chrisweb commented on #5031
Others like AxiosProgressEvent seem to be fine

As a workaround for now I used axios.AxiosError, so for example:

[code]

got the idea from this ticket: https://github.com/axios/axios/issues/5062

[2022-10-08 23:43] adrcrv commented on #5026
@yt-hzn is right! Here is how i fixed it:

[code]

[2022-10-09 02:03] GuichiZhao commented on #5062
The problem is not name conflicting, it is the wrong way (not typescript wise) of exporting

[2022-10-09 02:06] haneenmahd commented on #5062
Okay so I should change the way it is exported, right?

[2022-10-09 05:02] SoraY677 opened #5068 "Running Examples, access `localhost:3000/get` cause error "require is not defined""
#### Describe the bug
axios examples started,

#### To Reproduce
when I try to run examples and acccess `localhost:3000/get`,  displayed "Network Error".
the console executing  `npm run examples` show
[code]

any one heppend same bug?
or only my problems?

#### Environment
 - Axios Version: github repository `v1.x`
 - Browser: Chrome
 - Browser Version: 106.0.5249.103
 - Node.js Version v16.13.1

[2022-10-09 05:11] GuichiZhao commented on #5062
In my opinion, the **whole** class (both type and implementation) should be exported at top level. Currently only type (interface) is exported at top level, the real implementation is hidden deep inside, which is the root of the trouble

[2022-10-09 05:47] SoraY677 commented on #5068
the problems will be heppend 'setting on package.json `type: module`', right ?

[source] https://learn.coderslang.com/0021-nodejs-require-is-not-defined-error/

[2022-10-09 05:54] haneenmahd commented on #5062
I have fixed it 👍🏻 !

Can you take a look at it?

[2022-10-09 06:11] SoraY677 commented on #5068
I solve it by myself 😀!!!
setup pull request... take a moment.

[2022-10-09 06:31] noscripter commented on #5038
What you can learn from this issue:

- you don't need axios actually, instead use XHR/Fetch or etc directly plz
- please lock up your dependencies for production environments/releases

[2022-10-09 06:59] amitsainii opened #5070 "Incorrect type definition for use method on AxiosInterceptorManager"
#### Describe the bug
On the Interceptor section on README.md, where we are explaining the usage of the newly introduced `synchronous` and `runWhen` flags on `AxiosInterceptorOptions`, we are passing null for the optional parameters for example:

[code]

When using this in a typescript project you'll get an error saying:

The reason is we didn't specify null as a type for our interceptor handlers.

[2022-10-09 07:32] daniil4udo opened #5072 "[ERR_PACKAGE_PATH_NOT_EXPORTED] when trying to import anything from lib/helpers"
Trying to import helper into my project:

[code]
Getting:

[code]

#### Expected behavior
Was able to import the helper (used to work in 0.27)

#### Environment
 - Axios Version [1.1.2]
 - Node.js Version [16]

[2022-10-09 07:39] wangzhiyonglyk opened #5073 "xhr bug"
you have a bug

xhr.open method  third param is default of true

browser before close can not used

[2022-10-09 08:55] amitsainii opened #5074 "Typescript definitions for AxiosInterceptorOptions included in response interceptors"
#### Describe the bug
With Axios `1.x` we introduced an optional third argument for our interceptor `use` function. When I looked at the source code, I realized this third param of type `AxiosInterceptorOptions` is only used for request interceptor.
The issue I'm reporting is related to the typescript definition for the use method. Currently, when it comes to this third parameter, type definitions

[2022-10-09 10:31] Carsten-Leue commented on #5031
Another workaround is the use of 'axios.isAxiosError'

[2022-10-09 11:15] tapz commented on #4998
@ManishBitsInfotech Dowgrading is not a fix. It does not make 1.x.x work any better.

[2022-10-09 12:37] Bibek-2022 commented on #5013
HI Andre,
If you really just want to detect status code, wont it be easier to get the response code from the header? (response.status)
Then you can perfrom any function required.
Hope this helps.
Thanks,

[2022-10-09 13:31] sabindev opened #5078 "ERR_BAD_RESPONSE 502 when using proxy"
#### Describe the issue
I get ERR_BAD_RESPONSE with status code 502 when I add proxy to the request and the proxy does work.

#### Example Code
[code]

#### Environment
 - Axios Version [e.g. 0.27.2]
 - Node.js Version [e.g. 18.1.0]

#### Additional context/Screenshots
Full error:
[code]

[2022-10-09 13:57] wolflu05 commented on #5028
I also experienced this error, because also the typescript types want me to append a `.join(...)` in order to have a string, but then I get an error, that .join is no valid function.

[2022-10-09 14:47] krylovaaleksandra commented on #5028
I created a pull request to fix your typescript issue: https://github.com/axios/axios/pull/5051
But I still hope that they will still return the previous system with an array, since working with the line where all the cookies are (including their Path, Expries options and others ..) is very difficult and incomprehensible

[2022-10-09 19:36] geomad opened #5079 "GET request with proxy doesn't work on v1.1.2"
#### Describe the bug
Making requests with proxy and an agent is broken on v1.x while its working on v0.27

#### To Reproduce

[code]

The above code while workling on 0.27, now returns
[code]

If `protocol: 'https'` is replaced with `protocol: 'https:'` there is still an error
[code]

#### Expected behavior
v1 works like v0.27

#### Environment
 - Axios Version v1.1.2
 - Node.js Version v18.10.0

[2022-10-09 21:24] goxr3plus opened #5080 "Unable to resolve "../helpers/normalizeHeaderName" from "node_modules\axios\lib\defaults\index.js""
Using latest expo version  V1.1.2 i get this error

`Unable to resolve "../helpers/normalizeHeaderName" from "node_modules\axios\lib\defaults\index.js"`

[2022-10-09 22:23] sarbull commented on #5038
it works on my machine

[2022-10-10 02:00] om4csaba commented on #5044
It works, withouth TypeScript typings

[2022-10-10 04:43] mt2Qx3R commented on #5035
I see. It really works. Thank you!

[2022-10-10 04:57] GuichiZhao commented on #5062
I am not maintainer of axios and do not want to involve too much, you can explain the reason and ask someone relevant to do the reviewing.

[2022-10-10 05:20] sayan404 opened #5081 "Want to add the frontend part a newsletter in the footer section"
#### Is your feature request related to a problem? Please describe.

The landing page has no newsletter in the footer section .

![Screenshot 2022-10-10 104434](https://user-images.githubusercontent.com/95490367/194802877-0bcd7022-21f5-4e1e-9188-3e5315ea84d5.png)

#### Describe the solution you'd like

Want to add the frontend part a newsletter in the footer section

[2022-10-10 05:20] sayan404 commented on #5081
I want work in this issue . please assign me this issue

[2022-10-10 07:00] pzi commented on #5026
Note that

[code]

will completely replace whatever you have in your custom jest config and also whatever comes from next jest. So if next/jest replaces/adds something it will be completely overwritten. The real issue is that next/jest adds `node_modules` as a hardcoded default which can be removed to resolve this issue, too:

[code]

This makes it less of a breaking change going forward and allow

[2022-10-10 07:09] jasonsaayman commented on #5062
Will have a look @haneenmahd

[2022-10-10 07:14] ddolcimascolo commented on #5028
@jasonsaayman Do you plan to revert this change or should we expect `Set-Cookie` to be a string from now on?

Thx,
David

[2022-10-10 07:39] AuspeXeu opened #5082 "Typescript imports not working"
I am importing axios as follows into my typescript project:
[code]
which compiles without a problem, however the resulting javascript code throws an exception.
![image](https://user-images.githubusercontent.com/2115696/194818062-724bab98-92cb-4e36-a95c-3868f5e3d57e.png)
If I change my import to:
[code]
I get a compiler error:
![image](https://user-images.githubusercontent.com/2115696/194818485-b31

[2022-10-10 07:40] Enngage commented on #5082
Same issue here ;)

[2022-10-10 08:20] KillerCodeMonkey commented on #5026
even excluding it from the transformIgnorePattern does not work for me... when i run the tests in testenv "jsdom" it tries to load the node-lib of axios where it seems that URLSearchParams does not exist

[2022-10-10 08:20] Enngage commented on #5082
@GabrielModog, yeah, that was the code we had in our codebase (as opposed to what @AuspeXeu has), but the results are the same. I believe something broke between the releases I mentioned.

[2022-10-10 08:26] AuspeXeu commented on #5082
@GabrielModog that's literally what the first code block in my issue description is ;)

[2022-10-10 09:55] flovouin commented on #5082
If that's an option for you, a workaround is to enable [esModuleInterop](https://www.typescriptlang.org/tsconfig#esModuleInterop).

[2022-10-10 11:45] chrno1209 commented on #5055
I am having the same issue, had to do a work around by removing all invalid headers (using interceptor) before sending request.

[2022-10-10 12:28] VeloAddict opened #5083 "AxiosHeaders get 'set-cookie' returns string instead of array"
#### Describe the bug
With version 0.27.2 or older when reading the `response.headers['set-cookie']` it returned an array of cookies.
[code]

Since version 1.x when reading `response.headers.get('set-cookie')` it returns a string.
[code]

This causes some problems when trying to append the set-cookie to another response.

#### To Reproduce
[code]

#### Expected behavior
AxiosHeaders.get('set-cooki

[2022-10-10 14:00] haneenmahd commented on #5083
@jasonsaayman I am willing to open a PR on this! Is this the correct behaviour expected?

[2022-10-10 14:02] sabindev commented on #5079
same issue here

[2022-10-10 14:29] finkrer commented on #5083
Just narrowed down a bug to this... Unless it was a deliberate decision, in which case I will update my code, it should really just behave the same as the old version.

[2022-10-10 14:30] ppati000 commented on #4531
If anyone is interested in trying out HTTPS-over-HTTP support in Axios, feel free to check https://github.com/axios/axios/pull/5037. The implementation has some limitations (no redirects) but maybe it still fits your use cases. Would love to hear back from you!

[2022-10-10 14:39] haneenmahd commented on #5083
@finkrer, What caused this issue?

[2022-10-10 14:42] finkrer commented on #5083
I'm passing `response.headers['set-cookie']` to [set-cookie-parser](https://github.com/nfriedly/set-cookie-parser). It can parse arrays and strings but not what axios returns currently, so my app crashes.

[2022-10-10 14:44] haneenmahd commented on #5083
@finkrer, So this is actually a potential bug, right?

[2022-10-10 14:48] finkrer commented on #5083
Well, it has been reported as a bug, and I agree with @VeloAddict here. This behavior is unexpected.

[2022-10-10 14:49] ddolcimascolo commented on #5083
Probably a dupe of my issue #5028

[2022-10-10 14:52] haneenmahd commented on #5083
@ddolcimascolo, Further developments on this issue can be discussed here as the title seems more relevant in this issue!

[2022-10-10 14:52] imamrobani commented on #4998
agree, but for now, I think if u want still using axios and the new RN version best choice is using axios `0.27.2`
and wait until they fix it

[2022-10-10 16:01] ddolcimascolo commented on #5083
Fine by me, as long as the issue is fixed in both places :crossed_fingers:

[2022-10-10 17:06] doits commented on #5058
Is there probably a difference with nested objects like `{ a: [{ name: 'abc' }] }`?

qs gives:

[code]

Looks like axios adds an index even with `config.paramsSerializer.indexes = false`:

[code]

Or is there an error on my side?

[2022-10-10 18:39] geomad commented on #5079
I can confirm this is working! Thanks!

[2022-10-10 19:08] smddzcy commented on #5035
Using [jest-mock-axios](https://www.npmjs.com/package/jest-mock-axios) solved this issue for us.

[2022-10-11 02:16] 712163 opened #5088 "[ERR_REQUIRE_ESM]"
environment:
centos7.9 x64
node v16
axios 1.1.2

code:
const axios = require(__dirname + '/../node_modules/axios').default;
axios.defaults.withCredentials = true;
axios.get(...);

error:
2022-10-11T00:00:01: crontab_child_process_stderr: /home/card/libs/function_main.js:13
2022-10-11T00:00:01: const axios = require(__dirname + '/../node_modules/axios').default;
2022-10-11T00:00:01:               ^

[2022-10-11 03:17] danielsss commented on #5082
+1

[2022-10-11 03:34] lohart13 opened #5089 "Axios config headers causes requests to fail with ERR_INVALID_CHAR"
#### Describe the bug
When using the `error.config` property of an AxiosError to resubmit a request, the below error is thrown. Prior to version 1.x, this solution worked perfectly.
[code]

After looking through the code, it appears that there are two issues at play.
The first one is that when an existing instance of AxiosHeaders is passed as a parameter to the new AxiosHeaders function, the heade

[2022-10-11 04:26] VinodhPIT commented on #3135
some times im getting response like [TypeError: undefined is not an object (evaluating 'error.response.config')] ,any one knows what's the reason ?

[2022-10-11 04:57] chrno1209 commented on #5089
I am having the same issue, had to downgrade to version below 1.0.0

[2022-10-11 05:00] atnlantics opened #5091 "require not supported after upgrading to axios 1.1.2"
we are getting below error after upgrading axios to the 1.1.2 version

2022-10-11T04:56:57.575682812Z stderr F Instead rename index.js to end in .cjs, change the requiring code to use import(), or remove "type": "module" from /app/node_modules/axios/package.json.
--
  |   | 2022-10-11T04:56:57.575671912Z stderr F require() of /app/node_modules/axios/index.js from /app/server.js is an ES module fil

[2022-10-11 05:25] JeffreyStevens commented on #5026
I hit this issue as well, I use create react app and therefore the [workaround](https://github.com/facebook/create-react-app/issues/9938#issuecomment-743701100) is to add to the package.json jest property this way:

[code]

However, this makes my Jest unit tests run about 2x longer. It would be nice if axios exported a module so we don't have to do this workaround?

[2022-10-11 05:50] hezhongfeng opened #5092 "Cant catch 302 status?"
#### Describe the bug

I want to access a api, and the server will redirect to login page. But I cant catch the response status， the status is `0`

#### To Reproduce
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If your problem is not reproducible, please file under Sup

[2022-10-11 05:55] rollrat opened #5093 "axios is undefined"
[code]

this code print `undefined`
how to fix it?

[2022-10-11 05:57] rollrat commented on #5093
I fix this problem by using the `request` library instead of `axios`.

[2022-10-11 06:22] #5093 closed

[2022-10-11 06:44] amirfahmideh commented on #5034
I have same issue after upgrading to 1.1.2, Is there any solution behind downgrade ?!

[2022-10-11 06:53] amirfahmideh commented on #5034
I fix my issue with how I set my header
`
axios.interceptors.request.use(
  function (config) {
    if (config && config.headers) {
      config.headers["Authorization"] = `bearer ${GetAuthToken()}`;
      config.headers["Content-Type"] = "application/json";
    return config;
  },
  function (error) {
    return Promise.reject(error);
  }
);
`

[2022-10-11 09:03] apt-bh commented on #5082
+1

It doesn't work since v1.0.0 (0.27.2 works fine with the same codebase), importing axios results in an undefined variable.
Any idea what to do ?

[2022-10-11 09:04] doits opened #5094 "Axios adds array indexes for objects in arrays where it shouldn't"
#### Describe the bug

`config.paramsSerializer.indexes = false` (default) adds indexes if an object is inside an array but it shouldn't.

#### To Reproduce

https://runkit.com/doits/634530f2d3a446000813ef73

[code]

#### Expected behavior

No `a[0]` but `a[]`:

[code]

#### Environment
 - Axios Version 1.1.2

#### Additional context/Screenshots

None

[2022-10-11 09:04] doits commented on #5058
Created #5094 to track it.

[2022-10-11 09:47] Gerhut opened #5095 "[typing] AxiosInstance#create does not work in TypeScript"
#### Describe the bug

Cannot do `instance.create` in TypeScript, reported `Property 'create' does not exist on type 'AxiosInstance'. `

But it should work due to create method is added to the instance in `createInstance` function

https://github.com/axios/axios/blob/b733f36c2a4ecef546addc6e68c404276b25638a/lib/axios.js#L36-L38

#### To Reproduce
Code snippet to reproduce, ideally that will work b

[2022-10-11 10:02] jasonsaayman commented on #5034
Will PR this tonight unless @salmannotkhan wants to

[2022-10-11 10:04] salmannotkhan commented on #5034
I would love to create PR :)

[2022-10-11 10:09] salmannotkhan commented on #5034
Can you assign this to me?

[2022-10-11 10:18] Enngage commented on #5082
It works in `1.1.0`, we are using that successfully.

[2022-10-11 10:43] ppati000 commented on #5079
@geomad Great to hear that! I have now prepared a small pull request to enhance backwards compatibility with 0.x versions: https://github.com/axios/axios/pull/5097

[2022-10-11 10:48] saksham0103 opened #5099 "Added alt attributes to the image elements"
#### Describe the bug
Image elements didn't had alt attributes, which caused the website to had low accessibility score.

#### To Reproduce

[code]

#### Expected behavior
Added alt attributes which will increase the accessibility score of the website.

#### Environment
 - Axios Version [e.g. 0.18.0]
 - Adapter [e.g. XHR/HTTP]
 - Browser [e.g. Chrome, Safari]
 - Browser Version [e.g. 22]
 - Node.j

[2022-10-11 12:00] AuspeXeu commented on #5082
@Enngage how about `1.1.2`?

[2022-10-11 12:00] edgar-durand opened #5100 "After upgrading form v.0.27.2 to v.1.1.2 Axios not working in Nestjs"
#### Describe the bug
![image](https://user-images.githubusercontent.com/77401443/195081168-04897504-2737-406e-a37d-2a2d35d1cc2a.png)

I have been working with axios v0.27.2 in Nestjs 9.0.11 with no issue, but since we upgraded last Friday to version 1.1.2 it just broke with the error:
`message: cannot read properties of undefined (reading 'interceptors')`
this is because I use Axios.interceptors

[2022-10-11 12:17] grenik commented on #5055
Seems relevant to https://github.com/axios/axios/issues/5089 which shall be fixed in https://github.com/axios/axios/pull/5090

[2022-10-11 12:20] grenik commented on #5017
Seems relevant to https://github.com/axios/axios/issues/5089 which shall be fixed in https://github.com/axios/axios/pull/5090

[2022-10-11 13:36] kalvn commented on #5064
Same here. I use this for renewing a JWT access token mechanism (thanks to a refresh token) and the same is happening: the new access token is not set.

[2022-10-11 13:39] pandax54 commented on #5100
Axios is not working in nodejs either

[2022-10-11 13:42] alcadiosystem commented on #5100
Axios in version 1.1.2 is giving problems in all my projects where I have it installed, the functional option in my case was to return to 0.27.2

[2022-10-11 14:08] felix-berlin commented on #5044
It works with `axios = require('axios').default;` 🎉

[2022-10-11 14:28] imransilvake opened #5101 "Jest tests failed after upgrading axios to v1.1.2"
#### Describe the bug
I updated the Axios from `"axios": "^0.27.2"` to `"axios": "^1.1.2"`, and Jest tests are not working anymore with the following error:

[code]

#### To Reproduce
1. Use React and Axios latest version
2. Create Jest test
3. Run the test to generate the error

#### Environment
 - Axios Version `^v1.1.2`
 - Browser `Chrome`
 - Browser Version `Version 105.0.5195.125 (Official Bu

[2022-10-11 14:53] zsnmwy commented on #5100
I have the same problems.
Return to 0.27.2, it works.

[2022-10-11 14:57] diksha0149 commented on #5099
Hiii, Please assign me this issue

[2022-10-11 15:01] dergecko opened #5102 "Z_BUF_ERROR on HEAD requests"
#### Describe the bug
If you send a HEAD request to any endpoint that as the content-encoding set to decompress a **Z_BUF_ERROR** will be thrown. **Axios** tries to decompress the response even if no data is available.

#### To Reproduce
[code]

#### Expected behavior
**Axios** should not try to decompress the data that does not exists.

#### Environment
 - Axios Version [1.1.2]
 - Node.js Version

[2022-10-11 15:07] saksham0103 commented on #5099
I have already opened a PR solving this issue.

[2022-10-11 15:16] DigitalBrainJS commented on #5094
This is expected behavior. The `indexes` option only controls brackets mode for flat arrays. Axios will add explicit indexes for nested object elements, as this is required to keep data consistency by getting an unambiguous representation of an object as a URL string. The goal is not to follow `qs`, but to have maximum compatibility with the server framework (express.js) out of the box.
Obviously,

[2022-10-11 16:10] akaSomix commented on #5082
I am having the same problem with the `1.1.2` and i cannot seem to make it work with 1.0.0 as well.

[2022-10-11 17:22] doits commented on #5094
Allright, thanks for the detailed information, I understand what you mean.

I reported it because my Rails server cannot handle it and it worked before (with `qs` as a custom `paramsSerializer`), so I couldn't get axios 1.1.2 to work with my Rails API.

I'll check out some more complex query and report back how it works there. Maybe the *order* of params is important, eg

[code]

gets parsed as

[

[2022-10-11 19:00] DigitalBrainJS commented on #5094
Hmm... If Rails can't handle explicit indexes, then perhaps we should consider adding another encoding mode, since the library size won't increase in this particular case. It was assumed that all frameworks at least can handle encoding using explicit indexes.

[2022-10-11 19:03] me-ruhin commented on #5092
To get the status code just simply follow the instruction

 axios
    .get('/api/v1/content')
    .then()
    .catch(err => {
      console.log('status code is', err.response.status);
    });

[2022-10-11 19:37] doits commented on #5094
Here are some examples how Rails parses params (tested it in my App):

[code]

My takeaway is:

- Rails doesn't like explicit indexes at all (example 3 and 5)
- When Rails encounters a duplicate key that is no array, it creates a new object (example 7)
- It really depends on the order of params which object gets the items (example 10)
- There must be an existing duplicated key before a new object

[2022-10-11 19:54] Nikhil562 commented on #4947
I can fix this , please assign this to me

[2022-10-11 19:57] doits commented on #5094
I started a discussion at https://github.com/rack/rack/discussions/1974 (this is what Rails uses when parsing params), maybe we get some more info there.

[2022-10-11 20:28] lejahmie commented on #5102
Added a comment of PR, other than that it looks good.

[2022-10-11 20:32] lejahmie commented on #5101
**For context:** Problem seem to be that Axios is now built as ES Module instead of CommonJs when not run in Node. Problem with Jest is that it runs code in Node, but application is built for web-clients.
This is why telling Jest to transform Axios works.

[2022-10-12 00:20] hezhongfeng commented on #5092
@me-ruhin the status is `0`

[2022-10-12 00:24] pzi commented on #5101
See https://github.com/axios/axios/issues/5026#issuecomment-1274104650

[2022-10-12 01:02] rathpc commented on #5101
The change to `transformIgnorePatterns` does not work in my case so I am hoping there is a proper fix provided from axios soon.

[2022-10-12 01:58] cagosto opened #5106 "After upgrading form v0.27.2 to v^1.1.2 import error with jest"
#### Describe the bug
I upgraded from version 0.27.2 and now when I run my jest tests I get these error
[code]

if I down grade the package back to v0.27.2 everything works fine. Jest run all test pass.

#### To Reproduce
Code snippet to reproduce, ideally that will work by pasting into something like https://npm.runkit.com/axios, a hosted solution, or a repository that illustrates the issue. **If

[2022-10-12 03:20] littledian commented on #5062
It seems pr: #5030 fixed it but then commit: #2149464bb4f12c1101b15f73298a060e92470376  revert it

[2022-10-12 03:32] natemartins commented on #5006
I need hermes enabled. I can't afford to disable it. I instead reverted to the last version of axios before `1.0.0` and it's working fine.

[2022-10-12 04:24] eldanielsoares commented on #5064
I'm having problems  in lastest version too

[2022-10-12 05:06] ChronosMasterOfAllTime opened #5107 "Re-add Pre 1.x Functionality for ParamsSerializer"
#### Is your feature request related to a problem? Please describe.
No.

#### Describe the solution you'd like
#4734 Changed the entire behavior of the params serializer, breaking using any custom functionality on the consumer side. Add a boolean switch to mimic pre 1.x behavior (default is false) and send the params directly to the encode function

#### Describe alternatives you've considered
Tri

[2022-10-12 05:24] tzaitsev-rl commented on #5035
Happening to us on node v14.18.3

[2022-10-12 07:32] johannes-vogel commented on #5017
It's fixed already with version 1.1.2.
@risa and @jasonsaayman Thanks for providing a quick solution 👍

[2022-10-12 07:32] #5017 closed

[2022-10-12 08:31] erikrenberg commented on #5106
See #5026

[2022-10-12 08:42] doits commented on #5094
https://github.com/rack/rack/discussions/1974 just confirmed that there is this ambiguity when building queries without indexes.

Maybe axios shouldn't care about it then either and generate queries without indexes even if there is a possible ambiguity, because it was always like this?

On the other hand something like #5108 would allow to pass an own params serializer (like `qs`) again. So if you

[2022-10-12 08:55] jiouiuw commented on #5100
same here

[2022-10-12 10:48] poonamdhomane opened #5111 "Getting ERR_INVALID_THIS on any API call, sometimes it works but sometimes not works"
#### Describe the bug
On API call instead of it getting into the success block returning something like as below, and this is happening in debug mode only, it goes in catch block of createAsync method of redux toolkit**

#### To Reproduce - snippet that I am calling and it entering inside catch block even if the API got success on console
[code]

#### Expected behavior
It should not return the err

[2022-10-12 10:54] HumayunHabib commented on #5111
Temporary Fix
The following fix works for now until the standard fix.
`
"test": "react-scripts test --transformIgnorePatterns \"node_modules/(?!axios)/\"",
or
"test": "react-app-rewired test --transformIgnorePatterns \"node_modules/(?!axios)/\"",
`

@poonamdhomane

[2022-10-12 11:09] togenius1 commented on #5006
I got the same issue.

[2022-10-12 11:27] poonamdhomane commented on #5111
@HumayunHabib where should I add this ? in packge.json ?
And how to execute ?
I am getting this issue for react-native

[2022-10-12 11:33] CelsoP opened #5112 "(Bundler & Minifier) Syntax error in regular expression: /[_-\s]([a-z\d])(\w*)/g"
I tried the version v1 of axios and started to get the message above, then I returned back to version v0, which is working.  I am using Visual Studio 2022.

Could you please verify if it is missing something in the function ("https://github.com/axios/axios/blob/v1.x/dist/axios.js", line 579) below:

  var toCamelCase = function toCamelCase(str) {
    return str.toLowerCase().replace(/[_-\s]([a-z\d

[2022-10-12 11:33] cagosto commented on #5106
Yup that's the same issue thanks for the link.

[2022-10-12 12:24] spuyet commented on #2855
Indeed this issue seems related the browser implementation. That's really weird that on redirect the browser is able to drop the `Origin` header (to avoid CSRF) but not to drop the `Authorization` header, some sensitive content can be stored in this header (like a JWT) and should not be leaked to an attacker.

[2022-10-12 12:50] vedo18 commented on #5099
Can you assign this issue to me?

[2022-10-12 13:43] saksham0103 commented on #5099
I have already opened a PR solving this issue.

On Wed, Oct 12, 2022, 18:20 Saket Vats ***@***.***> wrote:

[2022-10-12 14:29] FlorisVeldhuizen commented on #5107
It seems that `null` and `undefined` parameters are now getting passed as well in urls, breaking many requests. You can see this check being removed in #4734, I wonder how this breaking change that is not mentioned anywhere went under the radar

[2022-10-12 14:32] digambar-t7 commented on #5112
Hey, can you provide more details about the error.
Maybe some screenshot or something.

[2022-10-12 14:41] ChronosMasterOfAllTime commented on #5107
Good catch; I wonder if we can update the main meat of their toString function for serializing the params to omit undefined and null. Feel free to make suggestions on #5108! I just wanted some of the old functionality back 😅

[2022-10-12 14:56] CelsoP commented on #5112
Dear Digambar Tupurwadi,

This is what happens as soon as I updated to the new version in Visual Studio 2022, after trying to bundle it.

If a return to the previous version and bundle it the error is gone.

Thanks a lot,

Sebastião

From: Digambar Tupurwadi ***@***.***>
Sent: quarta-feira, 12 de outubro de 2022 11:32
To: axios/axios ***@***.***>
Cc: Sebastião Pereira ***@***.***>; Author ***@***.

[2022-10-12 15:07] ChronosMasterOfAllTime commented on #5107
@FlorisVeldhuizen I added a commit to PR#5108 which should (hopefully) resolve the issues with nulls and undefined? I added a test and found nulls are being included, but undefined fields are not

[2022-10-12 15:20] hisuwh commented on #5101
yh `transformIgnorePatterns` "fix" is not working for me

[2022-10-12 15:55] KrisLau opened #5114 "How stable is v1?"
#### Describe the issue
Hi, really appreciate all the work that's being done on the library now! I'm deciding whether or not to upgrade from v0.27.2 to v1.1.2 or if I should wait for a more stable version. I'm unsure how stable v1 is as I've seen a bunch of issues related to v1. I also was wondering if there will be a migration guide written for upgrading to v1.

#### Example Code
N/A

#### Expect

[2022-10-12 16:14] thanhhungmk92 commented on #5004
I have the same issue .  Help me, please
![error](https://user-images.githubusercontent.com/37661007/195394611-fb4a05ce-234c-43f9-8c4b-4b78fcea738e.png)
Info: laravel 7, vue 2
"laravel-mix": "^6.0.49",
"sass-loader": "^12.6.0",
"vue-loader": "^15.10.0",
"vue-template-compiler": "^2.7.12",
"webpack": "^5.23.0"

[2022-10-12 16:53] EfChouTR commented on #5114
FWIW there are a few breaking changes (paramsSerializer behavior is completely different), plus the documentation needs to be updated. Opened a PR to resolve the Params Serializer issue and updated some of the docs. See #5108

[2022-10-12 16:54] hurraf2006 opened #5115 "Axios Network Error"
When i wanted to request the information of products from db.json, actually nothing comes from there.
I realized that when db.json works on localhost:3001, the website on vue itself doesn't work on localhost:8080.
But when the website works, db.json doesn't work. So that is why I think nothing comes from db.json, but i do not know why it happens
![Screenshot_5](https://user-images.githubuserconten

[2022-10-12 17:48] ddolcimascolo commented on #5114
It's not. The Jest tests breakage is a show stopper by itself, there's the paramsSerializer issue @EfChouTR is talking about, the set-cookie header issue, and the long list of open, unrsponded issues.

[2022-10-12 18:19] DigitalBrainJS commented on #5094
Probably, the current `paramsSerializer.indexes = false` behavior should be refactored as `paramsSerializer.indexes = undefined (default)` to serialize in "mixed mode", and  `paramsSerializer.indexes = false` should be totally without indexes.
But in any case, it seems that adding custom serialization feature support is a must, even if we add RoR support, as there will always be some kind of incom

[2022-10-12 18:28] rathpc commented on #5101
I found that this did however work for me because it forces those imports to resolve with the CJS module instead:

[code]

[2022-10-12 18:57] womprat commented on #5011
Getting this error with Node.js

Import:
const axios = require('axios').default;

Error:
axios.defaults.withCredentials = true;
TypeError: Cannot read properties of undefined (reading 'defaults')

But really it's just erroring everywhere because 'axios' is not defined:
await axios.post(endpoint, params, config);
TypeError: Cannot read properties of undefined (reading 'post')

I rolled back with "n

[2022-10-13 01:03] isra2021 commented on #4740
did you solve it?

[2022-10-13 02:44] KieraDOG opened #5117 "Require interceptors to return values breaks some interceptor usage"
#### Describe the bug

Here is how we use interceptor to extract `data` from `response` rather than duplicate the same logic `.then((res) => res.data)` everywhere in the project

[code]

however because of the new changes from https://github.com/axios/axios/pull/4874,

The PR is to required interceptor to return data, but it is not only require to return data, but require to return config data. Th

[2022-10-13 02:53] KieraDOG commented on #5114
there are few typescript break changes as well,

ie. you are no longer allowed to do this in axios v1 ts

[code]

[2022-10-13 03:09] togenius1 commented on #4998
I got the same isssues.

[2022-10-13 05:14] bentorkington commented on #5083
no workaround if one of the cookies contains a comma and axios is concatenating them to a string, as far as I can tell

[2022-10-13 05:18] baracuda69 opened #5118 "After upgrading form v0.27.2 to v1.1.2 import error with Vite"
#### Summary

In Vue3 / TypeScript project,
import { AxiosError } from 'axios';

Build shows warning:
Non-existent export 'AxiosError' is imported from node_modules/axios/index.js

Although there is only a build warning, any component (Vue) or TypeScript (ts) that includes this import fails to work.
Browser console (Dev-Tools) shows:

Uncaught SyntaxError: The requested module '/node_modules/.vite

[2022-10-13 06:00] philBrown commented on #5118
#5062

[2022-10-13 07:37] inbuilt-aura commented on #5081
Hello, i can solve this issue as i am a frontend developer. Plzz assign me in hacktoberfest 2022.

[2022-10-13 07:40] jasonsaayman commented on #5114
Yeah, there are a couple of issues, and I am trying to resolve a lot of them. Will be working on getting it more stable tonight. Staying on v0.27.2 is still an option, we are not dropping support for that and a new v0.xx version will be released soon.

[2022-10-13 07:54] doits commented on #5094
Yeah, seems good for me. Maybe think about using `paramsSerializer.indexes` as a string option that can be one of these: `mixed | noBrackets | emptyBrackets | always | custom`. When set to `custom`, it requires a `paramsSerializer.customSerializer: (params) => string | null` function to handle the serialization.

IMO this is easier to understand from an outside perspective (and you even have the o

[2022-10-13 08:47] Kuroo7 commented on #5099
Assing me this issue

[2022-10-13 09:26] Kuroo7 commented on #5081
Assign me

[2022-10-13 12:33] IgnatG commented on #5011
It looks like you don't need `.default` option anymore.
[code]

this ^ worked for me

[2022-10-13 13:10] KrisLau commented on #5114
Sounds good, thanks for all the great work!

[2022-10-13 13:10] #5114 closed

[2022-10-13 13:14] tusbar commented on #5000
Related: https://github.com/jamesmbourne/aws4-axios/issues/701

[2022-10-13 13:16] abelardolg commented on #5026
I updated that file but it didn't work.
My code: https://github.com/abelardolg/udemy_fherrera_vue3

[2022-10-13 13:32] abelardolg commented on #5026
With all these lines, I gave me this error:
Error: You appear to be using a native ECMAScript module configuration file, which is only supported when running Babel asynchronously.
https://github.com/abelardolg/udemy_fherrera_vue3

[2022-10-13 14:10] silverpedak commented on #5035
Happening on v18.10.0 also

[2022-10-13 14:39] scflode commented on #5082
This seems to have been introduced in `1.1.1`. `1.1.0` is the last working version.

[2022-10-13 14:46] RodrigoSarmento commented on #4998
We already know that it works in 0.27, though we need to know how to make it work for 1.0ˆ, no need to keep saying downgrade works.

[2022-10-13 14:48] cafeclimber opened #5120 "Interceptor not triggering error function on 401 response"
#### Describe the issue
I'm using an interceptor to determine if I need to query my api to refresh a JWT token. I'm trying to do this by checking if I receive a 401 response, if that was caused by an expired token, and if so request a token refresh. The problem is, despite the interceptor receiving a 401 response, it does not trigger my error function.

I'm doing this with axios-fetch to customize

[2022-10-13 15:11] t4ggno commented on #5120
+1

Same problem using axios 1.1.2. But with react/nextjs.

[2022-10-13 15:41] dnlsndr commented on #5081
And so starts #shitoberfest

[2022-10-13 15:44] tada5hi commented on #5026
hope this is going to be fixed soon ...

[2022-10-13 16:03] YunsGeek commented on #5006
same here in android , work fine in ios

[2022-10-13 16:11] YunsGeek commented on #4998
same here

[2022-10-13 17:27] jmcdo29 commented on #5100
I just want to point out that this is **not** a problem with Axios's new version **nor** is it a problem with how Nest uses Axios. Nest has `@nestjs/axios` for axios integration which is pinned at `0.27.2`. If you install a different, newer version, _especially over semver major_, and it breaks, that's on you. Not a problem of the library, not a problem of the framework. That's why we have semver,

[2022-10-13 18:59] jasonsaayman commented on #5100
@jmcdo29 as much as I agree, there is for sure still a problem with imports. I am trying to get this fixed up.

[2022-10-13 19:03] jmcdo29 commented on #5100
@jasonsaayman that may be, and thank you for working on fixing that up. This is just the second time I've seen someone go to a _library_ that recently went through a major upgrade saying that the major bump "broke" the NestJS integration, when there was truly no blame to be put on the library for that at all, and wanted to call it out.

Thanks for your work on axios though! Great HTTP client

[2022-10-13 19:11] #5028 closed

[2022-10-13 19:11] #5083 closed

[2022-10-13 19:29] #5041 closed

[2022-10-13 19:55] #5079 closed

[2022-10-13 20:22] jasonsaayman commented on #5082
@apt-bh yeah this is actually what happened. There is an oddity that has crept in with the build process and until we locked it down we mended common JS as this is by far the widest implementation of the library. I have merged a PR recently that I am going to test and hopefully that solves all issues for us with regard to this. Watch for a v1.1.3

[2022-10-13 20:24] patrickluk opened #5121 "AbortController Signal not cancelling requests with CORS"
### Describe the bug

I am adding an `AbortController` `signal` to `axios` `GET` requests.  With a simple `GET` request without modified headers, the backend `GET` endpoint was able to receive the cancel request.

However when I add custom headers (eg. Authentication and Refresh) to the `AxiosRequestConfig`, the backend receives an `OPTIONS` request followed by a `GET` request, instead of just a `

[2022-10-13 20:37] mehmetfurkansakiz commented on #4998
I was using axios. A new version was announced 9 days ago. version 0.27 was installed in my old project and there was no problem so in my new project I uninstalled version 1.1 with "npm rm axios" and then installed the new version with "npm i axios@0.27.2 --force". My problem seems to be fixed guys.

[2022-10-13 20:52] apt-bh commented on #5082
Thanks for the quick reply, I'll be watching for the new release

[2022-10-13 21:14] markskayff opened #5122 "Axios failing to use validateStatus."
### Describe the issue

The `validateStatus: function()` config option is supposed to middleware the response, and if validateStatus evaluates to **false** then the promise will be rejected, aka, an Excepton is thrown and we are in a catch block.

For some reason, I see the validaStatus block is evaluated (I have output on the code), but the Exception is not being thrown. This means, the then() bl

[2022-10-13 22:10] markskayff commented on #5122
Fixed. It was an internal bug, due to some code in an interceptor.

[2022-10-13 22:10] #5122 closed

[2022-10-14 04:45] amitsainii commented on #5074
Hi, @jasonsaayman I'd love to know the reasoning behind this getting closed. No rush though, I know you're kind of donating your free time here

[2022-10-14 05:22] jasonsaayman commented on #5074
Will have a look as soon as possible. I just presumed that <any> should take care of all types however I see what you said on your PR so I will test it out

[2022-10-14 05:26] jasonsaayman commented on #5011
@womprat for that the latest version should work if you drop the `.default`

[2022-10-14 05:26] jasonsaayman commented on #5094
Closing cause the custom serializer has been merged

[2022-10-14 05:26] #5094 closed

[2022-10-14 05:34] amitsainii commented on #5074
Sounds good @jasonsaayman. BTW https://github.com/axios/axios/issues/5070 is the issue that is tied to that PR. This is a separate issue related to typings on the `response` `interceptor`.

[2022-10-14 06:47] wayoalamos commented on #5044
This problem persist for me. For some reason, when compiling typescript to javascript, it adds a "default" after axios... and terminal is complaining that axios.default is undefined.
Example:
In index.ts I have: axios.request("my api")
When compiling I see in index.js:
axios.default.request("my api") and this fails with error :  TypeError: Cannot read property 'request' of undefined

[2022-10-14 06:58] Wimmind commented on #4231
@pleek91 did you manage to solve the problem?

[2022-10-14 07:09] physicsSorcererKing commented on #5067
@Flamenco Don't add `'Content-Type': 'multipart/form-data'` by yourself before this issue is solved.
axios will automatically do this if config.data's type is FormData
see [https://github.com/axios/axios/tree/main#formdata](url)

[2022-10-14 07:16] Reseachershan opened #5124 "`Content_type` should be `Content-Type`. and you send a token as Authorization header in POSTman but you didn't in axios. The following request will do the job."
`Content_type` should be `Content-Type`. and you send a token as Authorization header in POSTman but you didn't in axios. The following request will do the job.

[code]

_Originally posted by @pavinduLakshan in https://github.com/axios/axios/issues/2392#issuecomment-529120724_

[2022-10-14 07:36] shaomingming008 opened #5125 "IE11 error v1..2 SCRIPT1002"
### Describe the bug

use v1.1.2 in IE11 will apper error SCRIPT1002
![ff9440a199358f3ce6e274078ee90cd](https://user-images.githubusercontent.com/22759207/195789296-95102510-466a-43a8-a624-10db243b8470.jpg)

but I use v0.27.2 ，it is ok！

### To Reproduce

_No response_

### Code snippet

_No response_

### Expected behavior

_No response_

### Axios Version

1.1.2

### Adapter Version

_No respons

[2022-10-14 07:45] jasonsaayman commented on #5125
Please rather use v0.x for IE

[2022-10-14 07:45] #5125 closed

[2022-10-14 10:43] aadarshp31 commented on #2968
I found the solution here: https://github.com/spatie/laravel-server-side-rendering/issues/53#issuecomment-791480669
Thanks to @SerhiyP

[code]

**MY USE CASE**
I am working on a vscode web extension which I want to work in desktop (nodejs) environment. Axios was throwing the exact same error for me. This fix helped me resolve this issue.

[2022-10-14 11:16] jasonsaayman commented on #5082
I have done testing and this is now working plus the common JS use is working, I will do a release tonight

[2022-10-14 11:51] rd-stefan-riehmer commented on #5101
@rathpc - i tried your solution.
outcome:
jest test: mocking with jest.mock('axios') works again
the app (called from jest): the library axios is imported and it's value is `undefined` and therefore i get an error =>  e.g. `Cannot read properties of undefined (reading 'get')`

[2022-10-14 12:25] tjcrowder commented on #4889
@jasonsaayman - Don't you have to include the runtime aspect of the enum in `axios.js`? [This issue popped up](https://stackoverflow.com/questions/74068922/cannot-read-properties-of-undefined-reading-ok-axios) on Stack Overflow. (Apologies if this is a dumb question, I'm not completely au fait with the complexities of delivering a JavaScript lib with TypeScript typings.)

[2022-10-14 12:36] AHMAD58198 commented on #4998
i downgraded axios to 0.21.4 and the issue is gone

[2022-10-14 12:55] tjcrowder opened #5126 "Runtime aspect of `HttpStatusCode` missing from JavaScript files"
### Describe the bug

Apologies in advance if I've got the wrong end of the stick, but I think the [recent PR adding `HttpStatusCode`](https://github.com/axios/axios/issues/4889) missed out the runtime aspect of the new `enum`. (TypeScript enums aren't purely type information, they also include a runtime aspect.) For instance, for `HttpStatusCode` it would look like (depending on TypeScript settin

[2022-10-14 13:07] ChronosMasterOfAllTime commented on #5107
Updated my PR because they still havent reconciled the null bug, but instead caused merge conflicts and duplicated efforts. 🤷

[2022-10-14 13:43] DigitalBrainJS commented on #5067
Can you reproduce the issue [here](https://codesandbox.io/s/axios-issue-5067-gqt9rq?file=/src/index.js)?

[2022-10-14 13:50] Flamenco commented on #5067
@physicsSorcererKing I am adding it because my base axios, that had all sorts of headers and logic, declared content type of "application/json", as shown.  I need to override it.

[2022-10-14 14:31] physicsSorcererKing commented on #5067
@DigitalBrainJS I found I spelled lowercase `content-type` caused it happened.
Not sure is this @Flamenco 's case.

[2022-10-14 16:40] pleek91 commented on #4231
I have not, very frustrating

[2022-10-14 17:31] DigitalBrainJS commented on #5067
OK. I found the problem, so I will fix it soon.

[2022-10-14 21:53] bag-man commented on #5011
I've noticed that...
[code]
...will reproduce this error, so you need to use:
[code]

Which is maybe something that should be fixed?

[2022-10-14 23:52] nicoContigliani commented on #5035
I solved the error. I used an older version - npm i axios@0.21

[2022-10-15 05:25] Anishali2 commented on #5082
I just facing the same issue in typescript but I tried use ``  "axios": "^0.27.2",`` and working just fine

[2022-10-15 08:13] mijaelsaban commented on #3909
same here

[2022-10-15 12:31] luutruong commented on #5026
I have same issues with react-native project. Downgrade to 0.27.2 and fine. Hope this issue will be resolve soon.

[2022-10-15 13:05] Guiqft commented on #5026
This works for me:

[code]

ref: https://github.com/axios/axios/issues/5101#issuecomment-1276572468

[2022-10-15 15:25] ChronosMasterOfAllTime commented on #5107
@FlorisVeldhuizen this is merged, but not yet released

[2022-10-15 15:25] #5107 closed

[2022-10-15 15:26] kongebra commented on #5056
Still get this problem with version `1.1.3`

[2022-10-15 20:25] aderchox commented on #4269
These two are not the same things... HTTP `keep-alive` is a different thing from fetch() API's `keepalive` (no hyphens) which allows using fetch() as a replacement for Beacon requests (sendBeacon() method allowed only POST requests).

FetchAPI's keepalive has been documented [here](https://developer.mozilla.org/en-US/docs/Web/API/fetch#parameters):

This can be absolutely necessary in certain use-

[2022-10-15 20:33] LeandroLamaison commented on #5120
Not sure it's a bug. If you want to treat the error status codes the same as when the request is rejected, you could do it this way:

[code]

[2022-10-15 21:15] Umion commented on #4823
This solution worked for me
If you are using an emulator, change the ip address
from
`http://localhost:5000/api` to `http://10.0.2.2:5000/api`

[2022-10-16 01:39] KartikeSingh opened #5130 "`1.1.3` probably broken"
### Describe the bug

I think there are issues is exporting the axios object and also a issue when in get function when in the instance of Axios class.

### To Reproduce

Install
- Axios `V1.1.3`
- Node `v18.4.0`

### Code snippet

[code]

### Expected behavior

This code should have logged the data (html) from that url.
Mainly the issue is that default export is undefined.

### Axios Version

`>1

[2022-10-16 05:22] Pranavkakadiya commented on #4953
can you assign to me this issue?

[2022-10-16 06:47] mbpmohsen opened #5131 "Get Retry-After from response headers"
### Describe the issue

In my API error data I receive 429 status and Retry-After key in the Response Header content. But in object of response I can't see response header.

### Example Code

[code]

### Expected behavior

HTTP/1.1 429 Too Many Requests
Server: nginx/1.10.3 (Ubuntu)
Date: Sun, 16 Oct 2022 09:05:36 GMT
Content-Length: 0
Connection: keep-alive
Access-Control-Allow-Credentials: true

[2022-10-16 07:24] wly2014 commented on #4953
@Pranavkakadiya Sorry, I am not familiar with github and how to "assign" it to you. Thank you very much if you can solve it. 

[2022-10-16 07:56] sgammon commented on #1219
sorry guys i really did try to solve this at one point, in #2891.

i would be happy to finish it up and write some tests if the axios team could opine about how to publish it as an external package, or how to land it as a PR. (@jasonsaayman ?)

[2022-10-16 08:37] Pranavkakadiya commented on #4953
@wly2014
try this code
import requests
import hashlib
import time
import random

def md5(str):
     m = hashlib.md5()
     m.update(str.encode('utf-8'))
     return m.hexdigest()

def get_sign(word):
     lts = str(int(time.time() * 1000))
     salt = lts + str(random.randint(0, 9))
     sign = md5("fanyideskweb" + word + salt + "Y2FYu%TNSbMCxc3t2u^XT")
     return sign, salt, lts

def get_result(

[2022-10-16 08:38] Pranavkakadiya commented on #4953
![image](https://user-images.githubusercontent.com/62196998/196026410-29b5d773-3f02-463e-9784-da7e4d30e561.png)

[2022-10-16 08:57] jasonsaayman commented on #1219
@sgammon please do, just assign me, I will have a look and see if we could get the PR in

[2022-10-16 09:18] wly2014 commented on #4953
Thanks for your response. But what I want is how to make the `axios` get the same right result as `python`, so the problem is how to change the code of `axios`.

[2022-10-16 11:43] josephmusila commented on #5035
Thanks it really worked

[2022-10-16 15:20] josephh commented on #5072
Seeing similar with node.js ES6 modules, e.g.
[code]
### Behaviour
At runtime,
[code]
## Environment
Axios Version [1.1.2]
Node.js Version [16]

[2022-10-16 15:49] lucaswerkmeister opened #5133 "CHANGELOG.md missing versions >= 1.0.0"
### Section/Content To Improve

[CHANGELOG.md](https://github.com/axios/axios/blob/9bd53214f6339c3064d4faee91c223b35846f2dd/CHANGELOG.md), as of the current latest commit, only goes up to version 0.27.2 (April 27, 2022).

### Suggested Improvement

It’s missing 1.0.0, 1.1.0, 1.1.1, 1.1.2 and 1.1.3. Those versions have some documentation in the [releases](https://github.com/axios/axios/releases), t

[2022-10-16 15:58] lucaswerkmeister opened #5134 "Semver documentation still describes 1.0 as a future release"
### Section/Content To Improve

[README.md § Semver](https://github.com/axios/axios/blob/9bd53214f6339c3064d4faee91c223b35846f2dd/README.md#Semver):

https://axios-http.com/docs/notes has the same text (I don’t know if it’s built from `README.md` or from some other source).

### Suggested Improvement

axios has reached a `1.0` release, so this shouldn’t be written in the future tense anymore. With

[2022-10-16 16:00] lucaswerkmeister commented on #5133
Apparently there’s a new `CHANGELOG.md` on the `v1.x` branch? It’s missing all the pre-1.0 versions and has newest versions at the end instead of at the beginning, but at least it’s there… I still think this is a confusing situation, though. (I originally went to https://github.com/axios/axios/blob/master/CHANGELOG.md, which I’d visited before, and GitHub redirected me from `master` to `main`; I d