[2014-09-11 03:11] kentcdodds opened #1 "Abstract XHR to node's http"
So this can rock both frontend and backend :+1:

[2014-09-12 20:10] #1 closed, assigned to nobody

[2014-09-12 21:45] kentcdodds opened #2 "Support file uploads"
[As suggested](https://twitter.com/geddski/status/510537967190806529) by @geddski. See docs for superaget's api [here](http://visionmedia.github.io/superagent/#multipart-requests)

[2014-09-12 23:34] geddski opened #3 "http not posting data in node"
[code]

successfully posts but the request body is empty. Probably missing some headers, but setting Content-Type and Content-Length manually cause axios to hang for some reason.

[2014-09-14 04:18] mzabriskie opened #4 "Bundling with browserify/webpack"
Bundling for browsers includes `http` from node resulting in massive file size.

[2014-09-15 03:10] #4 closed, assigned to nobody

[2014-09-16 13:26] mzabriskie opened #7 "Promise doesn't support multiple args"
Cannot pass response, status, headers, and config to `resolve`/`reject` as a result. See #6

[2014-09-16 17:48] mzabriskie opened #8 "axios.all doesn't work"
[code]

[2014-09-16 17:51] #7 closed, assigned to nobody

[2014-09-16 17:53] #8 closed, assigned to nobody

[2014-09-17 00:27] mzabriskie opened #9 "Incorrect Content-Type header used"
When using `PATCH`, `POST`, or `PUT` if the content isn't JSON the `Content-Type` header is still sent as `application/json;charset=utf-8`.

[2014-09-17 00:29] #3 closed, assigned to nobody

[2014-09-19 16:10] bitinn opened #11 "Allow build without es6 promise polyfill"
Great stuff! This seem to be the only lib I found that actually use native es6 promise with proper responseType for xhr2.

One suggestion: we actually manage polyfills separately, would be great to have a build without polyfill bundled to save some bytes.

[2014-09-21 04:20] jimthedev opened #12 "SSL Support in Node"
Hi,

Awesome job on axios. One question I have is, is https compatibility in Node something that you would consider for this package? Currently, it looks like there is just an http adapter. Would you consider https and if so, would you consider a flag to ignore self signed ssl certs?

Thanks much!

[2014-09-21 22:57] #9 closed, assigned to nobody

[2014-09-22 17:18] #12 closed, assigned to nobody

[2014-09-22 17:57] mzabriskie opened #14 "Support interceptors"
See Angular's spec for reference https://docs.angularjs.org/api/ng/service/$http#interceptors

[2014-09-28 22:11] #11 closed, assigned to nobody

[2014-10-01 15:44] kentcdodds opened #16 "Support named results in .all"
Like [async's `parallel`](https://github.com/caolan/async#paralleltasks-callback). So it could go from this:

[code]

to this:

[code]

This makes adding new requests to `all` simpler because you don't have to keep track of the order of items. This is how I normally do stuff when I use `async`. Just thought I'd suggest it.

[2014-10-04 05:24] #16 closed, assigned to nobody

[2014-10-10 22:34] jergason opened #17 "node.js exits before request finishes"
I found this trying to reproduce a separate issue. It could also be because I'm doing something dumb.

[code]

If you run this in node v0.10.25 and axios v0.4.0, node will just exit immediately before calling either callback.

[2014-10-10 22:42] jergason opened #18 "unhandled 'error' event in node"
When making a request to a url that doesn't exist, axios crashes the server on an unhandled 'error' event.

[code]

It looks like the problem is no `req.on('error')` handler on https://github.com/mzabriskie/axios/blob/1d6430f667486ca9de390ccec242114b36c41377/lib/adapters/http.js#L80.

I'm not sure the best way to handle an error here though, since it doesn't fit the expected `{data, status, header

[2014-10-14 22:17] #17 closed, assigned to nobody

[2014-10-15 17:12] #18 closed, assigned to nobody

[2014-10-19 18:23] nickdima opened #19 "Async transforms"
What do you think about returning promises from transforms? I have a case where I need to perform some async operation in a transform.

[2014-10-19 20:45] nickdima opened #20 "Set response encoding"
I wanted to get a buffer out of some binary data from a GET request but I couldn't get it to work unless I put `res.setEncoding('binary')` inside `http.js`
Any suggestions?

[2014-10-21 07:33] #19 closed, assigned to nobody

[2014-11-05 20:39] OliverJAsh opened #23 "Deflate/gunzip"
It would be nice to see support for deflating/gunzipping requests. Have you thought about this?

[2014-11-06 09:56] OliverJAsh opened #24 "Reject with error"
It is good practice to reject promises with an error object because they have stack traces.

[When rejecting because of a bad status code](https://github.com/mzabriskie/axios/blob/d93df704a269d3cbf8f00bcd4b2b2489d5b74f49/lib/adapters/http.js#L73), I suggest rejecting with an error object, e.g. `BadStatusCodeError`. You could then attach the response object to the error object so it can be accessed

[2014-11-28 09:48] ane opened #26 "Lowercase PATCH verb sent in CORS preflight request result in a rejected method when the server responds with an uppercase PATCH allow-methods"
For cross-origin requests the browser usually sends a preflight OPTIONS request. This request usually asks "Can I use method POST for this resource?" among other questions, by specifying a `Access-Control-Request-Headers: POST`.

The server will then respond with `Access-Control-Allow-Methods: GET, POST` allowing the method.

With axios, sending a  patch request creates a `Access-Control-Request-H

[2014-12-08 13:58] torarnek opened #28 "Support "foo" as valid json"
As for
var JSON_START = /^\s*([|{[^{])/;
in defaults.js

I think "foo" is also a valid json, so I think you should include " in your JSON_START and JSON_STOP

[2014-12-08 14:05] #28 closed, assigned to nobody

[2014-12-08 19:28] #14 closed, assigned to nobody

[2014-12-09 05:42] xkxx opened #29 "Standalone build possibly broken"
Hello there,

I'm trying to use axios.standalone.js in Chrome 39 (which has built-in Promise) and have been getting the following error:

[code]

Which traces back to https://github.com/mzabriskie/axios/blob/master/dist/axios.standalone.js#L54, as follows:

[code]

However, `__webpack_require__(2)` is `undefined`, as https://github.com/mzabriskie/axios/blob/master/dist/axios.standalone.js#L161 sug

[2014-12-10 15:50] #26 closed, assigned to nobody

[2014-12-11 06:53] #29 closed, assigned to nobody

[2014-12-11 16:45] mzabriskie opened #31 "Add support for caching GET requests"
Will implement using https://github.com/mzabriskie/felix

[2015-01-02 21:10] jtmarmon commented on #24
+1 would love to be able to use this in tests

[2015-01-02 21:55] jtmarmon commented on #24
see #32

[2015-01-08 15:18] jimthedev commented on #2
This would be a fantastic feature. Since there is a polyfill already for fetch would it be a matter of adding a mapping for the property difference?

[2015-01-08 16:20] jtmarmon opened #33 "Don't throw an error on bad status code"
I saw issue #24 and promptly agreed, opening PR #32. However, after some more playing around with this lib, I realized that throwing an error on a non `200` status code doesn't make much sense to me. Shouldn't that validation be done on the consumer-side? I started using axios for tests and realized that it screws with those that need to verify some sort of validation (i.e. tests that expect non-`

[2015-01-08 16:50] jtmarmon commented on #33
Actually it appears this was my mistake of not understanding how promises work. Turns out you can `.catch` a promise and then manually handle errors in the catch callback.

[2015-01-08 16:50] #33 closed

[2015-01-12 10:53] bebraw opened #34 "Support finally?"
Would it be feasible to support `finally`? Ie.

[code]

It would get triggered in both then/catch cases and seems to be common in Promise implementations (handy for cleanup).

[2015-01-12 15:21] kentcdodds commented on #34
I found an npm module a few months ago which adds `finally` support to promises. I don't think this is the one, but it's the only one I found after a minute of searching: https://www.npmjs.com/package/promise.prototype.finally

[2015-01-12 15:21] kentcdodds commented on #34
well ok then @jmdobry :+1:

[2015-01-20 08:16] RobinBressan opened #36 "Use it with almond"
Hi,

I would like to be able to do a `require('axios')` with [almond](https://github.com/jrburke/almond). The file is correctly found but the result of the require is always `undefined` (even with `axios.amd` or `axios.standalone`). Do you have any insights on this?

Nice lib by the way!

Thanks

Robin

[2015-01-20 08:39] mzabriskie commented on #36
@RobinBressan I'm not familiar with `almond`. I'll have to do some research to see what's going on.

[2015-01-20 08:43] RobinBressan commented on #36
Hi, thanks for your quick response! It is a light requirejs which aims to replace requirejs after the optimization process to get a lib working without a requirejs dependency.

[2015-01-22 13:00] RobinBressan commented on #36
I switched to browserify and it works.

[2015-01-22 18:11] mzabriskie commented on #36
@RobinBressan sounds good. I would recommend using CommonJS with webpack, or browserify, over AMD anyway.

[2015-01-22 18:11] #36 closed

[2015-01-22 18:41] mzabriskie commented on #34
I'm reluctant to implement this. The ES6 Promise spec doesn't support `finally`, and I want to be able to drop the polyfill when browsers have native support.

If you feel strongly, or if I'm missing something, please present your argument.

[2015-01-22 18:55] kentcdodds commented on #34
:clap:

[2015-01-22 19:14] bebraw commented on #34
Doesn't that effectively mean that if you want to add `finally` to axios, then all you need to do it is to shim `es6-promise` with the aforementioned library? Ie. you would do:

[code]

If so, it's probably better leave it out of the core library and just document that this is possible. That way you don't bloat the current implementation while keeping options open for people that might want the fe

[2015-01-22 19:59] mzabriskie commented on #34
@bebraw yes exactly. The `es6-promise` polyfill uses the native `Promise` if it exists. In either case the `finally` shim will work as you indicated. Let's leave it out of axios and let others add it to their own project if they desire.

I am working on axios today. I can add some documentation about this to the `README`.

[2015-01-22 19:59] #34 closed

[2015-01-23 06:39] mzabriskie commented on #20
@nickdima sorry I've totally neglected your issue. Yes, please submit a PR.

[2015-01-24 20:27] nnarhinen commented on #20
Also loosely related, `responseType: 'arraybuffer'` does not work in the browser because `responseText` property is not readable in such responses. Has to be read from `response` instead.

![image](https://cloud.githubusercontent.com/assets/265438/5888884/3b353b70-a418-11e4-86f9-4fc95f91a4d9.png)

[2015-01-25 12:04] nnarhinen commented on #2
After #22 file uploads using FormData should work just fine. There's an usage example in the PR.

[2015-01-25 15:48] jimthedev commented on #2
@nnarhinen Thanks. I'll give it a shot.

[2015-01-25 16:00] jimthedev commented on #23
Looks like http://nodeca.github.io/pako/ does exactly this. Perhaps it would be worth figuring out if the two can work together so as to keep as much as possible outside of axios core.

[2015-01-25 21:12] mzabriskie commented on #2
@nnarhinen @jimthedev #22 takes care of XHR file upload, but still need to handle file upload for node.js

[2015-01-25 21:13] mzabriskie commented on #23
@jimthedev thanks for the tip. I'll take a look at it.

[2015-01-25 21:21] mzabriskie commented on #23
@jimthedev @OliverJAsh I think I would recommend keeping this functionality out of axios. I want to keep the bloat down as much as possible from the core. Minified pako is 44k vs axios minified is 15k. Should be able to easily create an interceptor to inflate/deflate requests as needed.

[2015-01-25 21:45] jimthedev commented on #23
Sounds good.

On Sun, Jan 25, 2015 at 3:21 PM, Matt Zabriskie <notifications@github.com>
wrote:

[2015-01-26 06:35] nnarhinen commented on #2
@mzabriskie oh yes, that is true

[2015-01-27 14:52] vkurchatkin opened #38 "corrupted multibyte characters in node"
Multibyte characters on chunk boundaries get corrupted.

[2015-01-27 21:38] mzabriskie commented on #38
@vkurchatkin Would you mind providing example code so that I know how to reproduce this?

[2015-01-28 05:11] vkurchatkin commented on #38
Here it is

[code]

I'm not sure that this test is 100% reliable (or that a 100% reliable test of this exists at all)

[2015-01-28 05:29] mzabriskie commented on #38
Thanks. I'll give this a look.

[2015-01-28 05:36] vkurchatkin commented on #38
Here is a quick fix:

[code]

[2015-01-28 11:05] sorenbs commented on #20
Looking forward to this. My use case is websites that don't properly specify encoding in headers, but do specify it in a meta tag. So I need to parse as utf-8 first, and then possibly re-parse as different content type.

[2015-01-28 11:09] nickdima commented on #20
Sorry guys, I haven't use axios lately so I wont be able to work on that PR at this point. Maybe someone else could give it a try.

[2015-01-28 16:45] aaronshaf opened #39 "route-specific interceptors"
Perhaps there is already a way to do this. It would be nice to be able to do route-specific interceptors in a express-familiar style, such as:

[code]

This is relevant to me lately since I want to put a client-only caching layer in front of my isomorphic controllers in a React app.

[2015-01-28 17:38] jmdobry commented on #39
Right now the only way to do this would be to have an interceptor that inspects the route in the `config` argument and then decides what to do/whether to do anything.

[2015-01-28 18:48] aaronshaf opened #40 "Example of mocking response with interceptor"
I would like to intercept a request and then pre-emptively resolve with a response (compare https://github.com/trek/pretender). Is there an example of this being done elsewhere?

[2015-01-28 22:16] aaronshaf commented on #40
From what I can tell, this isn't possible with the current version of axios.

[2015-02-03 04:05] mzabriskie commented on #40
Is this to accommodate a test scenario?

[2015-02-03 04:06] mzabriskie commented on #39
@jmdobry is right, you would have to add a generic interceptor, then check `config.url` to see if it matches what you are looking for.

If you are just doing this for caching, I have caching on the roadmap for axios. Should be ready soon.

[2015-02-03 04:15] mzabriskie commented on #38
@vkurchatkin thank you for your diff. I will apply this and write some tests around it.

[2015-02-03 04:58] aaronshaf commented on #40
Yes, that and caching

On Mon, Feb 2, 2015 at 9:05 PM, Matt Zabriskie <notifications@github.com>
wrote:

[2015-02-03 05:04] #38 closed

[2015-02-03 18:52] aaronshaf opened #41 "Don't throw error / catch on 400-level responses"
Instead, limit the error/catch to 500-level errors. 400-level responses can be completely valid, expected, desired, etc.

I have been following this pattern with my [bunyan](https://github.com/trentm/node-bunyan) logging -- logging 400-level responses as warnings, and 500-level responses as errors. The idea is that a successful `npm test` (which may expect 400-level responses) should show zero log

[2015-02-03 20:52] mzabriskie commented on #41
It's hard to make a change like this at this point. Where people expect it to catch on anything outside of the 2xx range. In retrospect, if the request was made, and a response received I would have preferred it to be considered a success. This would be a much less opinionated implementation, and much better IMO. I think the way to handle this now would be to pass a config option that specifies wh

[2015-02-12 11:33] ivan-kleshnin opened #42 "Provide .done() or other method to throw Exception out of chain"
Consider this code:

[code]

So **axios** (actually ES6 Promise engine) swallows app errors (which I want to bubble up and crash everything, as it's not runtime error).

http://bahmutov.calepin.co/why-promises-need-to-be-done.html

But looks like `done` still is not a part of spec and "ugly workaround" is required. Some authors insist on deprecating `done` at all.

http://stackoverflow.com/questio

[2015-02-16 13:51] epeli opened #43 "Cannot run specs: ReferenceError: Can't find variable: getJasmineRequireObj"
Finally got time to work on #21

but I'm unable to run specs. I get following error on the current master (7efc095582b51ef5e513b4076cb504ce35cefd68):

[code]

I'm on 64bit Ubuntu Trusty. Any ideas what I'm missing?

[2015-02-17 06:08] mzabriskie commented on #42
I am really frustrated with ES6 Promises. I was unfortunately unaware of the error swallowing behavior when I first started with axios, and thought that building on standardized, native Promises was the right thing. I am questioning that decision now.

I have thought a lot about what should be done, and have ultimately concluded that axios itself won't do anything to try and solve the problem. Ins

[2015-02-17 07:06] mzabriskie commented on #43
After a bit of poking around, it looks like a problem with the version of Jasmine that's being used. I will update the version being depended upon.

[2015-02-17 08:27] mzabriskie commented on #43
I've pushed the upgrade of Jasmine to master.

[2015-02-17 08:27] #43 closed

[2015-02-17 08:28] #23 closed

[2015-02-17 09:00] ivan-kleshnin commented on #42
@mzabriskie, thanks!
I actually agree with you and made the same choice of polyfilling.

[2015-02-17 09:00] #42 closed

[2015-02-17 16:12] mik01aj commented on #41
@mzabriskie +1

[2015-02-24 08:12] torarnek opened #44 "Configure the promise implementation"
I wish to provide my own Promise implementation (core-js), so I do not want browserify do bundle the es6-promise module. Is there a simple way to configure axios not to require this module?

[code]

[2015-02-24 12:43] torarnek commented on #44
One possible approach could be something similar to:
https://github.com/spoike/refluxjs#switching-promise-library

[2015-02-26 12:27] hoppula commented on #44
+1 for possibility to switch promise implementation, using native-promise-only in many projects, this would reduce the bundle size.

[2015-03-02 20:58] pstoica commented on #44
In webpack or browserify, alias the package to:

`axios/dist/axios.standalone.js`

It will be prebuilt, but it won't require a separate promise. `Promise` must be defined globally.

[2015-03-02 21:02] pstoica commented on #44
Oops, just tried it and the standalone build still assumes Promise.polyfill exists.

[2015-03-02 21:11] mzabriskie commented on #44
@torarnek why do you want to use your own Promise lib? The idea behind using `es6-promise` is that since it's just a poyfill, I can drop the dependency in the future once all browsers support it natively. In the mean time any browser that already supports native Promises will use the native implementation.

[2015-03-02 21:13] mzabriskie commented on #44
@hoppula axios is already using native Promise if it exists. If you're just trying to reduce the bytes, you can use `dist/axios.standalone.js` which doesn't bundle Promise.

[2015-03-02 21:14] pstoica commented on #44
I'm using babel and its runtime. Calls to Promise are swapped with babel-core's Promise. So I already have something taking care of polyfilling.

[2015-03-02 21:14] mzabriskie commented on #44
@pstoica sounds like a bug.

[2015-03-02 21:28] pstoica commented on #44
Sounds good. How about making a `__STANDALONE__` flag with DefinePlugin to remove that?

[2015-03-03 04:03] kentor commented on #44
Would also be interested in this. I'm using browserify and would like to use bluebird as the promise implementation for axios since it supports `finally`.

[2015-03-04 06:19] luin commented on #2
really looking forward to the support for uploading file in node.js. any updates?

[2015-03-04 13:43] ohardy opened #45 "Uncaught TypeError: 'caller', 'callee', and 'arguments' properties may not be accessed on strict mode functions or the arguments objects for calls to them"
in https://github.com/mzabriskie/axios/blob/master/lib/utils.js#L148

[code]

when using webpack bundle in strict mode that contains axios.standalone.js (i use bluebird Promise)

[2015-03-05 14:31] marcelbuesing opened #46 "Provide access to the response's statusText"
As far I can see it is currently only possible to access the status code.
It would be great if it would be possible to also access the statusText especially when the request fails.

[2015-03-06 14:04] dev-tim commented on #45
:+1:

[2015-03-10 20:30] mzabriskie opened #47 "Standalone build errors trying to call polyfill"

[2015-03-10 20:30] #45 closed

[2015-03-10 20:30] #47 closed

[2015-03-10 20:47] mzabriskie commented on #47
Fixed with 0.5.1

[2015-03-10 20:47] mzabriskie commented on #45
Fixed with 0.5.1

[2015-03-11 02:08] nicholasrobinson opened #48 "NodeJS - Cookie Jar Support"
axios running on NodeJS does not provide Cookie jar support natively. Ideally the library would either provide built in cookie jar functionality or easily accommodate existing cookie jar libraries.

The Request API could be modified to support the following options:

[code]

or

[code]

where

[code]

Note:
Trivial cookie support using tough-cookie can be added by leveraging interceptors:

[code]

[2015-03-12 04:11] mzabriskie commented on #44
@pstoica standalone build is fixed with 0.5.1

[2015-03-12 21:55] pstoica commented on #44
Great, thanks so much! Seems like this can be closed now?

[2015-03-13 06:29] kentor commented on #44
I'm using browserify. `require('axios/dist/axios.standalone')` just returns an empty object?

[2015-03-13 17:10] mzabriskie commented on #44
@kentor the files under `dist/` are meant for either global `<script src="axios/dist/axios.js"></script>` or for use with AMD `require(['axios'], function (axios) {});`.

For CJS there currently isn't an option, which is where I think this issue is stemming from.

If you want bluebird just to use `finally` I would recommend looking at this [recipe](https://github.com/mzabriskie/axios/blob/master/C

[2015-03-13 17:46] pstoica commented on #44
It sounds like browserify is picking up the file fine. Wouldn't one UMD build fix all these issues?

[2015-03-13 18:12] hoppula commented on #44
Thanks @mzabriskie, standalone build works great with browserify after the fix.
@kentor you should just `require('axios')` and then in your `package.json`:
[code]

[2015-03-13 19:55] mzabriskie commented on #48
@nicholasrobinson you say that using interceptors provides "trivial cookie support". What is missing for full support?

[2015-03-13 20:40] kentor commented on #44
@hoppula that work for you? I tried it and it's the same, I just get a `{}`. I think specifying an alias in the browser field is basically the same as explicitly calling `require('axios/dist/axios.standalone.js')`.

@mzabriskie thanks that recipe does work indeed. Though, I guess I will need to use the same promise implementation as the one in axios in other places in my code if I want to save byt

[2015-03-13 20:42] pstoica commented on #44
You're getting an empty object because nothing is being exported yet. One UMD build will give you either AMD, CommonJS, or a global. It also means you wouldn't have to specify AMD/etc in the filename.

[2015-03-13 21:07] nicholasrobinson commented on #48
I would imagine that "full" cookie jar support would:
- respect cookie deletion headers in server response
- respect cookie expiration
- maybe more..?

As for cases where you wouldn't want cookie support:
- Unit testing of http endpoints?
- Deliberately ignoring cookie headers?

IMO there should be a flag to disable cookie jar support. More generally speaking though it is useful to be able to emul

[2015-03-13 23:07] #46 closed

[2015-03-13 23:35] mzabriskie commented on #46
Available in 0.5.2

[2015-03-18 13:46] nathanharper opened #50 "No Clear way to abort XmlHttpRequest"
Is there a simple way to expose the XHR object so that it can be aborted, or is this better off being handled somehow in a response interceptor?

[2015-03-18 15:08] mzabriskie commented on #50
This is a common problem with using Promises. There is no way to return the XHR object from `axios` since the Promise is already being returned. I have had a lot of requests for this behavior though, and have given it a lot of thought. I actually had an idea last night that I want to play with. I will let you know if it pans out.

[2015-03-18 15:48] mzabriskie commented on #50
If you're interested in seeing my proposal, I have it in a Gist https://gist.github.com/mzabriskie/ec3a25dd45dfa0de92c2

[2015-03-18 23:04] nelix opened #51 "ES6-Promise"
If I am building with Babel, will the polyfill still get included?

[2015-03-19 03:06] nelix commented on #51
I mean because I use babel I'd rather let it provide the promise polyfill

[2015-03-19 06:09] mzabriskie commented on #44
I have reworked the bundling to be UMD compatible. While this will allow requiring `dist/axios.standalone.js` using CJS I have a couple reservations about moving forward with this.

1. UMD falls apart under specific conditions. Let's assume we're working in a legacy system, where everything is dumped onto global. In an effort to clean things up we introduce requirejs and start pulling in dependenc

[2015-03-19 16:13] mzabriskie commented on #51
See conversation happening at #44

[2015-03-19 16:13] #51 closed

[2015-03-19 16:39] mzabriskie commented on #2
Just a status update. I've looked into supporting file uploads with node.js. While it's not technically challenging, I'm trying to come up with a consistent API between node.js and the browser. While the browser uses `FormData`, node.js uses a `Stream`. For axios to be truly isomorphic it should allow using the same code in both environments.

[2015-03-19 18:22] jimthedev commented on #2
Makes sense. It doesn't seem like there is any single standards-based or deprecated-standards based API for this, but there is [flow.js](https://github.com/flowjs/flow.js) (a fork of resumeablejs) which might provide at least a proven, successful API as a model. Although it looks primarily browser based, they seem to have a [Node example](https://github.com/flowjs/flow.js/blob/master/samples/Node.

[2015-03-19 19:21] nelix commented on #44
Can you not just not require es6-promise (by default instead of in the global build) and add something to the readme telling the consumer to use babel or es6-promise?

[2015-03-20 16:51] mzabriskie commented on #44
@nelix that would be preferable in a lot of ways. We could switch es6-promise to be a peerDependency, then it's readily available if needed.

Anyone else have any opinions on this? It would not be backward compatible, which I'm okay with. This could be communicated with an upgrade guide. The biggest factor is just pushing off the Promise dependency management to the developer consuming axios. At t

[2015-03-20 18:50] pstoica commented on #44
Yeah, I think at this point it'd be better to ask people to responsibly manage their own Promise/ES6 polyfills. I think people would be using Promises in general if they decided to use axios.

[2015-03-28 21:07] dev-tim commented on #45
:+1:

[2015-03-30 23:49] braco opened #53 "FormData() with 'Content-Type': 'multipart/form-data'?"
Trying to send an image across the network. Can't figure out what isn't working.
Headers:
[code]
Content is a FormData Blob object:
[code]
using the request API with
[code]

Data seems to get swallowed up and not sent by axios. Body reported by chrome as {}.

This was working with the 'rest' package before I switched over.

Any idea what might be going wrong?

[2015-04-02 01:06] ericclemmons commented on #31
Heh, I was just looking into this!  I thought that an interceptor could be used or a transformer that'll immediately resolve with a response, but no such luck yet.

Felix looks interesting for sure...

[2015-04-08 00:42] mzabriskie commented on #53
Sounds like a bug. I will have to investigate.

[2015-04-08 01:22] mzabriskie commented on #40
With version 0.6.0 you will be able to specify a custom adapter, which facilitates testing. There will also be built in caching of GET requests.

There's also this neat lib that is inspired by pretender that you could use https://github.com/aaronshaf/xhr-interceptor :)

[2015-04-08 01:22] #40 closed

[2015-04-08 02:51] mzabriskie opened #55 "Blindly use JSON.parse when transforming response data"
Perf isn't that much better using RegExp before hand to determine if String is JSON. This also causes problems b/c YAML can look like JSON in some cases, but throws an Exception when attempting to parse. If using try/catch is needed for the second case anyway, just abandon the RegExp all together.

Benchmarks: https://gist.github.com/mzabriskie/fe85e6ea69b5049d17dd

[2015-04-08 02:54] #55 closed

[2015-04-08 11:03] chrismcv opened #56 "Timeout configuration?"
hi,
I was wondering if there is a way to configure the default timeout for axios requests?

thanks,
chris

[2015-04-08 14:31] mzabriskie commented on #56
Currently no option for this. But it would be a good feature.

[2015-04-08 18:46] #53 closed

[2015-04-08 18:50] mzabriskie commented on #53
This should be fixed with 0.5.4

[2015-04-08 20:06] mzabriskie opened #57 "Remove deprecated success/error aliases"

[2015-04-09 21:15] #57 closed

[2015-04-11 23:56] braco opened #58 "ReferenceError: navigator is not defined"
Getting this error in node after updating.

Seems to be loading xhr and barfing on this:
[code]

[2015-04-12 00:13] tony-kerz opened #59 "question: having problem posting object"
i have (coffeescript) code like this running in a browser:
[code]
and server side code like this running in a gulp task:
[code]
the log message with the `<-------` shows that body is empty like `{}`

but when using the following jquery code in the browser, the body is as expected:
[code]

i'm sure i'm being a dunce, but any guidance as to what i might do to get the desired effect with axios?

rega

[2015-04-12 04:08] mzabriskie commented on #58
What version did you update to/from? Also what does your require statement look like?

[2015-04-12 04:25] mzabriskie commented on #59
What version are you using?

[2015-04-12 17:31] tony-kerz commented on #59
`      "axios": "~0.5.4"`

a little more info:

axios:
![screen shot 2015-04-12 at 9 32 35 am](https://cloud.githubusercontent.com/assets/1223231/7106697/1d87ab52-e118-11e4-930d-903fea0d4c6d.png)

jquery:
![screen shot 2015-04-12 at 9 33 31 am](https://cloud.githubusercontent.com/assets/1223231/7106698/24f8aeea-e118-11e4-84c7-968b44fff175.png)

[2015-04-12 22:10] mzabriskie commented on #59
So it looks like the payload is being sent, but the `Accept`, and `Content-Type` headers are different. Is your server ignoring the body since it's expecting a different header value?

[2015-04-13 23:06] srph opened #60 "Question: Getting the headers for tests"
I feel like this is out of topic, though. Anyway --

I'm implementing JWT with Axios, and would like to send the `Authorization` **Header** through the interceptor. Question, how do I test with Sinon that I am able to send the said header? Which do I spy? Thanks.

**Edit**: I just checked the API, and the headers doesn't seem to be covered in the interceptors. In the [**Interceptors** example](htt

[2015-04-14 02:56] mzabriskie commented on #60
This is an example using sinon and jasmine:

[code]

[2015-04-14 02:59] mzabriskie commented on #60
Just noticed your edit. Yes, `config` is the equivalent of the request API. It is exactly what you passed into the second argument: `axios.get('/some/url', { ... });`, but with some additions such as defaults, etc.

[2015-04-14 03:30] srph commented on #60
I see, thanks! Great work, sir :+1:

[2015-04-14 03:30] #60 closed

[2015-04-14 04:34] srph commented on #60
Ah, last question -- should I stub out axios? Thanks

[2015-04-14 04:43] srph commented on #60
Ah, nevermind! I just realized that you were using `setTimeout` in your examples. Thanks, again.

[2015-04-14 22:06] mzabriskie commented on #60
I should probably also mention, that you don't have to use an interceptor for modifying headers. You can use a transformer as well.

[code]

Or if you want to use the transformer on every request, not just a single request:

[code]

[2015-04-14 22:48] srph commented on #60
I see, thanks a bunch!

[2015-04-15 01:10] mzabriskie opened #61 "How to handle error from JSON.parse"
The `transformRequest` method attempts to parse JSON, but swallows any error in an empty `catch` statement. This results in the stringified form of the response body to be returned should the JSON be malformed, and supplied to the response object that is used to resolve the `Promise`.

Without the try/catch a global error would occur. With the try/catch the code handling the response will error, b

[2015-04-15 01:19] mzabriskie commented on #58
@braco ping

[2015-04-15 17:12] srph opened #62 "Babel with Axios"
Hi, I'm using Webpack to build our scripts. We are also using Babel's polyfill (browser polyfill). While building the scripts in Ubuntu Server 14.04, I encounter this:

[code]

[2015-04-16 03:12] srph commented on #62
Fixed by https://github.com/webpack/webpack/issues/353

[2015-04-16 03:12] #62 closed

[2015-04-17 00:47] kentor commented on #44
I'm :+1: on removing the promise from the library. I would even go as far as not specifying it as a peerDependency. I'm with facebook's on this one:

https://facebook.github.io/react/docs/working-with-the-browser.html#browser-support-and-polyfills

[2015-04-17 12:59] WillsB3 commented on #56
+1 for this feature.

[2015-04-17 19:06] 0xR opened #63 "X-Requested-With request header messes up CORS"
It looks like I'm having the same issues as here:
https://github.com/deployd/deployd/issues/126

I can't do a cross origin XHR because the X-Requested-With header is set. But I can't disable it.

[2015-04-18 10:15] 0xR commented on #63
Apparently I don't understand CORS,  so probably no issue with Axios

[2015-04-18 10:15] #63 closed

[2015-04-20 08:54] srph opened #64 "Getting the XHR instance"
Hmm, I'm currently implementing a progress bar with `xhr.upload`. I just checked the docs, but I couldn't squeeze out any info at all. Is the instance exposed with the latest versions?

[2015-04-20 22:36] flogball00 opened #65 "posting with formdata not working"
tried doing something like
[code]
this returned an error from the server saying that there was no file sent. But...

vs jquery which worked and the file uploaded successfully.

[code]

[2015-04-21 08:20] srph commented on #65
Can you put "not working" into detail?

[2015-04-21 14:42] tomatau commented on #44
+1 to remove polyfills from library.

[2015-04-28 02:29] DelvarWorld commented on #44
Please make axios use standard `finally` :)

[2015-04-29 15:32] mzabriskie commented on #64
It is not currently possible to access the XHR instance.

[2015-04-29 15:33] mzabriskie commented on #59
@tony-kerz ping

[2015-04-29 15:34] mzabriskie commented on #58
Closing due to lack of response. If you have any further trouble feel free to re-open.

[2015-04-29 15:34] #58 closed

[2015-04-29 19:26] tony-kerz commented on #59
hey @mzabriskie, sorry to leave you hangin, got distracted, but put in a few cycles just now, and we can safely chalk this up to operator-error. the following setup worked for the [gulp based server](https://github.com/schickling/gulp-webserver) and [body-parser middleware](https://github.com/expressjs/body-parser):

[code]

i originally tried `bodyParser.json` instead of `bodyParser.json()` which

[2015-04-29 19:26] #59 closed

[2015-04-29 19:53] mzabriskie commented on #59
Glad you got it figured out 👍

[2015-04-30 12:11] chrismcv commented on #56
FYI - I'm doing it like this presently as a workaround

[code]

`timeout(10, axios.get(url)).catch globalErrorHandler`

[2015-05-04 19:52] zackify opened #66 "Catching errors from other things"
The .catch from one ajax call is catching errors completely unrelated. One time I had required a file that did not exist, and it was being caught inside a module that I was making an ajax request in using axios. Promises seem to be messed up.

[2015-05-05 05:17] ustccjw opened #67 "Content-Type: application/x-www-form-urlencoded can be supported?"
It seems that application/x-www-form-urlencoded can not be supported.
when i set Content-Type, it also use JSON.stringify(data)

[2015-05-05 07:00] #67 closed

[2015-05-05 13:12] jakubholynet opened #68 "Node: Support for http(s) options such as agent?"
I can only access network through an http proxy. This is supported by node's `http`/`https` via [http(s)-proxy-agent](https://www.npmjs.com/package/https-proxy-agent) - I just need to add its instance as "agent" in the options passed to `http(s)`. If I understand correctly, Axios does not make this possible. Is that correcty? Or is there a way to pass options to the underlying http(s) call?

Thank

[2015-05-05 14:08] jakubholynet commented on #68
Ok, so I have found out that I can use [global-tunnel](https://www.npmjs.com/package/global-tunnel) and likely also `http(s)-proxy-agent` if I manually set `http(s).globalAgent` to set the proxy for all http(s) calls (unless they specify their own agent). Perhaps it would be worth mentioning this in the docs? Thanks!

[2015-05-05 18:40] terinjokes opened #69 "User-Agent overriden in Node"
When using axios in NodeJS, a custom set User-Agent would be overriden by Axios's default, instead of being applied if a User-Agent isn't already set.

https://github.com/mzabriskie/axios/blob/1629a026da17a1e1d8999a02f3fe6b6b60aaac9c/lib/adapters/http.js#L28-L29

[2015-05-06 14:33] SamyPesse opened #70 "Use in webworker"
Since `document` is not accessible in webworkers, Axios can't be used.

Is it possible to handle webworkers ?

[2015-05-06 16:37] iam4x opened #71 "Response headers?"
Hey,

I can't retrieve all the response headers, it gives me only:

[code]

[2015-05-06 16:49] iam4x commented on #71
My bad, you need to set `Access-Control-Expose-Headers` if you use CORS.

[2015-05-06 16:49] #71 closed

[2015-05-19 14:13] pirelenito opened #72 "Adds support for more complex params through qs"
Is there any interest in adding this support though https://www.npmjs.com/package/qs ?

Something like:

[code]

Would become the following querystring: `?foo[bar][baz]=foobarbaz`

[2015-05-27 20:23] webbushka opened #73 "GET requests with multi-value form fields"
When making a GET request like this:

[code]
The url becomes:

`/api?aggregate=count&column_names=activity_amount&column_names=cash_earned&start_date=2015-02-26&end_date=2015-05-27`

I'm not sure how most APIs expect multi-value items on a GET request but the API that I use needs it to look like this:

`/api?aggregate=count&column_names[]=activity_amount&column_names[]=cash_earned&start_date=2015-

[2015-05-28 08:05] Nicolab commented on #66
Here also. Axios catch an Exception generated by a Chrome extension

[2015-05-28 10:57] zackify commented on #66
Glad I'm not the only one, I don't get how more people aren't seeing this.

[2015-05-28 12:42] Nicolab commented on #66
May be because an exception is thrown into the `then()` method.
In my case in the then() method I have an events dispatcher and the Chrome extension explain the Flow.

[2015-06-01 19:25] webbushka commented on #73
duplicates #49

[2015-06-01 19:25] #73 closed

[2015-06-05 16:43] Nicolab commented on #66
Hmm, Axios even catch exceptions thrown out of the method `then()`.

[2015-06-09 05:17] DelvarWorld commented on #41
I'm confused. Does axios fail the promise on 4xx? This thread makes it sound like it DOES, but in my code i'm getting a resovled promise on status 4xx. It doesn't appear to be documented.

[2015-06-09 22:55] NervosaX commented on #44
+1 for allowing me to change the promise library.

[2015-06-11 13:10] aaronagray opened #75 "jsonp"
Hi there, is there a simple way (or plans) to use Axios with jsonp?

[2015-06-14 20:54] samzhao opened #76 "Spread for catch?"
Hi,

First of all, thanks for the awesome library with such an intuitive API :)

I'm trying to send multiple requests at the same time with the `axios.all` helper. It works quite seamless, but when I try to catch server errors like this

[code]

The `err` only contains the errors of the last request in the request pool.

I learned that you can use `axios.spread` in the `then` callback, so I was wo

[2015-06-15 13:29] ascrazy commented on #44
:+1: on removing es6-promise from the library.

[2015-06-19 00:33] mzabriskie commented on #75
I have decided not to support JSONP as part of axios. You can see the conversation here #15. Also take a look at [this recipe](https://github.com/mzabriskie/axios/blob/master/COOKBOOK.md#jsonp) as an alternative.

[2015-06-19 00:33] #75 closed

[2015-06-19 00:34] mzabriskie commented on #76
This is a good idea, and should be supported. Thanks for "catching" this :)

[2015-06-19 00:39] mzabriskie commented on #72
I would be more apt to support passing a string directly for `params`, then you can use whatever you like to build the query string yourself. I am trying to keep the library as minimalist as possible, but make it extensible to handle cases like this.

[2015-06-19 00:40] mzabriskie commented on #70
I would have to look to see where `document` is being used. But I think this could be accomplished.

[2015-06-19 00:42] pirelenito commented on #72
Although I would appreciate this feature to be available in the library itself, I understand and support your reasoning.

Thanks.

[2015-06-19 00:43] mzabriskie commented on #66
This is definitely not expected behavior. For those experiencing this, can you please provide a gist, or some example how to reproduce? Thanks.

[2015-06-19 00:44] mzabriskie commented on #65
@flogball00 are you still having this problem?

[2015-06-19 01:45] flogball00 commented on #65
Yep,  both axios and superagent were not able to transmit the filename.  When i looked at the request payload, i would get something like "Content-Disposition: form-data; name="File1"; filename=""

[2015-06-19 02:44] mzabriskie commented on #65
Odd. I'll have to look into jQuery's source, and see what's different.

[2015-06-19 02:53] aaronagray commented on #75
Awesome. Thanks for the note! I didn't see the cookbook before. Thanks for sharing.

[2015-06-19 03:14] mzabriskie commented on #70
Looks like `document` is being used in two places:

- lib/helpers/cookies.js
- lib/helpers/urlIsSameOrigin.js

Would need to find a way to make things work in the case where `document` doesn't exist.

[2015-06-19 03:19] #69 closed

[2015-06-19 04:18] mzabriskie commented on #56
This will be available when 0.6.0 is released.

[2015-06-19 04:18] #56 closed

[2015-06-19 04:54] mzabriskie commented on #44
Once 0.6.0 has been released you will need to provide your own promise implementation.

[2015-06-19 04:54] #44 closed

[2015-06-20 11:58] WillsB3 commented on #56
:+1:

[2015-06-22 04:18] tylermcginnis opened #77 "Cannot resolve module 'jsx-loader' error after version 0.4.2"
Axios version 0.4.2 and under work fine but when I upgrade to 5.0 or anything higher than that I'm getting this error whenever I try to require axios.
[code]

I have a very simple webpack config file
[code]

I'm confident the error gets thrown when I try to `require('axios')`. I'm not confident this is an axios issue.

[2015-06-22 17:23] mzabriskie commented on #77
Between 0.4.2 and 0.5.0 I made some changes to axios' webpack config, but I don't see how that would affect your build. I am using axios with webpack on this [repo](https://github.com/mzabriskie/react-example), and not seeing any problems. Have you tried using `babel-loader` instead of `jsx-loader`?

[2015-06-22 19:56] tylermcginnis commented on #77
`babel-loader` works. Not sure what's up with `jsx-loader`. Thanks for the suggestion (and for Axios!).

[2015-06-22 20:59] laander opened #78 "Support for basic authentication on XMLHttpRequest.open() ?"
As far as I can see, Axios doesn't support easy basic authentication headers in XMLHttpRequest ([xhr.js L37]( https://github.com/mzabriskie/axios/blob/1629a026da17a1e1d8999a02f3fe6b6b60aaac9c/lib/adapters/xhr.js#L37)). The [open()](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest#open()) method on XMLHttpRequest can take a username and password as the 4th and 5th argument, which is

[2015-06-22 21:10] alexey-sh opened #79 "navigator not defined"
When used nw.js wrote in console

[code]

[2015-06-23 22:30] paulwehner opened #80 "Is it possible to cancel axios requests?"
I'm building something similar to search lookahead, and with each change event to a text input I want to fire off a new set of axios get requests. When the change event occurs, I need to cancel all uncompleted axios requests from the last change event (as they will no longer be needed)... and fire of a new set of axios requests. Is this possible?

[2015-06-23 23:10] paulwehner commented on #50
Has this proposal been implemented?

[2015-06-23 23:11] paulwehner commented on #80
I just saw this: https://github.com/mzabriskie/axios/issues/50. Hopefully this will be implemented soon!

[2015-06-23 23:25] mzabriskie commented on #80
@paulwehner I was actually working on this over the weekend. Should hopefully have something soon.

[2015-06-23 23:25] #77 closed

[2015-06-23 23:27] mzabriskie commented on #78
@laander there is no reason for lack of support. Sounds like something worth looking into.

[2015-06-24 06:34] paulwehner commented on #80
Awesome. Thanks for responding.

[2015-06-26 17:35] maximilianschmitt opened #81 "Follow redirects"
Hi, I love axios but is there a way to automatically follow redirects? This might be quite easily achievable on the server-side with this module: https://github.com/olalonde/follow-redirects

Any chance this could get implemented?

Best,
Max

[2015-06-26 19:46] laander commented on #58
I'm having a related problem. When using axios in a library and bundling it together in my dist, I'm getting an error when resolving `vertx` in es6-promise:
[code]
I'm using webpack myself for bundling and for debugging, I've tried ignoring `vertx` in my build:
[code]
This removes the above error, but instead i get:
`[ReferenceError: navigator is not defined]`

Using Axios v 0.5.4

[2015-06-26 20:16] laander commented on #79
Related https://github.com/mzabriskie/axios/issues/58

IMO, it seems that the correct context isn't read (browser vs. server) and the code assumes that its in browser context, thus using the xhr adapter that checks for `navigator`. Could it be somerthing to do with https://github.com/mzabriskie/axios/blob/master/package.json#L58 ?

[2015-06-26 20:18] laander commented on #58
On a second revision, I dont think the `vertx` "problem" is related to this one. It just simply happened to be the first error thrown and therefore only one shown.

[2015-06-26 21:05] laander commented on #79
Digging a bit deeper, it seems that the webpack build points to the the same adapter file for both browser (window !== undefined) and server (process !== undefined) - `__webpack_require__(8)` which is lib/adapters/xhr.js

See https://github.com/mzabriskie/axios/blob/master/dist/axios.js#L494

I'm honestly not sure why. If i dont use webpack for the packaging (i.e. requires axios in node.js directl

[2015-06-30 04:05] NervosaX opened #82 "Access the onprogress function for an XHR request"
I need to be able to show progress when downloading a zip file (which can be very large,
so it's really necessary). Currently there is no way to access this functionality in axios.

**Example as an xhr request:**
[code]

**Example possible use in axios:**
[code]

[2015-07-06 02:51] wuct commented on #82
+1 for this feature

[2015-07-07 14:08] revolunet commented on #2
hey...i'm a little confused. is it possible to upload a file from node using axios+streams ?

[2015-07-07 14:34] rafaelfragosom commented on #82
+1

[2015-07-07 21:33] csm123 commented on #66
I'm using the same sort of promises as Axios on a project, and the promise catches exceptions in `then`. That is, exceptions in `then` don't throw an error in the Chrome console - instead the promise has the error. You can tack on `.catch(function(err) { console.error(err); });` for debug purposes, but that's not really a lasting solution. Unsure of what to do here.

[2015-07-07 21:36] csm123 commented on #66
Related: https://github.com/jakearchibald/es6-promise/issues/40

[2015-07-08 09:06] devotox opened #83 "Cannot set Params key if using .get"
when we do something like
axios({ url: url, params: params }) it works
but axios.get(url, null, params) does not

the reason i expect this to work would be the exact same thing works if we do
axios.put(url, body, { headers: headers}) it works

[2015-07-08 21:00] csm123 commented on #66
Also, this is how it's handled in es6-promise's parent library, RSVP.

https://github.com/tildeio/rsvp.js#error-handling

[2015-07-10 15:45] petejohanson opened #84 "Question: AngularJS $http API compatibility?"
For my [hy-res](https://github.com/petejohanson/hy-res) hypermedia client library, which also has a thin AngularJS wrapper [angular-hy-res](https://github.com/petejohanson/angular-hy-res), most of the library expects an `$http`-like API for making and consuming requests. For the most part, I can interchange axios (e.g. in my integration tests for the hy-res core library) and `$http` in the angular

[2015-07-10 16:47] switz commented on #78
+1

[2015-07-13 18:14] ralphholzmann commented on #69
Hi friends! Anyway we could get this fix tagged in npm? We need this fix over at Vine, and I would rather not have to peg to a git commit in my package.json.

Thanks :)

[2015-07-13 23:51] alejandronanez opened #86 "Setting header: 'Content-Type': 'application/json' is not working"
Hi. I'm passing a custom header like this
[code]

But it doesn't seem to work. Any ideas?

[2015-07-15 05:25] nelix commented on #80
Did you make much progress with this @mzabriskie?

[2015-07-16 14:30] ivan-kleshnin opened #88 "Status code as string"
Of course it's trivial to convert between `Number` and `String` but maybe `String` is a better **default** as
`statusCode.startsWith("2")` /  `statusCode.startsWith("4")` type of operations seems
to naturally follow the response.

[2015-07-16 16:08] pandaiolo commented on #82
+1

[2015-07-18 23:12] apoco opened #89 "Cannot override content-type?"
Doing this:

[code]

...causes a request with `content-type` set to `application/json;charset=UTF-8 application/vnd.peregrine.activation+json`.

Is there a correct way to override `content-type`, or is this just a bug?

[2015-07-19 19:15] apoco commented on #89
Figured out that if I used `Content-Type` instead, it works. Maybe this ought to be made case-insensitive.

[2015-07-20 18:54] stevehu opened #90 "resend config like function $http(requestConfig) in Angularjs"
Hi,

I am trying this library for OAuth2 token refreshing and found it doesn't support resend saved config like Angularjs. Is it possible to port $http(requestConfig)?

Here is partial of my code:
[code]

[2015-07-21 15:57] pahund commented on #69
+1, I could really use this fix in my project

[2015-07-21 16:01] nerdgore commented on #69
+1 We could really use this fix but don't want to (read: can't) fetch directly from github.

[2015-07-22 10:33] mbektimirov commented on #41
Same thing for me, `400 (BAD REQUEST)` error resolves in `then`, not in `catch`. Very annoying bug, breaks all REST flow.

[2015-07-22 15:36] mik01aj commented on #41
The code says that it's resolved when `request.status >= 200 && request.status < 300` and rejected in any other case.

https://github.com/mzabriskie/axios/blob/1629a026da17a1e1d8999a02f3fe6b6b60aaac9c/lib/adapters/xhr.js#L58
https://github.com/mzabriskie/axios/blob/db85c7bf3ae19d680f5c16cd85d06c5e11fedc5f/lib/adapters/http.js#L80

[2015-07-23 16:28] mzabriskie commented on #89
This is definitely an issue. I'll take a look at it.

[2015-07-23 16:36] mbektimirov commented on #41
The problem is with response interceptor. It puts error object in then callback instead catch:
[code]

[2015-07-23 16:40] #89 closed

[2015-07-23 16:49] mzabriskie commented on #88
I think it makes more sense to use numbers so that you can do stuff like `statusCode > 200`. Long term it may be doing something like #41 where any request made to the server that receives a response will be treated as success. Only errors that can't reach the server will be treated as an error. It would be much more necessary in this case to allow something like `statusCode >= 200 && statusCode <

[2015-07-23 16:54] mzabriskie commented on #90
Do you get an error message, or the request just doesn't get sent?

[2015-07-23 16:57] mzabriskie commented on #86
There was an issue with Content-Type having to be cased correctly (see #89). I just fixed it a few minutes ago. Maybe this was the same issue you were experiencing?

[2015-07-23 17:02] alejandronanez commented on #86
Well, I wasn't able to send the header 'Content-type' at all on my request. @mzabriskie let me give it a try and I'll let you know.

Thanks.

[2015-07-23 17:08] mzabriskie commented on #84
It's not necessarily a goal to be 100% API compatible with `$http`, at the same time, if it's easy enough to support I'm not against it.

Would you mind elaborating a bit more on where the incompatibility lies? From your example, it looks like headers can be a function?

[2015-07-23 17:11] mzabriskie commented on #83
`axios.get` only accepts two parameters (https://github.com/mzabriskie/axios#axiosgeturl-config). There is no option for passing the body as get requests have no body, whereas post requests do.

[2015-07-23 17:19] mzabriskie commented on #79
@laander you are correct. The code found under `dist/` is deployed to bower, and intended for use in the browser. Safer to use `index.js` when using under node.js environment.

[2015-07-23 19:52] ivan-kleshnin commented on #88
Ah, maybe you're right.

[2015-07-23 19:52] #88 closed

[2015-07-23 20:46] petejohanson commented on #84
AFAICT, headers is *always* a function in AngularJS. Here's the relevant source:

https://github.com/angular/angular.js/blob/master/src/ng/http.js#L192

You can either do:

[code]

or:

[code]

[2015-07-24 00:23] mzabriskie commented on #84
The `headersGetter` function is only used internally by Angular. This allows either getting the entire headers object passed in the config, or a specific header value by name (case insensitive).

The config itself expects an object of key/value pairs https://docs.angularjs.org/api/ng/service/$http#setting-http-headers.

[2015-07-24 02:07] petejohanson commented on #84
It is *not* only internal. See:

* https://github.com/angular/angular.js/blob/master/src/ng/http.js#L1268 - passed as `headers` field of response promise.
* https://github.com/angular/angular.js/blob/master/src/ng/http.js#L918 - passed into transformation function.

You can see this in the docs here: https://docs.angularjs.org/api/ng/service/$http under the Usage of `$http(config)` for `transformR

[2015-07-24 04:25] dukedougal opened #92 "Does axios allow me to get cookies from REST API responses?"
I have a REST API which my browser client talks to.

I want to be able to pick up the values from cookies returned from the REST API.

Does axios permit this?  Any examples anywhere of how to do so?

thanks

[2015-07-24 10:56] devotox commented on #83
ha off course i just needed to move the params to the other argument. thank you

[2015-07-24 10:56] #83 closed

[2015-07-24 12:27] stevehu commented on #90
@mzabriskie I don't have error message and it does send the request to the back end after further investigation. It is just not return the response to the application as I expected. Here is my code...
And I have made comment on the return response line with !!!!!! I am pretty sure it is due to my limited knowledge with Native Promise. It is not the same as $q in angular:) Any help is much apprecia

[2015-07-25 02:11] mzabriskie commented on #80
@nelix I have a working version. I am just debating a piece of the implementation. Should be released soon.

[2015-07-25 21:59] mzabriskie commented on #50
I have a working version of aborting requests ready to commit. Though I am debating a piece of the implementation. How should aborting a request be handled? Should it be treated as an error, or ignored completely as if the request hadn't even been made? I took a look at jQuery, and superagent to see how they are handling things, and found they are not unified in their approaches.

jQuery:
[code]

[2015-07-25 22:08] mzabriskie commented on #64
This would be solved with #82

[2015-07-25 22:08] #64 closed

[2015-07-25 22:29] pstoica commented on #50
Since you're dealing with promises, I would still expect some kind of completion where I can choose to ignore the error if I'm expecting an abort. RxJS-DOM also throws an error with a type `abort`: https://github.com/Reactive-Extensions/RxJS-DOM/blob/master/doc/operators/ajax.md#returns

[2015-07-25 22:46] pstoica commented on #50
Also, maybe you'd want to return another promise as the result of an abort?

[2015-07-26 00:54] paulwehner commented on #50
I like the idea of it being ignored since you actively choose to abort the
request. No need to send an error that I have to do extra work to handle.
On Jul 25, 2015 3:46 PM, "Patrick Stoica" <notifications@github.com> wrote:

[2015-07-26 12:11] deathmood opened #93 "Fix promise interface in axios.d.ts"
Hey, you've got such code in your `axios.d.ts`:

[code]

but according to official spec `then` method can take 1 or 2 params like this

[code]

[2015-07-26 14:21] srph commented on #82
Anybody making any progress?

[2015-07-27 18:24] mzabriskie commented on #50
@pstoica what would you want to do with an aborted request?

[code]

[2015-07-27 18:26] kentcdodds commented on #50
I had a hard time with this one. I definitely want to be able to respond to a request cancellation because I think that'd be valuable, but I don't want to have cancel checking logic all over my error handlers... I'm thinking that having the flexibility would be worth it though.

[2015-07-27 18:31] kentcdodds commented on #50
I'm mostly thinking of abstractions here. In the case where I'm interacting with axios directly and making a request myself like that, then I don't care as much because I'm the one who canceled so I can handle it there. However, if I have some kind of abstraction and I want to respond to cancellations in some cases but not in others, then not having the flexibility might be a pain...

But I don't

[2015-07-27 18:32] mzabriskie commented on #50
@kentcdodds what do you gain by having an error flow? The only way that the request will get aborted is if you, as a developer explicitly abort it `axios.abort('some-id')`. In which case, entering the `catch` provides no value. If you want to do something at the time a request is canceled, why not do it when you call `axios.abort`?

For me `catch` is what it says it is: a way to catch an error tha

[2015-07-27 18:36] kentcdodds commented on #50
@mzabriskie, I think we just had a race condition in our comments :-)

[2015-07-27 18:41] mzabriskie commented on #50
@kentcdodds :-)

I had considered that, for the case of abstractions. The trouble comes with having to always check if the error was from aborting in every `catch`, even if you don't want that behavior. As you mentioned this could be handled by making it configurable, but that adds extra complexity within axios.

[2015-07-27 18:52] thetalecrafter commented on #50
For some reason a promise that is never resolved seems much worse than an event never firing or a callback never being called. If it was an event or callback based API, it would be easier to ignore.

Even in an extra layer of abstraction though, if I abort an ongoing operation, it is because I no longer care about the result, so needing to handle it in all of my error handling is just superfluous

[2015-07-27 19:35] herrstucki commented on #50
FWIW, Bluebird _rejects_ cancelled promises with a `CancellationError` ([docs](https://github.com/petkaantonov/bluebird/blob/master/API.md#cancellation)). That way you can still handle cancellations if needed.

[2015-07-27 19:37] herrstucki commented on #50
Before this ID-based (I know, I suggested it :sweat_smile:) approach lands in the API, and maybe just useful for completeness, here are two other approaches I've seen while researching this:

##### Cancel/abort using the promise itself

[code]

The drawbacks are that axios would need to keep track of all requests and that it only would work with the original promise (so not if we returned another

[2015-07-27 21:41] mzabriskie commented on #50
@thetalecrafter I don't see why a Promise never being settled is any different/worse than a callback not getting invoked. Would you mind elaborating?

[2015-07-27 22:03] mzabriskie commented on #50
@herrstucki the drawback to both of these approaches is that it would require you to pass around an object in order to abort a request. Where using an ID you only need to know what the ID is.

[code]

This doesn't look too bad, but assume the cancel function is in a cancelable loading type component from a separate file. You would have to pass the object around, vs using a constant.

[2015-07-28 01:18] robcolburn commented on #50
I mostly don't care because if you synchronously aborted, then you're responsible for can deal with consequences.  But, I could see a case for rejections once you've abstracted a bit.

[code]

[2015-07-28 12:53] jergason commented on #50
I'd really prefer an optional way to respond to a request being aborted. This would be helpful for optimistic updates, where you update your UI assuming the request succeeds, and need to roll it back if it doesn't go through. Since you might not always want this behavior though, an optional listener of some kind would be gran.d

[2015-07-28 12:56] robcolburn commented on #50
@ergason,
No worries there, failed requests already go down the Promise error path. This is specifically when you, the developer, manually abort the request.

[2015-07-28 12:57] robcolburn commented on #50
@jergason ^

[2015-07-28 15:27] mzabriskie commented on #50
@jergason in your use case, what would be causing the abort?

[2015-07-28 17:52] ponty96 commented on #50
i think @mzabriskie  is right. The whole need of catching is when the developer cannot foresee all possible errors not for an event triggered manually by him.
@jergason  even if we have a use case where the user cancels the upload, the developer still has the total country of UI updates...
like
function uploadFile(file) {
  var data = new FormData();
  data.append('file', file);
  axios.post('/upl

[2015-07-28 18:44] lavoiesl opened #94 "Custom DNS interceptor"
Hey, love your library!

This is not an issue per say, but it took me while to figure it our, so I thought I would share by solution on how to use a custom DNS for your request. My use case it to use an internal DNS when we are in specific environments.

[code]

[2015-07-28 18:44] #94 closed

[2015-07-29 09:56] stevehu commented on #90
It looks like we are going into a interceptor loop.

Here is the console log if token expired.
token expired
bundle.js:86 refresh is called.
bundle.js:94 refresh token success {"accessToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJuZXR3b3JrbnQuY29tIiwiYXVkIjoibmV0d29ya250LmNvbSIsInR5cCI6Im5ldHdvcmtudC5jb20vYXV0aC92MSIsImlhdCI6MTQzODE2MzI4NCwiZXhwIjoxNDM4MTYzMzQ0LCJ1c2VyIjp7IkByaWQiOiIjMTQ6MCIsInVzZXJJZCI

[2015-07-29 14:46] Nthalk opened #95 "Interceptors providing responses"
In `$http`, if your interceptor does not return a config object, it is used as the success for the request.

This is useful for stubbing out apis that don't exist yet, mock testing, and caching.

Any plans / intentions to support this?

[2015-07-29 15:22] Blechhirn commented on #70
@mzabriskie Would it be possible to make the cookie-based XSFR header an opt-in rather than the default? Reading cookies from a worker won't work anytime soon, so all you can do really is pass in the information from the main script and inject it into the call to axios - which renders this convenience functionality kind of useless as you could as well inject the header directly.

I would be willin

[2015-08-01 01:23] dralletje commented on #92
Browser XHR requests do not support getting the 'Set-Cookie' header that contains the cookies.
It would be possible though to get a list of all cookies before the request and compare it to a list all cookies after the request.
On the server it is possible to get the 'Set-Cookie' header, but you'll have to parse it yourself :)

[2015-08-01 07:06] dantman commented on #50
Leaving promises unresolved when a request is aborted is a bad idea.

The examples I see here on why one might want to abort a request are a limited set. The code that wants to abort the request may not always be directly integrated with the code making a request. And saying code calling abort should be responsible for cleanup can end up actually making code messier and/or add duplication to code.

[2015-08-03 07:24] kalaspuffar opened #97 "PUT and PATCH sending application/x-www-form-urlencoded data"
Using 0.5.4

I'm trying to use axios on my front end and fuel on the backend. Fuel Input::patch('param') will give me data from the form request of type patch. This is also true for PUT. Perhaps also POST a.s.o.

When I use axios the data is empty and if I use jquery I get my data just fine.

[code]

[code]

The difference is if you look at chrome developer tools that jquery sends the data as form

[2015-08-03 16:20] skevy commented on #70
@mzabriskie With urlSameOrigin...is all that's happening there just the url parsing (and you didn't want to depend on an external lib)?

[2015-08-03 16:22] skevy commented on #70
Yah, I'd agree with @Blechhirn that the xsrf should be opt-in. It's nice to have...but a lot of API's don't need it.

[2015-08-03 16:29] skevy commented on #70
I'll send a PR if you're down to make that change.

[2015-08-04 08:47] kalaspuffar commented on #65
Have you tried to use the third argument for formData suppling the filename?

https://developer.mozilla.org/en-US/docs/Web/API/FormData/append

[2015-08-04 08:59] kalaspuffar commented on #97
I've tried to use formData but this is still sent like a body tag in chrome and not as formData.

Headers
[code]

Payload
[code]

Instead of

Headers
[code]

Form data
[code]

If this shouldn't be standard then I think it atleast should be an option to send as form data.

[2015-08-04 09:48] kalaspuffar commented on #97
Made a small work around to fix the issue for me.

[code]

[2015-08-04 11:41] TuxujPes opened #99 "es6-promises polyfill is not a polyfill"
Even though i am using Chrome, i can see axios using es6-promise polyfill.
Is this an intended behaviour?

[2015-08-06 13:42] mik01aj commented on #50
@dantman :+1:

[2015-08-07 07:25] mik01aj commented on #93
It's working as expected. Try it:

[code]

[2015-08-11 18:51] thetalecrafter commented on #50
I think rejecting the promise on abort is better than leaving it hanging. It's better to have too much information than not enough. If I'm aborting the request, I can make sure the rejection is ignored. If something else aborted, I should be informed via rejection.

My initial thought on callbacks not getting called or events not triggered vs promise unresolved is probably mostly derived emotion f

[2015-08-17 14:13] tpreusse opened #103 "returns a resolved promise"
Currently axios returns a resolved promise. This is not desirable and causes all exceptions in `then`'s to be silenced.

[code]

The problem is that [`Promise.resolve()`](https://github.com/mzabriskie/axios/blob/1629a026da17a1e1d8999a02f3fe6b6b60aaac9c/lib/axios.js#L32) is not equivalent to [`$q.when()`](https://github.com/angular/angular.js/blob/929ec6ba5a60e926654583033a90aebe716123c0/src/ng/htt

[2015-08-18 09:42] tpreusse commented on #103
Sorry I got this wrong. I didn't see the reassignment of [`promise`](https://github.com/mzabriskie/axios/blob/1629a026da17a1e1d8999a02f3fe6b6b60aaac9c/lib/axios.js#L43) – so library is not actually returning a resolved promise.

The error got swallowed by the ES6 promise polypill instead – I was using it via webpack and I guess it's impossible to polyfill promises without try / catch – marking the

[2015-08-18 09:42] #103 closed

[2015-08-18 22:15] mcmire commented on #86
This doesn't appear to be working for me, either. It looks like perhaps it's this line here? https://github.com/mzabriskie/axios/blob/master/lib/adapters/xhr.js#L77

[2015-08-23 12:58] willdady commented on #82
+1

[2015-08-24 12:32] wmadden commented on #11
@mzabriskie this still causes problems in our project which imports axios indirectly, i.e. we import another library which imports axios. In our case we're building our project using webpack which is eventually importing axios, and naturally we haven't set up the `es6-promise` external you have in your config.

A better approach might be to check if a native Promise implementation exists at runtim

[2015-08-24 12:38] wmadden commented on #11
E.g.
[code]

Although I'd question whether it's valuable for axios to be supplying the polyfill at all. It seems like it's useful _exclusively_ for when the library's loaded in isolation - which won't happen in any more complex project with its own build system.

In that case it might be better to include a bootstrapping file only for your `dist` webpack entry, and do the polyfilling there.

Anyon

[2015-08-25 09:45] iam4x commented on #97
Ran into this too, thank's for the workaround :+1:

[2015-08-26 12:09] timjacobi commented on #78
+1

[2015-08-27 16:44] falmp commented on #81
:+1:

[2015-08-30 04:58] kevinob11 commented on #72
Is there a work around until we can get something working for this?

[2015-08-30 10:26] zwsf opened #104 "when i use this send a nodejs post request, server client (php) doesn't receive any data, code like this"
[code]
[code]

use command node post.js get receive:
[code]

[2015-08-30 10:49] zwsf commented on #104
sorry, I doesnot set transformRequest to handle the request data... please ignore this question.

[2015-08-30 10:49] #104 closed

[2015-08-31 18:22] aprzywara commented on #86
Is your request body empty by any chance?
For me manually passing **data: null** to axios, in order to manually set an empty body, prevented IE from sending **undefined** as body.

[2015-08-31 21:21] mcmire commented on #86
Yeah, the request body was empty.

On closer inspection, it appears that Axios is doing the right thing here. Content-Type only applies to the request body, so if it's missing then it shouldn't pass along that header.

[2015-08-31 21:41] aprzywara commented on #86
Yes it is correct to remove the headers, you need to pass on an empty body though (IE does not do that, it passes *"undefined"* which triggers errors in some/most backends).

We are using  [Restler](https://github.com/Luracast/Restler) in a project to serve JSON and Restler was throwing 403 errors because the *"undefined"* string gets passed as *Content-Type: text/plain* which doesn't work.

[2015-09-01 21:03] creativeux commented on #92
Does this mean that Axios does not support automatic inclusion of JSESSIONID cookies?

[2015-09-03 21:08] ralphholzmann commented on #50
Jumping in as this is affecting my current project. Have you considered what Angular does with `$http`? They have a `timeout` [parameter](https://docs.angularjs.org/api/ng/service/$http) that takes milliseconds *or* a promise. If that `timeout` promise gets resolved, the request gets aborted. For axios, it might look something like:

[code]

This solves a couple of problems -- you can differentiat

[2015-09-04 20:37] SZEth8 commented on #82
+1

[2015-09-09 13:52] Celsius273 commented on #82
+1

[2015-09-09 18:49] enthal opened #107 "support the standard $http_proxy env var, like cURL and many programs do"
This should "just work", and can build on the resolution to #68 .
https://www.google.com/search?q=http_proxy

This would allow proxying behind a corporate firewall without any/every 3rd party module using axios requiring code changes to support proxying.

[2015-09-11 06:11] #79 closed

[2015-09-11 06:14] mzabriskie commented on #99
The `es6-promise` polyfill should use a native `Promise` implementation if it's available. In any case, the next release will remove the `es6-promise` dependency, and polyfilling will be left up to individual developers.

[2015-09-11 06:14] #99 closed

[2015-09-11 06:20] mzabriskie commented on #11
@wmadden the next release will remove the `es6-promise` dependency all together. This will require you to either have an environment that natively offers `Promise`, or polyfill it yourself. Will that work for your use case?

[2015-09-11 18:19] laander commented on #79
I'm a little sad to see this closed. If the dist version isn't safe for Node/CommonJS, it shouldn't be built as an UMD module. I spent quite a few hours debugging this and it's a false positives IMO. As a minimum there should be warning, a note in the README and it would be even better if the bug could be fixed (and thereby make Axios more embeddable into other UMD-ready libs)

[2015-09-11 19:23] dinodsaurus commented on #86
Yep, I can confirm. If there is no data passed it deletes the Content-Type...
I just added `data: {}` to my `GET` request, and it works fine.
It's really weird do pass data on get request but I don't mind :+1:

[2015-09-11 20:33] mcmire commented on #86
I'd vote for this issue to be closed, then. @alejandronanez what do you think?

[2015-09-13 10:17] wmadden commented on #11
Great, thanks very much @mzabriskie!

[2015-09-13 12:03] paulwehner commented on #80
Was this released? Is there documentation for this?

[2015-09-14 06:57] CrisLi opened #108 "Is that possible to add different Interceptors for different request?"
Right now, the axios only support add/remove `Interceptors` to the global axios instance.

For example:

[code]

[code]

Right now, I have to add another method to filter out some requests base on the url.

[2015-09-15 08:17] deyhle commented on #108
It is indeed really bad to add the interceptors to the global object. Makes it impossible to use two different node modules that both require axios with their own interceptors.

[2015-09-16 01:35] CrisLi commented on #108
@deyhle I am agree to use different node modules. But node will cache the module when you require it at first time. So when I add interceptors to one of them, all axios will have the interceptors. I have check the source code, the axios does not use factory pattern to exports its instance.

[2015-09-19 00:04] skevy commented on #99
@mzabriskie fwiw, the issue @TuxujPes surfaced it's ugly head when using axios on react-native.

This issue -- es6-promise#140 (https://github.com/jakearchibald/es6-promise/issues/140) -- discusses the problem. The key is this line:

[code]

On chrome (and react-native), that fails, and thus it always gets polyfilled.

It seems like in the next release this won't matter, but I just thought I'd let

[2015-09-21 20:17] mzabriskie commented on #79
@laander I think you may be misusing `dist/`. This is meant to be used in the browser. It deliberately removes any code path used by node for that purpose. It supports CommonJS since some people may be using it with browserify, or webpack, but for node you should just be including `var axios = require('axios');` or using ES6 `import axios from 'axios';`. This will work for node. If you are using `

[2015-09-21 22:44] #68 closed

[2015-09-21 22:56] mzabriskie commented on #69
I just released 0.6.0 which includes a fix for this.

[2015-09-21 22:57] mzabriskie commented on #56
I just released 0.6.0 which includes a fix for this.

[2015-09-22 10:20] ralphholzmann commented on #69
@mzabriskie thanks so much!

[2015-09-23 15:46] richardgregory opened #110 "transformResponse catch"
Hi,

I noticed the catch statement in the transformResponse method is empty (see line below).
https://github.com/mzabriskie/axios/blob/master/lib/defaults.js#L44

If JSON.parse fails for any reason, it would be good to throw an error which would presumably be caught by the promise catch statement? Or has it been omitted for a reason?

[2015-09-23 18:04] mzabriskie commented on #110
@richardgregory yes, it was done deliberately. Current implementation is a bit dumb. If response is a string, it tries to parse the response as JSON. If it fails, it is assumed that the response must not have been JSON, fails gracefully, and passes the string response along.

[2015-09-23 18:19] mzabriskie commented on #93
@deathmood would be happy to merge a PR for this.

[2015-09-23 18:19] mzabriskie commented on #95
@Nthalk can you share an example of how this works, or point me to some Angular docs?

[2015-09-23 18:50] mzabriskie commented on #80
@paulwehner nothing has been released yet. I am very torn on the implementation. Looking at other possible solutions.

[2015-09-23 18:51] mzabriskie commented on #80
This is a duplicate of #50

[2015-09-23 18:51] #80 closed

[2015-09-23 19:01] #86 closed

[2015-09-24 09:00] jamesseanwright commented on #61
Personally, I think Promise rejection is a good solution. At the very least, one could invoke `console.error` in the `catch` block.

[2015-09-24 10:28] lovell opened #111 "v0.6.0: default timeout is not applied to http adaptor, fails on Node v4 and io.js"
Hi Matt, thanks for maintaining this very useful module.

I've discovered commit ffc0237 introduces a new timeout setting.

A value of `0` is set in `defaults.js` but this doesn't seem to make its way into the `config` object.

The following error occurs when no timeout option is passed to axios' constructor and the `http` adaptor is used with Node v4 (and io.js):
[code]

io.js v1.3.0+ and therefo

[2015-09-24 19:28] #111 closed

[2015-09-24 19:57] lovell commented on #111
Great, thanks both.

[2015-09-25 02:41] CrisLi commented on #44
0.6.0 has released, and in the upgrade guide, only es6-promise has been mentioned.
[code]
How to config axios using bluebird?

[2015-09-25 20:51] benjamingeorge opened #113 "Axios vs jQuery post CORS issue"
When doing a CORS post request, jQuery succeeds but Axios gets a CORS error in the console.

This gets a CORS error
[code]

But this works
[code]

Am I missing something with Axios?  My server is already configured for CORS requests.

[2015-09-25 21:03] mzabriskie commented on #113
What is the error that you are getting?

[2015-09-25 21:07] benjamingeorge commented on #113
[code]

[2015-09-27 17:47] llambda commented on #44
Just saw this issue, I have a PR open interested in feedback and opinions, https://github.com/mzabriskie/axios/pull/115

It worked with browserify and webpack as well.

One potential gotcha with the approach is if say you have a front end and a back end sharing node_modules in a project, and you might have some back end module having bluebird in its dep tree, so then native-or-bluebird will see th

[2015-09-29 00:32] #70 closed

[2015-09-29 00:37] mzabriskie opened #116 "axios(url) doesn't work"
These should be synonymous:

[code]

[2015-09-29 00:38] #116 closed

[2015-09-29 16:01] mzabriskie opened #117 "Who's using axios?"
I would like to get an idea of who's using axios. If your company or project uses axios, please add it here. Would be great to know if you're using it for browser, node, react-native, or other as well.

[2015-09-29 16:03] jaketrent commented on #117
Pluralsight - browser, node

[2015-09-29 18:52] resistdesign commented on #40
@mzabriskie How do you specify a custom adapter now?

[2015-09-29 18:52] ralphholzmann commented on #117
Vine - node and browser

[2015-09-29 20:28] mzabriskie commented on #107
I agree this should be supported. Should work with `process.env.http_proxy`, and `process.env.https_proxy`. Would gladly accept a PR for this.

[2015-09-29 21:36] mzabriskie commented on #40
@resistdesign functionalist didn't make the cut for 0.6.0. Will work on this for a future release.

[2015-09-30 00:32] mzabriskie commented on #107
Documenting a Stack Overflow thread re: http_proxy with node's http module. http://stackoverflow.com/questions/3862813/how-can-i-use-an-http-proxy-with-node-js-http-client

[2015-09-30 15:27] mzabriskie commented on #113
What browser are you using when you get this error?

[2015-09-30 16:45] benjamingeorge commented on #113
Chrome 45

[2015-09-30 16:59] mzabriskie commented on #113
Will you try making this request from your app, and let me know the result?

[code]

[2015-10-01 02:46] NervosaX commented on #117
SalesPreso - browser only

[2015-10-01 08:31] ivitivan opened #118 "Uncaught (in promise) TypeError: Cannot read property 'protocol' of undefined"
Hi!

I'm trying to use your library but I get an error:
[code]
I was using your example
[code]
The error happens [here] (https://github.com/mzabriskie/axios/blob/eca2ac88ebd28db1ebff3757574974a6fcdd0bf6/lib/helpers/urlIsSameOrigin.js#L56).
I'm using browserify and chrome 45.

[2015-10-01 13:49] ivitivan commented on #118
I messed up in the code. Everything works fine now.

[2015-10-01 13:49] #118 closed

[2015-10-01 14:06] mzabriskie commented on #118
Would you mind sharing what you did wrong for future reference?

[2015-10-01 15:26] ivitivan commented on #118
Actually, I can not even reproduce the error now.

[2015-10-01 16:22] giogonzo opened #119 ".catch transformRequest / transformResponse errors"
I might be missing something here (saw #61 and #110 related), but..

Looks like there's no way to `.catch` in the Promise control flow any error occurring during the transform phase, e.g. here: https://github.com/mzabriskie/axios/blob/master/lib/adapters/xhr.js#L12-L17 you'd need to `try {} catch {}` `transformData()` and `reject` accordingly the Promise

Is this deliberate?

I think It's ok to ha

[2015-10-02 01:48] mzabriskie commented on #119
The `try/catch` is happening further up the chain. It is being done by `dispatchRequest`, which is what invokes the adapter. https://github.com/mzabriskie/axios/blob/master/lib/core/dispatchRequest.js#L22

[2015-10-02 01:52] mzabriskie commented on #97
@kalaspuffar are we okay to close this?

[2015-10-02 07:01] kalaspuffar commented on #97
@mzabriskie

Hi.

I'm currently not working on the project using axios so I can't verify if the new version solves the issue but the workaround works fine for us at the moment.

If the issue is fixed then close. If it won't be then perhaps document a workaround so other don't have to hunt down this post.

But I don't mind closing the issue.

Best regards
Daniel

[2015-10-02 09:25] giogonzo commented on #119
Right, my bad, this doesn't apply to `transformRequest` but only to `transformResponse`: unfortunately there's no `try/catch` inside the `onreadystatechange`, where `transformResponse` happens, which is of course async..

Basically, in this code below, I'd like "reject transform response error" to log
[code]

while currently that exception is unhandled by construction

Here's an example implementa

[2015-10-03 18:37] nickuraltsev opened #122 "Make axios instantiable"
It would be nice if axios can be instantiated. This can be useful in cases where the application consumes multiple APIs which require different configuration options (e.g., transformRequest, transformResponse, headers, timeout). This would also solve the problem that it's not possible to use different interceptors for different APIs (see issue #108).

Proposed API:

[code]

[2015-10-05 07:57] tp commented on #71
@iam4x Did just adding the `Access-Control-Expose-Header` header solve this for you?

From this response headers I only get the `Content-Type` from `response.headers` (with axios 0.7.0):

[code]

Gives me just this:

[code]

Thanks for your help!

[2015-10-06 14:20] Gnex77 commented on #71
I get the same issue. Using axios 0.7.0 I only get the `Content-Type` header in the `response.headers` object.

[2015-10-06 14:31] benjamingeorge commented on #113
Sorry for the delay.  I get an object back with all the data.  Again, it's not get methods that are the problem, it's the POST method that has the issue.

[2015-10-06 22:37] theqwertman commented on #117
Terracotta LA - Browser

[2015-10-07 08:01] MillionIntegrals opened #124 "Requests with timeout still hand indefinitely"
I have w project where I make tens of thousands of requests to a backend service, scraping some API. I don't control the backend. To make the process fast, I post the requests in chunks, in parallel.

Sometimes, though, the backend just hangs indefinitely on a request. For that I'd like to have a timeout and just resend new request. Here is the code that I use for that purpose (I'm using the ES7 a

[2015-10-07 08:28] MillionIntegrals commented on #124
I did some digging in the code, and from what I see is that axios is handling request timeout by issuing the req.abort() function (https://github.com/mzabriskie/axios/blob/master/lib/adapters/http.js#L92):

[code]

While superagent is doing a bit more (https://github.com/visionmedia/superagent/blob/5a320d7d3222935718bfde91cae91ade4b371826/lib/node/index.js#L833):

[code]

Both aborting the request

[2015-10-07 14:26] mzabriskie commented on #124
IIRC aborting the request should put it into the on error handler. I'll check again to verify.

[2015-10-07 15:27] tp commented on #71
In my case it was just a simple typo, I was missing the "s" at the end of `Access-Control-Expose-Headers` :disappointed:

[2015-10-07 17:42] neverfox commented on #113
Same thing, same browser. I've never had a CORS problem calling a public web API from browser code. This is my first time using axios, so maybe I'm just doing it wrong.

[2015-10-08 16:19] adanperez commented on #78
+1

[2015-10-09 14:27] af7 opened #125 "Invalidate or Cancel previous requests if a new request has been sent"
There are times (when typing on a text field for example) that multiple requests are sent to the server.

How can we handle this case, so that only the last one is to be processed on the client? (I assume there should be a way to invalidate or cancel the previous requests so that when the response comes from the server this is ignored).

Is there something out-of-the-box for this use case in *axio

[2015-10-09 18:16] resistdesign commented on #111
@mzabriskie I'm still getting `msecs must be a number` with v 0.7.0 on node 0.12.x if I set it to `undefined`. Can I not set it to `undefined`, explicitly?

[2015-10-12 17:33] pstoica commented on #125
You should consider RxJS for these kinds of problems (this is a common demo). Aborting requests isn't currently implemented: https://github.com/mzabriskie/axios/issues/50

[2015-10-12 21:40] NervosaX commented on #82
@mzabriskie Is this ticket going to be addressed? Not being able to show progress on the front end is pretty debilitating.

[2015-10-13 00:47] srph commented on #82
Yes, he even closed a few tickets related to the issue (and referred this). I don't mean to say anything, but I think a rather polite way to say that is by sending a PR :smile:.

[2015-10-13 01:41] NervosaX commented on #82
@srph Yeah, there's one listed above that's been open since July.

[2015-10-13 16:54] giogonzo commented on #119
just realized you can use `axios.interceptors.response.use` and override default `transformResponse` with `[]` to obtain what I was describing above

Thank you anyway!

[2015-10-14 19:27] angelxmoreno commented on #122
came here after doing a quick search. I was going to ask if the module can do this. It would be pretty amazing if we could add this feature.

[2015-10-16 15:43] mik01aj opened #129 "Changelog doesn't contain info about breaking changes"
I'm upgrading from 0.5.4 to 0.7.0. Should I change anything in my code? The changelog doesn't contain this information.

[2015-10-16 16:04] mzabriskie commented on #129
Take a look at the upgrade guide https://github.com/mzabriskie/axios/blob/master/UPGRADE_GUIDE.md

[2015-10-19 09:11] molily commented on #97
How about axios including the above-mentioned serialization code so a `Content-Type` of `application/x-www-form-urlencoded` triggers the right encoding when an object is passed?
[code]
… should work out of the box IMHO. Or do I miss something?

[2015-10-25 18:13] ppiekarczyk commented on #117
Trunk Club!

[2015-10-26 06:47] vineethawal commented on #117
Housing - node & browser

[2015-10-26 06:50] vineethawal opened #131 "Does axios provide IE9 cross domain requests support?"
has the  IE9 cross domain issue especially cross domain post requests issue been taken care of?

[2015-10-26 16:03] pahund commented on #117
[mobile.de](http://www.mobile.de/?lang=en), Node.js

[2015-10-26 18:15] #129 closed

[2015-10-27 14:50] petewailes commented on #117
Builtvisible - node & browser

[2015-10-27 17:05] JacquesBonet opened #134 "fetchStart and fetchError missing"
Hello,

Why there isn't fetchStart and fetchError on the axios reducer?

Regards.

[2015-10-27 18:24] jergason commented on #117
KualiCo, node & browser

[2015-10-27 18:46] nathanboktae commented on #117
[Appuri](http://www.appuri.com), browser & node

[2015-10-27 19:37] musbaig opened #135 "Error in IE11, "'Promise' is undefined""
Seeing the following error trying to use `axios` under IE11 (via parallels): `'Promise' is undefined.`

Inspector seems to attribute the error to this line: https://github.com/mzabriskie/axios/blob/master/lib/axios.js#L29

[2015-10-27 19:39] mzabriskie commented on #135
You need to polyfill `Promise` yourself. You can see specifics in the upgrade guide https://github.com/mzabriskie/axios/blob/master/UPGRADE_GUIDE.md#es6-promise-polyfill

[2015-10-27 19:39] #135 closed

[2015-10-27 19:40] mzabriskie commented on #134
I'm not sure what you're asking. Can you provide more details?

[2015-10-27 19:44] mzabriskie commented on #131
I assume that you're asking about `XDomainRequest`? This is something that still needs to be addressed. Though it shouldn't be terribly complicated.

[2015-10-27 19:47] mzabriskie commented on #125
As @pstoica said, this isn't currently supported. There have been several proposals made, and a couple attempts to implement, but Promises by nature make it quite challenging to solve this. I hope to find some solution, but nothing has made it into master yet.

[2015-10-27 19:48] musbaig commented on #135
Wow, suggestion worked perfectly. Thanks for the superfast response!!
Great work btw on `axios`, loving it.

[2015-10-27 20:43] #122 closed

[2015-10-27 20:48] JacquesBonet commented on #134
Sorry, Matt, I made a mistake, the issue is for redux-crud, not axios.

[2015-10-27 20:56] mzabriskie commented on #134
No problem. Are we okay to close the issue?

[2015-10-27 21:19] jtangelder commented on #117
Blendle.com, browser

[2015-10-28 03:38] JacquesBonet commented on #134
Sure

2015-10-27 21:56 GMT+01:00 Matt Zabriskie <notifications@github.com>:

--
*Jacques Bonet*

res Margaut, app 44
411 cours de la Liberation,
33400 Talence
France

✆ +33 6 35495090
✉ jacques.bonet@gmail.com

[2015-10-28 03:40] #134 closed

[2015-10-28 05:17] vineethawal commented on #131
Ok, will look into it, see what I can do.

[2015-10-28 07:13] nickuraltsev opened #137 "baseUrl config parameter"
What do you think about adding `baseUrl` config parameter?

[code]

I'd be happy to create a PR for this.

[2015-10-28 09:29] tamasd opened #138 "Send XSRF tokens with CORS requests when withCredentials is true"

[2015-10-29 07:31] vineethawal commented on #131
#140

[2015-10-29 21:36] agentidea opened #141 "request DELETE does not pass Authorization header"
it appears when we call Axios.delete that the authorization header is not been passed ( as seen by no header in the request in the Chrome debugger network window )

here is basically the code we are using

// begin code
var path_ = 'http://localhost/ws/domain/node';
var body_ = {
    nodeID: "xyz"
};
var authsigString = "somehmacchecksumusinghmac";

return axios.delete(path_, body_, {headers: {Aut

[2015-10-29 23:23] agentidea commented on #141
ah we see there is no body passed to the delete method, so sorry!

[2015-10-29 23:23] #141 closed

[2015-10-31 16:55] englercj commented on #31
:+1: The node version isn't super useful for me until we have a plugable caching layer.

[2015-11-02 16:15] fowkswe commented on #117
[Paddle8] (paddle8.com), browser for now.

[2015-11-03 07:59] jsdmc opened #142 "Uncaught TypeError: _axios2.default.create is not a function"
Hi there)
In documentation I see that it's possible now to create an instance like this
```javascript```
axios.create([config])
[code]

[2015-11-03 22:58] Lothiraldan commented on #97
:+1: for supporting x-www-form-urlencoded when the headers is set

[2015-11-04 10:03] ir-fuel opened #143 "Where are the headers in the response interceptor?"
I just implemented a response interceptor. This is the response from the server (as can be seen in the Chrome Developer Tools)
[code]

However when inspecting the object I get in my response interceptor
[code]

I see only this

[code]
The only relevant info I find in the response object is `status`, `statusText` and `data`

[2015-11-04 10:38] ir-fuel opened #144 "adding headers in interceptor not working"
my code:
[code]

in the console log I see:
[code]

in the network log in Chrome I see
[code]

and of course the response from the server being:
[code]

Any idea what's going on?

Thanks

[2015-11-04 10:47] ir-fuel commented on #144
Never mind, seems the server had a bug in the implementation when handling the `OPTIONS` http method

[2015-11-04 10:47] #144 closed

[2015-11-04 12:21] ir-fuel commented on #143
The result is the same when logging the response object in this call:
[code]

[2015-11-04 15:58] aljones commented on #118
I got this error from: `axios.post('/api' [this.props.query])`  If you don't see it, the comma is missing between the arguments. I tested this in node too.
[code]

So I guess the error is related to an argument being undefined.  I'm surprised that isn't a syntax error.

[2015-11-04 19:30] englercj commented on #50
:+1: User interactions on my app can cause requests, further action can make previous actions invalid and necessary. Right now all requests remain in flight and I have to have to track state to determine if I should use the response. Instead it would be nice to just abort the previous requests and start a new one. That way I only ever have one of a certain type of request in flight.

[2015-11-04 21:21] iam4x commented on #142
@jsdmc You can use `npm i -S mzabriskie/axios#master` until the new version is released

[2015-11-05 03:37] ruscoder commented on #137
+1

[2015-11-06 02:57] jsdmc commented on #142
@iam4x Yeah, I know) Just curios why this merged to master and highlighted in docs but not published.

[2015-11-06 14:04] ferdinandsalis commented on #142
Yes, this just tripped me to.

[2015-11-06 15:06] mzabriskie commented on #142
Sorry for the confusion. I'll work on getting a new release out soon.

[2015-11-06 15:06] #142 closed

[2015-11-06 15:14] ferdinandsalis commented on #142
@mzabriskie thanks. no worries. It also seems that when you use an instance by using `var instance = axios.create()` you can not use it like this `instance({method: 'patch', data: {…}})`.

[2015-11-06 15:59] nickuraltsev commented on #142
@ferdinandsalis No, but you can use `instance.request({url: '...', method: 'patch', data: {...}})` instead. There is also `instance.patch`.

[2015-11-06 15:59] ferdinandsalis commented on #142
thanks @nickuraltsev. Still I was expecting it to work because it works with the default instance.

[2015-11-09 02:52] soluml commented on #82
+1

[2015-11-09 16:39] marcoscssno commented on #104
How did you solve it?

[2015-11-09 17:23] FredericHeem opened #147 "axios.create"
Do you mind to release a new version on npm to get the "axios.create" ?
Thanks.

[2015-11-09 17:52] mzabriskie commented on #147
I'm working on fixing an issue first. Will release once that's done.

[2015-11-09 17:52] #147 closed

[2015-11-10 02:48] IDontEatSoap commented on #82
+1

[2015-11-10 12:01] iam4x commented on #137
I agree with @nickuraltsev, I've made a little wrapper around axios for my own usage:

https://github.com/iam4x/isomorphic-flux-boilerplate/blob/master/shared%2Fapi-client.js

[2015-11-10 16:41] corbanbrook opened #148 "Is it possible to cancel the outgoing request from the request interceptor"
I need to build a plugable caching interceptor

request interceptor will check the route, see if it exists in my localStorage cache/Redis  and then either serve up the cache and cancel the outgoing request or doesn't have cache and continue with the request. Is this possible with the current interceptors design?

[2015-11-10 21:21] eschaefer commented on #117
[Edenspiekermann](http://www.edenspiekermann.com/), browser and node!

[2015-11-12 17:35] CezarLuiz0 commented on #142
+1

[2015-11-12 19:27] Schnueggel opened #150 "TypeScript definition of create(): axios.AxiosStatic missing"
TypeScript definition of create(): axios.AxiosStatic missing

[2015-11-12 20:30] Schnueggel commented on #150
Saw its in the master already

[2015-11-12 20:30] #150 closed

[2015-11-13 15:41] dmatteo opened #152 "axios fails on IE8"
The error is the usual IE8 generic `Object doesn't support this property or method`, which points to this line:

[code]

Which maps to this line in my source code
[code]

I have all the polyfills in place, but still axios won't work.

Any idea before I fallback to XHR?

[2015-11-13 17:02] CezarLuiz0 commented on #31
Any progress in browser? The cache working?

[2015-11-14 15:19] liuq commented on #82
+1

[2015-11-14 15:21] srph commented on #82
+1 doesn't help out here. Check out https://github.com/mzabriskie/axios/pull/96

[2015-11-16 13:31] idan commented on #117
Heroku, browser for now.

[2015-11-16 13:37] peterpuzos commented on #113
+1

[2015-11-16 22:54] echlebek opened #153 "axios.create does not seem to exist"
The documentation states that instances of axios can be created by axios.create. However, when I try to do this it appears that the definition does not exist. Indeed, in dist/axios.js the function doesn't seem to exist as of version 0.7.

[2015-11-17 00:53] mzabriskie commented on #153
This feature will be available in the next version. I'm working on getting something out soon.

[2015-11-17 00:53] #153 closed

[2015-11-18 22:01] barwin commented on #117
Ylopo - browser and node.js

[2015-11-19 11:36] jetien commented on #153
Hi, so why write it in the doc ?

[2015-11-19 15:18] mzabriskie commented on #153
The feature came in with a PR which included the docs. After it merged it ended up in master.

[2015-11-19 17:32] PacoSysHooptap opened #156 "Issue when using application/x-www-form-urlencoded as Content-Type"
Hi guys,

Im new using this library and im trying to do a POST request with application/x-www-form-urlencoded
as Content-Type, the problem is that the request data that sends my request is not correctly formed.

When I use a program like postman to try my requests, the data seems like this:

username:test

By the other hand, when I send the request from axios, the data is like :

{"username":"test

[2015-11-19 18:59] guncha commented on #93
Should probably use the global promise type `Promise<axios.Response>` as it causes incompatibilities when chaining promises.

[2015-11-19 19:20] guncha opened #157 "Documented axios.create method missing"
Looking through the source, it seems like it has been removed in favor of using global configuration. Is that the case?

[2015-11-19 19:45] guncha commented on #157
Actually, it's in the master, just not on NPM, is all. `npm publish` !! :smile:

[2015-11-19 20:38] mzabriskie commented on #157
Working on getting a PR merged, then will release.

[2015-11-19 20:38] #157 closed

[2015-11-19 22:28] #81 closed

[2015-11-20 01:07] theverything commented on #76
I'm not sure this is a bug because of the [Fast Fail](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/all#Promise.all_fail-fast_behaviour) behavior of Promise.all.

axios.all just passes the array of promises to Promise.all and then returns the resulting promise.

Seems like the only way to make this work would be to implement your own axios.all function th

[2015-11-20 15:11] #156 closed

[2015-11-20 18:32] DIMPLY opened #158 "No Requests Sent At All"
I used `sandbox/client.html` in the repository:
Request
[code]
Response
[code]
And no request is seen in the Chrome Developer Tools.

[2015-11-20 18:40] DIMPLY commented on #158
Also every branch shows "build:error".
What do these mean?

[2015-11-20 19:21] mzabriskie commented on #158
If you are playing with `sandbox` make sure you run `node ./sandbox/server` then just open `http://127.0.0.1:3000/` in your browser. This will run `sandbox/client.html` with the proper dependencies in place. You may also run `node ./sandbox/client` (with the server running) to test the node client.

The build error is coming from a failing test on Travis CI. I am currently working on sorting that

[2015-11-20 19:25] mzabriskie commented on #152
Can you try debugging a bit to see where it is failing?

[code]

[2015-11-21 09:18] DIMPLY commented on #158
@mzabriskie I did as you tell me but the response is always an empty string with 200 status, even if I can get them in the browser‘s address bar using the same url.

[2015-11-21 09:40] JoshZA commented on #137
:+1:

[2015-11-21 09:53] DIMPLY commented on #158
@mzabriskie I did as you told me but I can only GET, I can't POST.

[2015-11-21 10:28] DIMPLY opened #159 "Using in webpage doesn't send XHR but refresh"
[code]
Why this doesn't work? It doesn't send an XHR but refresh the present page with my data and go to:
[code]

[2015-11-21 13:31] mzabriskie commented on #137
@nickuraltsev happy to accept a PR

[2015-11-21 13:32] mzabriskie commented on #158
I'll take a look at it.

[2015-11-21 18:15] mzabriskie commented on #158
Can you share your full code for making the request?

[2015-11-21 18:21] mzabriskie commented on #159
Can you try running the examples locally?

[code]

Then open http://127.0.0.1:3000/post in your browser, enter some valid JSON, and click `POST`.

[2015-11-21 20:08] nickuraltsev commented on #137
Great, I'll create a PR soon.

[2015-11-22 00:45] WoLfulus commented on #124
This is also happening for me.

[2015-11-22 02:14] vineethawal commented on #131
Feature added

[2015-11-22 02:14] #131 closed

[2015-11-22 05:56] DIMPLY commented on #158
@mzabriskie I made the request from webpage `client.html` without writing my own code here in this issue.

[2015-11-22 07:01] DIMPLY commented on #159
the output for `npm run examples`:

module.js:340
    throw err;
          ^
Error: Cannot find module 'minimist'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/Users/yanyang/axios/examples/server.js:5:12)
    at Module._compile (module.

[2015-11-22 09:50] DIMPLY commented on #159
I can get "POST data received" on the server part.
But this time the query address is the same with the browser address.
What should I do if I want to post to an outer address such as "http://google.com"?

[2015-11-22 16:19] DIMPLY commented on #159
I have test through it using `title=example&content=abccc&from=axios@a.com` instead of JSON format. And I also added a request header according to my server's CORS settings.
Sorry for bothering before enough trials.

[2015-11-22 16:20] #159 closed

[2015-11-24 03:46] JuoCode opened #161 "data param in transformRequest is undefined"
I want add API endpoint in transformRequest, but data param is undefined :joy:
[code]

I use master

[2015-11-24 05:02] nickuraltsev commented on #161
@JuoCode Can you share the code that sends the request?

[2015-11-24 05:35] JuoCode commented on #161
[code]

[2015-11-24 07:41] nickuraltsev commented on #161
`transformRequest` allows changing the request body (`data`) and headers. Your code makes a GET request that has no body. That's why `data` is undefined.

If can try to use interceptors to change other request properties.

[code]

[2015-11-24 07:50] JuoCode commented on #161
Get it! #160 is necessary

[2015-11-24 10:50] arpitHub commented on #113
+1

[2015-11-24 18:14] GuilhermeMedeiros commented on #117
mycujoo.tv - node and browser

[2015-11-24 23:17] DominicTobias commented on #40
Any update on this? I much prefer axios's Promise api than superagent's but I would need a way of mocking to adopt it. Thanks

[2015-11-25 11:39] dnutels commented on #157
Hi.

I must be misunderstanding something - this still is the case as of __0.7.0__, why would you close the issue?

[2015-11-26 08:32] dasniko opened #162 "Path params possible with axios?"
Hi,

is it in any way possible to have path params in axios which will be replaced by the `param` values?
e.g.

    axios.get('http://localhost/users/:userid', {params: {userid: '1234'}})

I know, I can implement it on my own using interceptors, but IMO this is an option which could be used by many users. This is also possible and a common way in many other frameworks and/or languages. Additionall

[2015-11-26 17:16] djsmith42 commented on #117
HireVue - browser only

[2015-11-27 11:44] hyzhak opened #164 "Adding Retry Parameter"
I have one API that time to time returns `ECONNRESET`. So I'd like to do retry on such an error. Do you have plans to add `retry` feature to this library?

[2015-11-28 18:08] G3z commented on #97
+1

[2015-12-01 07:29] zwsf commented on #104
@marcoscssno use transformRequest function to handler the request data and return a string or an ArrayBuffer, then server-side can receive the data.

[2015-12-01 12:44] mhelvens opened #165 "Wait for promise to provide additional options"
For my own convenience I've implemented a shell around axios. One of its features that may be useful for others is to have axios wait for a promise to provide additional options. For example, here I use that feature to fetch an access token, required to make Google API queries (simplified):

[code]

This example assumes that axios waits for the given promise to resolve, then processes the resultin

[2015-12-03 17:45] diessica commented on #137
Awesome!

[2015-12-04 07:26] SkateFreak commented on #137
is that why this doesn't work:
axios('/user')

and this does?
axios('http://localhost:3000/user')

[2015-12-05 06:20] nickuraltsev commented on #137
@SkateFreak Do you have this issue when using axios in the browser or node.js? If the former, relative URLs should work fine as far as I know.

[2015-12-05 07:37] anttti commented on #113
Stumbled upon this very same issue. jQuery AJAX POST works, Axios (and isomorphic-fetch FWIW) POSTs fail in the preflight phase. What's even more weird is if I "Copy as cURL" both of the requests from Chrome inspector's network tab, they're identical!

[2015-12-06 19:51] clayreimann commented on #41
@mbektimirov A little late here, but I'm guessing that you're seeing the `error` in `then` because your error callback isn't `throw`ing the error.

[2015-12-06 20:48] clayreimann opened #166 "Next release?"
It's been 2 months since the last release and a lot of things have gone in (especially following redirects!), any thoughts on when all that hard work will get released?

[2015-12-06 21:10] mzabriskie commented on #166
I've been traveling a ton combined with deadlines at my day job which result in little time for open source at the moment. I will try to get something out in the coming week.

[2015-12-07 05:31] clayreimann commented on #166
Understandable. No rush, I actually figured out a work around for following redirects

[2015-12-07 23:19] feiyingx commented on #90
@stevehu did you ever figure out a solution for this?

[2015-12-08 01:04] stevehu commented on #90
@feiyingx I could not make it work and switched to JQuery instead.

[2015-12-09 09:55] dfournier commented on #166
:+1:

[2015-12-09 12:19] idan commented on #78
This is actually a bad idea, see #167

[2015-12-09 13:14] laander commented on #78
@idan Support of the `Authorization` header is even better - as long as I don't have to add it manually :)

[2015-12-09 14:46] Homyk commented on #113
+1

[2015-12-10 03:46] incubus8 commented on #164
any update on this?

[2015-12-10 22:22] ctimmerm commented on #152
This should be fixed by https://github.com/mzabriskie/axios/commit/1e2cb9bdca0e19298aa7c242a7db4b45427967ea

[2015-12-11 03:10] dmatteo commented on #152
Sorry I haven't had the chance to try and debug this, but if you think this may work I'm happy to try it once released

[2015-12-11 05:14] #78 closed

[2015-12-11 18:45] #137 closed

[2015-12-11 19:14] mzabriskie commented on #166
Just released [0.8.0](https://github.com/mzabriskie/axios/blob/master/CHANGELOG.md#080-dec-11-2015). Enjoy!

[2015-12-11 19:14] #166 closed

[2015-12-11 19:16] mzabriskie commented on #162
With 0.8.0 you can provide your own `paramsSerializer` option. This will allow you to format your params anyway you'd like.

[2015-12-11 19:16] #162 closed

[2015-12-11 19:17] mzabriskie commented on #161
Just released [0.8.0](https://github.com/mzabriskie/axios/blob/master/CHANGELOG.md#080-dec-11-2015) which includes #160.

[2015-12-11 19:17] #161 closed

[2015-12-11 19:18] mzabriskie commented on #152
Just released [0.8.0](https://github.com/mzabriskie/axios/blob/master/CHANGELOG.md#080-dec-11-2015). Closing for now. Please re-open if you still see this problem.

[2015-12-11 19:18] #152 closed

[2015-12-11 19:21] clayreimann commented on #166
Nice! Thanks :smile:

[2015-12-11 19:35] mzabriskie commented on #20
I believe that this has been solved. See current http implementation https://github.com/mzabriskie/axios/blob/master/lib/adapters/http.js#L93-L96

[2015-12-11 19:35] #20 closed

[2015-12-11 19:48] samjulien commented on #138
First-timer here. Can you point me to where this is? I'm guessing perhaps the Axios.prototype.request method?

[2015-12-11 19:53] mzabriskie commented on #138
@samjulien take a look at the [xhr adapter](https://github.com/mzabriskie/axios/blob/master/lib/adapters/xhr.js#L91) (that should take you to the very line). Currently we only send the XSRF values if the request is being sent to the sam URL as the origin. To solve this issue we would want to also check if `config.withCredentials` is `true`.

[2015-12-11 19:57] kentcdodds commented on #138
:tada: :confetti_ball: awesome to see a `first-timers-only` issue on axios :+1: :clap:

[2015-12-11 19:58] samjulien commented on #138
Cool, thanks @mzabriskie - I will give the PR a shot. Stand by...

[2015-12-11 19:59] mzabriskie commented on #138
@samjulien I am adding a failing test. Your mission should you choose to accept it, is to make the test go from red to green :)

[2015-12-11 20:00] samjulien commented on #138
Perfect, was just going to ask about a test.

[2015-12-11 20:00] mzabriskie commented on #138
Wait to fork from master until I commit the test.

[2015-12-11 20:02] samjulien commented on #138
:white_check_mark:

[2015-12-11 20:03] mzabriskie commented on #138
It's all yours. Let me know if you have any questions.

[2015-12-11 20:06] samjulien commented on #138
Thanks, will do!

[2015-12-11 20:11] mzabriskie commented on #138
A few pointers as you get ready to submit your PR:

- Make sure the tests are passing with `npm test` (be sure you've run `npm install` first)
- Only commit your code change, no generated files (i.e. `dist/`)

[2015-12-11 20:19] samjulien commented on #138
Okay, I just submitted it. Hopefully I did the PR right. But all tests are passing.

[2015-12-11 20:23] samjulien commented on #138
And thank you for the opportunity, @mzabriskie! I've been trying to figure out how to get started with OSS contributing.

[2015-12-11 20:24] mzabriskie commented on #138
PR looks great and is merged! Exactly how I would have done it. Glad to provide the opportunity.

[2015-12-11 20:24] #138 closed

[2015-12-11 20:24] miguelc1221 commented on #138
i was just about to submit too = ), thanks for guiding us!

[2015-12-11 20:30] mzabriskie commented on #138
@miguelc1221 there will be many more opportunities. Stay tuned :)

[2015-12-11 20:51] mzabriskie commented on #108
You can now create instances of axios using `axios.create` which allows you to create interceptors per instance.

[code]

[2015-12-11 20:51] #108 closed

[2015-12-13 22:33] dfournier commented on #166
:clap:

[2015-12-14 10:00] ersab opened #169 "Basic auth via Authorization header extra colon"
Current implementation adds extra colon after word "Basic" which is invalid
(https://en.wikipedia.org/wiki/Basic_access_authentication)
	  // HTTP basic authentication
	  if (config.auth) {
	    var username = config.auth.username || '';
	    var password = config.auth.password || '';
	    requestHeaders['Authorization'] = 'Basic: ' + btoa(username + ':' + password);
	  }

[2015-12-14 10:46] kumpanen opened #170 "Function.axios.(anonymous function) [as post]"
Hi.
Im using this in a expressjs, node.js project. I try to make a axios.post call and it works in localhost. When i instead use it in a ubuntu server it gives me the error below. Im not sure how to handle this error. Any tips or ideas?
<pre>
    at Function.axios.(anonymous function) [as post] (/opt/testapp/node_modules/axios/lib/axios.js:77:16)
    at sendRequest (/opt/testapp/controllers/main.j

[2015-12-14 13:22] aukevanleeuwen opened #171 "Error response with application/json body throws InvalidStateError"
When I return a validation error message from my server as with content type `application/json` with status code `400` this throws  the following error:

[code]

on this line: https://github.com/mzabriskie/axios/blob/f9c46c5c1da731c150febd347708f229e9bc74ab/lib/adapters/xhr.js#L75. Apparently it's not allowed to access the responseText property if the responseType does not match '' or 'text'.

You

[2015-12-14 14:20] mzabriskie commented on #171
I think this could be resolved by switching the order of the conditional check:

[code]

This way we only reference `request.responseText` if it's valid.

[2015-12-14 15:41] aukevanleeuwen commented on #171
Sorry I was doing something else, but had this fix commited on my fork already before I saw your comment. Not sure what you prefer, but you seemed to have the check already in place so I just thought I'd use it.

[2015-12-14 18:08] mzabriskie commented on #171
I think it would be safer to do as I suggested above. Thanks for the PR!

[2015-12-14 19:31] sashashakun commented on #169
First timer here! Is it correct that i should remove extra colon in http basic authentication implementation?

[2015-12-14 19:35] mzabriskie commented on #169
Yes that is correct. If you look at `test/specs/__setupBasicAuthTest.js` you will find a test commented out on line 24. We need to make this test pass.

1. Fork repo
1. `$ npm install`
1. Uncomment that test
1. `$ npm test` (will fail)
1. Fix code
1. Run tests again (should pass)

[2015-12-14 19:37] sashashakun commented on #169
Thanks. Start right now.

[2015-12-14 19:38] mzabriskie commented on #170
What version of axios are you using?

[2015-12-14 19:38] mzabriskie commented on #169
Awesome! Let me know if you have any questions.

[2015-12-14 19:55] mzabriskie commented on #72
You can now use the `paramsSerializer` option to provide your own function for formatting params. This will allow you to use `qs` or any other library.

[2015-12-14 19:55] #72 closed

[2015-12-14 20:04] mzabriskie commented on #92
@creativeux cookie management is handled by the browser. So long as it's not a cross domain request, cookies should be automatically sent with the request, including JSESSIONID assuming it's been set.

[2015-12-14 20:05] mzabriskie commented on #92
@dukedougal as @dralletje said, browser doesn't support reading cookies from XHR. You could write a script yourself to find newly set cookies.

[2015-12-14 20:05] #92 closed

[2015-12-14 20:12] mzabriskie commented on #148
This is not currently possible. There are plans for implementing cache #31. Ideally this would also support using an external caching mechanism like Redis.

[2015-12-14 20:20] #169 closed

[2015-12-14 22:56] kumpanen commented on #170
Axios v0.7.0. Node is v0.10.32. Kind of old node. Should i try to update both?

[2015-12-14 23:53] #171 closed

[2015-12-14 23:53] mzabriskie commented on #170
Definitely worth a try.

[2015-12-15 11:33] iam4x commented on #117
www.Save.co - browser & server (inside https://github.com/iam4x/isomorphic-flux-boilerplate)

[2015-12-15 14:31] kumpanen commented on #170
@mzabriskie Updating node solved the issues. Thanks for your help!

[2015-12-15 14:55] nathanharper commented on #117
[InterExchange](https://www.interexchange.org/) - browser (and node for tests)

[2015-12-15 15:05] nathanharper opened #175 "Setting baseURL in default configuration"
In some cases my app requires different defaults from the standard ones, and I've been dealing with this by putting something like this in the app's entry point:

[code]

My tests are run in Node and I want to override the `baseURL` so that axios will work with [Nock](https://github.com/pgte/nock) even with relative URLs, but the code above doesn't work. Would it be reasonable to add this paramete

[2015-12-16 08:18] tomoya commented on #171
A few minutes ago, I encountered same issue. but, is was already fixed. very nice! :+1:

[2015-12-16 16:52] #170 closed

[2015-12-17 01:05] mzabriskie commented on #175
This sounds like a bug. I will have to dig in a bit deeper to confirm, but at a glance the code looks problematic. The `Axios` constructor holds onto a `defaultConfig` for each instance. Which means that if `axios.defaults` ever changes the default instance won't be modified.

[2015-12-17 01:56] nickuraltsev commented on #175
@mzabriskie Right, but what's the point in making `defaults` "mutable"? If you need to use custom config, you can just pass it to the `Axios` constructor.

[2015-12-17 14:29] nathanharper commented on #175
@nickuraltsev But in that case every time you require axios you would need to call the constructor with the baseURL option, right? I was hoping for a way to override the defaults for my entire project.

[2015-12-17 15:53] mzabriskie commented on #175
I agree that config should be immutable for custom instances, but for the default axios instance changes to axios.default should change the config internally held by that instance.

To resolve this I think the defaults should be passed to the `Axios` constructor for the axios instance. Then change to `axios.defaults = axios.defaultConfig` so that modification will actually mean something.

[2015-12-17 17:08] nickuraltsev commented on #175
@mzabriskie That makes sense. There are some differences between the structure of `defaults` and `config` though. For example:

[code]

[code]

[2015-12-17 17:28] nickuraltsev commented on #175
@nathanharper One solution is to create a small module like this:

[code]

and then use this new module in your code instead of requiring `axios` directly:

[code]

[2015-12-18 04:27] jimthedev commented on #97
Just a quick bit of prior art to add here. The [request library](https://github.com/request/request#requestoptions-callback) uses different keys for `body`, `form` (urlencoded, what we're talking about here) and `formData` (multi-part form uploads). This forces the user to know that these need to be different and to make a choice. I'd love for axios just to just pick a sensible default based on th

[2015-12-18 04:37] kalaspuffar commented on #97
@jimthedev You might be right that I've chosen the wrong type of data object.

But the thing I found strange was that a simple GET and POST gave me simple form information in the query way

[code]

using the default send. But PUT and PATCH changed the default to multipart data.

[2015-12-18 05:23] jimthedev commented on #97
@kalaspuffar Oh I see. Yeah that does seem strange.

[2015-12-20 12:45] JoshZA commented on #117
[Amazon - for api client generation](https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-generate-sdk.html#how-to-generate-sdk-javascript)

[2015-12-21 09:08] jtangelder commented on #164
I don't think this kind of functionality should be in this library. If you need this, you can create a interceptor for this.

[2015-12-21 09:17] jtangelder opened #177 "IE10 cors broken"
I've updated from Axios 0.7.0 to 0.8.1, and found out that the IE10 support was broken when using CORS. I didn't managed to find out the exact cause of this bug, but reverting to the previous version worked.

[2015-12-21 17:40] patrickliechty opened #178 "Why does axios unchain a long chain of promises?"
If you look at this code here:

https://github.com/mzabriskie/axios/blob/master/lib/axios.js#L55

It is unchaining any promise chain that comes through.  I would rather that it didn't do that or give me a config option to allow me to control it.  It is causing undesired results.  Maybe I am just not using the library correctly.

I have a 7 promise chain then I call axios.get.  It unwinds it for me

[2015-12-21 19:34] hyzhak commented on #164
@jtangelder any ideas how should it look like?

[2015-12-21 21:45] mzabriskie commented on #175
@nickuraltsev you're correct that there is a difference between `defaults` and `config`. However `axios.defaults` should effect the config of the default `axios` instance in the case that no config is provided to override defaults. The problem with the current implementation is that `defaultInstance = new Axios()` is called the first time `axios = require('axios')` is called, before any chance is

[2015-12-21 21:53] mzabriskie commented on #177
[XDomainRequest](https://github.com/mzabriskie/axios/pull/140) support was added for <=IE9 in 0.8.0. I wonder if this broke things for other versions of IE. Can you test what's the value of this in IE10 `typeof window.XDomainRequest`?

[2015-12-21 21:55] nickuraltsev commented on #175
@mzabriskie What if don't merge the `defaults` and `defaultConfig` in the constructor? We can merge the `defaults`, `defaultConfig`, and the request config in the `request` method instead. Thoughts?

[2015-12-21 21:57] mzabriskie commented on #178
The unchaining is done to handle interceptors. Each interceptor returns either a config object or a `Promise`. The logic you linked to runs through all the request interceptors, then the actual request, then all the response interceptors.

I'd be interested to see an example of your code.

[2015-12-21 22:49] patrickliechty commented on #178
The request is across multiple files, but essentially, it builds up a chain of promises.

Here is what it looks like:

axios.get("url").then(function(data){
axios.get("url").then(function(data){
axios.get("url").then(function(data){
axios.get("url").then(function(data){
axios.get("url").then(function(data){
axios.get("url").then(function(data){
axios.get("url").then(function(data){})

[2015-12-22 07:30] Klaasvaak commented on #177
<img width="243" alt="screen shot 2015-12-22 at 08 30 16" src="https://cloud.githubusercontent.com/assets/1911045/11950168/4a88b23c-a886-11e5-8e55-1c748a052050.png">

[2015-12-22 10:36] kilianc commented on #24
+1 on this, I was just about to open a new issue, throwing non errors is wrong, and if you `async` or `yield` this is exactly what happens.

This is for some reason not part of the promises specification, and it's a flaw imho.

[2015-12-22 13:11] mzabriskie commented on #177
So we are unintentionally using `XDomainRequest` for all versions of IE. We need to limit to <IE10. I wonder if it's working for older versions though. Can you share the error that you're getting in IE10?

[2015-12-22 13:40] jtangelder commented on #164
[code]

Something like this! It retries 500 errors once.

[2015-12-22 13:46] jtangelder commented on #177
It might have to do with the limitations of XDomainRequest. It only supports GET and POST. I'm also making DELETE and PUT calls to our Rest server. Also, we're setting content-type headers, which aren't supported, see the page below.

http://blogs.msdn.com/b/ieinternals/archive/2010/05/13/xdomainrequest-restrictions-limitations-and-workarounds.aspx

[2015-12-22 13:49] jtangelder commented on #177
I guess running tests on Saucelabs could help to prevent bugs like this! I might have some time left this next weeks, maybe I can help setting this up.

[2015-12-22 13:58] mzabriskie commented on #177
I was actually looking at Saucelabs yesterday for this very reason. Would be nice to have that type of coverage.

[2015-12-23 00:36] nickuraltsev commented on #177
Another option is to use [BrowserStack](https://www.browserstack.com/). It's used by React Router (https://github.com/rackt/react-router/blob/master/karma.conf.js).

[2015-12-23 13:39] ssetem commented on #50
Angular has an elegant way, where you pass in a promise to abort, meaning if that promise resolves it aborts it. The cool thing with this strategy is that you can do timeout + abort with the same abstraction

e.g. axios.post(..., {timeout:somePromise})...

timeout or manual abort = somePromiseDeffered.resolve()

[2015-12-23 17:41] rafaeleyng commented on #113
+1

[2015-12-23 17:45] rafaeleyng commented on #113
I was setting up a little API to learn Grails. Doing a POST request, only by changing from jQuery to Axios, I went from getting this:

![screen shot 2015-12-23 at 3 36 45 pm](https://cloud.githubusercontent.com/assets/4842605/11981697/2ad980e0-a98c-11e5-9c72-927b371ed224.png)

to this:

![screen shot 2015-12-23 at 3 35 43 pm](https://cloud.githubusercontent.com/assets/4842605/11981700/330b8d1c-a98

[2015-12-23 20:39] mzabriskie commented on #178
Oh, so you're not chaining per se, you're nesting a new request after each prior request. Are your requests dependent upon the response of the prior request?

[2015-12-23 20:41] mzabriskie opened #180 "Investigate Saucelabs or BrowserStack"
Would be better to have tests run against all supported browsers instead of just PhantomJS as is currently the case.

[2015-12-23 20:46] mzabriskie opened #181 "Convert project to use Babel for ES6 support"
It's easy enough to add babel to webpack build, but requires updating release process so that only built files are published to npm.

[2015-12-23 20:48] mzabriskie commented on #164
I agree with @jtangelder that this doesn't belong in the core library. This is a great use case for interceptors as illustrated.

[2015-12-23 20:48] #164 closed

[2015-12-23 21:15] mzabriskie commented on #143
This is strange. Here is the code that processes the response headers and passes it along to `resolve`/`reject`. Theoretically the only point of failure would be `parseHeaders`.

https://github.com/mzabriskie/axios/blob/master/lib/adapters/xhr.js#L61-L77

[2015-12-23 21:33] ir-fuel commented on #143
I found why. It had to do with CORS. You need to set which reponse headers are allowed to 'survive' a CORS request.

[2015-12-23 21:33] #143 closed

[2015-12-23 21:38] mzabriskie commented on #143
Glad that you figured it out. Sorry for the delayed response.

[2015-12-23 21:41] mzabriskie commented on #177
I've created an issue for using something like Saucelabs or BrowserStack (#180). In the mean time we need to only use `XDomainRequest` in IE9 and below.

[2015-12-23 21:43] nickuraltsev commented on #181
I would be interested in working on this. Let me know if you would like my help.

[2015-12-23 23:20] patrickliechty commented on #178
Actually that is not what is happening.  This is a better representation of what is happening.

function().then(function() {

            axios.get("url").then(function() {});

Each function returns a promise.  The get call unwinds the promise chain.

[2015-12-23 23:22] patrickliechty commented on #178
To answer your question, yes my requests are dependent upon the response.

[2015-12-24 12:16] anthwinter commented on #177
I've implemented a possible fix here:  https://github.com/anthwinter/axios/commits/master

But don't have access to any IE versions to test.

[2015-12-24 12:18] Klaasvaak commented on #177
You can download any IE version in a VM for free here: https://dev.windows.com/en-us/microsoft-edge/tools/vms/

[2015-12-24 13:57] hyzhak commented on #164
@jtangelder @mzabriskie thanks! actually it is great example for documentation too

[2015-12-24 16:48] #177 closed

[2015-12-24 19:40] mzabriskie commented on #175
This should be resolved with #183

[2015-12-24 19:40] #175 closed

[2015-12-25 12:59] Bogdaan commented on #97
+1  x-www-form-urlencoded

[2015-12-28 05:33] buley commented on #148
The `$http` way of doing things is a promise that represents cancellation. Support could be extended to axios without breaking anything by reusing the existing `timeout` parameter but adding support for a simple promise to cancel an outbound request if that promise resolves.

[2015-12-28 15:52] nathanharper commented on #175
Awesome, that fixed my problem. Thanks for the fast turnaround on this!

[2015-12-28 16:24] mzabriskie commented on #175
Glad it works for you. I'll work on getting a new release out this week.

[2015-12-30 17:01] ajacquelin commented on #113
+1

[2015-12-30 19:59] peterpuzos commented on #113
Homyk -> What CORS setting did you change on the server side to properly accept application/json in preflight with AXIOS?  Can you explain?  For example, I am using Tomcat, and sending post requests "with credentials" and Axios is not working for us.

[2015-12-31 10:03] Homyk commented on #113
peterpuzos -> I`m using embedded Jetty, but an equivalent will exist for tomcat.

FilterHolder filter = new FilterHolder();
filter.setInitParameter("allowedOrigins", "*");
filter.setInitParameter("allowedMethods", "POST,GET,OPTIONS,PUT,DELETE,HEAD");
filter.setInitParameter("allowCredentials", "true");
CrossOriginFilter corsFilter = new CrossOriginFilter();
filter.setFilter(corsFilter);

allowedOr

[2015-12-31 15:51] peterpuzos commented on #113
Thanks for the advice.  We actually managed to get it working after doing some reconfiguration (removed CXF from the equation).  We can confirm that it doesn't seem to be an AXIOS issue at all! Cheers!

[2015-12-31 18:42] jboolean opened #184 "Content type header removed if data is `false`"
xhr.js:93 removes the custom "content-type" header if data is the boolean "false" despite the comment that it should be removed if it is undefined. The boolean false is valid body data.

[2016-01-05 13:30] jmullo commented on #125
Has someone managed to combine axios & RxJS like this:

http://stackoverflow.com/questions/34612746/wrapping-promise-based-javascript-http-client-with-rxjs-observable

That "common demo" isn't really a solution unless you want to use RxJS mode widely in your application.

[2016-01-05 17:36] abdelacivitas opened #186 "custom headers are not present"
Hi guys, looks like axios is not setting a custom header im getting this issue:

`XMLHttpRequest cannot load http://xxxxxxxx/api/1.0/stores/getall. Response for preflight has invalid HTTP status code 401`

and make sense because the header is not set in the request headers.

![headers](http://content.screencast.com/users/abdeltatz/folders/Jing/media/518c88e5-5a44-4d7f-aa49-7e456f38245d/00000259.pn

[2016-01-05 21:56] katiepeters opened #187 "Specifying port in config"
Any chance you can add port as part of the config options? Right now, it looks like port is being grabbed from config.url, but the option to specify a different port would be excellent.

[2016-01-05 23:13] abdelacivitas commented on #186
This was not an Axios issue is a CORS issue, great lib. thanks!

[2016-01-05 23:13] #186 closed

[2016-01-06 08:28] abbothzhang commented on #45
can you tell me how to fix it?

[2016-01-07 23:23] gbrassey commented on #11
For webpack users looking for a way to polyfill Promises. Expose loader does the job nicely without requiring a boostrapped entry: `'expose?Promise!bluebird'`

[code]

[2016-01-08 02:54] tony-kerz commented on #187
coincidentally, i was just looking for the same thing. typically, i use from the browser, so going back to the origin is fine, in this case, i was looking to use from an express app to go to a diff origin and i can't seem to find the right config to specify port. granted, it could easily be operator error...

[2016-01-08 07:29] levithomason commented on #117
[TechnologyAdvice](https://github.com/TechnologyAdvice) - browser, probably node soon too

[2016-01-09 03:51] 9nix00 opened #188 "axios not work on android 4.4.2"
Dear all,

axios is great but not works on android 4.4.2 :(

[2016-01-09 22:07] Ma27 opened #189 "[RFC] more http methods should be available as instance functions"
1.: What's the problem with the *axios* function?
-------------------------------------------------------------

When using sinon.js as mocking engine, you'll see after very short time that I works with functions exported in another module, but not with an exported function. This issue has been discussed here: https://github.com/sinonjs/sinon/issues/664
Now there are a lot of http methods such as

[2016-01-10 12:54] Ma27 commented on #188
I'm not an android expert, but could you please a bit more precise about what your issue is?

[2016-01-10 19:27] Ma27 commented on #181
hmm the downside of such projects is always that I cannot really debug the code of foreign libraries having such a syntax when testing with mocha as there's just auto-generated code.q

[2016-01-11 09:10] freewayz commented on #97
Nice

[2016-01-11 12:33] aeirola commented on #40
You can do this with axios' interceptors by failing each request, but resolving the promise in the response error handler.

[code]

[2016-01-11 15:12] 9nix00 commented on #188
It hard to say, I can't capture the output because I didn't install android development too.
but I tried other rest lib like https://github.com/cujojs/rest later. it not  works too.

I guess maybe some promise feature is not working on this version and previous version.
my boss push me to finish my job, so I use jQuery to resolve my work. so sad.

[2016-01-11 15:16] 9nix00 commented on #188
It hard to say, I can't capture the output because I didn't install android development too.
but I tried other rest lib like https://github.com/cujojs/rest later. it not  works too.

I guess maybe some promise feature is not working on this version and previous version.
my boss push me to finish my job, so I use jQuery to resolve my work. so sad.

[2016-01-11 15:38] jennyyuejin opened #191 "cannot get cross-site POST to work"
Hello,

Thanks for the great work.
Although that were some releases targeting cross-site requests, I still can't get it to work. I dug through the previous posts and tried adding:

* crossDomain: true
* xDomain: true
*xDomainRequest: true

to the config. And none of them worked. (If this feature is actually available, updating the readme would help.)

Please advise ASAP. Thank you.

[2016-01-11 15:55] jennyyuejin commented on #191
In addition, i'm also setting withCredentials to true in the config.

[2016-01-12 18:40] cressie176 opened #192 "TypeError: Cannot assign to read only property 'key'"
We've encountered an intermittent error with the following code

[code]

Following a ETIMEOUT error we got

[code]

My best guess is that instead of "catch" being triggered, "then" is called with the gzipped response. Whatever the underlying object is it has a read only key property, or is otherwise immutable.

We've received a few timeouts like this, but not had the TypeError problem before.

axi

[2016-01-14 03:32] Sinistralis commented on #191
What a coincidence, I just ran into this issue as well and it only seems to happen for me on Mac. I spent a good 3 days and nights trying to debug my network and decided on a whim to try this using a vanilla XHR request and realized the problem wasn't my network, but axios.

I too am doing cross-site requests with credentials set to true. Looking at the network request, you get an ERR_EMPTY_RESPON

[2016-01-14 05:10] jennyyuejin commented on #191
Oh good I'm not crazy. :) Please look into this if possible.

[2016-01-14 14:47] VladimirShestakov opened #193 "How can I abort (reject) a request?"
How can I abort (reject) a request in the outer function?

for example:
[code]

[2016-01-14 19:28] dmt0 commented on #164
+1 I wish this example was easier to find!

[2016-01-14 21:07] musbaig commented on #117
PerkinElmer - browser

[2016-01-15 07:42] cressie176 commented on #192
Getting this on a daily basis. Also after 404s. Instead of an error being sent to catch, it's handled by then

[2016-01-15 09:22] mzabriskie commented on #192
Have you tried updating to latest version (0.8.1)?

[2016-01-15 09:39] cressie176 commented on #192
Will try it today.

[2016-01-15 21:42] Sinistralis commented on #191
Turns out my issue was unrelated to Axios. Cisco Anyconnect was blocking options requests from my machine... because reasons?

[2016-01-16 01:44] jreziga opened #194 "Promise is not defined"
Hi i'm using axios on a special project (within a nodejs framwork) and when I use a single request from axios it crashs. The problem is in:

\lib\axios.js on line 45.
The variable Promise is undefined and indeed "Promise" var isn't initialize. I read somewhere that it is a global but within the framework I use I think it doesn't. What can I add/remove to be able to use that library (I can hardcode

[2016-01-16 03:26] #194 closed

[2016-01-17 21:31] RafalFilipek commented on #117
[**o2.pl**](http://o2.pl) - browser

[2016-01-17 21:41] mzabriskie commented on #184
You're referring to this line?

[code]

I think you're right. Looks like a bug.

[2016-01-17 21:44] mzabriskie commented on #188
Are you polyfilling `Promise`? Maybe Android doesn't have native support.

[2016-01-17 21:47] mzabriskie commented on #187
@katiepeters what is your use case for specifying a port? I'm open to supporting this, just want to understand how it would be used.

[2016-01-17 21:55] mzabriskie commented on #191
Cross domain requests don't require any extra config. It will fall back to using `XDomainRequest` for older IE. https://github.com/mzabriskie/axios/blob/master/lib/adapters/xhr.js#L22

Can you provide more details? What browser, OS, version of axios, any error messages.

[2016-01-17 22:01] mzabriskie commented on #193
You can do something like this:

[code]

[2016-01-18 00:12] mzabriskie commented on #184
To verify that this issue is fixed get this test to pass: https://github.com/mzabriskie/axios/blob/master/test/specs/headers.spec.js#L102-L114

[2016-01-18 02:38] Sinistralis commented on #191
I can't speak for Jenny  but something in particular this library does causes requests to be block by Cisco Anyconnect default security which means it's possible other security settings do this too. I'm trying to track this down but no luck so far.

This can be reproduced by making a cross site request on a mac installed with cisco Anyconnect and possibly other VPN clients.

[2016-01-18 16:06] #184 closed

[2016-01-18 20:50] olafguesswhapp opened #196 "data does not arrive properly in req.body (axios post method)"
executing a post request in a ReactJs app does generate the following req.body:
{ '{"userEmail":"user@host.com","password":"12345"}': '' }

This is my code:

return axios({
	url: 'http://localhost:3000/apitest',
	method: 'post',
	headers: {'Content-Type': 'application/x-www-form-urlencoded'},
	data: {
		userEmail: 'user@host.com',
		password: '12345'
	},
})

Thank you for any help!

[2016-01-18 20:58] mzabriskie commented on #196
You are setting the `Content-Type` as `application/x-www-form-urlencoded`, which is not necessary. This is the default `Content-Type`. In the case that your data is JSON, as it is in your case, axios will automatically set the `Content-Type` to `application/json;charset=utf-8`, but only if the `Content-Type` hasn't been set manually. Try removing your `headers` and see if this resolves your issue.

[2016-01-18 21:23] olafguesswhapp commented on #196
thank you for fast feedback. I tried removing the header and also tried setting the Content-Type to "application/json;charset=utf-8" -> in both cases the request does not "reach" the node/express app. And in the browser the following error messages are displayed:

"OPTIONS http://localhost:3000/apitest
xhrAdapter @ bundle.js:25307
(anonymous function) @ bundle.js:25155
dispatchRequest @ bundle.js:

[2016-01-18 21:43] mzabriskie commented on #196
Sounds like you are having a problem with CORS. Are you making your requests to a different origin than where your web page is hosted? You may need to handle this on your server by responding to requests using the `OPTIONS` request method and set the `Access-Control-Allow-Origin` header. You can set it to a specific domain `Access-Control-Allow-Origin: http://example.com` or allow wild card Access

[2016-01-18 21:55] track0x1 opened #197 "Config file?"
I think it would be great if there was a main config file that we could use to set default options for our calls to axios... things like content-type and paramsSerializer

[2016-01-18 21:57] jennyyuejin commented on #191
My environment is:

* Axios 0.8.1
* El Capitan
* Chrome
* Error msg: "No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access."

Note that the same request works with curl.

Thanks for looking into this!

[2016-01-18 22:17] olafguesswhapp commented on #196
thank you - I was also looking into my CORS settings but I already had allowed wild card access:

res.header('Access-Control-Allow-Origin', '*');

[2016-01-18 22:24] mzabriskie commented on #197
You can set default config for axios which is used by all requests:

[code]

If you wanted to use a file you could do something like this:

[code]

Does this fulfill your use case?

[2016-01-18 22:57] olafguesswhapp commented on #196
thanks to your feedback I implemented to OPTIONS request method correctly (found it in stack overflow):

var allowCrossDomain = function(req, res, next) {
    res.header('Access-Control-Allow-Origin', '*');
    res.header('Access-Control-Allow-Methods', 'GET,PUT,POST,DELETE,OPTIONS');
    res.header('Access-Control-Allow-Headers', 'Content-Type, Authorization, Content-Length, X-Requested-With');

[2016-01-18 22:57] #196 closed

[2016-01-18 23:14] mzabriskie commented on #196
Glad that you got it working :)

[2016-01-19 01:02] mzabriskie commented on #191
With CORS a preflight request is made to the server to see if the request is allowed. You will need to have your server respond to requests that have`OPTIONS` as request method by setting the header `Acces-Control-Allow-Origin: *` which will allow requests from any origin. Alternatively you can allow for just certain origins `Acces-Control-Allow-Origin: http://example.com`.

[2016-01-19 05:54] DevPoint commented on #117
Book-In Manager - Browser

[2016-01-19 12:44] hartmamt commented on #117
The University of Cincinnati - part of PeopleSoft Campus Solutions Portal

[2016-01-19 14:14] jennyyuejin commented on #191
Yes, I understand that. But the server is not mine. I'm using a Baas (backend-as-a-service). And they have already added my domain to the allowed list. I have checked that other people using said Baas have not had such problems.

[2016-01-19 14:34] track0x1 commented on #197
I was thinking more along the lines of something like an `.axiosrc` for my project, so whenever I import axios it will be preconfigured with those default options. Kind of like your second example but with global effect instead of per-file.

[2016-01-19 15:40] mzabriskie commented on #191
I'm just going off the error message that you provided, but based on that it doesn't sound like you baas has things working for you. It wouldn't fail using curl because the cross origin security is only a limitation within the browser.

Can you open the network tab in your browser and share what you get as the response to the OPTIONS request? Hopefully seeing the response data and headers will hel

[2016-01-19 15:40] mzabriskie commented on #197
Interesting idea. This would only work in node environments, but could be useful.

[2016-01-19 16:18] jennyyuejin commented on #191
Here are the headers:

![image](https://cloud.githubusercontent.com/assets/2030548/12424467/2f743d26-be85-11e5-84d4-07043f7c890d.png)

[2016-01-19 16:23] gdamjan commented on #193
@mzabriskie that still waits for the result.
the point of rejecting/aborting a request is to destroy a potentionaly stuck request (cause of stuck TCP sessions, for ex.)

XHR supports .abort for ex.
https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest#abort%28%29

[2016-01-19 18:23] mzabriskie commented on #193
Sorry I misunderstood your question. Aborting a request is challenging with Promises. Working on getting is solved for a 1.0.0 release. See existing issue for more details on this https://github.com/mzabriskie/axios/issues/50

[2016-01-19 18:23] #193 closed

[2016-01-19 18:24] mzabriskie commented on #192
@cressie176 any luck with this?

[2016-01-19 18:26] mzabriskie commented on #188
Looks like `Promise` wasn't introduced for Android until 4.4.4 (http://caniuse.com/#feat=promises). I recommend using [es6-promise](https://www.npmjs.com/package/es6-promise) as a polyfill.

[2016-01-19 18:26] #188 closed

[2016-01-19 18:42] mzabriskie commented on #191
Here's the response headers from GitHub when I use axios to get my user profile from their API:

<img width="497" alt="screen shot 2016-01-19 at 11 36 54 am" src="https://cloud.githubusercontent.com/assets/199035/12428326/32653820-bea1-11e5-890a-a209dfe43e78.png">

You can see that GitHub adds the `Access-Control-Allow-Origin: *`. The response from your Baas is missing any `Access-Control` type he

[2016-01-19 19:18] mzabriskie commented on #165
You can certainly do this with interceptors:

[code]

This will wait for the auth request to resolve then add the access token as a header to the original request and finally make your request for the thread.

[2016-01-19 19:18] #165 closed

[2016-01-19 19:22] #125 closed

[2016-01-19 19:23] #148 closed

[2016-01-19 19:24] #110 closed

[2016-01-19 21:29] mhelvens commented on #165
OK, thanks!

Your example code does have invalid syntax on line 10-12. I think I know what you meant to do there, but could you correct the code for the record?

[2016-01-19 22:50] cressie176 commented on #192
Sorry - haven't had time to test yet.

[2016-01-20 18:30] dmt0 opened #199 "Both then and catch executing in same call"
I'm doing this call:

    axios.get('/groups', {
      baseURL: 'http://localhost:5000',
      headers: { Authorization: 'Bearer ' + getAccessToken(),  'Content-Type': 'application/json; charset=utf-8' }
    })
      .then((response) => {
        console.log('then response',response)
        success(response.data)} )
      .catch((response) => {
        console.log('catch response',response)

[2016-01-20 19:16] #199 closed

[2016-01-21 02:40] regou commented on #117
Patsnap - browser, node

[2016-01-21 20:49] cressie176 commented on #192
0.9.0 running in live now. Will close in a couple of days if the problem resolves.

[2016-01-21 23:18] cressie176 commented on #192
No - still errors with the same

[2016-01-22 00:40] AurelioDeRosa commented on #64
I think this should be a different issue. While there are cases where only the `onProgress` is needed (addressed by #96), there are other cases where an application need to access the XHR instance to perform other operations.

[2016-01-22 01:45] savantaparna opened #201 "Axios rejects on the successful request (204) in IE9"
## Current behavior:
Axios rejects the promise on successful request in IE9  on status code 204.

## Expected behavior:
Axios should resolve the promise when it receives status code as 204 in IE9.

I have found the discussion of this same issue -
http://stackoverflow.com/questions/10046972/msie-returns-status-code-of-1223-for-ajax-request

IE coerces 204 to 1223 and this falls out range of success

[2016-01-22 02:45] srph commented on #117
ONE Network eCommerce - node & browser (universal app)

[2016-01-22 06:33] divyenduz opened #203 "Promise not defined on Opera"
Hi, I am getting the error  `Unhandled Error: Undefined variable: Promise`
on opera desktop version (screenshot) in the line https://github.com/mzabriskie/axios/blob/master/lib/axios.js#L62

![screenshot from 2016-01-22 12-02-17](https://cloud.githubusercontent.com/assets/746482/12504053/15068750-c100-11e5-9881-78738c81944a.png)

Any pointers ?

[2016-01-22 13:08] mzabriskie commented on #203
You may need to polyfill `Promise` as not all browsers support it natively yet. I recommend [es6-promise](https://www.npmjs.com/package/es6-promise).

[2016-01-22 14:00] divyenduz commented on #203
I think this will occur only on old opera according to http://caniuse.com/#search=promise, I am closing this one. Thanks

[2016-01-22 14:00] #203 closed

[2016-01-22 15:17] latentflip opened #204 "Axios doesn't resolve/reject on network level errors (i.e. onerror)"
I've noticed that on current chrome (unsure how other browsers treat this) axios doesn't resolve or reject if I forget to start my api server. I believe it's because at the network level, onload never gets called on a request, but onerror does instead, and looking at https://github.com/mzabriskie/axios/blob/master/lib/adapters/xhr.js we don't handle onerror at all.

![localhost 3000 2016-01-22 15-

[2016-01-22 15:26] mzabriskie commented on #204
Yeah this is wrong. Happy to accept a PR.

[2016-01-22 15:27] latentflip commented on #204
It _looks_ at first glance like `request.onload = request.onerror = function () {...` might work, since we're already handling `if (!request)`, will take a look.

[2016-01-22 15:47] mzabriskie commented on #204
I don't know if that will work, because `request` will still exist, even if it's in error. Should be as simple as what the node adapter is doing.

[code]

[2016-01-22 16:05] latentflip commented on #204
@mzabriskie oh, so you'd rather reject with the error, rather than a response object with a 0 status?

[2016-01-22 16:09] mzabriskie commented on #204
I think so. Mostly for parity with nose adapter, but also there isn't any response data to return. Whereas the Error could provide meaningful information as to what happened.

[2016-01-22 16:19] latentflip commented on #204
So it looks like onerror doesn't actually return an error, but a progress event. At least in the case of `http://localhost:5000` when the api isn't actually running.

![localhost 3000 2016-01-22 16-13-12](https://cloud.githubusercontent.com/assets/78225/12516014/204b391c-c123-11e5-9eb4-e3e8129e85c4.png)

Throwing that event I don't think makes sense since it's not even an error object. According t

[2016-01-22 16:23] mzabriskie commented on #204
After reading a bit, it looks like `onerror` only gets called when there's a network error. Let's just throw `new Error('Network error');`

[2016-01-22 16:26] mzabriskie commented on #201
Wouldn't expect anything less from IE :/

[2016-01-22 16:40] latentflip commented on #204
:+1: agreed, done: #205

[2016-01-22 16:54] mzabriskie opened #206 "Planning for 1.0"
This library has been around for about a year and a half and has seen good adoption. In order to release a 1.0 version, a library should come with a high level of confidence in it's reliability as well as provide a stable API for the features that are needed for most use cases.

In planning for a 1.0 release there are a few features that need to be implemented. If you have something you feel shoul

[2016-01-22 16:57] #204 closed

[2016-01-22 16:58] mzabriskie commented on #204
Thanks for your help!

[2016-01-22 21:00] #201 closed

[2016-01-22 21:47] mzabriskie commented on #192
Strange. Are you running this in the browser or in Node?

[2016-01-22 21:48] MMRandy opened #207 "Cookie handling"
Is there anything in the lib that helps create/manage cookies?  I didn't see anything, so just wondering.  Thx.

[2016-01-22 22:51] StephenGrider commented on #117
Browser - [mPath](http://www.mpath.com/) and [Learn Modern React With Redux](https://goo.gl/gAcpPX)

[2016-01-22 23:27] #124 closed

[2016-01-23 15:41] cressie176 commented on #192
Both, but the logs we have are from when it's running on node. I tried to replicate in a standalone script with nock but couldn't. Will keep investigating

[2016-01-23 15:54] mzabriskie commented on #192
Okay, I will try looking into what is happening in node adapter and see if we can get to the bottom of it.

[2016-01-23 17:26] smilingpoplar opened #209 "Change an axios instance's default headers?"
I use token in the headers for authentication. So I firstly create an axios instance to login.  All the requests after login should carry the token in a header field.

Q1: Should I use `instance.interceptors.request.use()` to inject the token?

In my integration test, I login as different users. The `instance.interceptors.request.use()` accumulates the token configs in an internal array, and the l

[2016-01-23 17:35] mzabriskie commented on #209
If you always know the value of the header:

[code]

This will automatically add the header to every request.

[2016-01-23 17:47] smilingpoplar commented on #209
@mzabriskie Thanks for the quick reply. It works. For instance only, I set:

[code]

[2016-01-23 17:47] #209 closed

[2016-01-23 18:06] mzabriskie commented on #209
Where are you getting `defaultConfig` from? It should just be `instance.defaults` https://github.com/mzabriskie/axios/blob/master/lib/axios.js#L13

[2016-01-23 18:13] smilingpoplar commented on #209
Yes, I should update the version.
https://github.com/mzabriskie/axios/blob/v0.8.1/lib/axios.js#L12

[2016-01-23 18:15] mzabriskie commented on #209
Ah right. Glad it's working!

[2016-01-23 22:38] madshargreave opened #210 "Headers are being sent as body instead"
Hi

In the following code, the authorization header is being sent as request payload, and not as a custom HTTP request header

[code]

[2016-01-23 22:55] mzabriskie commented on #210
You need to pass the headers in the `config`

[code]

[2016-01-24 17:49] zbobyuan commented on #204
I run this issue too, when your plan release this fix?

[2016-01-24 18:04] mzabriskie commented on #204
Will try and get a release out this weekend.

[2016-01-24 22:06] #210 closed

[2016-01-24 22:08] mzabriskie commented on #207
There is no special handling for cookies other than what the browser does automatically.

[2016-01-24 22:19] mzabriskie commented on #204
This fix is available in 0.9.1

[2016-01-24 22:19] mzabriskie commented on #201
This fix is available in 0.9.1

[2016-01-25 16:36] noraesae opened #211 "Option to turn off follows-redirect"
Is there an option to turn off follows-redirect? It's quite critical for API tests when we would just like to check if it returns with `302`, not the redirected response.

[2016-01-25 17:05] mzabriskie commented on #211
This is currently not an option. Would be simple enough to support though. If you want to PR I'd be happy to merge it. Otherwise I'll get to it as soon as I can.

[2016-01-27 04:20] jennyyuejin commented on #191
I see I see hmm. Sorry for the super late reply. Let me look into this a bit more. Thank you very much.

[2016-01-27 16:24] scerelli opened #213 "can't get errors after a post request"
I'dont know if this (#41) is fixed or not but i've this situation:

[code]

but what i see is that the response  arrives only if the status is 200 otherwise it doesn't enter in `catch` and even in `then` it just stops.

this is what i see when i try to enter wrong credentials in my form:

```XMLHttpRequest cannot load http://url/session. No 'Access-Control-Allow-Origin' header is present on the re

[2016-01-27 16:38] mzabriskie commented on #213
Sounds like you're having a problem with CORS. Make sure that your server is setting the headers correctly to accept requests from other origins.

[2016-01-27 16:58] scerelli commented on #213
It's strange because i get this error only if user and pass are wrong otherwise if i type correct login data the promise works well because the server return 200

[2016-01-27 18:04] renanrmelo commented on #213
If you dont have access to configure CORS on the server, and are you using
Google Chrome you can use this extension:
https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi
worked
for me yesterday.

Em qua, 27 de jan de 2016 às 14:58, Stefano <notifications@github.com>
escreveu:

[2016-01-28 10:55] scerelli commented on #213
Good one

[2016-01-28 10:55] #213 closed

[2016-01-28 12:13] alexisargyris opened #214 "installation with jspm"
Hello,

I am trying to install [github-api](https://github.com/michael/github) which depends on axios like this:

[code]
I am trying
[code]
and I get back
[code]
Am I doing something wrong? Should I approach this some other way?

Thanks

[2016-01-28 16:48] mzabriskie commented on #214
It looks like jspm doesn't support depending on a repo directly from GitHub. I'm not sure why they are depending on a fork. I'd suggest opening an issue with github-api and encourage them to use the axios package directly from npm.

[2016-01-28 17:33] alexisargyris commented on #214
will do, thanks

[2016-01-28 17:33] #214 closed

[2016-01-28 21:24] AurelioDeRosa commented on #214
Hi.

To clarify why we use a fork is because we need to expose the XHR request to avoid any backward incompatibility. I proposed the fix we needed in [this PR](https://github.com/mzabriskie/axios/pull/200) but it hasn't been merged yet.

[2016-01-28 23:07] mzabriskie commented on #214
I will take a look at your PR.

[2016-01-29 08:06] vjpr opened #215 "Axios interceptors are causing unhandled promise rejections"
When a promise is rejected, even if it has a rejection handler I am seeing this message:

[code]

~~When I comment out the interceptor middleware the unhandled rejections do not occur anymore.~~

https://github.com/mzabriskie/axios/blob/70ef49eeb93b7cdc0e3579a263268ffd64cfa108/lib/axios.js#L72-L74
[code]

My code looks like this:

[code]

If I add a `catch` it fixes it too:-

[code]

**EDIT**

My

[2016-01-29 08:37] vjpr commented on #215
False alarm!

In my console I was seeing two 401s for two different endpoints.

However, one endpoint was working perfectly, the other was being invoked twice and producing two unhandled rejections. Such is life.

[2016-01-29 08:37] #215 closed

[2016-01-31 03:40] dylancwood opened #217 "`axios.create()` does not export the same API as `axios`"
I am using `axios.create()` to create new instances of axios and thereby avoid adding interceptors to the global axios object. **Firstly, let me say that it is *awesome* that you've exposed an API that allows this!** Unfortunately, I had to spend a bit too much time discovering that `axios.create()` does not return a function, like `require('axios')` does.

This means that I cannot use the followi

[2016-01-31 20:11] jtangelder commented on #181
You can also drop most of utils.js then. CoreJS/Babel will add polyfills for them.

[2016-02-01 01:49] eknkc commented on #50
How about providing 2 functions instead of an `abort`?

Something like:

[code]

[2016-02-01 13:09] eknkc commented on #50
BTW, my arguments against silent aborts:

- ES7 async functions will never continue over await calls. It is better to have an AbortedError or something.
- Some promise libraries tend to keep a registry of running promises for lifecycle management etc. Bluebird recently added such features, I'm not sure about the implementation details but forgotten promises might lead up to memory leaks.
- Easier

[2016-02-01 14:33] fatuhoku opened #218 "How is this project different from request-promise?"
I'm looking for a http request library with a Promise API that doesn't rely on Bluebird (i.e. to minimise dependencies). Will axios fit the bill?

[2016-02-01 23:25] uglymunky opened #219 "Support for Safari 6 and 7?"
What's axios's support for Safari 6 and 7?

[2016-02-02 10:56] ctimmerm opened #220 "Custom instance defaults can't be set as documented"
https://github.com/mzabriskie/axios#custom-instance-defaults

Because the defaults from `defaults.js` are not merged in here: https://github.com/mzabriskie/axios/blob/master/lib/axios.js#L88, `instance.defaults.headers` will be `undefined`.

I'll try to make a PR some time soon.

[2016-02-02 20:30] uglymunky commented on #219
So far, using Browserstack I was able to successfully run all the examples on both Safari 6 and 7.  For now, gonna go ahead and assume that its supported...

[2016-02-02 20:30] #219 closed

[2016-02-02 22:35] mzabriskie commented on #219
Thanks for figuring this out. I would like to eventually get the tests running on Saucelabs #180.

[2016-02-03 21:34] cidevant opened #222 "ng-resource"
Hi,

this project is awesome. I have my own component "[react-resource](https://github.com/cidevant/react-resource)", inspired by Angular's $resource module. Now it provides quite similar API, like `ng-resource`, but there is a lot of space for improvements (global config, file attachments, interceptors, transformRequest, transformResponse, etc). So I decided to rewrite it and use `axios` instead

[2016-02-03 22:30] FarhadG commented on #206
Thanks for the update, @mzabriskie. I'd love to help with the caching feature. Are you planning to use a module for this functionality or build one?

[2016-02-04 11:07] inertum opened #223 "Injecting additional information to response"
I'm using axios in redux (w/ redux-promise middleware).

If the action returns anything else than type+payload,
the request isn't detected as promise (as far as I know, stabbing at the dark here!)

So quetion is how can I inject the index value inside the payload?

[code]

[2016-02-04 15:00] fobdy opened #224 "Incorrect content-type when making post request with hash object as a data"
[code]

will implicitly serialize hash object to `JSON` as a `POST` body, but `content-type` header is set to `application/x-www-form-urlencoded`, which isn't correct i think.

In that case `content-type` have to be `application/json`, as it's implicilty converted.

[2016-02-04 21:13] chrisfinch commented on #82
Any progress here?

[2016-02-05 02:39] MarkHerhold commented on #218
@fatuhoku FYI, RequestPromise has an issue open for abstracting away from Bluebird. https://github.com/request/request-promise/issues/65

[2016-02-05 02:44] MarkHerhold commented on #197
@track0x1 Why couldn't you just wrap axios in your own module and apply the config yourself? Then every time you want Axios with your own settings you can just `require('my-axios')`.

[2016-02-05 09:35] Zensavona opened #225 "Possible to not make an OPTIONS call before POSTing?"
Hey, I'm working with a Java backend which I do not have control over and it doesn't accept the OPTIONS calls axios likes to send before POSTing things, is it possible to skip the OPTIONS and just naively send a POST? I can't see an obvious way to do it. Am I missing something?

Thanks <3

[2016-02-05 14:21] fatuhoku commented on #218
@MarkHerhold Okay, good to know! I'm using axios now. Definitely works well for me.

[2016-02-05 14:21] #218 closed

[2016-02-05 16:34] mzabriskie commented on #225
The `OPTIONS` is a preflight request for CORS to verify if it's okay to make the request. There's no way around it if you're sending requests from one origin to another.

[2016-02-05 17:52] rogeriochaves opened #226 "XHR timeout does not trigger reject on the Promise"
Axios [set the timeout](https://github.com/mzabriskie/axios/blob/master/lib/adapters/xhr.js#L36) for XHR request, but doesn't listen to `ontimeout` events, rejecting the promise, so my `then` and `catch` are never called.

The PR #227 to fixes that

[2016-02-05 18:58] Zensavona commented on #225
All good, thanks anyway!

[2016-02-05 18:58] #225 closed

[2016-02-08 09:17] ctimmerm commented on #223
Could you give some more information about what you're trying to do?
Any of the axios API calls returns a plain Promise (the `axiosRequest` in your example is just a Promise), so in that sense using axios isn't any different from using any other Promise for the payload.
If you used the `index` in the request and want to have access to it where you're processing the response, it should already be a

[2016-02-08 16:23] reggi opened #229 "Support for axios.default.params?"
Is there any way to get support for `axios.default.params`? Does this exist already? I really love the deafult functionality for headers, I think it makes a lot of sense.

[2016-02-08 16:43] reggi commented on #229
This works:

[code]

[2016-02-08 16:43] #229 closed

[2016-02-09 02:02] timqian commented on #117
[star history](https://github.com/timqian/star-history): The missing star history graph of github repos
[GiG](https://github.com/timqian/GiG): Content Management System using github as its backend

[2016-02-10 22:16] reggi opened #230 "Rate-limit control within axios?"
I'm working with an API that only allows you to send 2 request per 1000ms and I have this function where you can pass a achieve this.

[code]

The following should work, but only for post requests:

[code]

My question / issue is: is there a way for me to throttle all requests made by `axios`? So if someone runs `axios.post` or `axios.get` those requests are throttled.

Also any interest in suppor

[2016-02-11 17:01] reggi commented on #230
@mzabriskie If you have the time and this is a simple question would love to hear your thoughts?

[2016-02-11 17:14] jampy opened #231 "optional size limit"
Is there a way to abort requests if the response content exceeds a predefined size?

I'd like to avoid that my NodeJS process screws up just because axios is requested to load a URL that returns some gigabytes of data...

[2016-02-12 18:23] LestaD opened #232 "Option for sync"
I need option to enable sync loading.
I want to use `axios` on server with react

[2016-02-15 16:07] mzabriskie commented on #232
You want to make a synchronous request? Why can't this be asynchronous? I know people are doing server rendering with React + axios this way.

[2016-02-15 19:25] LestaD commented on #232
@mzabriskie can you help me?

[2016-02-15 20:32] LestaD commented on #232
Or give me a link on projects react ssr+axios

[2016-02-15 21:21] LestaD commented on #232
I don't know how to stop rendering until all requests will resolved.
I make request in `componentWillMount()`

[2016-02-16 23:12] tquetano-r7 opened #236 "Handle aborts due to timeout"
Just wondering if there is an internal way to handle when an abort occurs due to timeout. It appears that .catch() does not fire, which I would expect the behavior to be.

[2016-02-17 13:35] tquetano-r7 commented on #117
Rapid7 - browser

[2016-02-17 21:04] danielfalk commented on #50
+1 for the way Angular does it, via resolving a promise.  It has worked very well for me in practice.

[2016-02-17 21:06] alexisargyris opened #237 "dependencies"
Hi,

In package.json the only dependecy listed is "follow-redirects" but in "http.js" there seem to be more (e.g. url, zlib, buffer). Is this a problem?

[2016-02-18 07:52] ctimmerm commented on #237
The http adapter is used when running axios on node.js. url, zlib and buffer are core modules included with node itself and thus do not need to be listed as external dependencies.

[2016-02-18 07:55] alexisargyris commented on #237
Ok, thanks

[2016-02-18 18:00] tj opened #238 "Remove ./../../package.json default or make it conditional?"
Hey! I was using Axios in an Apex example for AWS Lambda, and realized that it no longer works with Webpack.

https://github.com/apex/apex/tree/master/_examples/babel

I imagine this is what most people would run into with AWS Lambda. Any chance of moving the require into the User-Agent conditional? I'll see if I can decipher webpack's config to load json as well haha.. just thought I'd mention it

[2016-02-18 18:05] tj commented on #238
nice nvm the config isn't too bad

[2016-02-18 18:05] #238 closed

[2016-02-18 19:12] tquetano-r7 commented on #232
Use axios.all to manage your dispatch rather than dispatching with each result.

[2016-02-18 19:27] nettofarah commented on #232
@LestaD a way to solve this is to declare all requests you need to perform as a static array property in your react component.

Something like this:

[code]

You can then write a function in your backend server that does something like this:

[code]

[2016-02-18 21:44] LestaD commented on #232
@nettofarah good solution

[2016-02-18 21:58] Aourin opened #239 "HTTP -> HTTPS 307"
Any plans for supporting 307 redirects in which a request gets forwarded and still can handle it?

[2016-02-19 12:23] #237 closed

[2016-02-19 16:24] #232 closed

[2016-02-19 16:25] mzabriskie commented on #230
Not something I would support natively, but I believe this could be accomplished with interceptors.

[2016-02-20 01:03] NerdPad commented on #236
+1

[2016-02-20 20:44] pborrego opened #240 "Cross domain requests on IE9 are timing out prematurely"
# Current behavior
When IE9 is running cross domain requests, the requests are timing out before the timeout time that I set with the Axios configuration.

# Expected behavior
Axios should ensure that XDomainRequest object's timings does not cause it to time out prematurely.

Here are two source talking about the same issue I am seeing and how they solved it:
http://perrymitchell.net/article/xdoma

[2016-02-22 11:40] Pitzcarraldo opened #241 "0.9.x versions are not working in the IE8"
0.9.x versions are not working in the IE8. They send request well, but could not receive responses. I think it occurred by below commit. https://github.com/mzabriskie/axios/commit/986647be59259125750fd44dbb429658d67dc156 This commit removed 'onreadystatechange' from loadEvent.

I know that IE8 doesn't support 'onload' for XMLHttpRequest.
To support IE8 as before, this changes has to be reversed.

[2016-02-22 20:35] craigbeck commented on #117
Zipwhip: node & browser

[2016-02-23 10:12] jtangelder opened #242 "Network Error is missing Axios config"
It would be nice if the Network Error in the xhr module would also contain the config. The error now differs a lot from the other rejection.
https://github.com/mzabriskie/axios/blob/master/lib/adapters/xhr.js#L73

[2016-02-24 00:24] tj opened #244 "window is not defined (aws lambda)"
It would be awesome to great to use `this` instead of window so Axios can be used in AWS Lambda via Browserify

[2016-02-24 11:37] freder opened #245 "basic auth doesn't work with post requests"
basic authentication works fine with `get`, but not with `post`. — you might want to look into that.

[2016-02-24 21:58] ruchigoyal2005 opened #246 "Access denied error on IE9"
I am getting access denied when using axios get with IE9. is there any workaround for this?

[2016-02-24 22:38] mzabriskie commented on #246
Can you provide more info? Full error message, stack trace, etc. Also are you making a request to a different URI than the origin (www.example.com -> www.anothersite.net)?

[2016-02-25 05:39] roblav96 opened #247 "Can't bind() promise"
I have this method here I'm creating and I can't seem to call bind(this) on the promise chain.

[code]
[code]

Every other promise based library I've used I can bind(this) like that.

[2016-02-25 08:25] ctimmerm commented on #247
Axios does not come bundled with a promise library, so if you haven't included one yourself, whatever is available natively in your environment is used. Since `Promise.prototype.bind` is not part of the standard API that browsers and Node implement, your example won't work.

To make it work, you can include a promise library that does include `Promise.prototype.bind`, e.g. [bluebird](http://bluebi

[2016-02-25 08:33] roblav96 commented on #247
I ending up doing:
[code]

Basically what you said. What's weird is, I'm a bluebird junkie and I included it in my browserify bundle. I guess I'll load it on the global scope

[2016-02-25 08:56] sehmaschine commented on #117
vonautomatisch: browser

[2016-02-25 09:44] jbandi opened #248 "IE11 - DELETE request - Content-Type => Problem"
I am using axios 0.9.1.
I am using the following statement:

`axios.delete(API_HOST + '/' + itemId)`

This results in Axios passing `undefined` to `XMLHttpRequest.send()`

(I am looking on line 131 in `lib/adapters/xhr.js`)

IE11 sets the Content-Type header to  `text/plain;charset=UTF-8` if you call `XMLHttpRequest.send(undefined)`.

This is not good... (in my case the backend refuses the request

[2016-02-25 14:59] ruchigoyal2005 commented on #246
This is the error description:
{
   [functions]: ,
   description: "Access is denied.",
   message: "Access is denied.",
   name: "Error",
   number: -2147024891
}

It is thrown from `request.open` in xhr.js. yes, I am making request from .net to .com

[2016-02-25 16:06] mzabriskie commented on #246
Are you sure you have your server set up correctly? The browser makes a preflight request using the `OPTIONS` request method to verify access. The server should respond to this request with the following headers:

[code]

This will allow cross origin requests from www.example.com to your server. You can also allow access from all origins by using `Access-Control-Allow-Origin: *`.

[2016-02-25 22:09] mzabriskie commented on #239
30x redirects are followed automatically by `XMLHttpRequest`. As for node this support was introduced in 0.8.0 (https://github.com/mzabriskie/axios/blob/master/CHANGELOG.md#080-dec-11-2015)

[2016-02-26 03:04] mjhamm75 commented on #117
LDS church.  Browser

[2016-02-26 18:30] ruchigoyal2005 commented on #246
Finally I got this working. There were couple of issues with IE9
1) I was getting above access denied error because locally I was pointing to Api which has https://. but local was http. In IE9 it should be either http to http or https to https. so change the local code to point to http.
2) XDomainRequest in IE9 doesn't support custom headers. After removing custom headers atleast my api calls were

[2016-03-01 05:02] mjrister opened #253 "Invalid axios.all TypeScript Definition"
The TypeScript definitions for axios.all are not correct in that they don't conform to the ES6 Promise.all interface. The first issue is that it assumes that the return value from axios.all is an array of promises whose resolve values are an array of Axios.AxiosXHR types. The resolve values could be of any type, not just Axios.AxiosXHR.

Second issue is that the .all interface is poorly designed.

[2016-03-01 05:26] mjrister commented on #253
The interface for all should just be

all<T>(values: [T | IPromise<T>]): IPromise<T[]>;

[2016-03-01 05:28] mjrister commented on #253
Also it looks like the spread function is also not correct as it only assumes there are two parameters, but destructuring has no limit to the number of attributes

[2016-03-01 14:05] incubus8 commented on #164
@jtangelder thanks a lot for the snippet

A little correction on the snippet, I think the returned error status should be 504 instead of 500.

[2016-03-02 15:15] eanplatter commented on #117
TechnologyAdvice - browser

[2016-03-02 16:22] reggi opened #255 "Catch does not return Error"
Why does catch return an object and not an error object?

[2016-03-02 19:28] #248 closed

[2016-03-02 19:31] mzabriskie commented on #245
Fixed by #252

[2016-03-02 19:31] #245 closed

[2016-03-03 00:57] #247 closed

[2016-03-03 00:58] mzabriskie commented on #246
Glad you got it working. I'll take a look at your PR.

[2016-03-03 00:58] #246 closed

[2016-03-03 01:03] mzabriskie commented on #253
Thanks for catching this. I don't use TypeScript, so I am not well versed in how this stuff works. Would be happy to accept a PR to fix these issues.

[2016-03-03 01:11] mzabriskie commented on #255
This is how it is done with Angular's $http, which this library is based on. More or less it's an artifact and not necessarily the right way to do things. I would like to move to a more consistent error path where an `Error` is used that has response details attached if relevant.

[code]

I would also like to change the lib to only reject the `Promise` when an actual error occurs, regardless of HT

[2016-03-03 01:12] mzabriskie commented on #242
I would like to revamp error handling. See the thread for #255

[2016-03-03 01:12] #239 closed

[2016-03-03 01:18] #236 closed

[2016-03-03 01:23] mzabriskie commented on #231
This isn't currently possible, but could be done by adding a `maxContentLength` config option, then rejecting for requests that exceed that. I would be happy to accept a PR if you want to take a stab at this.

[2016-03-03 01:24] #230 closed

[2016-03-03 09:26] denniskkim opened #256 "trying to build using codeship but fails because it says axios.git is not a package"
-npm ERR! not a package /tmp/npm-4127-dA97FOL3/github.com/github-tools/axios.git
\npm ERR! Error: ENOENT, open '/tmp/npm-4127-dA97FOL3/github.com/github-tools/axios.git-unpack/package.json'
npm ERR! If you need help, you may report this *entire* log,
npm ERR! including the npm and node versions, at:
npm ERR!     <http://github.com/npm/npm/issues>

npm ERR! System Linux 3.13.0-58-generic
npm ERR! c

[2016-03-03 13:55] rkmax commented on #175
@mzabriskie this bug was fixed on the 0.9.1 version? because I'm experiencing it

I have a small module

[code]

later when I use I got a wrong baseUrl

[code]

[2016-03-03 14:30] rkmax commented on #175
never mind! I realize I'm using the wrong property `baseUrl` instead `baseURL`

[2016-03-03 20:51] mjrister commented on #253
Thanks, I will try to do so soon as I really do like axios. As a workaround for this, I was able to utilizing Promise.all (by referencing es6-shim.d.ts) instead of axios.all to allow for my TS code to compile without errors.

[2016-03-04 04:49] mzabriskie opened #257 "Docs Website"
[README](https://github.com/mzabriskie/axios/blob/master/README.md) is getting cluttered and difficult to read. Would be great to transition to a proper documentation site.
- Documentation of features
- [Examples](https://github.com/mzabriskie/axios/tree/master/examples)
- [Cook book](https://github.com/mzabriskie/axios/blob/master/COOKBOOK.md) recipes
- [Upgrade Guide](https://github.com/mzabrisk

[2016-03-04 04:53] mzabriskie commented on #206
@FarhadG I built a [module](https://github.com/mzabriskie/felix) for caching that I had considered using for this, but I am not married to that. It would be nice to allow whatever is used to be pluggable, so people can provide their own cache mechanism if they want.

[2016-03-04 06:35] #180 closed

[2016-03-04 07:32] leozdgao commented on #226
How soon could this patch been updated to npm?

[2016-03-04 09:21] jtangelder commented on #180
:tada: awesome!

[2016-03-04 12:10] bomsy commented on #231
looking into this..

[2016-03-04 12:28] bomsy commented on #231
@mzabriskie Would we want reject with an err or with a response on this one?

[2016-03-04 12:40] mzabriskie commented on #231
I'd go with an Error object

[2016-03-04 13:48] ajcrites opened #258 "Allow customization of resolve/rejection handling for status codes"
Currently any non-200 level status code will be rejected. In most cases this makes sense, but if you are anticipating a certain status code this can break control flow [as it does here](https://github.com/Team-Crites/lambdathrooms/blob/master/functions/status/src/index.js)

    const response = await axios.get(url);
    if (200 === response.statusCode) doA();
    if (422 === response.statusCode) d

[2016-03-04 19:15] mzabriskie commented on #241
Thanks for reporting this issue. I am reviewing a PR that will hopefully solve this and will release an update as soon as we get it working.

[2016-03-04 21:19] chadxz commented on #97
is there any interest in having first-class support for urlencoded put/post baked into axios?

[2016-03-04 21:40] nmaves commented on #97
Yes

[2016-03-05 10:43] Pitzcarraldo commented on #241
Cool :+1:
Thanks :)

[2016-03-06 06:00] ericwooley opened #260 "Flow doesn't think axios has a patch method"
Not sure how or where to deal with that. But it's mildly annoying.

[2016-03-06 06:35] #241 closed

[2016-03-06 06:57] #82 closed

[2016-03-06 07:23] mzabriskie commented on #260
Is Flow aware of the other HTTP methods (`axios.get`, `axios.put`, etc)?

[2016-03-06 16:28] ericwooley commented on #260
@mzabriskie Sorry I should have updated this issue.

My project is using the https://github.com/davezuko/react-redux-starter-kit, which included TechnologyAdvice/flow-interfaces automatically. Which is where flow was getting the information. Once I realized that, I submitted a PR to flow-interfaces, and that should work after their next publish.

[2016-03-06 16:28] #260 closed

[2016-03-06 20:33] mzabriskie commented on #258
I actually agree with this idea. See my comment here https://github.com/mzabriskie/axios/issues/41#issuecomment-72732209.

[2016-03-06 20:33] #258 closed

[2016-03-06 20:37] mzabriskie commented on #256
Not really sure why this is happening, but it looks like you're using a fork of this project. Have you tried using this project instead?

[2016-03-06 20:42] mzabriskie commented on #222
Hey, react-resource looks interesting. Glad that you find axios useful. I think it makes most sense to keep axios as a dependency of react-resource, instead of merging, as a lot of projects are using axios without React. Keep up the good work!

[2016-03-06 20:42] #222 closed

[2016-03-06 20:43] mzabriskie commented on #240
This should be fixed with #251.

[2016-03-06 20:43] #240 closed

[2016-03-07 22:30] dankantor commented on #97
+1

[2016-03-07 22:32] ruffrey commented on #97
+1

[2016-03-08 20:19] dmt0 commented on #206
Any plan for more releases before 1.0?

[2016-03-08 20:44] mzabriskie commented on #206
@dmt0 yes, I am working on a release right now (0.10.0) and will continue to release patches to fix issues. 1.0.0 is the next major milestone that I am pushing towards.

[2016-03-08 20:55] mzabriskie commented on #189
Sorry, I have a lot of other things demanding my attention and haven't given this a close look yet.

I think that any valid HTTP verb should be supported natively. Additionally it would be nice to allow adding custom verbs as you suggest.

[2016-03-09 04:55] tnrich commented on #56
hey @mzabriskie, could you please provide an example of how to use the timeout config for a single request?

Thanks very much!
Thomas

[2016-03-09 16:22] Ma27 commented on #189
@mzabriskie ok - the PR #190 aims to implement this :)
I think that exactly this will be quite difficult: there are a lot of RFCs like the RFC-2518 for enhanced authoring actions and some more.
I'll rebase my PR on master and there are some things I'd like to do before talking about merging.
Could you please have a look at the way it is implemented?

[2016-03-09 16:52] patrickliechty commented on #84
Are there any plans to create a $httpBackend type feature so you can mock out http requests?  $httpBackend also makes testing synchronous with $httpBackend.flush().  Are there any plans to follow this way of testing?

[2016-03-09 17:12] mzabriskie commented on #84
@patrickliechty I don't know the exact implementation that will be used, but there are plans to make testing less painful.

[2016-03-10 15:53] dmt0 commented on #66
I'm getting this in one (but not all) of my projects. Any time I hit an `undefined.member` in the `render()` function of any React component, Axios catches it.

[2016-03-11 03:53] 9tor opened #262 "axios : Response to preflight request doesn't pass access control."
I have an error when executing a get request in a ReactJs app does generate the following
"XMLHttpRequest cannot load http://localhost:3002/api/users. Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3005' is therefore not allowed access. The response had HTTP status code 404."

M

[2016-03-11 06:01] NarkLord commented on #262
This isn't an axios issue. You need to set your server to accept CORS requests. Look at the answer to http://stackoverflow.com/questions/20035101/no-access-control-allow-origin-header-is-present-on-the-requested-resource

[2016-03-11 16:11] jgoux opened #263 "Params serialization, ignore empty string ?"
Hello,

Is there any reason why empty strings aren't considered like `undefined` or `null` for [parameters serialization](https://github.com/mzabriskie/axios/blob/master/lib/helpers/buildURL.js#L36) ?

I'd be happy to submit a PR if needed. :+1:

[2016-03-11 16:44] mzabriskie commented on #263
That's a good question and frankly I'm not sure. Immediate reaction is that if someone submitted a form and left a field blank, you would still want to send the data to the server and then handle the empty string at that level.

[2016-03-13 00:47] andyhu commented on #2
+1

[2016-03-13 13:20] msevera opened #265 "When responseType is set to json, then response.data is undefined (only in IE9)"
I've set responseType property to 'json'. In all browsers except IE9 this works ok. Only in IE9 the response.data is undefined. I've debugged it a bit and found file called xhr.js which has handler for ready state. So there is code which works in next way:
If the responseType is not set to 'text' or '' then for responseData you use request.response property.
The issue here that in IE9 there is no

[2016-03-14 18:53] raulmatei commented on #117
[PropertyBook](http://propertybook.ro) browser

[2016-03-14 20:26] lucashungaro commented on #262
I'm having the same issue when trying to use axios to upload files to S3.

We have a CORS config that works fine with jQuery and xhr, here's the response I get when using curl to simulate a preflight request:

[code]

[2016-03-14 21:09] dmt0 opened #266 "Interceptors - how to prevent intercepted messages from resolving as error"
I'm trying to make an interceptor for 401 responses that result from expired token. Upon interception I want to login and retry the requests with the new token. My problem is that login is also done asynchronously, so by the time the retry happens, the original promises reject. Is there a way around that? Here's my code:

    axios.interceptors.response.use(undefined, err => {
      if (err.status

[2016-03-14 22:34] lucashungaro commented on #262
Ok, I have some additional info.

If I call `axios.put(signedS3URL, file)` (pseudo-code), I get that error (no headers on response).

If I call only `axios.put(bucketURL, file)`, the preflight request executes successfully and returns the correct headers, but now obviously I can't upload the file since I don't have the required parameters (signature, policy etc).

I'm looking for ways to "force" a

[2016-03-15 09:31] 9tor commented on #262
Hi,
I've already used it. by fixed at server added
"routes": {
          "cors": true
  }
at Hapi configuration connection
Thank you.

[2016-03-15 20:57] UnsungHero97 opened #268 "Uint8Array becomes [Object object] when POST'ing in IE 11"
IE 11 is giving me a hard time...

I'm trying to send some binary data as a `Uint8Array` in a POST request, but `[Object object]` gets sent instead. In IE's dev tools, inspecting the request body reveals that the `Uint8Array` is being transformed incorrectly as `[Object object]`:

![screen shot 2016-03-15 at 9 31 20 am](https://cloud.githubusercontent.com/assets/440299/13793569/b991e3ea-eab4-11e5-

[2016-03-16 16:53] UnsungHero97 commented on #268
@mzabriskie why did you close this issue?

[2016-03-16 18:07] mzabriskie commented on #268
I have no idea how this happened.

[2016-03-16 18:30] UnsungHero97 commented on #268
I accidentally pressed the close button, but I immediately reopened it, and as soon as I reopened it, I saw the update that you closed it. super strange.

[2016-03-16 19:22] kcjonson commented on #187
Example use case would be when the class doing the get/post doesn't actually know what the full baseUrl is, but does know what port the request needs to happen on.

`axios.get('/api/items', {port: 9091}).then(...`

In my case I'd rather not hardcode or rely on a global for where the server actually is, particularly for the switch for dev/prod and just rely on the browsers mechanism to resolve it t

[2016-03-17 04:53] damoclark commented on #48
In Node, you may also wish to use different cookie jars depending on which sites you are accessing.  A default cookie jar could be defined, but an alternate used on specific requests.  Just leverage the existing merging of options that Axios already provides.

[2016-03-18 16:09] adanperez commented on #226
Seeing this issue too

[2016-03-18 20:37] BigstickCarpet opened #269 "Ability to mocking/stub/fake responses?"
This has been [asked before](https://github.com/mzabriskie/axios/issues/40), and was originally planned to be included in v0.6.0, but never made it.

@aeirola posted a [workaround to enable mocking a response](https://github.com/mzabriskie/axios/issues/40#issuecomment-170529539), but it's a bit hacky.  It would be great if there was an easy, officially-supported way to do mocking in Axios.

[2016-03-19 10:08] aeirola commented on #269
Axios supports custom adapters since 0.9.0, which can be used for testing. See commit https://github.com/mzabriskie/axios/commit/b9bb6ae7aacc7ec6053ae0551be7a403a33a5b18.

[2016-03-20 02:30] gveraa opened #270 "Problem with basic auth on GET request"
Hi,
i am trying to do a GET request with basic auth, but the auth header are not send.

Here is the code:

`
axios.get(
	'api/example',
	{
		headers: { 'Accept': 'application/json' },
		auth: {
			username: 'example',
			password: 'passwdexample'
		},
		params: { sinceDays: 7 }
	}
`

[Image of header sent](https://www.ladochile.cl/tmp/request.jpg)

Thanks

[2016-03-20 14:40] stonexer commented on #2
maybe try [form-data](https://github.com/form-data/form-data) on the node side? like what fetch did.

[2016-03-21 10:00] mik01aj commented on #50
Related: https://github.com/domenic/cancelable-promise and https://github.com/w3c/web-animations/issues/141. Maybe it will inspire you :)

[2016-03-22 02:07] nickuraltsev opened #273 "All PR builds fail due to Travis security restrictions"
From https://docs.travis-ci.com/user/encryption-keys/ :

"Please note that encrypted environment variables are not available for pull requests from forks."

Also, from https://docs.travis-ci.com/user/pull-requests#Security-Restrictions-when-testing-Pull-Requests :

"If your build relies on these to run, for instance to run Selenium tests with Sauce Labs, your build needs to take this into account.

[2016-03-23 02:22] LowryTang commented on #2
does file upload support in axios for node.js?

[2016-03-23 06:00] LowryTang opened #276 "how to do file upload on node.js"
I do a research and cannot find how to do upload file on node.js. Does anyone know how to do this? Thanks very much.

[2016-03-23 18:47] ctimmerm commented on #269
I made this to enable easy mocking of requests made through axios, I thought it could be useful for others: https://www.npmjs.com/package/axios-mock-adapter

[2016-03-23 18:58] grd2345 opened #277 "aborting a response interceptor"
What is the proper way to cancel the response so it does not continue through the chain in the interceptor?

[2016-03-23 21:58] h3xed opened #278 "Upload progress."
Is any way to get progress status for file upload request?

In readme is progress configuration option but it not fire given function.

Update:
progress callback work correctly on master branch but not on current tag (0.9.1), it will be released in 1.0.0.

[2016-03-23 22:02] donaldparker commented on #2
https://github.com/mzabriskie/axios/blob/master/examples/upload/index.html

[2016-03-24 06:02] #273 closed

[2016-03-24 06:08] xixilive commented on #278
:+1:

[2016-03-24 18:21] #278 closed

[2016-03-24 20:35] LowryTang commented on #2
@donaldparker  this only work for browser. Do you know how to make it on node.js?

[2016-03-28 08:54] mdarif commented on #113
+1

[2016-03-28 11:52] bomsy commented on #231
I think we can close this issue.

[2016-03-28 14:02] #270 closed

[2016-03-29 02:12] andyhu commented on #2
Need node.js version too

[2016-03-29 11:17] dmavrin commented on #113
+1

[2016-03-29 15:45] bomsy commented on #107
looking into this!

[2016-03-30 07:31] naivefun commented on #97
+1

[2016-03-30 09:32] mcfa77y commented on #113
+1

[2016-03-30 17:32] mzabriskie commented on #276
This is currently not supported. Would love to see a PR for this. See #2.

[2016-03-30 17:32] #276 closed

[2016-03-31 18:47] nickuraltsev commented on #269
Thank you all! I am going to create a document that contains a list of `axios` related libraries and include `axios-mock-adapter` in that list.

[2016-03-31 18:47] #269 closed

[2016-03-31 21:35] nickuraltsev commented on #223
`redux-promise` will dispatch the resolved value of the promise. If you would like to dispatch `index` in addition to the response, you can do something like this:

[code]

[2016-03-31 21:35] #223 closed

[2016-03-31 21:48] nickuraltsev commented on #39
You can create a new instance of axios and set interceptors only for that instance:

[code]

[2016-03-31 21:48] #39 closed

[2016-03-31 21:58] nickuraltsev commented on #256
Closing since it does not seem to be a problem with axios. Please reopen if you feel otherwise.

[2016-03-31 21:58] #256 closed

[2016-03-31 22:09] nickuraltsev commented on #231
Fixed by #275

[2016-03-31 22:09] #231 closed

[2016-04-01 13:45] rgranger commented on #226
Hi ! This issue is still relevant. When will the fix be released on npm ? Thanks.

[2016-04-01 20:49] aoberoi commented on #224
i wasn't able to repro this

[2016-04-01 23:46] alvinj01 opened #281 "Cannot pass data to GET request"
Is there a way to pass a non-stringified data object to the GET request equivalent to the following?
[code]

With `axios` GET request, i can get the equivalent, but the nested_data is stringified.
[code]

[2016-04-02 01:12] nickuraltsev commented on #281
Thank you for your question! This is not currently supported, but you can override the default behavior by using the `paramsSerializer` parameter:

[code]

Hope this helps!

[2016-04-02 01:12] #281 closed

[2016-04-02 01:17] #262 closed

[2016-04-02 14:49] AndrejGajdos commented on #113
+1

[2016-04-02 15:44] nickuraltsev commented on #197
I would be happy to merge a PR that implements this.

[2016-04-02 16:26] nickuraltsev commented on #217
I don't like the idea of creating an instance of something and then using that instance as a function, but I would be happy to merge a PR that updates the README. Thank you!

[2016-04-02 16:27] #207 closed

[2016-04-02 17:42] pnkapadia6 commented on #65
Any updates on this?

[2016-04-02 18:22] geowa4 commented on #50
I believe the best way to handle aborting a request is to steal from the [Context pattern in Go](https://blog.golang.org/context). In this case, the context would be another Promise.

Consider these example invocations using [Q](http://documentup.com/kriskowal/q/) for brevity.

[code]

To cancel either `p` or `pp`, we'd call `cancelationDeferred.reject({ foo: 'bar' })`. Doing this should abort the

[2016-04-02 18:30] nickuraltsev commented on #65
As @kalaspuffar pointed out, filename can be passed as the third parameter to `FormData#append`:

[code]

[2016-04-02 18:30] #65 closed

[2016-04-02 19:09] nickuraltsev opened #282 "[RFC] Should we maintain TypeScript type definitions in this repo?"
axios TypeScript definitions are available on DefinitelyTyped: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/axios

Is there any reason to maintain them in axios repository?

[2016-04-03 06:48] kant2002 commented on #282
I strongly think that - yes that should be in Axios repo. The reasons for that is evolving standards in TS ecosystem.
1. Deliver TS definitions inside NPM modules. That approach very convenient when you develop in TS initially. We could add 'typings:defeinition' property to `package.json`
2. TSD is now deprecated, and evolved as Typings project. That project has more robust system for delvering `.

[2016-04-04 03:06] naivefun opened #283 "can I abord a request in interceptor?"
like doing a dry run, just preview all the request headers and body?

[2016-04-04 14:19] corporatepiyush opened #284 "Client certificate"
I am using axios on node.js 4.2.x. how do i mention SSL CA certificate for connecting to one of the secured services ?

Can anybody point me to an example working code ?

[2016-04-04 16:29] katiepeters commented on #187
Apologies for letting this issue go stale. @mzabriskie if you don't want to support it, all good.

I worked around it by intercepting all incoming axios requests to my Express server and assembling the config url based on environment variables

[2016-04-05 01:59] nickuraltsev commented on #187
@katiepeters Could you please elaborate on your use case?

[2016-04-05 04:09] nickuraltsev commented on #284
You should be able to use a custom `Agent` as follows:

[code]

Hope it helps!

[2016-04-05 06:43] corporatepiyush commented on #284
In my case, its a `.crt` file which has bunch of certificates in it from Godaddy.
when  i try to do follow the example code @nickuraltsev  mentioned, i get following error.

`{ [Error: unable to get local issuer certificate] code: 'UNABLE_TO_GET_ISSUER_CERT_LOCALLY' }`

[2016-04-05 11:04] canfiax opened #285 "Set X-XSRF-TOKEN manually in header, should override default"
When I try to set the header "X-XSRF-TOKEN" it is overridden by the default.

    // `xsrfHeaderName` is the name of the http header that carries the xsrf token value
    xsrfHeaderName: 'X-XSRF-TOKEN', // default

It is pretty smart that it can autofetch, but if we don't want this, it should respect the headers set, and overriden any defaults.

I also tried setting `xsrfHeaderName` to `null` but

[2016-04-05 11:15] rasmuswoelk opened #286 "Getting "(0 , _request2.default) is not a function" after setting defaults"
After setting defaults like this:

     axios.defaults.headers.post['X-XSRF-TOKEN'] = App.token;
     axios.defaults.xsrfHeaderName = NULL;

Or

        var instance = axios.create({
          headers: {'X-XSRF-TOKEN': App.token},
          xsrfHeaderName: null
        });

I get the following error on SOME requests:

    react.js:48246 Uncaught TypeError: (0 , _request2.default) is not a function

[2016-04-05 11:49] vossccp commented on #97
+1

[2016-04-05 12:44] #286 closed

[2016-04-05 15:16] rendykstan commented on #97
+1

[2016-04-05 15:47] adrianhyde commented on #206
Hi @mzabriskie do you know when 0.9.2 or 0.10.0 will be released. Looking to use fix #227
Thanks

[2016-04-05 20:18] nickuraltsev commented on #97
I think this should be solved by adding support for [URLSearchParams](https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams). BTW, this has recently been implemented in fetch: https://github.com/github/fetch/commit/d77810a15c78bbbaf2defd4ea3af6db21c8d117f

The only problem is that URLSearchParams is not supported by all browsers, but there is a polyfill.

[2016-04-06 17:30] f14c0 commented on #113
+1

[2016-04-06 18:09] bojueWjt commented on #278
useful

[2016-04-06 20:38] MMRandy commented on #220
+1  Any movement on this?

[2016-04-07 05:47] rluiten commented on #282
I am not sure this is appropriate place however it seems a good place to mention this so I dont loose my notes.

I noticed that typings installs definitions for 0.9.1, the one in this repository is 0.8.1, I do think its a good idea to have in the package, typings can then install it for people via the github site which reduces middle men etc.

In addition the following with the definition i had fo

[2016-04-07 19:13] MarkHerhold commented on #255
@mzabriskie
You could also consider the use of a config flag to determine what action to take when a non 2xx/3xx response is returned.

The `request-promise` lib uses the `simple` flag/option for this. When `simple` is `true`, request-promise rejects on non-network errors (2xx, 3xx). When the flag is false, it rejects nothing and becomes the user's responsibility. I've found this to be very useful